<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!--<section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>-->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">
                <!-- quick email widget -->
                <div class="box box-info">
                    
                    <div class="box-body">
                        <div class="row">
                            
                                <!-- Progress bars -->
                                <div class="clearfix" align="center"> 
                                    <img src="<?= $data_pemda->s_logo ?>" alt="" width="150">
                                </div>
                                <div class="clearfix" align="center">
                                    <span style="font-size: 24px"><b>PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot) ?>, <?= strtoupper($data_pemda->s_namaprov) ?></b></span>
                                    <br>
                                    <span style="font-size: 20px"><b><?= $data_pemda->s_namainstansi ?> (<?= $data_pemda->s_namasingkatinstansi ?>)</b></span>
                                    <br>
                                    <?= $data_pemda->s_alamatinstansi." ".$data_pemda->s_kodepos ?> Telp <?= $data_pemda->s_notelinstansi ?>
                                </div>
                            
                        </div><!-- /.row -->
                        
                    </div>
                </div>
            </section><!-- /.Left col -->
        </div><!-- /.row (main row) -->
        
        <?php 
            if(($role_id == 3) || ($role_id == 2) || ($role_id == 1) || ($role_id == 10)){
                
                if($role_id == 10){
                  $link_pendaftaran = '<a href="" class="small-box-footer">&nbsp;</a>';
                  $link_pelaporannotaris = '<a href="" class="small-box-footer">&nbsp;</a>';
                }else{
                  $link_pendaftaran = '<a href="'.$this->url('pendataan_sspd').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>';
                  $link_pelaporannotaris =  '<a href="'.$this->url('pelaporan_notaris').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>';
                }


                if(($role_id == 1) || ($role_id == 2) || ($role_id == 3)){
                    $link_verifikasi = '<a href="'.$this->url('verifikasi_spt').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>';
                    $link_pembayaran = '<a href="'.$this->url('pembayaran_sptbphtb').'" class="small-box-footer">Lihat Tabel <i class="fa fa-arrow-circle-right"></i></a>';
                    
                }else{
                    $link_verifikasi = '<a href="" class="small-box-footer">&nbsp;</a>';
                    $link_pembayaran = '<a href="" class="small-box-footer">&nbsp;</a>';
                }
                
                echo '<div class="row">
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <center><h3>'.$datapendataan.'</h3>
                              <p>JUMLAH PENDAFTARAN</p></center>
                            </div>

                            '.$link_pendaftaran.'
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-green">
                            <div class="inner">
                              <center><h3>'.$dataverifikasi.'</h3>
                              <p>JUMLAH VALIDASI</p></center>
                            </div>

                            '.$link_verifikasi.'
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-yellow">
                            <div class="inner">
                              <center><h3>'.$datapembayaran.'</h3>
                              <p>JUMLAH PEMBAYARAN</p></center>
                            </div>

                            '.$link_pembayaran.'
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-red">
                            <div class="inner">
                              <center><h3>'.$countpembayaranlapor.'</h3>
                              <p>JUMLAH PELAPORAN</p></center>
                            </div>

                            '.$link_pelaporannotaris.'
                          </div>
                        </div>
                      </div>';
            }
        ?>
        
        
        
        <!-- Main row -->
        <?php $gambar = "http://" . $_SERVER['HTTP_HOST'] . "/" . $this->basePath() . "/public/upload/bg.jpg" ?>
        
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->