<style type="text/css">

    /*@page { margin: 180px 50px; }
            #header { position: fixed; left: 0px; top: -150px; right: 0px; height: 50px; background-color: white; text-align: center; }
            #header img { position: absolute;
                          float:left;

            }
            #footer { position: fixed; left: 0px; bottom: -180px; right: 0px; height: 50px; background-color: white; }
            #footer .page:after { content: counter(page, upper-roman); }

    */
    .kotak{

        border: 1px black solid;

    }
    .tengah {
        float: none;
        margin: 0 auto;
    }

    .border_putus {
        border-top: 1px black dashed;
    }

    .border_atas {
        border-top: 1px black solid;
    }

    .border_kiri {
        border-left: 1px black solid;
    }

    .border_kanan {
        border-right: 1px black solid;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }

    .font_besar {
        font-size: 12pt;
    }

    .font_kecil {
        font-size: 10pt;
    }

    .font_lima {
        font-size: 7pt;
    }

    .font_tujuh {
        font-size: 7pt;
    }  

    .font_delapan {
        font-size: 8pt;
    }    

    .font_sembilan {
        font-size: 9pt;
    }    
    /*@page {
        margin-top: 1.5em;  
        margin-left: 3.8em;          
    }*/
</style>
<div style="page-break-after: always;width: 100%;" class=" font_besar">
    
     <table width="100%">
            <tr>
                <td width="10%"><center>
                    <img width="50" title="LOGO <?= $data_pemda->s_namakabkot; ?>" src="http://<?= $_SERVER['HTTP_HOST']; ?>/<?= $this->basePath(); ?>/<?= $data_pemda->s_logo ?>"/>
					</center>
                </td>
                <td width="80%"><center>
                        <b>PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot); ?></b><br>
                        <b style="font-size: 20px"><?= strtoupper($data_pemda->s_namainstansi); ?> </b><br>
                        <a style="font-size: 12px"><?= ($data_pemda->s_alamatinstansi); ?> Telp <?= $data_pemda->s_notelinstansi?>,Psw <?= $data_pemda->s_psw?></a><br>
                        <b style=" font-size: 12px"><?= strtoupper($data_pemda->s_namaibukotakabkot)?> Kode Pos <?= $data_pemda->s_kodepos?>   </b>
                </td>
                <td width="10%">
                </td>
                </tr>
               
            </table>
    <hr>
        <table align="center">
            <thead>
                <tr>
                    <th>
                        <b> KEPUTUSAN KEPALA <?= strtoupper($data_pemda->s_namainstansi); ?>  <?= strtoupper($data_pemda->s_namakabkot); ?> </b><br>
                        <br>
                        <b> NOMOR :  <?= strtoupper($datapembebasan['t_nosk']) ?></b>
                    </th>
                   
                </tr>
            </thead>
        </table>
    </center><br>
    <center>
        <table align="center">
            <thead>
                <tr>
              
                    <th>
                        <b> TENTANG </b><br>
                        <b> PEMBEBASAN BEA PEROLEHAN HAK ATAS TANAH DAN BANGUNAN </b> <br>
                        <br>
                        <b> KEPALA <?= strtoupper($data_pemda->s_namainstansi); ?> <?= strtoupper($data_pemda->s_namakabkot); ?>  </b><br>
                    </th>
                </tr>
            </thead>
        </table>
    </center><br>
    <table align="center" width="100%">
        <tr>
            <td>
                Membaca   
            </td>
            <td width="1%"> 
                :
            </td>
    
            <td colspan="12">
                Surat permohonan pembebasan Bea Perolehan Hak Atas Tanah Dan Bangunan atas
            </td>
        
        </tr>
        <tr>
            <td></td><td></td>
            <td>
                Nama
            </td>
            <td>
               <?= strtoupper($datapembebasan['t_namawppembeli']) ?>  
            </td>
        </tr>
        <tr>
            <td></td><td></td>
            <td>
                Nomor
            </td>
            <td colspan="3">
              <?= $datapembebasan['t_kohirspt'] ?> 
            </td>
            <td>
                Tanggal
            </td>
            <td colspan="3">
                <?= date('d-m-Y', strtotime($datapembebasan['t_tglprosesspt'])) ?>
            </td>
        </tr>
    </table>
    <table align="center" width="100%">
          <tr>
              <td style="vertical-align:top;">
                Menimbang 
            </td>
            <td style="vertical-align:top; width:1%;">
                :
            </td>
        
            <td style="vertical-align:top; width:1%; padding: 0px;"> 
                a. 
            </td>
            <td colspan="20">
                Hasil pemeriksaan atas permohonan pembebasan Bea Perolehan Hak atas Tanah dan 
                Bangunan sebagaimana dituangkan dalam Berita Acara Pemeriksaan:
            </td>
        </tr>
        
          <tr>
              <td></td><td></td><td></td>
              <td>
                  Nomor
              </td>
              <td colspan="3">
                 <?= substr($datapembebasan['t_nosk'],0,-4) ?>K <?= substr($datapembebasan['t_nosk'],4) ?>
              </td>
              <td>
                  Tanggal
              </td> 
              <td colspan="3">
                  <?= date('d-m-Y', strtotime($datapembebasan['t_tglpembebasan'])) ?> 
              </td>
          </tr>
          <tr>
              <td></td><td></td>
              <td style="vertical-align:top; width:1%; padding: 0px">
                b. 
              </td>
              <td colspan="20">
                  bahwa terdapat/tidak dapat *) cukup alasan untuk membebaskan Bea Perolehan
                  Hak atas Tanah dan Bangunan;  
              </td>
          </tr>
    </table>
    <table align="center" width="100%">
         <tr>
             <td style="vertical-align:top;">
                Mengingat 
            </td>
            <td style="vertical-align:top; width:1%">
                :
            </td>
            <td style="vertical-align:top; width: 1%; padding: 0px;">
                1.
            </td>
            <td colspan="20">
                Peraturan Daerah Kabupaten MINAHASA SELATAN Nomor 2 Tahun 2011 Tentang Bea Perolehan Hak atas Tanah dan Bangunan
            </td>
         </tr>
         <tr>
             <td></td><td></td>
             <td style="vertical-align:top; width:1%; padding: 0px;">
                 2.
             </td>
             <td colspan="20">
                Peraturan Bupati MINAHASA SELATAN Nomor 2 Tahun 2011 Tentang Pemberian Pembebasan Bea Perolehan Hak atas Tanah dan Bangunan
            </td>
        </tr>
    </table>
    <br>
    <center>
         <table align="center">
           
         <tr>
                    <td>
                         MEMUTUSKAN :
                    </td>
                </tr>
             
         </table>
    </center>
    <br>
    <table align="center" width="100%">
       <tr>
            <td style="vertical-align:top;">
                Menetapkan
            </td>
            <td style="vertical-align:top; width: 1%;">
                :
            </td>
            <td colspan="20"> KEPUTUSAN KEPALA BADAN PENDAPATAN DAERAH KABUPATEN MINAHASA SELATAN TENTANG PEMBEBASaN BEA PEROLEHAN HAK ATAS TANAH DAN BANGUNAN</td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
         <tr>
            <td style="vertical-align:top;">
                PERTAMA
            </td>
            <td style="vertical-align:top; width: 1%">
                :
            </td>
            <td colspan="20">
                Mengabulkan seluruhnya/mengabulkan sebagian/menolak permohonan pembebasan Bea Perolehan Hak atas Tanah dan Bangunan (BPHTB)kepada Wajib Pajak:
            </td>
         </tr>
         <tr>
             <td></td><td></td>
             <td colspan="8">
                 Nama Wajib Pajak
             </td>
             <td style="width:1%;">
                 :
             </td>
             <td colspan="10">
              <?= strtoupper($datapembebasan['t_namawppembeli']) ?> 
             </td>
         </tr>
         <tr>
             <td></td><td></td>
             <td colspan="8">
                 Alamat Wajib Pajak
             </td>
             <td style="width:1%; padding: 0px;">
                 :
             </td>
             <td colspan="10">
                <?= strtoupper($datapembebasan['t_alamatwppembeli']) ?> <br>
             </td>
         </tr>
         <tr>
         <td></td><td></td>
         <td colspan="8">
                 Letak Objek Pajak
             </td>
          
             <td style="width:1%; padding: 0px;">
                 :
             </td>
             <td colspan="10">
                 <?= strtoupper($datapembebasan['t_alamatop']) ?>
             </td>
          </tr>
          <tr>
           <td></td><td></td>
           <td colspan="8">
                 Tahun BPHTB
             </td>
            
             <td style="width:1%; padding: 0px;">
                 :
             </td>
             <td colspan="10">
                 <?= strtoupper($datapembebasan['t_periodespt']) ?>
             </td>
          </tr>
          <tr>
              <td></td><td></td>
              <td colspan="20">
                  Atas perolehan hak atas tanah dan atau bangunan dengan : 
              </td>
          </tr>
          <tr>
              <td></td><td></td>
              <td colspan="20">
                  Akta / Risalah Lelang/ Keputusan Pemberian Hak / Putusan Hakim / Dokumen Lainnya **): 
              </td>
          </tr>
          <tr>
              <td></td><td></td>
              <td style="width: 1%; padding: 0px">
                  -
              </td>
              <td colspan="5">
                  Nomor
              </td>
              <td style="width: 1%; padding: 0px">
                  :
              </td>
              <td colspan="10">
                  <?= strtoupper($datapembebasan['t_idspt']) ?>
              </td>
          </tr>
          <tr>
              <td></td><td></td>
              <td style="width: 1%; padding: 0px">
                  -
              </td>
              <td colspan="5">
                  Tanggal
              </td>
              <td style="width: 1%; padding: 0px">
                  :
              </td>
              <td colspan="10">
                  <?= strtoupper($datapembebasan['t_tglprosesspt']) ?>
              </td>
          </tr>
           <tr>
              <td></td><td></td>
              <td colspan="5">
                  NOP
              </td>
              <td></td>
              <td style="width: 1%; padding: 0px">
                  :
              </td>
              <td colspan="10">
                  <?= strtoupper($datapembebasan['t_nopbphtbsppt']) ?>
              </td>
          </tr>
          <tr>
              <td></td><td></td>
              <td colspan="5">
                  Letak Obyek
              </td>
              <td></td>
              <td style="width: 1%; padding: 0px">
                  :
              </td>
              <td colspan="10">
                  <?= strtoupper($datapembebasan['t_alamatop']) ?>
              </td>
          </tr>
          <tr>
              <td></td><td></td>
              <td colspan="5">
                  Kelurahan
              </td>
              <td></td>
              <td style="width: 1%; padding: 0px">
                  :
              </td>
              <td colspan="10">
                  <?= strtoupper($datapembebasan['t_kelurahanop']) ?>
              </td>
          </tr>
           <tr>
              <td></td><td></td>
              <td colspan="5">
                  Kecamatan
              </td>
              <td></td>
              <td style="width: 1%; padding: 0px">
                  :
              </td>
              <td colspan="10">
                  <?= strtoupper($datapembebasan['t_kecamatanop']) ?>
              </td>
          </tr>
          <tr>
              <td></td><td></td>
              <td colspan="5">
                  Kota
              </td>
              <td></td>
              <td style="width: 1%; padding: 0px">
                  :
              </td>
              <td colspan="10">
                  <?= strtoupper($datapembebasan['t_kabupatenop']) ?>
              </td>
          </tr>
          
    </table>
    
    <br>
    <table align="center" width="100%">
     <tr>
            <td style="vertical-align: top;">
                KEDUA
            </td>
            <td style="vertical-align: top; width:1%; padding: 0px;">
                :
            </td>
            <td colspan="12">
                Apabila dikemudian hari ternyata terdapat kekeliruan dalam keputusan ini maka akan dibetulkan sebagaimana mestinya
            </td>
       </tr>
    </table>
    <br>
    <table align="center" width="100%">
        <tr>
            <td style="vertical-align: top;">
                KETIGA
            </td>
            <td style="vertical-align: top; width:1%; padding: 0px;">
                :
            </td>
            <td style=" vertical-align: top; width:1%; padding: 0px;">
                a.
            </td>
            <td colspan="12">
                Asli keputusan ini disampaikan kepada Wajib Pajak
            </td>
        </tr>
        <tr>
            <td></td><td></td>
            <td style=" vertical-align: top; width:1%; padding: 0px;">
                b.
            </td>
            <td colspan="12">
                Salinan  keputusan ini disimpan sebagai arsip Badan Pendapatan Daerah Kabupaten MINAHASA SELATAN
            </td>
        </tr>
    </table>
    <br><br><br><br>
     <table align="right">
         <tr>
         <td>
             Ditetapkan di  <?= $data_pemda->s_namaibukotakabkot ?>
         </td>
         </tr>
         <tr>
         <td>
             Pada Tanggal   <?= date('d-m-Y') ?>
         </td>
         </tr>
         <br><br>
                    <tr>
                        <td align="left">KEPALA BADAN PENDAPATAN DAERAH</td>
                    </tr>
                    <tr>
                        <td align="center">KABUPATEN MINAHASA SELATAN</td>
                    </tr>
                    <tr>
                        <td align="left">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="left">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="left">&nbsp;</td>
                    </tr>
                   <tr>
                       <td align="center" style=" text-decoration: underline;">H. A. YUDI MARDIANA. SH. MM.  </td>
                   </tr>
                    <tr>
                        <td align="center">Pembina Utama Muda  </td>
                    </tr>
                
                    <tr>
                        <td align="center">NIP.19620306 198912 1 001  </td>
                    </tr>
                </table>
    
</div>
