<?php

function bulan($bln) {
    $bulan = $bln;
    Switch ($bulan) {
        case 1 : $bulan = "Januari";
            Break;
        case 2 : $bulan = "Februari";
            Break;
        case 3 : $bulan = "Maret";
            Break;
        case 4 : $bulan = "April";
            Break;
        case 5 : $bulan = "Mei";
            Break;
        case 6 : $bulan = "Juni";
            Break;
        case 7 : $bulan = "Juli";
            Break;
        case 8 : $bulan = "Agustus";
            Break;
        case 9 : $bulan = "September";
            Break;
        case 10 : $bulan = "Oktober";
            Break;
        case 11 : $bulan = "November";
            Break;
        case 12 : $bulan = "Desember";
            Break;
    }
    return $bulan;
}

$tanggal_bayar = explode('-', $tgl_cetak);
$tahun = $tanggal_bayar[2];
$bulan = $tanggal_bayar[1];
$tanggal = $tanggal_bayar[0];

$tgl1 = explode('-', $tgl_pembebasan1);
$tahun1 = $tgl1[2];
$bulan1 = $tgl1[1];
$tanggal1 = $tgl1[0];

$tgl2 = explode('-', $tgl_pembebasan2);
$tahun2 = $tgl2[2];
$bulan2 = $tgl2[1];
$tanggal2 = $tgl2[0];
//echo 'Tanggal '. $tanggal.' '.bulan($bulan).' '.$tahun.' S/d '. $tanggal2.' '.bulan($bulan2).' '.$tahun2;
if ($cetak == 1) {
    
} else {
    header("Content-type: application/vnd-ms-excel");
    header("Content-Disposition: attachment; filename=cetaklaporanpembebasan.xls");
    $html = '';
    $nik = '\'';
}
$html .= '
<table  style="border-spacing: 0; font-size:9pt; table-layout: fixed;" width="100%" >
<tr>
    <td colspan="14">
        <center>
         <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . ', ' . strtoupper($ar_pemda->s_namaprov) . '</b>
         <br>
         <b style="font-size:11pt;">' . strtoupper($ar_pemda->s_namainstansi) . ' (' . strtoupper($ar_pemda->s_namasingkatinstansi) . ')</b>
         <br>
         <b style="font-size:10pt;">' . strtoupper($ar_pemda->s_alamatinstansi) . ' Telp/Fax ' . $ar_pemda->s_notelinstansi . ', ' . $ar_pemda->s_namaibukotakabkot . ' ' . $ar_pemda->s_kodepos . '</b>
        </center>
    </td>
</tr>
<tr>
    <td colspan="14" style="border-bottom: 1px solid #000;">&nbsp;</td></tr>
<tr>
  <tr>
    <td colspan="14"><center><br><br><h3>LAPORAN DATA PEMBEBASAN</h3></center></td>
</tr>
<tr>
    <td colspan="14"><center>TANGGAL ' . $tanggal . ' ' . bulan($bulan) . ' ' . $tahun . '</center></td>
</tr>
<tr>
    <td colspan="14"><center> DARI TANGGAL ' . $tanggal1 . ' ' . bulan($bulan1) . ' ' . $tahun1 . ' S/D ' . $tanggal2 . ' ' . bulan($bulan2) . ' ' . $tahun2 . '</center></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
</table>
<table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" width="100%" >
    <thead>
        <tr>
            <th rowspan="3" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;"><center>No.</center></th>
            <th rowspan="3" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>No. Pendaftaran</center></th>
            <th colspan="11" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>Daftar Pembebasan</center></th>
            <th rowspan="3" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>Keterangan</center></th>
            
        </tr>
        <tr>

            <th colspan="3" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>Data Wajib Pajak</center></th>
            <th colspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>Data OP</center></th>
            <th colspan="6" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>Data Pembebasan</center></th>
        </tr>
        <tr>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>Nama</center></th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>Alamat</center></th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>Th. BPHTB</center></th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>NOP</center></th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>Alamat</center></th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>No. SK</center></th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>Tgl Pembebasan</center></th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>BPHTB Terhutang</center></th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>Persenstase (%)</center></th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>Pembebasan</center></th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"><center>Total Pajak</center></th>
          
        </tr>
    </thead>    
    <tbody>';
$totalPembayaran = 0;
$counter = 1;
foreach ($this->data_pembebasan as $k => $v) {
    $html .= '       
            <tr>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    <center>' . $counter . '</center>                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                    ' . $v['t_kohirspt'] . '
		</td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    ' . $v['t_namawppembeli'] . '
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">    
                    ' . $v['t_alamatwppembeli'] . ', Kel. ' . $v['t_kelurahanwppembeli'] . ', Kec. ' . $v['t_kecamatanwppembeli'] . ', Kab./Kota ' . $v['t_kabkotawppembeli'] . '
                </td>
                
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    ' . $v['t_periodespt'] . '
                </td>

                 <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    ' . $v['t_nopbphtbsppt'] . '
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">    
                    RT. ' . $v['t_rtop'] . ', RW. ' . $v['t_rwop'] . ', ' . $v['t_alamatop'] . ', Kel. ' . $v['t_kelurahanop'] . ', Kec. ' . $v['t_kecamatanop'] . '
                </td>
                 <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">    
                    ' . $v['t_nosk'] . '
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">    
                    ' . $v['t_tglpembebasan'] . '
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    ' . number_format($v['t_totalsptsebelumnya'], 0, ',', '.') . '
                </td>
               <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    ' . $v['t_persenpembebasan'] . '
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    ' .number_format($v['t_pembebasan'], 0, ',', '.') . '
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    ' . number_format($v['t_totalpajak'], 0, ',', '.') . '
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    ' . $v['t_keterangan'] . '
                </td>
            </tr>';
    $counter++;
}
$html .= '</tbody></table>';
if ($cetak == 1) {
    
} else {
    echo $html;
}
?>


