<link href="<?= $this->basePath(); ?>/public/css/animate-custom.css" rel="stylesheet">

<?php
$form = $this->form;
$form->setAttribute('action', $this->url());
$form->prepare();

echo $this->form()->openTag($form);
?>


<!--
<div class="row">
    <div class="col-sm-10 col-md-2 col-md-offset-0 col-lg-6 col-lg-offset-3"><br/><br/></div>
</div>
<div class="row">
    <div class="col-sm-10 col-md-2 col-md-offset-0 col-lg-5 col-lg-offset-3 inner-login-box">
        <br>
        <center><b style="font-size: 17px">PEMERINTAH <?php  ?>, PROVINSI <?php  ?></b></center>
        <center><b style="font-size: 15px"><?php  ?> (<?php  ?>)</b></center>
        <table width="100%" style="margin-top: -3%; height: 85%">
            <tr>
                <td style="width: 50%;text-align: center;"valign="middle">
                    <br/><br/>
                    <img src="<?php  ?>" alt="" width="50%">
                </td>
                <td valign="middle" style="width:50%">
                    <br/><br/>
<?php  ?> <br>
<?php  ?> <br>
<?php  ?>                            
                </td>
            </tr>
        </table>        
        <br/>
        <br/>
    </div>
</div>
<?php
 //echo $this->form()->closeTag();
?>
<style>
    .inner-login-box {
        border-radius: 15px;
        background: #ffb76b; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffb76b 0%, #ffa73d 30%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(30%,#ffa73d), color-stop(51%,#ff7c00), color-stop(100%,#ff7f04)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffb76b 0%,#ffa73d 30%,#ff7c00 51%,#ff7f04 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffb76b 0%,#ffa73d 30%,#ff7c00 51%,#ff7f04 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffb76b 0%,#ffa73d 30%,#ff7c00 51%,#ff7f04 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffb76b 0%,#ffa73d 30%,#ff7c00 51%,#ff7f04 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
    }
</style>
<script>
    function searchep() {
        if ($("#s_username").val() == '') {
            alert("Tolong Isi Username");
        }
    }
</script>
                    
-->
<style>
    /* body {} */

    .panel-default {
        opacity: 0.9;
        margin-top: 30px;
    }

    .form-group.last {
        margin-bottom: 0px;
    }

    .login-page {
        /*height-min: 125%;*/
        background: url('http://<?= $_SERVER['HTTP_HOST']; ?><?= $this->basePath(); ?>/public/upload/bg.jpg') #fff no-repeat center center fixed;
        min-height: 90%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        /*position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 125%; 
        background: url('http://<?= $_SERVER['HTTP_HOST']; ?><?= $this->basePath(); ?>/public/upload/pendopo.jpg') no-repeat; 
        background-size: 100% 100%;*/

    }



    .login-box_headercoy {
        /*max-width:380px;	
	background: transparent url(../img/login-bg-1.png) repeat;	
        padding-bottom: 20px;*/
        background: transparent url('http://<?= $_SERVER['HTTP_HOST']; ?><?= $this->basePath(); ?>/public//img/transpBlue75.png') repeat;
        /*-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
        
	border-radius: 8px;
	
	-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);*/

    }

    .login-box_tengah {
        background: transparent url('http://<?= $_SERVER['HTTP_HOST']; ?><?= $this->basePath(); ?>/public//img/transpBlue50.png') repeat;
    }
</style>
<div class="container">
    <div class="row">

        <div class="col-md-5 col-md-offset-7 animated flipInY" style="color: #fff;">

            <div class="panel panel-default login-box_tengah">

                <div class="panel-heading animated bounceInDown login-box_headercoy">
                    <div style="float: left;">
                        <img class="profile-img" src="<?= $this->basePath()."/". $data_pemda->s_logo ?>" style="width:90px;height:100px;">
                    </div>
                    <center><strong style="font-size:22px; color: #fff;"> APLIKASI BPHTB <BR><?= strtoupper($data_pemda->s_namakabkot) ?></strong></center>
                </div>
                <div class="panel-body " style="margin-top:20px">


                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label" style="font-size:18px;">
                                Username</label>
                            <div class="col-sm-9">
                                <?= $this->formtext($form->get("s_username")) ?>
                                <!--<input class="form-control" id="inputEmail3" placeholder="Email" required="" type="email">-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label" style="font-size:18px;">
                                Password</label>
                            <div class="col-sm-9">
                                <?= $this->formpassword($form->get("s_password")) ?>
                                <!--<input class="form-control" id="inputPassword3" placeholder="Password" required="" type="password">-->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox">
                                    <!--<label>
                                        <input type="checkbox">
                                        Remember me
                                    </label>-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm" style="font-size:14px">
                                    <i class="fa fa-sign-in"></i> LOGIN</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer login-box_tengah" style="text-align:right;">
					
					&nbsp;
					
                </div>
            </div>
        </div>
    </div>
    <?php
    echo $this->form()->closeTag();
    ?>
</div> 