<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <!--<b>Beta Version</b>-->
    </div>
    <strong>Copyright &copy; 2019 <a href="#">BPPRD - PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot) ?></a>.</strong>
</footer>