<header class="main-header">
    <!-- Logo -->
    <a href="<?= $this->basePath(); ?>" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="<?= $this->basePath() . "/" . $data_pemda->s_logo ?>" alt="" style="height:30px;" title="E-BPHTB KABUPATEN MINAHASA SELATAN"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">

            <img src="<?= $this->basePath() . "/" . $data_pemda->s_logo ?>" alt="" style="height:30px;" title="E-BPHTB KABUPATEN MINAHASA SELATAN">

            &nbsp;<b>E</b>-BPHTB</span>
    </a>

    <?php

    if (!empty($session['s_iduser'])) {

      //$datavalidasiada_keterangan = $this->MenuHelper()->getperingatanvalidasi($session['s_iduser']); //$session->s_iduser

      //$datapesanmasuk = $this->MenuHelper()->getpesanmasuk($session['s_iduser'], $session);

      $datavalidasiada_keteranganlimit = $this->MenuHelper()->getperingatanvalidasi($session['s_iduser']);
      $datavalidasiada_keterangan = array();
      foreach ($datavalidasiada_keteranganlimit as $datavalidasiada_keteranganlimit) {
        $datavalidasiada_keterangan[] = $datavalidasiada_keteranganlimit;
      }

      $datapesanmasuklimit = $this->MenuHelper()->getpesanmasuklimit($session['s_iduser'], $session);
      $datapesanmasuk = array();
      foreach ($datapesanmasuklimit as $datapesanmasuklimit) {
        $datapesanmasuk[] = $datapesanmasuklimit;
      }
    } else {
      $datavalidasiada_keterangan = array();
      $datapesanmasuk = array();
      
      //$datavalidasiada_keteranganlimit = array();
      //$datapesanmasuklimit = array();
    }
    $jmlblmdiperiksa = $this->MenuHelper()->getpendaftaranbelumdiperiksa();
    
    $jmlpesannotifvaidasi = count($datavalidasiada_keterangan);
    $jmlpesanmasuk = count($datapesanmasuk);
    ?>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <?php 
                  $yg_boleh_lihat = array(1, 2, 8, 9);
                  if(in_array($session['s_akses'], $yg_boleh_lihat)) { 
                ?>
                <li class="dropdown messages-menu">
                    <a href="<?= $this->url('verifikasi_spt') ?>/tambah?cari=1" class="dropdown-toggle" title="Data Belum Di Validasi Berkas" >
                        <i class="fa fa-files-o"></i>
                        <span class="label label-success" style="font-size: 13px;"><?= $jmlblmdiperiksa ?></span>
                    </a>
                </li>
                <?php } ?>
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success" style="font-size: 13px;"><?= $jmlpesanmasuk; ?></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Total <?= $jmlpesanmasuk; ?> pesan</li>

                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <?php
                                foreach ($datapesanmasuk as $key => $ket) {

                                  if ($session['s_akses'] == 1 || $session['s_akses'] == 2 || $session['s_akses'] == 8 || $session['s_akses'] == 9) {
                                    $addurl = "&idpsn=" . $ket['id_psnvalidasi'];
                                  } else {
                                    $addurl = "";
                                  }

                                  if ($ket['s_akses_dari'] == 3) {
                                    $nama_dari = $ket['s_namanotaris_dari'];
                                  } else {
                                    $nama_dari = $ket['s_namapejabat_dari'];
                                  }
                                  echo '<li>
                            <a href="' . $this->url('pendataan_sspd') . '/detailnotif?t_idspt=' . $ket['t_idspt'] . '' . $addurl . '">
                              
                              <small><i class="fa fa-clock-o"></i> ' . date('d-m-Y', strtotime($ket['t_waktukirim'])) . ' ' . date('H:i:s', strtotime($ket['t_waktukirim'])) . '</small>
                                <br /><b>Dari : ' . $nama_dari . '</b>
                              <br>
                              <b>Ket :</b> ' . $ket['t_isipesan'] . '
                            </a>
                          </li>';
                                }

                                ?>

                            </ul>
                        </li>
                        <!--<li class="footer"><a href="<?= $this->url('pendataan_sspd') . '/datanotifikasivalidasi'; ?>">Lihat Semua Notifikasi</a></li>-->
                    </ul>
                </li>

                <?php
                if ($session['s_akses'] == 3) {
                  ?>

                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning"><?= $jmlpesannotifvaidasi; ?></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Total <?= $jmlpesannotifvaidasi; ?> notifikasi validasi</li>

                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <?php
                                foreach ($datavalidasiada_keterangan as $key => $ket) {

                                  if (!empty($ket['t_keteranganvalidasi'])) {
                                    $keterangan_validasi = $ket['t_keteranganvalidasi'];
                                  } else {
                                    $keterangan_validasi = 'Persyaratan Belum Lengkap Silahkan Cek Kembali';
                                  }

                                  echo '<li>
                            <a href="' . $this->url('pendataan_sspd') . '/detailnotif?t_idspt=' . $ket['t_idspt'] . '">
                              
                              
                                <b>NO KOHIR : ' . $ket['t_kohirspt'] . '</b>
                                <small>&nbsp;&nbsp; <i class="fa fa-clock-o"></i> ' . date('d-m-Y', strtotime($ket['t_tglverifikasispt'])) . '</small>
                              <br>
                              <b>Ket :</b> ' . $keterangan_validasi . '
                            </a>
                          </li>';
                                }

                                ?>

                            </ul>
                        </li>
                        <!--<li class="footer"><a href="<?= $this->url('pendataan_sspd') . '/datanotifikasivalidasi'; ?>">Lihat Semua Notifikasi</a></li>-->
                    </ul>
                </li>
                <?php 
                } ?>

                <li class="dropdown user user-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs"><i class="fa fa-user"></i> &nbsp;<?= strtoupper(@$username) ?></span>
                    </a>
                </li>
                <li class="dropdown messages-menu  bg-red">
                    <a href="<?= $this->url('sign_in') ?>/logout">
                        <i class="fa fa-sign-out"></i> &nbsp;<span class="">Keluar</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header> 