<?php
if ($this->side_pemda || $this->side_pejabat || $this->side_notaris || $this->side_jenis_transaksi || $this->side_npotkp || $this->side_tarifbphtb) {
    $activated = 'active';
} elseif ($this->side_haktanah || $this->side_persyaratan_transaksi || $this->side_dokumen_tanah || $this->side_harga_acuan || $this->side_pengguna || $this->side_password_pengguna || $this->side_notifemail) {
    $activated = 'active';
} elseif ($this->side_nik) {
    $activated = 'active';
} else {
    $activated = '';
}
if (@$role_id == 1) { //ADMINISTRATOR
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_pendataan . '"><a href="' . $this->url('pendataan_sspd') . '"><i class="fa fa-list text-green"></i><span>Pendaftaran</span></a></li>         
                    <!--<li class="' . $this->menu_pengurangan . '"><a href="' . $this->url('pengurangan') . '"><i class="fa fa-minus text-green"></i><span>Pengurangan</span></a></li> -->
                    <!--<li class="' . $this->menu_pembebasan . '"><a href="' . $this->url('pembebasan') . '"><i class="fa fa-minus-square-o text-green"></i><span>Pembebasan</span></a></li>-->
                    <!-- <li class="' . $this->menu_verifikasi_berkas . '"><a href="' . $this->url('verifikasi_spt_berkas') . '"><i class="fa fa-file-text text-green"></i><span>Verifikasi Berkas</span></a></li> --> '
                    . '<li class="' . $this->menu_verifikasi . '"><a href="' . $this->url('verifikasi_spt') . '"><i class="fa fa-check text-green"></i><span>Validasi</span></a></li>  
                    <li class="' . $this->menu_pembayaran . '"><a href="' . $this->url('pembayaran_sptbphtb') . '"><i class="fa fa-money text-green"></i><span>Pembayaran</span></a></li>
                    <!--<li class="' . $this->menu_verifikasi_esignature . '"><a href="' . $this->url('verifikasi_e_signature') . '"><i class="fa fa-pencil text-green"></i><span>E-Signature</span></a></li>-->     
                    <li class="' . $this->menu_pelaporan . '"><a href="' . $this->url('pelaporan_notaris') . '"><i class="fa fa-book text-green"></i><span>Pelaporan Notaris</span></a></li> 
                    <li class="treeview ' . $this->menu_bpn . '">
                        <a href="#">
                            <i class="fa fa-bank text-red"></i>
                            <span>BPN</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="' . $this->data_bpn . '"><a href="' . $this->url('bpn_lihatdata') . '"><i class="fa fa-circle text-green"></i><span>Data BPN</span></a></li>  
                            <li class="' . $this->ubah_password_bpn . '"><a href="' . $this->url('bpn_lihatdata') . '/gantiPasswordBpn"><i class="fa fa-circle text-green"></i><span>Ganti Password BPN</span></a></li>  
                        </ul>
                    </li>
                    
                    <!-- <li class="' . $this->menu_sismiop . '"><a href="' . $this->url('pendataan_pbb') . '"><i class="fa fa-table text-green"></i><span>Sismiop</span></a></li> -->
                    <li class="' . $this->menu_informasiop . '"><a href="' . $this->url('informasiop') . '"><i class="fa fa-info text-green"></i><span>Informasi OP</span></a></li>       
                    <li class="' . $this->menu_cetaklaporan . '"><a href="' . $this->url('cetak_laporan') . '"><i class="fa fa-paperclip text-green"></i><span>Cetak Laporan</span></a></li> 
                        <!-- <li class="' . $this->menu_kpppratama . '"><a href="' . $this->url('kpppratama') . '"><i class="fa fa-table text-green"></i><span>KP Pratama</span></a></li> -->
                    <li class="treeview ' . $activated . '">
                        <a href="#">
                            <i class="fa fa-gears text-red"></i>
                            <span>Setting</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="' . $this->side_pemda . '"><a href="' . $this->url('setting_pemda') . '"><i class="fa fa-circle text-orange"></i><span> Pemerintah Daerah</span></a></li>
                            <li class="' . $this->side_pejabat . '"><a href="' . $this->url('setting_pejabat_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Pejabat</span></a></li>        
                            <li class="' . $this->side_notaris . '"><a href="' . $this->url('setting_notaris_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Pejabat Notaris/PPAT</span></a></li>        
                            <li class="' . $this->side_jenis_transaksi . '"><a href="' . $this->url('setting_jenis_transaksi_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Jenis Transaksi</span></a></li>        
                            <li class="' . $this->side_npotkp . '"><a href="' . $this->url('setting_tarif_npotkp') . '"><i class="fa fa-circle text-orange"></i><span> Tarif NPOTKP</span></a></li>
                            <li class="' . $this->side_tarifbphtb . '"><a href="' . $this->url('setting_tarif_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Tarif BPHTB</span></a></li>
                            <li class="' . $this->side_haktanah . '"><a href="' . $this->url('setting_hak_tanah') . '"><i class="fa fa-circle text-orange"></i><span> Hak Tanah</span></a></li>                
                            <li class="' . $this->side_persyaratan_transaksi . '"><a href="' . $this->url('setting_persyaratan_transaksi_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Persyaratan Transaksi</span></a></li>                
                            <li class="' . $this->side_dokumen_tanah . '"><a href="' . $this->url('setting_dokumen_tanah_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Jenis Dokumen Tanah</span></a></li>  
                                <li class="' . $this->side_harga_acuan . '"><a href="' . $this->url('setting_harga_acuan_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Harga Acuan Tanah</span></a></li>  
                            <li class="' . $this->side_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Pengguna</span></a></li>
                            <!--<li class="' . $this->side_notifemail . '"><a href="' . $this->url('setting_notifemail') . '"><i class="fa fa-circle text-orange"></i><span> Notif Email</span></a></li>-->
                            <!--<li class="' . $this->side_nik . '"><a href="' . $this->url('setting_nik') . '"><i class="fa fa-circle text-orange"></i><span> Data Nik</span></a></li>-->
                            <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>
                        </ul>
                    </li>
                    
                    
                         
';
} elseif (@$role_id == 4) { //BANK
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                   <li class="' . $this->menu_pembayaran . '"><a href="' . $this->url('pembayaran_sptbphtb') . '"><i class="fa fa-money text-green"></i><span>Pembayaran</span></a></li>     
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} elseif (@$role_id == 5) { //BPN
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_bpn . '"><a href="' . $this->url('bpn_lihatdata') . '"><i class="fa fa-bank text-green"></i><span>BPN</span></a></li>  
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} elseif (@$role_id == 6) { //SIMPBB
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_kpppratama . '"><a href="' . $this->url('pendataan_pbb') . '"><i class="fa fa-table text-green"></i><span>Sismiop</span></a></li>
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} elseif (@$role_id == 7) { //KPP PRATAMA
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_sismiop . '"><a href="' . $this->url('kpppratama') . '"><i class="fa fa-table text-green"></i><span>KP Pratama</span></a></li>
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} elseif (@$role_id == 2) { //PEGAWAI
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_pendataan . '"><a href="' . $this->url('pendataan_sspd') . '"><i class="fa fa-list text-green"></i><span>Pendaftaran</span></a></li>
                    <li class="' . $this->menu_verifikasi . '"><a href="' . $this->url('verifikasi_spt') . '"><i class="fa fa-check text-green"></i><span>Validasi</span></a></li>
                    <li class="' . $this->menu_pembayaran . '"><a href="' . $this->url('pembayaran_sptbphtb') . '"><i class="fa fa-money text-green"></i><span>Pembayaran</span></a></li>
                    <li class="' . $this->menu_pelaporan . '"><a href="' . $this->url('pelaporan_notaris') . '"><i class="fa fa-book text-green"></i><span>Pelaporan Notaris</span></a></li> 
                    <li class="' . $this->menu_cetaklaporan . '"><a href="' . $this->url('cetak_laporan') . '"><i class="fa fa-paperclip text-green"></i><span>Cetak Laporan</span></a></li> 
                    <li class="' . $this->menu_informasiop . '"><a href="' . $this->url('informasiop') . '"><i class="fa fa-info text-green"></i><span>Informasi OP</span></a></li>
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} elseif (@$role_id == 3) { //NOTARIS
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_pendataan . '"><a href="' . $this->url('pendataan_sspd') . '"><i class="fa fa-list text-green"></i><span>Pendaftaran</span></a></li>         
                    <li class="' . $this->menu_pelaporan . '"><a href="' . $this->url('pelaporan_notaris') . '"><i class="fa fa-book text-green"></i><span>Pelaporan Notaris</span></a></li> 
                    <li class="' . $this->menu_informasiop . '"><a href="' . $this->url('informasiop') . '"><i class="fa fa-info text-green"></i><span>Informasi OP</span></a></li>       
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} elseif (@$role_id == 8 || @$role_id == 9) { //KASUBID //KABID
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_pendataan . '"><a href="' . $this->url('pendataan_sspd') . '"><i class="fa fa-list text-green"></i><span>Pendaftaran</span></a></li>
                    <!--<li class="' . $this->menu_pengurangan . '"><a href="' . $this->url('pengurangan') . '"><i class="fa fa-minus text-green"></i><span>Pengurangan</span></a></li>  -->
                    <!--<li class="' . $this->menu_pembebasan . '"><a href="' . $this->url('pembebasan') . '"><i class="fa fa-minus-square-o text-green"></i><span>Pembebasan</span></a></li>-->
                   <!-- <li class="' . $this->menu_verifikasi_berkas . '"><a href="' . $this->url('verifikasi_spt_berkas') . '"><i class="fa fa-file-text text-green"></i><span>Verifikasi Berkas</span></a></li> -->
                    <li class="' . $this->menu_verifikasi . '"><a href="' . $this->url('verifikasi_spt') . '"><i class="fa fa-check text-green"></i><span>Validasi</span></a></li>  
                    <!--<li class="' . $this->menu_verifikasi_esignature . '"><a href="' . $this->url('verifikasi_e_signature') . '"><i class="fa fa-pencil text-green"></i><span>E-Signature</span></a></li>-->     
                    <li class="' . $this->menu_pelaporan . '"><a href="' . $this->url('pelaporan_notaris') . '"><i class="fa fa-book text-green"></i><span>Pelaporan Notaris</span></a></li> 
                    <li class="' . $this->menu_cetaklaporan . '"><a href="' . $this->url('cetak_laporan') . '"><i class="fa fa-paperclip text-green"></i><span>Cetak Laporan</span></a></li> 
                    <li class="' . $this->menu_informasiop . '"><a href="' . $this->url('informasiop') . '"><i class="fa fa-info text-green"></i><span>Informasi OP</span></a></li>       
                    
                    
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';

    //        
    //<li class="' . $this->menu_pembayaran . '"><a href="' . $this->url('pembayaran_sptbphtb') . '"><i class="fa fa-money text-green"></i><span>Pembayaran</span></a></li>  
    //
} elseif (@$role_id == 10) {
    $tampilmenu = '<li class="' . $this->menu_cetaklaporan . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_cetaklaporan . '"><a href="' . $this->url('cetak_laporan') . '"><i class="fa fa-paperclip text-green"></i><span>Cetak Laporan</span></a></li> 
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} else {
    $tampilmenu = '';
}
?>

<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header"><b style="color: white">DAFTAR MENU BPHTB</b></li>
            <?= $tampilmenu; ?>
            <li><a href="<?= "http://" . $_SERVER['HTTP_HOST'] . "" . $this->basePath() . "/public/panduan/panduanbphtb.pdf"; ?>" target="_blank"><i class="fa fa-file-pdf-o text-orange"></i><span style="color: #fff;">Buku Panduan</span></a></li>
        </ul>
    </section>
</aside>


<!--Harga acuan tidak dipakai di singkawang-->
<!--<li class="' . $this->side_harga_acuan . '"><a href="' . $this->url('setting_harga_acuan_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Harga Acuan Tanah</span></a></li>-->