<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/tambah');
$frm->setAttribute('id', "formtambah");
$frm->prepare();
?>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">PENDAFTARAN SSPD BPHTB</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row margin">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span style="color: red">(*) - Wajib Diisi</span>
                                    </div>
                                    <div class="col-md-8" align="right">
                                        <a href="<?= $this->url() ?>" class="btn btn-success margin">Kembali</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><h3 class="panel-title"><span style="font-size:10pt">Pendaftaran SSPD</span></h3></div>
                                        <div class="panel-body">
                                            <?= $this->form()->openTag($frm) ?>
                                            <div>
                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs" role="tablist" id="tabs">
                                                    <li role="presentation" class="active"><a href="#iwp" aria-controls="iwp" role="tab" data-toggle="tab">Informasi Wajib Pajak</a></li>
                                                    <li id="historybphtb" role="presentation"><a href="#his" aria-controls="his" role="tab" data-toggle="tab">History Transaksi WP</a></li>
                                                    <li role="presentation"><a href="#iop" aria-controls="iop" role="tab" data-toggle="tab">Informasi Objek Pajak</a></li>
                                                    <li role="presentation"><a href="#pb" aria-controls="pb" role="tab" data-toggle="tab">Perhitungan BPHTB</a></li>
                                                    <li role="presentation"><a href="#ip" aria-controls="ip" role="tab" data-toggle="tab">Informasi Penjual</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="iwp">
                                                        <div>&nbsp;&nbsp;</div>
                                                        <div class="col-sm-12" style="<?= $show_hide_combo_notaris ?>">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Notaris/PPAT/PPATS <span style="color: red">*</span></label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_idnotarisspt')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Tanggal Pendaftaran <span style="color: red">*</span></label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formInput($frm->get('t_idspt')) ?>
                                                                    <?= $this->formInput($frm->get('t_iddetailsptbphtb')) ?>
                                                                    <?= $this->formInput($frm->get('t_kohirspt')) ?>
                                                                    <?= $this->formInput($frm->get('t_tglprosesspt')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">NIK <span style="color: red">*</span></label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_nikwppembeli')) ?>
                                                                </div>
                                                                <label  class="col-sm-1 control-label">NPWP</label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_npwpwppembeli')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Nama WP <span style="color: red">*</span></label>
                                                                <div class="col-sm-6">
                                                                    <?= $this->formRow($frm->get('t_namawppembeli')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Alamat <span style="color: red">*</span></label>
                                                                <div class="col-sm-6">
                                                                    <?= $this->formRow($frm->get('t_alamatwppembeli')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">RT <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_rtwppembeli')) ?>
                                                                </div>
                                                                <label  class="col-sm-2 control-label">RW <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_rwwppembeli')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Kelurahan/Desa <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_kelurahanwppembeli')) ?>
                                                                </div>
                                                                <label  class="col-sm-2 control-label">Kecamatan <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_kecamatanwppembeli')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Kabupaten/Kota <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_kabkotawppembeli')) ?>
                                                                </div>
                                                                <label  class="col-sm-2 control-label">Kode Pos</label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_kodeposwppembeli')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-horizontal form-group col-md-12">
                                                            <div class="col-md-12">
                                                                <div class="form-group row">
                                                                    <label for="inputType" class="col-md-2">No Telp.</label>
                                                                    <div class="col-md-2">
                                                                        <?= $this->formRow($frm->get('t_telponwppembeli')) ?>
                                                                    </div>
                                                                    <div class="col-md-8" style="text-align: right">
                                                                        <a href="#" class="btn btn-success btn-sm" onclick="next('iop')">Selanjutnya</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="his">
                                                        <div>&nbsp;&nbsp;</div>     
                                                        <div class="col-md-12">
                                                            <div class="form-group row" id="historybphtb">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading">History Transaksi BPHTB Wajib Pajak</div>
                                                                    <div id="historydiv">
                                                                        <table class='table'>
                                                                            <tr>
                                                                                <th>NOP</th>
                                                                                <th>NPOP</th>
                                                                                <th>NPOPTKP</th>
                                                                                <th>NPOPKP</th>
                                                                                <th>Tanggal Bayar</th>
                                                                                <th>Jumlah Pembayaran</th>
                                                                            </tr>
                                                                            <?php
                                                                            foreach ($datahistory as $row) {
                                                                                $npopkp = $row['t_totalspt'] * 100 / 5;
                                                                                $npop = $npopkp + $row['t_potonganspt'];
                                                                                ?>
                                                                                <tr>
                                                                                    <td><?= $row['t_nopbphtbsppt'] ?>-<?= $row['t_thnsppt'] ?></td>
                                                                                    <td><?= number_format($npop, 0, ',', '.') ?></td>
                                                                                    <td><?= number_format($row['t_potonganspt'], 0, ',', '.') ?></td>
                                                                                    <td><?= number_format($npopkp, 0, ',', '.') ?></td>
                                                                                    <td><?= date('d-m-Y', strtotime($row['t_tanggalpembayaran'])) ?></td>
                                                                                    <td><?= number_format($row['t_nilaipembayaranspt'], 0, ',', '.') ?></td>
                                                                                </tr>
                                                                                <?
                                                                            }
                                                                            ?>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="iop">
                                                        <div>&nbsp;&nbsp;</div>   
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Jenis Transaksi <span style="color: red">*</span></label>
                                                                <div class="col-sm-5">
                                                                    <?= $this->formRow($frm->get('t_idjenistransaksi')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
<!--                                                        <div class="col-sm-12" id="centang_terbukti">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Bukti Keabsahan</label>
                                                                <div class="col-sm-5">
                                                                    <?php // $this->formRow($frm->get('t_terbukti')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label"></label>
                                                                <div class="col-sm-5">
                                                                    <?php // $this->formRow($frm->get('t_ketwaris')) ?>
                                                                </div>
                                                            </div>
                                                        </div>-->
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <div id="persyaratannya">
                                                                    <div class="radio_render">
                                                                        <?= $this->formMultiCheckbox($frm->get('t_persyaratan')) ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
<!--                                                        <div style="<?php // $show_hide_penerima_waris ?>">
                                                            <div class="form-horizontal form-group col-md-12">
                                                                <div class="col-md-12">
                                                                    <div class="form-group row">
                                                                        <?php
//                                                                        $ii = 0;
//                                                                        foreach ($data_penerimawaris as $row) {
                                                                            ?>
                                                                            <label for="inputKey" class="col-md-2 control-label" style="text-align: left;"></label>
                                                                            <div class="col-md-3">
                                                                                <input class="form-control" type="text" name='t_namapenerimawaris[<?= $ii ?>]' value="<?= $row['t_namapenerima'] ?>">
                                                                            </div>
                                                                            <label for="inputValue" class="col-md-1 control-label"></label>
                                                                            <div class="col-md-2">
                                                                                <input class="form-control" type="text" name="t_nikpenerimawaris[<?= $ii ?>]" value="<?= $row['t_nikpenerima'] ?>" onkeypress="return numbersonly(this, event)" maxlength="16">
                                                                            </div>
                                                                            <label for="inputValue" class="col-md-1 control-label"></label>
                                                                            <div class="col-md-3">
                                                                                <input class="form-control" type="text" name="t_alamatpenerimawaris[<?= $ii ?>]" value="<?= $row['t_alamatpenerima'] ?>" >
                                                                            </div> 
                                                                            <?php
//                                                                            $ii++;
//                                                                        }
                                                                        ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" id="idk" value="<? // $ii ?>">
                                                            <div id="kolomTambahPenerima"></div>
                                                            <div class="form-horizontal form-group col-md-12">
                                                                <div class="col-md-12">
                                                                    <div class="form-group row">
                                                                        <label for="inputKey" class="col-md-2 control-label" style="text-align: left;"></label>
                                                                        <div class="col-md-3">
                                                                            <span class="btn btn-sm btn-success" id="tambahPenerima">Tambah Penerima</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>-->
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">NOP/Tahun SPPT <span style="color: red">*</span></label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_nopbphtbsppt')) ?>
                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <?= $this->formRow($frm->get('t_thnsppt')) ?>
                                                                </div>
                                                                <label  class="col-sm-2 control-label">Nama SPPT</label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_namasppt')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Letak Tanah/Bangunan <span style="color: red">*</span></label>
                                                                <div class="col-sm-4">
                                                                    <?= $this->formRow($frm->get('t_alamatop')) ?>
                                                                </div>
                                                            </div>
                                                        </div>       
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">RT <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_rtop')) ?>
                                                                </div>
                                                                <label  class="col-sm-2 control-label">RW <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_rwop')) ?>
                                                                </div>
                                                            </div>
                                                        </div>                 
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Kelurahan/Desa <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_kelurahanop')) ?>
                                                                </div>
                                                                <label  class="col-sm-2 control-label">Kecamatan <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_kecamatanop')) ?>
                                                                </div>
                                                                <label  class="col-sm-1 control-label">Kabupaten <span style="color: red">*</span></label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_kabupatenop')) ?>
                                                                </div>
                                                            </div>
                                                        </div>                 
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Luas Tanah (Bumi) <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?php
                                                                    $luas_t = $frm->get('t_luastanah')->getValue();
                                                                    ?>
                                                                    <?= $this->formRow($frm->get('t_luastanah')) ?>
                                                                </div>
                                                                <label  class="col-sm-2 control-label" style="font-size: 13px">Nilai Pasar/NJOP (m2) <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?php
                                                                    $njop_t = $frm->get('t_njoptanah')->getValue();
                                                                    $totalnjop_t = $frm->get('t_totalnjoptanah')->getValue();
                                                                    ?>
                                                                    <?= $this->formRow($frm->get('t_njoptanah')->setValue(number_format($njop_t, 0, ',', '.'))) ?>
                                                                </div>
                                                                <label  class="col-sm-1 control-label">Total</label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_totalnjoptanah')->setValue(number_format($totalnjop_t, 0, ',', '.'))) ?>
                                                                </div>
                                                            </div>
                                                        </div>                 
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Luas Bangunan <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_luasbangunan')) ?>
                                                                </div>
                                                                <label  class="col-sm-2 control-label" style="font-size: 13px">Nilai Pasar/NJOP (m2) <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?php
                                                                    $njop_b = $frm->get('t_njopbangunan')->getValue();
                                                                    $totalnjop_b = $frm->get('t_totalnjopbangunan')->getValue();
                                                                    ?>
                                                                    <?= $this->formRow($frm->get('t_njopbangunan')->setValue(number_format($njop_b, 0, ',', '.'))) ?>
                                                                </div>
                                                                <label  class="col-sm-1 control-label">Total</label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_totalnjopbangunan')->setValue(number_format($totalnjop_b, 0, ',', '.'))) ?>
                                                                </div>
                                                            </div>
                                                        </div>                 
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-9 control-label" style="text-align: right;">NJOP PBB</label>
                                                                <div class="col-sm-3">
                                                                    <?php
                                                                    $njop_pbb = $frm->get('t_grandtotalnjop')->getValue();
                                                                    ?>
                                                                    <?= $this->formRow($frm->get('t_grandtotalnjop')->setValue(number_format($njop_pbb, 0, ',', '.'))) ?>
                                                                </div>
                                                            </div>
                                                        </div>                 
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-9 control-label" style="text-align: right;">Harga Transaksi / Nilai Pasar <span style="color: red">*</span></label>
                                                                <div class="col-sm-3">
                                                                    <?php
                                                                    $nilai_transaksi = $frm->get('t_nilaitransaksispt')->getValue();
                                                                    ?>
                                                                    <?= $this->formRow($frm->get('t_nilaitransaksispt')->setValue(number_format($nilai_transaksi, 0, ',', '.'))) ?>
                                                                </div>
                                                            </div>
                                                        </div>                 
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Kepemilikan <span style="color: red">*</span></label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_idjenishaktanah')) ?>
                                                                </div>
                                                            </div>
                                                        </div>                 
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Jenis Dok. Tanah <span style="color: red">*</span></label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_idjenisdoktanah')) ?>
                                                                </div>
                                                            </div>
                                                        </div>          
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">No. Dokumen Tanah <span style="color: red">*</span></label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_nosertifikathaktanah')) ?>
                                                                </div>
                                                                <label  class="col-sm-2 control-label">Tanggal Dokumen <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_tglajb')) ?>
                                                                </div>
                                                                <div class="col-sm-3" style="text-align: right">
                                                                    <a href="#" class="btn btn-success btn-sm" onclick="next('pb')">Selanjutnya</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="pb">
                                                        <div>&nbsp;&nbsp;</div>          
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-3 control-label">NPOP</label>
                                                                <div class="col-sm-3">
                                                                    <?php
                                                                    $terhutang = $frm->get('t_totalspt')->getValue();
                                                                    $tarif = $frm->get('t_persenbphtb')->getValue();
                                                                    $npopkpnya = $terhutang * 100 / 5;
                                                                    $npoptkp = $frm->get('t_potonganspt')->getValue();
                                                                    $njoppbbnya = $frm->get('t_grandtotalnjop')->getValue();
                                                                    $nilai_transaksisptnya = $nilai_transaksi;
                                                                    if ((int) $njoppbbnya > (int) $nilai_transaksisptnya) {
                                                                        $npop = $njoppbbnya;
                                                                    } else {
                                                                        $npop = $nilai_transaksisptnya;
                                                                    }
//                                $npop = $npopkpnya + $npoptkp;
                                                                    ?>
                                                                    <?= $this->formRow($frm->get('t_npopspt')->setValue(number_format($npop, 0, ',', '.'))) ?>
                                                                </div>
                                                            </div>
                                                        </div>              
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-3 control-label">NPOPTKP</label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_potonganspt')->setValue(number_format($npoptkp, 0, ',', '.'))) ?>
                                                                </div>
                                                                <div class="col-sm-4" id="ket_npoptkpdiv">
                                                                    <?php
                                                                    if ($npoptkp == 0) {
                                                                        $ket = 'Tidak Dapat NPOPTKP';
                                                                    } else {
                                                                        $ket = 'Dapat NPOPTKP';
                                                                    }
                                                                    ?>
                                                                    <input type="text" class="form-control" name="ket_npoptkp" id="ket_npoptkp" value="<?= $ket ?>"
                                                                           style="font-weight:bold;font-size:25px;color:#18F518;background-color:black;text-align:center;" readonly/> 
                                                                </div>
                                                            </div>
                                                        </div>                    
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-3 control-label">NPOPKP</label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_npopkpspt')->setValue(number_format($npopkpnya, 0, ',', '.'))) ?>
                                                                </div>
                                                                <label  class="col-sm-2 control-label">Tarif (%)</label>
                                                                <div class="col-sm-1">
                                                                    <?= $this->formRow($frm->get('t_persenbphtb')->setValue(5)) ?>
                                                                </div>
                                                            </div>
                                                        </div>               
                                                        <div class="form-horizontal form-group col-md-12">
                                                            <div class="col-md-12">
                                                                <div class="form-group row">
                                                                    <label for="inputKey" class="col-md-3 control-label" style="text-align: left;">BPHTB yang harus dibayar</label>
                                                                    <div class="col-md-3">
                                                                        <?= $this->formRow($frm->get('t_totalspt')->setValue(number_format($terhutang, 0, ',', '.'))) ?>
                                                                    </div>
                                                                    <div class="col-md-6" style="text-align: right">
                                                                        <a href="#" class="btn btn-success btn-sm" onclick="next('ip')">Selanjutnya</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="ip">
                                                        <div>&nbsp;&nbsp;</div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">NIK <span style="color: red">*</span></label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_nikwppenjual')) ?>
                                                                </div>
                                                                <label  class="col-sm-1 control-label">NPWP</label>
                                                                <div class="col-sm-3">
                                                                    <?= $this->formRow($frm->get('t_npwpwppenjual')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Nama Penjual <span style="color: red">*</span></label>
                                                                <div class="col-sm-6">
                                                                    <?= $this->formRow($frm->get('t_namawppenjual')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Alamat <span style="color: red">*</span></label>
                                                                <div class="col-sm-6">
                                                                    <?= $this->formRow($frm->get('t_alamatwppenjual')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">RT <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_rtwppenjual')) ?>
                                                                </div>
                                                                <label  class="col-sm-2 control-label">RW <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_rwwppenjual')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Kelurahan/Desa <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_kelurahanwppenjual')) ?>
                                                                </div>
                                                                <label  class="col-sm-2 control-label">Kecamatan <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_kecamatanwppenjual')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label  class="col-sm-2 control-label">Kabupaten/Kota <span style="color: red">*</span></label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_kabkotawppenjual')) ?>
                                                                </div>
                                                                <label  class="col-sm-2 control-label">Kode Pos</label>
                                                                <div class="col-sm-2">
                                                                    <?= $this->formRow($frm->get('t_kodeposwppenjual')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-horizontal form-group col-md-12">
                                                            <div class="col-md-12">
                                                                <div class="form-group row">
                                                                    <label for="inputType" class="col-md-2">No. Telpon</label>
                                                                    <div class="col-md-3">
                                                                        <?= $this->formRow($frm->get('t_telponwppenjual')) ?>
                                                                        <?= $this->form()->closeTag($frm) ?>
                                                                    </div>
                                                                    <div class="col-md-7" style="text-align: right">
                                                                        <input type="submit" value="Update Permohonan" class="btn btn-success btn-sm">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<style>
    .radio_render{

    }

    .radio_render label {
        width: 75%;
        float: left;
    }

    .radio_render label input {
        margin-top: -2.5px;
        margin-left: 25%;
    }
    
//  ==============================================
//  Form Wizard
    .stepwizard-step p {
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .stepwizard-row {
        display: table-row;
    }
    .stepwizard {
        display: table;
        width: 95%;
        position: relative;
    }
    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }
    .stepwizard-row:before {
        top: 22px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 2px;
        /*background-color: #ccc;*/
        background-color: blue;
        z-order: 0;
    }
    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }
    .btn-circle {
        width: 45px;
        height: 45px;
        text-align: center;
        padding: 10px 0;
        font-size: 14px;
        line-height: 1.428571429;
        border-radius: 22.5px;
    }
    .form-group {
        margin: 0px;
    }

</style>
<script type="text/javascript">

    jQuery("[data-mask]").inputmask();

    jQuery("#t_tglprosesspt").datepicker({
        format: 'dd-mm-yyyy'
    });

    jQuery("#t_tglajb").datepicker({
        format: 'dd-mm-yyyy',
    });

    function next(a) {
        jQuery('#tabs a[href=#' + a + ']').tab('show');
    }

    $(document).ready(function () {
        $("#tambahPenerima").click(function () {
            var id = document.getElementById("idk").value;
            $("#kolomTambahPenerima").append(
                    '<div class="form-horizontal form-group col-md-12">' +
                    '<div class="col-md-12">' +
                    '<div class="form-group row">' +
                    '<label for="inputKey" class="col-md-2 control-label" style="text-align: left;"></label>' +
                    '<div class="col-md-3">' +
                    '<input class="form-control" type="text" name="t_namapenerimawaris[' + id + ']">' +
                    '</div>' +
                    '<label for="inputValue" class="col-md-1 control-label"></label>' +
                    '<div class="col-md-2">' +
                    '<input class="form-control" type="text" name="t_nikpenerimawaris[' + id + ']" onkeypress="return numbersonly(this, event)" maxlength="16">' +
                    '</div>' +
                    '<label for="inputValue" class="col-md-1 control-label"></label>' +
                    '<div class="col-md-3">' +
                    '<input class="form-control" type="text" name="t_alamatpenerimawaris[' + id + ']">' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>'
                    );
            id = (id - 1) + 2;
            document.getElementById("idk").value = id;
        });
    });

//    $("#historybphtb").hide();

<?php if ($data != 1) {
    ?>
        $("#t_ketwaris").hide();
        $("#centang_terbukti").hide();
<?php }
?>
    function myFunction() {
        $("#t_ketwaris").show();
        if ($('#ket_npoptkp').val() == 'Tidak Dapat NPOPTKP') {
            $('#t_potonganspt').val(0);
        } else {
            var npoptkp = '300.000.000';
            $('#t_potonganspt').val(npoptkp);
            var npop = unformatCurrency($('#t_npopspt').val());
            var npoptkp = unformatCurrency($('#t_potonganspt').val());
            var npopkp = (npop * 1) - (npoptkp * 1);
            if ((npopkp * 1) < 0) {
                $('#t_npopkpspt').val(0);
                $('#t_totalspt').val(0);
            } else {
                $('#t_npopkpspt').val(currencyFormatDE((npopkp * 1)));
                var totalspt = (npopkp * 1) * 5 / 100;
                $('#t_totalspt').val(currencyFormatDE((totalspt * 1)));
            }
        }
    }
    function myFunction1() {
        $("#t_ketwaris").hide();
        if ($('#ket_npoptkp').val() == 'Tidak Dapat NPOPTKP') {
            $('#t_potonganspt').val(0);
        } else {
            var npoptkp = '300.000.000';
            $('#t_potonganspt').val(npoptkp);
            var npop = unformatCurrency($('#t_npopspt').val());
            var npoptkp = unformatCurrency($('#t_potonganspt').val());
            var npopkp = (npop * 1) - (npoptkp * 1);
            if ((npopkp * 1) < 0) {
                $('#t_npopkpspt').val(0);
                $('#t_totalspt').val(0);
            } else {
                $('#t_npopkpspt').val(currencyFormatDE((npopkp * 1)));
                var totalspt = (npopkp * 1) * 5 / 100;
                $('#t_totalspt').val(currencyFormatDE((totalspt * 1)));
            }
        }
    }

    function historybphtb() {
        $.post('<?= $this->url() ?>/historybphtb', {t_nikwppembeli: $('#t_nikwppembeli').val(), t_tglprosesspt: $('#t_tglprosesspt').val()}, function (data) {
            var aa = JSON.parse(data);
            //Data WP
            $("#historydiv").html(aa.raw_return);
            if (aa.t_namawppembeli != undefined) {
                $('#t_namawppembeli').val(aa.t_namawppembeli);
                $('#t_npwpwppembeli').val(aa.t_npwpwppembeli);
                $('#t_alamatwppembeli').val(aa.t_alamatwppembeli);
                $('#t_rtwppembeli').val(aa.t_rtwppembeli);
                $('#t_rwwppembeli').val(aa.t_rwwppembeli);
                $('#t_kelurahanwppembeli').val(aa.t_kelurahanwppembeli);
                $('#t_kecamatanwppembeli').val(aa.t_kecamatanwppembeli);
                $('#t_kabkotawppembeli').val(aa.t_kabkotawppembeli);
                $('#t_kodeposwppembeli').val(aa.t_kodeposwppembeli);
                $('#t_telponwppembeli').val(aa.t_telponwppembeli);
//            $('#t_potonganspt').val('0');
                $('#jumlahpembayaran').val(aa.t_nilaipembayaranspt);
            }
            if (aa.t_nikwppembeli != null) {
                $("#historybphtb").show();
                $('#ket_npoptkp').val('Dapat NPOPTKP');
                hitungBphtb();
            } else {
                $("#historybphtb").hide();
//                $('#t_potonganspt').val('');
                $('#ket_npoptkp').val('Dapat NPOPTKP');
                hitungBphtb();
            }
        });
    }

    function datanop() {
        $.post('<?= $this->url() ?>/datanop', {t_nopbphtbsppt: $('#t_nopbphtbsppt').val(), t_thnsppt: $('#t_thnsppt').val()}, function (data) {
            var aa = JSON.parse(data);
            //Data Objek Pajak
            $('#t_alamatop').val(aa.JALAN_OP);
            $('#t_rtop').val(aa.RT_OP);
            $('#t_rwop').val(aa.RW_OP);
            $('#t_kelurahanop').val(aa.NM_KELURAHAN);
            $('#t_kecamatanop').val(aa.NM_KECAMATAN);
            $('#t_luastanah').val(aa.LUAS_BUMI_SPPT);
            $('#t_njoptanah').val(currencyFormatDE(aa.NILAI_PER_M2_TANAH * 1000));
            $('#t_totalnjoptanah').val(currencyFormatDE(aa.NJOP_BUMI_SPPT * 1));
            $('#t_luasbangunan').val(aa.LUAS_BNG_SPPT);
            $('#t_njopbangunan').val(currencyFormatDE(aa.NILAI_PER_M2_BNG * 1000));
            $('#t_totalnjopbangunan').val(currencyFormatDE(aa.NJOP_BNG_SPPT * 1));
            $('#t_grandtotalnjop').val(currencyFormatDE(aa.NJOP_SPPT * 1));             //Data Penjual
            $('#t_namawppenjual').val(aa.NM_WP_SPPT);
            $('#t_alamatwppenjual').val("Jl. " + aa.JLN_WP_SPPT + " Blok " + aa.BLOK_KAV_NO_WP_SPPT + " Rt. " + aa.RT_WP_SPPT + " Rw. " + aa.RW_WP_SPPT);
            $('#t_kelurahanwppenjual').val(aa.KELURAHAN_WP_SPPT);
            $('#t_kabkotawppenjual').val(aa.KOTA_WP_SPPT);
            $('#t_kodeposwppenjual').val(aa.KD_POS_WP_SPPT);
        });
    }

    function hitungnjop() {
        $.post('<?= $this->url() ?>/hitungnjop', {
            t_luastanah: $('#t_luastanah').val(), t_njoptanah: $('#t_njoptanah').val(), t_luasbangunan: $('#t_luasbangunan').val(),
            t_njopbangunan: $('#t_njopbangunan').val(), t_idjenistransaksi: $('#t_idjenistransaksi').val()
        }, function (data) {
            var aa = JSON.parse(data);
            $("#t_totalnjoptanah").val(currencyFormatDE(aa.t_totalnjoptanah * 1));
            $('#t_totalnjopbangunan').val(currencyFormatDE(aa.t_totalnjopbangunan * 1));
            $('#t_grandtotalnjop').val(currencyFormatDE(aa.t_grandtotalnjop * 1));
            //            $('#t_nilaitransaksispt').val(currencyFormatDE(aa.t_nilaitransaksispt * 1));
        });
        hitungBphtb();
    }

    function TentukanNPOP() {
        var NjopPbb = unformatCurrency($("#t_grandtotalnjop").val());
        var NilaiTransaksi = unformatCurrency($("#t_nilaitransaksispt").val());
        if ((NjopPbb * 1) > (NilaiTransaksi * 1)) {
            $("#t_npopspt").val(formatCurrency(NjopPbb));
            hitungBphtb();
        } else {
            $("#t_npopspt").val(formatCurrency(NilaiTransaksi));
            hitungBphtb();
        }

    }

    function hitungBphtb() {
        $.post('<?= $this->url() ?>/hitungBphtb', {
            t_nilaitransaksispt: $('#t_nilaitransaksispt').val(),
            t_grandtotalnjop: $('#t_grandtotalnjop').val(), t_idjenistransaksi: $('#t_idjenistransaksi').val(),
            t_terbukti: $('#t_terbukti').val(), t_tglajb: $('#t_tglajb').val(), t_potonganspt: $('#t_potonganspt').val(),
            t_npopspt: $('#t_npopspt').val(), t_persenbphtb: $('#t_persenbphtb').val()
        }, function (data) {
            var aa = JSON.parse(data);
            $("#t_npopkpspt").val(currencyFormatDE(aa.t_npopkpspt * 1));
            $('#t_totalspt').val(currencyFormatDE(aa.t_totalspt * 1));
            $('#t_potonganspt').val(currencyFormatDE(aa.t_potonganspt * 1));
        });
    }

    function TampilPersyaratan() {
        $.post('<?= $this->url() ?>/TampilPersyaratan', {t_idjenistransaksi: $('#t_idjenistransaksi').val()}, function (data) {
            var aa = JSON.parse(data);
            var jns_transaksi = $('#t_idjenistransaksi').val();
            if ((jns_transaksi * 1) == 4 || (jns_transaksi * 1) == 5) {
                $("#centang_terbukti").show();
            } else {
                $("#centang_terbukti").hide();
                $("#t_terbukti").val(0);
            }
            $("#persyaratannya").html(aa.raw_return);
        });
    }
    
//    =============================================
//    Form Wizard

    $(document).ready(function () {
        var navListItems = $('div.setup-panel div a'),
                allWells = $('.setup-content'),
                allNextBtn = $('.nextBtn'),
                allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                    $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-facebook').addClass('btn-default');
                $item.addClass('btn-facebook');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allPrevBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

            prevStepWizard.trigger('click');
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url'],textarea, select"),
                    isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-facebook').trigger('click');
    });

</script>