<html>
    <head>
        <style>
            #footer { position: fixed; left: 0px; bottom: -180px; right: 0px; height: 50px; background-color: white; }
            #footer .page:after { content: counter(page, upper-roman); }

            .border_atas {
                border-top: 1px black solid;
            }

            .border_kiri {
                border-left: 1px black solid;
            }

            .border_kanan {
                border-right: 1px black solid;
            }

            .border_bawah {
                border-bottom: 1px black solid;
            }

            .font_besar {
                font-size: 12pt;
            }

            .font_kecil {
                font-size: 10pt;
            }

            .font_lima {
                font-size: 7pt;
            }

            .font_tujuh {
                font-size: 7pt;
            }  

            .font_delapan {
                font-size: 8pt;
            }    

            .font_sembilan {
                font-size: 9pt;
            }    


            /*@page {
                margin-top: 1.5em;  
                margin-left: 3.8em;          
            }*/

        </style>
    </head>    
    <body>
        <div id="footer">
            <p class="page" align="right"> </p>
        </div>
        <div id="content" style="margin-top:0px">
            <table>
                <tr>
                    <td style="width: 330px">
                        <img style="float:left;" width="50" title="LOGO <?= $ar_pemda->s_namakabkot; ?>" align="left" src="http://localhost/<?= $this->basePath(); ?>/<?= $ar_pemda->s_logo ?>"/>
                    </td>
                    <td style="text-align: center">
                        <center><b>PEMERINTAH <?= strtoupper($ar_pemda->s_namakabkot); ?>, <?= strtoupper($ar_pemda->s_namaprov);?></b></center></br>
                        <center><b><?= strtoupper($ar_pemda->s_namainstansi); ?> (<?= strtoupper($ar_pemda->s_namasingkatinstansi); ?>)</b></center></br>
                        <center><b style="font-size: 12px"><?= strtoupper($ar_pemda->s_alamatinstansi); ?> Telp/Fax <?= $ar_pemda->s_notelinstansi?>, <?= $ar_pemda->s_namaibukotakabkot?> <?= $ar_pemda->s_kodepos?></b></center>
                    </td>
                </tr>
            </table>
            <table width="100%" style="border-spacing: 0" class="font_sembilan">
                <tr style="text-align: center;" class="font_sembilan">
                    <td colspan="17">
                        <h2>DAFTAR DATA PENDAFTARAN</h2>
                    </td>
                </tr>
                <tr style="text-align: left;" class="font_sembilan">
                    <td colspan="17">
                        Tanggal Cetak &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <?= $tgl_cetak ?>
                    </td>
                </tr>
                <tr style="text-align: left;" class="font_sembilan">
                    <td colspan="17">
                        Tanggal Pendaftaran : <?= $tgl_verifikasi1 ?> s/d <?= $tgl_verifikasi2 ?>
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td rowspan="2" class="border_atas border_bawah border_kanan border_kiri">
                        No.
                    </td>

                    <td rowspan="1" colspan="3" class="border_atas border_bawah border_kanan">
                        Informasi Wajib Pajak
                    </td>
                    <td rowspan="1" colspan="2" class="border_atas border_bawah border_kanan">
                        Informasi Penjual
                    </td>
                    <td rowspan="1" colspan="9" class="border_atas border_bawah border_kanan">
                        Informasi Objek Pajak
                    </td>

                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        Ket
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        NIK
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Nama
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        No Telp<br>Alamat
                    </td>
                    
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Nama
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        No Telp<br>Alamat
                    </td>
                    
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        NOP/Tahun SPPT
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Nama SPPT
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Letak Tanah / Bangunan
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Jenis Transaksi
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Nama Notaris/PPATS
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Tgl Pendaftaran
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Luas Tanah (Bumi)
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Luas Bangunan
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Harga Transaksi / Nilai Pasar
                    </td>
                </tr>
                <?php
                $totalPembayaran = 0;
                $counter = 1;
                foreach ($this->data_Verifikasi as $k => $v) {
                    if (!empty($v['p_nilaitransaksispt'])) {
                        $nilaitransaksispt = $v['p_nilaitransaksispt'];
                    } else {
                        $nilaitransaksispt = $v["t_nilaitransaksispt"];
                    }
                    
                    ?>
                    <tr style="text-align: center">
                        <td class="border_atas border_kiri border_bawah border_kanan">
                            <?= $counter ?>
                        </td>
                        <td class="border_atas border_bawah border_kanan">
                            <?= $v['t_nikwppembeli'] ?>
                        </td>
                        <td class="border_atas border_bawah border_kanan">
                            <?= $v['t_namawppembeli'] ?>
                        </td>
                        <td class="border_atas border_bawah border_kanan" align="left">
                            <?= $v['t_telponwppembeli'] ?><br>Kel. <?= $v['t_kelurahanwppembeli'] ?> Kec. <?= $v['t_kecamatanwppembeli'] ?> Kab/kota <?= $v['t_kabkotawppembeli'] ?>
                        </td>
                       
                        <td class="border_atas border_bawah border_kanan">
                            <?= $v['t_namawppenjual'] ?>
                        </td>
                        <td class="border_atas border_bawah border_kanan" align="left">
                            <?= $v['t_telponwppenjual'] ?><br>Kel. <?= $v['t_kelurahanwppenjual'] ?> Kec.  <?= $v['t_kecamatanwppenjual'] ?> Kab/kota <?= $v['t_kabkotawppenjual'] ?>
                        </td>
                        
                        <td class="border_atas border_bawah border_kanan">
                            <?= $v['t_nopbphtbsppt'] ?> - <?= $v['t_thnsppt'] ?>
                        </td>
                        <td class="border_atas border_bawah border_kanan">
                            <?= $v['t_namasppt'] ?>
                        </td>
                        <td class="border_atas border_bawah border_kanan">
                            <?= $v['t_alamatop'] ?>
                        </td>
                        <td class="border_atas border_bawah border_kanan">
                            <?= $v['s_namajenistransaksi'] ?>
                        </td>
                        <td class="border_atas border_bawah border_kanan">
                            <?= $v['s_namanotaris'] ?>
                        </td>
                        <td class="border_atas border_bawah border_kanan">
                            <?= date('d/m/Y', strtotime($v['t_tglprosesspt'])) ?>
                        </td>
                        <td class="border_atas border_bawah border_kanan">
                            <?= $v['t_luastanah'] ?>
                        </td>
                        <td class="border_atas border_bawah border_kanan">
                            <?= $v['t_luasbangunan'] ?>
                        </td>
                        <td class="border_atas border_bawah border_kanan">
                            <?= number_format($nilaitransaksispt, 0, ',', '.') ?>
                        </td>
                        <td class="border_atas border_bawah border_kanan">

                        </td>
                        <?php
                        $counter++;
                    }
                    ?>
            </table>
                <!--<p style="page-break-before: always;">the second page</p>-->
        </div>
    </body>
</html>



