<style type="text/css">
    
    /*@page { margin: 180px 50px; }
            #header { position: fixed; left: 0px; top: -150px; right: 0px; height: 50px; background-color: white; text-align: center; }
            #header img { position: absolute;
                          float:left;

            }
            #footer { position: fixed; left: 0px; bottom: -180px; right: 0px; height: 50px; background-color: white; }
            #footer .page:after { content: counter(page, upper-roman); }

    */
    .kotak{

        border: 1px black solid;

    }
    .tengah {
        float: none;
        margin: 0 auto;
    }
    .radio_render{
        margin-top: -2.5px;
        margin-left: 17%;
    }

    .radio_render label {
        width: 75%;
        float: left;
    }
    
    
</style>
<?php
ini_set("max_execution_time", 500);
foreach ($this->data_sspd as $row) {
    $data_pemda = $this->data_pemda;
	$linklokal = $_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath(). "/";
	$gambar = "" . $linklokal . "/" . $data_pemda->s_logo;
    ?>
    <div style="page-break-after: always;width: 100%;">
        <table>
            <tr>
                <td width="100px">
                    <img width="50" title="LOGO <?= $data_pemda->s_namakabkot; ?>" align="left" src="<?= $gambar ?>"/>
                </td>
                <td>
                    <center>
                    <b style="font-size:14pt;">PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot)?></b>
                    <br>
                    <font style="font-size:15pt;"><?= strtoupper($data_pemda->s_namainstansi) ?></font>
                    <br>
                    <font style="font-size:10pt;">Alamat : <?= $data_pemda->s_alamatinstansi ?> <?= $data_pemda->s_kodepos ?></font>
                    <br>
                    <font style="font-size:10pt;">Telp <?= $data_pemda->s_notelinstansi ?></font>
                    </center>
                </td>
            </tr>
            <tr>
                <td colspan="7" style="border-bottom: 1px solid #000; border-top: 2px solid black;"></td>
            </tr>
        </table><br>
        <center>
            <table class="kotak" align="center">
                <thead>
                    <tr>
                        <th>
                            <b>BUKTI PENERIMAAN SURAT</b>
                        </th>
                    </tr>
                </thead>
            </table>
        </center><br>
        <div class="tengah">
            <table align="center">
                <thead>
                    <tr>
                        <th width="100px" align="left"><b>Nomor Pendaftaran</b></th>
                        <th> : </th>
                        <th align="left"><?= str_pad($row['t_kohirspt'], 4, '0', STR_PAD_LEFT) ?></th>
                    </tr>
                    <tr>
                        <th align="left"><b>N.O.P</b></th>
                        <th> : </th>
                        <th align="left"><?= $row['t_nopbphtbsppt'] ?></th>
                    </tr>
                </thead>
            </table>
        </div>    
        <br>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td width="200px">
                    1. Nama Wajib Pajak
                </td>
                <td>
                    : <?= strtoupper($row['t_namawppembeli']) ?> 
                </td>   
            </tr>
            <tr>
                <td>
                    2. NPWP
                </td>
                <td>
                    : <?= $row['t_npwpwppembeli'] ?>
                </td>
            </tr>
            <tr>
                <td>
                    3. Alamat Wajib Pajak
                </td>
                <td class="border_bawah">
                    : <?= strtoupper($row["t_alamatwppembeli"]) ?>
                </td>
            </tr>
            <tr>
                <td class="border_bawah">
                    4. Kelurahan/Desa
                </td>
                <td>
                    : <?= strtoupper($row["t_kelurahanwppembeli"]) ?>
                </td>
            </tr>
            <tr>
                <td class="border_bawah">
                    5. Kecamatan
                </td>
                <td>
                    : <?= strtoupper($row["t_kecamatanwppembeli"]) ?>
                </td>
            </tr>
            <tr>
                <td class="border_bawah">
                    6. Kabupaten/Kota
                </td>
                <td>
                    : <?= strtoupper($row["t_kabkotawppembeli"]) ?>
                </td>
            </tr>
            <tr>
                <td class="border_bawah">
                    7. Kode Pos
                </td>
                <td>
                    : <?= $row["t_kodeposwppembeli"] ?>
                </td>
            </tr>
            <tr>
                <td class="border_bawah">
                    8. Masa Tahun Pajak
                </td>
                <td>
                    : <?= $row["t_thnsppt"] ?>
                </td>
            </tr>
        </table>
        <br><br>
        <div class="tengah">
            <?php
            //if($row['t_persyaratan'] != $row['t_verifikasispt']){
                ?>
            
            <!--<div class="radio_render">-->
                <?php
                /*foreach ($testarray as $hasil) {
                    foreach ($hasil as $we) {
                        $result_array = Zend\Json\Json::decode($row['t_verifikasispt']);
                        if (in_array($we->s_idpersyaratan, $result_array)) {
                            
                        } else {
                            echo '-' . $we->s_namapersyaratan .'<br>';
                        }
                    }
                }*/
                ?>
            <!--</div>-->
            <?php
            //}else{
            ?>
            Telah menerima berkas permohonan BPHTB dan dinyatakan <b>LENGKAP</b>            
            <?php
            //}
            ?>
        </div> 
        <br>
        <div class="tengah">
            <table align="right">
                <thead>
                    <tr>
                        <th width="100px" align="left"><?= $data_pemda->s_namaibukotakabkot ?>, <?php echo date('d-m-Y', strtotime($_GET['tgl_cetak'])) ?></th>
                    </tr>
                    <tr>
                        <th align="center">Penerima</th>
                    </tr>
                    <tr>
                        <th align="left">&nbsp;</th>
                    </tr>
                    <tr>
                        <th align="left">&nbsp;</th>
                    </tr>
                    <tr>
                        <th align="left">&nbsp;</th>
                    </tr>
                    <tr>
                        <th align="center">( ....................................... )</th>
                    </tr>
                </thead>
            </table>
        </div> 
    </div>
    <?php
}
?>
