<?php

ini_set("max_execution_time", 500);
include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
$mpdf = new mPDF('utf-8', 'Letter', 0, '', 15, 15, 10, 1, 1, 1, '');


//include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/barcodecoy/qrlib.php');

$linklokal = $_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . "/";
foreach ($this->data_sspd as $data_sspd) {

$html = '';
$html .= '
<html>
    <head>
        <style type="text/css">            
           
            .border_atas {
                    border-top: 1px solid black;
                    border-collapse: collapse;
            }

            .border_kiri {
                    border-left: 1px solid black;
                    border-collapse: collapse;
            }

            .border_kanan {
                    border-right: 1px solid black;
                    border-collapse: collapse;
            }

            .border_bawah {
                    border-bottom: 1px solid black;
                    border-collapse: collapse;
            }

            .font_lima {
                    font-size: 5pt;
            }

            .font_tujuh {
                    font-size: 7pt;
            }  

            .font_delapan {
                    font-size: 9pt;
            }    

            .font_sembilan {
                    font-size: 9pt;
            }    

            .font_sepuluh {
                    font-size: 10pt;
            }

            .font_duabelas {
                    font-size: 12pt;
            }

            .divTableRow {
                            display: table-row;
            }
            .divTableCell, .divTableHead {
                            border: 1px solid #000;
                            display: table-cell;
                            padding: 3px 10px;
            }

        </style>
    </head>
    <body>';
     
    $html .= '
        <table style="width: 100%; border-spacing: 0px;">
            <tr>
                <td class="border_atas border_bawah border_kiri">
                   <center> <img src="' . $linklokal . "/" . $data_pemda->s_logo . '" style="width:60px; height: 70px; padding: 10px"  /></center>
                </td>
                <td class="border_atas border_bawah border_kanan">
                    PEMERINTAH ' . strtoupper($data_pemda->s_namakabkot) . '
                    <br>
                    <b style="font-size:16px;">'.strtoupper($data_pemda->s_namainstansi).'</b>
                    <br>
                    '.$data_pemda->s_alamatinstansi.' Telp/Fax '.$data_pemda->s_notelinstansi.', '.$data_pemda->s_namaibukotakabkota.'
                </td>    
            </tr>

            
            <tr>
                <td colspan="2" class="border_atas border_bawah border_kanan border_kiri">
                <br>
                    <table style="width: 100%; border-spacing: 0px;">
                       
                        <tr>
                            <td style="padding:0; border-spacing:0px; padding-left: 15px; width: 150px; vertical-align: top;">
                                NOP
                            </td>
                            <td style="width: 10px; vertical-align: top;"> : </td>
                            <td style="padding:0;border-spacing:0px;">
                               <b> '.$data_sspd['t_nopbphtbsppt'].'</b>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0; border-spacing:0px; padding-left: 15px; width: 150px; vertical-align: top;">
                                NTPD
                            </td>
                            <td style="width: 10px; vertical-align: top;"> : </td>
                            <td style="padding:0;border-spacing:0px;">
                               <b> '.$data_sspd['ntpd'].'</b>
                            </td>
                        </tr>
                           <tr>
                            <td style="padding:0; border-spacing:0px; padding-left: 15px; width: 150px; vertical-align: top;">
                                Nama WP
                            </td>
                            <td style="width: 10px; vertical-align: top;"> : </td>
                            <td style="padding:0;border-spacing:0px;">
                                '.$data_sspd['t_namawppembeli'].'
                            </td>
                        </tr>
                         </tr>
                           <tr>
                            <td style="padding:0; border-spacing:0px; padding-left: 15px; width: 150px; vertical-align: top;">
                               Tgl. Validasi
                            </td>
                            <td style="width: 10px; vertical-align: top;"> : </td>
                            <td style="padding:0;border-spacing:0px;">
                                '.date('d-m-Y',strtotime($data_sspd['t_tglverifikasispt'])).'
                            </td>
                        </tr>
                       
                    </table>
                </td>
            </tr>
           
        </table>';
if ($data_sspd['t_idsptsebelumnya'] != null){
  $html .= '
      <table style="width: 100%; border-spacing: 0px;">


          <tr>
              <td colspan="2" class="border_bawah border_kanan border_kiri">
              <br>
                  <table style="width: 100%; border-spacing: 0px;">
                      <tr>
                          <td style="padding:0; border-spacing:0px; padding-left: 15px; width: 150px; vertical-align: top;">
                              KETERANGAN
                          </td>
                          <td style="width: 10px; vertical-align: top;"> : </td>
                          <td style="padding:0;border-spacing:0px;">
                              Ada SKPDKB mohon cek berkasnya.
                          </td>
                      </tr>

                  </table>
              </td>
          </tr>

      </table>
  <body>
  </html>';

}
        }     
$mpdf->WriteHTML($html);
$mpdf->Output("cetakntpd-" . $data['ntpd'] . ".pdf", "I");
?>              