<style type="text/css">

    .border_putus {
        border-top: 1px black dashed;
    }

    .border_atas {
        border-top: 1px black solid;
    }

    .border_kiri {
        border-left: 1px black solid;
    }

    .border_kanan {
        border-right: 1px black solid;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }

    .font_besar {
        font-size: 12pt;
    }

    .font_kecil {
        font-size: 10pt;
    }

    .font_lima {
        font-size: 7pt;
    }

    .font_tujuh {
        font-size: 7pt;
    }  

    .font_delapan {
        font-size: 8pt;
    }    

    .font_sembilan {
        font-size: 9pt;
    }    


    @page {
        margin-top: 1.5em;  
        margin-left: 3.8em;          
    }
</style>
<?php
ini_set("max_execution_time", 500);
if (!function_exists('kekata')) {

    function kekata($x) {
        $x = abs($x);
        $angka = array("", "Satu", "Dua", "Tiga", "Empat", "Lima",
            "Enam", "Tujuh", "Delapan", "Sembilan", "Sepuluh", "Sebelas");
        $temp = "";
        if ($x < 12) {
            $temp = " " . $angka[$x];
        } else if ($x < 20) {
            $temp = kekata($x - 10) . " Belas";
        } else if ($x < 100) {
            $temp = kekata($x / 10) . " Puluh" . kekata($x % 10);
        } else if ($x < 200) {
            $temp = " Seratus" . kekata($x - 100);
        } else if ($x < 1000) {
            $temp = kekata($x / 100) . " Ratus" . kekata($x % 100);
        } else if ($x < 2000) {
            $temp = " Seribu" . kekata($x - 1000);
        } else if ($x < 1000000) {
            $temp = kekata($x / 1000) . " Ribu" . kekata($x % 1000);
        } else if ($x < 1000000000) {
            $temp = kekata($x / 1000000) . " Juta" . kekata($x % 1000000);
        } else if ($x < 1000000000000) {
            $temp = kekata($x / 1000000000) . " Milyar" . kekata(fmod($x, 1000000000));
        } else if ($x < 1000000000000000) {
            $temp = kekata($x / 1000000000000) . " Trilyun" . kekata(fmod($x, 1000000000000));
        }
        return $temp;
    }

}

function terbilang($x, $style = 4) {
    if ($x < 0) {
        $hasil = "MINUS " . trim(kekata($x));
    } else {
        $hasil = trim(kekata($x));
    }
    switch ($style) {
        case 1:
            $hasil = strtoupper($hasil);
            break;
        case 2:
            $hasil = strtolower($hasil);
            break;
        case 3:
            $hasil = ucwords($hasil);
            break;
        default:
            $hasil = ucfirst($hasil);
            break;
    }
    return $hasil;
}

foreach ($this->data_sspd as $row) {
    for ($lmbr = 1; $lmbr <= 6; $lmbr++) {
        $data_pemda = $this->data_pemda;
        ?>
        <div style="page-break-after: always;width: 100%;">
            <table width="100%" class="border_atas border_bawah border_kanan border_kiri font_kecil" style="padding:0;border-spacing:0px;">
                <tr>
                    <td class="border_kanan border_bawah">
                        <table align="center">
                            <tr>
                                <td align="center">
                                    <?php $gambar = "http://" . $_SERVER['HTTP_HOST'] . "/" . $this->basePath() . "/" . $data_pemda->s_logo; ?>
                                    <img src="<?= $gambar ?>" style="width:70px;" />
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td colspan="2" class="border_kanan border_bawah">
                        <table width="100%" style="padding:0;border-spacing:0px;">
                            <tr>
                                <td align="center" class="border_bawah font_kecil">
                                    SURAT SETORAN PAJAK DAERAH
                                    <br/>
                                    BEA PEROLEHAN HAK ATAS TANAH DAN BANGUNAN
                                    <br/>
                                    <strong>( SSPD-BPHTB )</strong>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" class="font_sembilan">
                                    BERFUNGSI SEBAGAI SURAT PEMBERITAHUAN OBJEK PAJAK
                                    <br/>
                                    PAJAK BUMI DAN BANGUNAN (SPOP PBB)
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="border_bawah">
                        <table width="100%" style="border-spacing: 0; padding: 0; margin: 0;">
                            <tr>
                                <td class="font_sembilan">
                            <center>Lembar <?= $lmbr ?>
                                <br>
                                <?php if ($lmbr == 1) { ?>
                                    Untuk Wajib Pajak
                                <?php } elseif ($lmbr == 2) { ?>
                                    Untuk PPAT/Notaris<br>sebagai arsip
                                <?php } elseif ($lmbr == 3) { ?>
                                    Untuk Kepala Kantor<br>Bidang Pertanahan
                                <?php } elseif ($lmbr == 4) { ?>
                                    Untuk DPPKAD<br> dalam proses penelitian
                                <?php } elseif ($lmbr == 5) { ?>
                                    Untuk Bank Yang Ditunjuk<br>Bendahara Penerimaan
                                <?php } elseif ($lmbr == 6) { ?>
                                    Untuk Bank yang<br>ditunjuk/Bendahara
                                <?php } ?>
                            </center>
                            <br><br>No. Reg : <?= $row['t_kodebayarbanksppt'] ?>
                            </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="border_bawah font_delapan" style="padding: 10px 0px 10px 0px;">
                        <table width="100%"  style="border-spacing: 0px;">
                            <tr>
                                <td align="center" style="width: 5%; padding:0;">
                                    A.
                                </td>
                                <td>
                                    <table width="95%" style="border-spacing: 0px;">
                                        <tr>
                                            <td style="width: 20%">
                                                1. Nama Wajib Pajak :
                                            </td>
                                            <td>
                                                <?= strtoupper($row['t_namawppembeli']) ?> 
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <table width="95%" style="border-spacing: 0px;">
                                        <tr>
                                            <td style="width: 20%">
                                                2. NPWP :
                                            </td>
                                            <td colspan="30">
                                                <?= $row['t_npwpwppembeli'] ?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="border_bawah">
                                                3. Alamat Wajib Pajak : 
                                            </td>
                                            <td colspan="20" class="border_bawah">
                                                <?= strtoupper($row["t_alamatwppembeli"]) ?>
                                            </td>
                                            <td colspan="10" class="border_bawah">
                                                Blok/Kav/Nomor :
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="border_bawah">
                                                4. Kelurahan/Desa :
                                            </td>
                                            <td colspan="10" class="border_bawah">
                                                <?= strtoupper($row["t_kelurahanwppembeli"]) ?>
                                            </td>
                                            <td colspan="10" class="border_bawah">
                                                5. RT/RW :
                                                <?= strtoupper($row["t_rtwppembeli"]) ?> / <?= strtoupper($row["t_rwwppembeli"]) ?>
                                            </td>
                                            <td colspan="10" class="border_bawah">
                                                6. Kecamatan : <?= strtoupper($row["t_kecamatanwppembeli"]) ?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="border_bawah">
                                                7. Kabupaten/Kota :
                                            </td>
                                            <td colspan="20" class="border_bawah">
                                                <?= strtoupper($row["t_kabkotawppembeli"]) ?>
                                            </td>
                                            <td colspan="10" class="border_bawah">
                                                8. Kode Pos : <?= $row["t_kodeposwppembeli"] ?>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="border_bawah font_delapan" style="padding: 10px 0px 10px 0px;">
                        <table width="100%"  style="border-spacing: 0px;">
                            <tr>
                                <td align="center" style="width: 5%; padding-top: -47px;">
                                    B.
                                </td>
                                <td>
                                    <table width="95%" style="border-spacing: 0px;">
                                        <tr>
                                            <td style="width: 30%">
                                                1. Nomor Objek Pajak (NOP) PBB :
                                            </td>
                                            <?php for ($i = 0; $i <= 1; $i++) { ?>
                                                <td style="height: 8px; text-align: center;" class="border_atas border_bawah border_kiri">
                                                    <?= $row['t_nopbphtbsppt'][$i] ?>
                                                </td>
                                            <? } ?>
                                            <td class="border_kiri">
                                            </td>
                                            <?php for ($i = 3; $i <= 4; $i++) { ?>
                                                <td style="text-align: center;" class="border_atas border_bawah border_kiri">
                                                    <?= $row['t_nopbphtbsppt'][$i] ?>
                                                </td>
                                            <? } ?>
                                            <td class="border_kiri">
                                            </td>
                                            <?php for ($i = 6; $i <= 8; $i++) { ?>
                                                <td style="text-align: center;" class="border_atas border_bawah border_kiri">
                                                    <?= $row['t_nopbphtbsppt'][$i] ?>
                                                </td>
                                            <? } ?>
                                            <td class="border_kiri">
                                            </td>
                                            <?php for ($i = 10; $i <= 12; $i++) { ?>
                                                <td style="text-align: center;" class="border_atas border_bawah border_kiri">
                                                    <?= $row['t_nopbphtbsppt'][$i] ?>
                                                </td>
                                            <? } ?>
                                            <td class="border_kiri">
                                            </td>
                                            <?php for ($i = 14; $i <= 16; $i++) { ?>
                                                <td style="text-align: center;" class="border_atas border_bawah border_kiri">
                                                    <?= $row['t_nopbphtbsppt'][$i] ?>
                                                </td>
                                            <? } ?>
                                            <td class="border_kiri">
                                            </td>
                                            <?php for ($i = 18; $i <= 21; $i++) { ?>
                                                <td style="text-align: center;" class="border_atas border_bawah border_kiri">
                                                    <?= $row['t_nopbphtbsppt'][$i] ?>
                                                </td>
                                            <? } ?>
                                            <td class="border_kiri">
                                            </td>
                                            <td class="border_atas border_bawah border_kiri border_kanan" style="text-align: center;">
                                                <?= $row['t_nopbphtbsppt'][23] ?>
                                            </td>
                                            <td colspan="5">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="border_bawah">
                                                2. Letak tanah dan atau bangunan :
                                            </td>
                                            <td colspan="13" class="border_bawah">
                                                <?= strtoupper($row["t_alamatop"]) ?>
                                            </td>
                                            <!--<td colspan="15" class="border_bawah">
                                                Blok/Kav/Nomor : 
                                            </td>-->
                                        </tr>
                                        <tr>
                                            <td colspan="14" class="border_bawah">
                                                3. Kelurahan/Desa : <?= $row["t_kelurahanop"] ?>
                                            </td>
                                            <td colspan="16" class="border_bawah">
                                                4. RT/RW :
                                                <?= strtoupper($row["t_rtop"]) ?> / <?= strtoupper($row["t_rwop"]) ?>
                                            </td>
                                            <!--<td colspan="15" class="border_bawah">
                                                5. Kecamatan : <?= $row["t_kecamatanop"] ?>
                                            </td>-->
                                        </tr>
                                        <tr>
                                            <td colspan="14" class="border_bawah">
                                                <!--6. Kabupaten/Kota : <?= $data_pemda->s_namakabkot ?>-->
                                                5. Kecamatan : <?= $row["t_kecamatanop"] ?>
                                            </td>
                                            <td colspan="16" class="border_bawah">
                                                <!--Kode Pos : <?= $data_pemda->s_kodepos ?>-->
                                                6. Kabupaten/Kota : <?= $data_pemda->s_namakabkot ?>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td class="font_delapan">
                                    Penghitungan NJOP PBB
                                </td>
                            </tr>
                            <tr>
                                <td> 
                                </td>
                                <td class="font_delapan">
                                    <table width="95%" style="border-spacing: 0px;">
                                        <tr>
                                            <td class="border_atas border_bawah border_kiri border_kanan" style="text-align: center;">
                                                Uraian
                                            </td>
                                            <td colspan="2" class="border_atas border_bawah border_kanan" style="text-align: center;">
                                                <p style="size: 2px; margin: 0;"><b>Luas</b><br><span style="font-size:8px;">(Diisi luas tanah dan atau bangunan yang haknya diperoleh)</span></p>
                                            </td>
                                            <td colspan="2" class="border_atas border_bawah border_kanan" style="text-align: center;">
                                                <p style="size: 2px; margin: 0;"><b>NJOP PBB / m <sup>2</sup></b><br><span style="font-size:8px;">(Diisi berdasarkan SPPT PBB tahun terjadinya perolehan hak/Tahun......)</span></p>
                                            </td>
                                            <td colspan="2" class="border_atas border_bawah border_kanan" style="text-align: center;">
                                                Luas x NJOP PBB / m<sup>2</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="border_bawah border_kiri border_kanan">
                                                Tanah (Bumi)
                                            </td>
                                            <td class="border_bawah border_kanan" style="width: 10px; text-align: center;">
                                                7
                                            </td>
                                            <td class="border_bawah border_kanan" style="text-align: right">
                                                <?php
                                                if (!empty($row['p_luastanah'])) {
                                                    $luastanah = $row['p_luastanah'];
                                                } else {
                                                    $luastanah = $row["t_luastanah"];
                                                }
                                                ?>
                                                <?= number_format($luastanah, 0, ',', '.') ?> m<sup>2</sup>
                                            </td>
                                            <td class="border_bawah border_kanan" style="width: 3px; text-align: center;">
                                                9
                                            </td>
                                            <td class="border_bawah border_kanan" style="text-align: right">
                                                <?php
                                                if (!empty($row['p_njoptanah'])) {
                                                    $njoptanah = $row['p_njoptanah'];
                                                } else {
                                                    $njoptanah = $row["t_njoptanah"];
                                                }
                                                ?>
                                                <?= number_format($njoptanah, 0, ',', '.') ?>
                                            </td>
                                            <td class="border_bawah border_kanan" style="width: 10px; text-align: center;">
                                                11
                                            </td>
                                            <td class="border_bawah border_kanan" style="text-align: right">
                                                <?php
                                                if (!empty($row['p_totalnjoptanah'])) {
                                                    $totalnjoptanah = $row['p_totalnjoptanah'];
                                                } else {
                                                    $totalnjoptanah = $row["t_totalnjoptanah"];
                                                }
                                                ?>
                                                <?= number_format($totalnjoptanah, 2, ',', '.') ?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="border_bawah border_kiri border_kanan">
                                                Bangunan
                                            </td>
                                            <td class="border_bawah border_kanan" style="text-align: center;">
                                                8
                                            </td>
                                            <td class="border_bawah border_kanan" style="text-align: right">
                                                <?php
                                                if (!empty($row['p_luasbangunan'])) {
                                                    $luasbangunan = $row['p_luasbangunan'];
                                                } else {
                                                    $luasbangunan = $row["t_luasbangunan"];
                                                }
                                                ?>
                                                <?= number_format($luasbangunan, 0, ',', '.') ?> m<sup>2</sup>
                                            </td>
                                            <td class="border_bawah border_kanan"  style="text-align: center;">
                                                10
                                            </td>
                                            <td class="border_bawah border_kanan" style="text-align: right">
                                                <?php
                                                if (!empty($row['p_njopbangunan'])) {
                                                    $njopbangunan = $row['p_njopbangunan'];
                                                } else {
                                                    $njopbangunan = $row["t_njopbangunan"];
                                                }
                                                ?>
                                                <?= number_format($njopbangunan, 0, ',', '.') ?>
                                            </td>
                                            <td class="border_bawah border_kanan"  style="text-align: center;">
                                                12
                                            </td>
                                            <td class="border_bawah border_kanan" style="text-align: right">
                                                <?php
                                                if (!empty($row['p_totalnjopbangunan'])) {
                                                    $totalnjopbangunan = $row['p_totalnjopbangunan'];
                                                } else {
                                                    $totalnjopbangunan = $row["t_totalnjopbangunan"];
                                                }
                                                ?>
                                                <?= number_format($totalnjopbangunan, 2, ',', '.') ?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" class="border_kanan" align="right">
                                                NJOP PBB : &nbsp; &nbsp; &nbsp;
                                            </td>
                                            <td class="border_bawah border_kanan" style="text-align: center;">
                                                13
                                            </td>
                                            <td class="border_bawah border_kanan" style="text-align: right">
                                                <?php
                                                if (!empty($row['p_grandtotalnjop'])) {
                                                    $grandnjop = $row['p_grandtotalnjop'];
                                                } else {
                                                    $grandnjop = $row["t_grandtotalnjop"];
                                                }
                                                ?>
                                                <?= number_format($grandnjop, 2, ',', '.') ?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" >
                                               &nbsp;&nbsp;
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td colspan="3" align="left">
                                                15. Jenis perolehan hak atas tanah dan/atau bangunan :
                                                <table align="right" style="margin-top:-20px;">
                                                    <tr>
                                                        <?php
                                                        if ($row["t_idjenistransaksi"] >= 1 && $row["t_idjenistransaksi"] <= 9) {
                                                            $transaksi = "0" . $row["t_idjenistransaksi"];
                                                        } else {
                                                            $transaksi = $row["t_idjenistransaksi"];
                                                        }
                                                        ?>
                                                        <td style="width: 20px; text-align: center;" class="border_atas border_bawah border_kanan border_kiri">
                                                                 <?= $transaksi[0] ?>
                                                        </td>

                                                        <td style="width: 20px; text-align: center;" class="border_atas border_bawah border_kanan border_kiri">
                                                            <?= $transaksi[1] ?>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="2" align="left">
                                                &nbsp; &nbsp;14. Harga transaksi / Nilai pasar : 
                                            </td>
                                            <td class="border_kiri border_bawah border_atas" align="left"> Rp.</td>
                                           
                                            <td class="border_bawah border_kanan border_atas " align="right">
                                                <?php
                                                if (!empty($row['p_nilaitransaksispt'])) {
                                                    $nilaitransaksispt = $row['p_nilaitransaksispt'];
                                                } else {
                                                    $nilaitransaksispt = $row["t_nilaitransaksispt"];
                                                }
                                                ?>
                                                <?= number_format($nilaitransaksispt, 2, ',', '.') ?>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td class="font_delapan">
                                    <!--<table width="95%" style="border-spacing: 0px;">
                                        <tr>
                                            <td style="text-align: left;" width="250px">
                                                15. Jenis perolehan hak atas tanah dan/atau bangunan :
                                                
                                            </td>
                                            <?php
                                            if ($row["t_idjenistransaksi"] >= 1 && $row["t_idjenistransaksi"] <= 9) {
                                                $transaksi = "0" . $row["t_idjenistransaksi"];
                                            } else {
                                                $transaksi = $row["t_idjenistransaksi"];
                                            }
                                            ?>
                                            <td style="width: 20px; text-align: center;" class="border_atas border_bawah border_kanan border_kiri">
                                                     <?= $transaksi[0] ?>
                                            </td>
                                            
                                            <td style="width: 20px; text-align: center;" class="border_atas border_bawah border_kanan">
                                                <?= $transaksi[1] ?>
                                            </td>
                                            <td width="20px">
                                                
                                            </td>
                                            <td style="text-align: left;" width="153px">
                                                14. Harga transaksi / Nilai pasar  :
                                            </td>
                                            <td width="3px" align="left">
                                                
                                            </td>
                                            <td width="20px" align="left" class="border_atas border_bawah border_kiri">
                                                Rp. 
                                            </td>
                                            <td class="border_atas border_bawah border_kanan" style="text-align: right;" width="145px">
                                                <?php
                                                if (!empty($row['p_nilaitransaksispt'])) {
                                                    $nilaitransaksispt = $row['p_nilaitransaksispt'];
                                                } else {
                                                    $nilaitransaksispt = $row["t_nilaitransaksispt"];
                                                }
                                                ?>
                                                Rp. <?= number_format($nilaitransaksispt, 2, ',', '.') ?>
                                            </td>
                                        </tr>
                                        
                                    </table>-->
                                    <!--<table width="100%" style="border-spacing: 0px;">
                                        <tr>
                                            <td style="width: 200px">
                                                15. Jenis perolehan hak atas tanah dan/atau bangunan :
                                            </td>
                                            <?php
                                            if ($row["t_idjenistransaksi"] >= 1 && $row["t_idjenistransaksi"] <= 9) {
                                                $transaksi = "0" . $row["t_idjenistransaksi"];
                                            } else {
                                                $transaksi = $row["t_idjenistransaksi"];
                                            }
                                            ?>
                                            <td style="width: 2%; text-align: center;" class="border_atas border_bawah border_kanan border_kiri">
                                                <?= $transaksi[0] ?>
                                            </td>
                                            <td style="width: 2%; text-align: center;" class="border_atas border_bawah border_kanan">
                                                <?= $transaksi[1] ?>
                                            </td>
                                            <td>
                                                14. Harga transaksi / Nilai pasar
                                            </td>
                                            <td class="border_atas border_bawah border_kanan border_kiri">
                                                <?php
                                                if (!empty($row['p_nilaitransaksispt'])) {
                                                    $nilaitransaksispt = $row['p_nilaitransaksispt'];
                                                } else {
                                                    $nilaitransaksispt = $row["t_nilaitransaksispt"];
                                                }
                                                ?>
                                                Rp. <?= number_format($nilaitransaksispt, 2, ',', '.') ?>
                                            </td>
                                        </tr>
                                    </table>-->
                                    <!--<table width="100%" style="border-spacing: 0px;">
                                        <tr>
                                            <td style="width: 71%">
                                                15. Jenis perolehan hak atas tanah dan/atau bangunan :
                                            </td>
                                            <?php
                                            if ($row["t_idjenistransaksi"] >= 1 && $row["t_idjenistransaksi"] <= 9) {
                                                $transaksi = "0" . $row["t_idjenistransaksi"];
                                            } else {
                                                $transaksi = $row["t_idjenistransaksi"];
                                            }
                                            ?>
                                            <td style="width: 2%; text-align: center;" class="border_atas border_bawah border_kanan border_kiri">
                                                <?= $transaksi[0] ?>
                                            </td>
                                            <td style="width: 2%; text-align: center;" class="border_atas border_bawah border_kanan">
                                                <?= $transaksi[1] ?>
                                            </td>
                                            <td>Diisi sesuai petunjuk pengisian SSB</td>
                                        </tr>
                                    </table>-->
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td class="font_delapan">
                                    16. Nomor Sertifikat Tanah : <?= $row["t_nosertifikathaktanah"] ?>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="font_delapan border_bawah">
                        <table width="100%" style="border-spacing: 0">
                            <tr>
                                <td class="border_bawah" colspan="5">
                                    &nbsp;&nbsp;C. PENGHITUNGAN BPHTB (Hanya diisi berdasarkan penghitungan Wajib Pajak)
                                    <?php
                                    // Untuk Perhitungan NPOP
                                    if ($nilaitransaksispt >= $grandnjop) {
                                        $npop = $nilaitransaksispt;
                                    } else {
                                        $npop = $grandnjop;
                                    }

                                    // Untuk Potongan (NPOPTKP)
                                    $potonganspt = $row["t_potonganspt"];

                                    // Untuk Perhitungan NPOPKP
                                    if ($npop < $row["t_potonganspt"]) {
                                        $npopkp = 0;
                                    } else {
                                        $npopkp = $npop - $row["t_potonganspt"];
                                    }

                                    // Untuk Perhitungan Pajak BPHTB
                                    if ($npopkp == 0) {
                                        $totalpajak = 0;
                                    } else {
                                        $totalpajak = $npopkp * 5 / 100;
                                    }

                                    // Untuk Nilai Pembayaran Yang Pernah Dibayarkan
                                    if (!empty($dataidsptsebelum['t_idsptsebelumnya'])) {
                                        $nilaipembayaranspt = $ar_sebelum['t_nilaipembayaranspt'] + $row['t_nilaipembayaranspt'];
                                    } else {
                                        $nilaipembayaranspt = $row['t_nilaipembayaranspt'];
                                    }

                                    // Untuk Total Yang Masih Harus Dibayarkan 
                                    $harus_dibayar = $totalpajak - $nilaipembayaranspt;
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                
                                <td colspan="2" class=" border_bawah">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Nilai Perolehan Objek Pajak (NPOP) <span style="font-size:10px"><i>memperhatikan nilai pada B.13 dan B.14 </i></span>
                                </td>
                                <td class="border_kanan border_kiri border_bawah" style="width: 20px; text-align: center;">
                                    1
                                </td>
                                <td class=" border_bawah" style="width: 10px;">
                                    Rp.
                                </td>
                                <td class=" border_bawah" style="text-align: right;">
                                    <?= number_format($npop, 2, ',', '.'); ?>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class=" border_bawah">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Nilai Perolehan Objek Pajak Tidak Kena Pajak (NPOPTKP)
                                </td>
                                <td class="border_kanan border_kiri border_bawah" style="text-align: center;">
                                    2
                                </td>
                                <td class=" border_bawah">
                                    Rp.
                                </td>
                                <td class=" border_bawah" style="text-align: right;">
                                    <?= number_format($potonganspt, 2, ',', '.') ?>
                                </td>
                            </tr>
                            <tr>
                                <td class=" border_bawah" style="width: 450px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Nilai Perolehan Objek Pajak Kena Pajak (NPOPKP)
                                </td>
                                <td class="border_kiri border_bawah" style="width: 80px; text-align: center;">
                                    angka 1-angka 2
                                </td>
                                <td class="border_kanan border_kiri border_bawah" style="text-align: center;">
                                    3
                                </td>
                                <td class=" border_bawah">
                                    Rp. 
                                </td>
                                <td class=" border_bawah" style="text-align: right;">
                                    <?= number_format($npopkp, 2, ',', '.') ?>
                                </td>
                            </tr>
                            <tr>
                                <td class=" border_bawah">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. Bea Perolehan Hak atas Tanah dan Bangunan yang terutang
                                </td>
                                <td class="border_kiri border_bawah" style="width: 80px; text-align: center;">
                                    5% x angka 3
                                </td>
                                <td class="border_kanan border_kiri border_bawah" style="text-align: center;">
                                    4
                                </td>
                                <td class=" border_bawah">
                                    Rp.
                                </td>
                                <td class=" border_bawah" style="text-align: right;">
                                    <?= number_format($totalpajak, 2, ',', '.') ?>
                                </td>
                            </tr>
                            <!--<tr>
                                <td colspan="2" class=" border_bawah">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bea Perolehan Hak atas Tanah dan Bangunan yang harus dibayar
                                </td>
                                <td class="border_kanan border_kiri border_bawah" style="text-align: center;">
                                    5
                                </td>
                                <td class=" border_bawah">
                                    Rp. 
                                </td>
                                <td class=" border_bawah" style="text-align: right;">
                                    <?= number_format($harus_dibayar, 2, ',', '.') ?>
                                </td>
                            </tr>-->
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="font_delapan border_bawah">
                        <table width="100%" style="border-spacing: 5px">
                            <tr>
                                <td colspan="3">
                                    D. Jumlah Setoran berdasarkan : (Beri tanda silang "X" pda kotak yang sesuai)
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 5px; height: 5px; margin-left: 10px" class="border_atas border_bawah border_kanan border_kiri">

                                </td>
                                <td colspan="2">
                                    a. Penghitungan Wajib Pajak
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 5px; height: 5px; margin-left: 10px" class="border_atas border_bawah border_kanan border_kiri">

                                </td>
                                <td>
                                    b. SPTD BPHTB / SKPDB KURANG BAYAR / SKPDB <br> KURANG BAYAR TAMBAHAN *)
                                </td>
                                <td>
                                    <table width="100%" style="border-spacing: 0;">
                                        <tr>
                                            <td class="border_bawah" style="width: 50%;">
                                                Nomor.
                                            </td>
                                            <td class="border_bawah">
                                                Tanggal
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 5px; height: 5px; margin-left: 10px" class="border_atas border_bawah border_kanan border_kiri">

                                </td>
                                <td align="left">
                                    c. Pengurangan dihitung sendiri menjadi : 
                                    <table align="right" style="margin-top:-20px; margin-right: 50px;">
                                        <tr>
                                            <td style="width: 20px; height: 20px; text-align: center;" class="border_atas border_bawah border_kanan border_kiri">
                                                                 
                                            </td>
                                            <td style="width: 20px; height: 20px; text-align: center;" class="border_atas border_bawah border_kanan border_kiri">
                                                            
                                            </td>
                                        </tr>
                                    </table>
                                    
                                </td>
                                <td>
                                    
                                    % berdasarkan Peraturan Walikota Nomor ..................................
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 5px; height: 5px; margin-left: 10px" class="border_atas border_bawah border_kanan border_kiri">

                                </td>
                                <td colspan="2">
                                    d. ..........................
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <i>*) Coret yang tidak perlu</i>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="border_bawah border_kanan font_lima" style="border-spacing: 10px; height: 50px;">
                        
                        <table align="left">
                            <tr><td width="150" style="text-align: center;" align="center">JUMLAH YANG DISETOR (dengan angka): </td>
                                <td>
                                     &nbsp;&nbsp;&nbsp; 
                                </td>
                                <td style="text-align: left;">
                                    (dengan huruf) : 
                                    <?php
                                    
                                    /*if ($npopkp == 0) {
                                        //$totalpajak = 0;
                                        echo"Nihil";
                                    } else {
                                        $totalpajak = $npopkp * 5 / 100;
                                        echo ucwords(strtolower(terbilang($totalpajak) . " Rupiah"));
                                    }*/
                                    
                                    
                                    if ($nilaipembayaranspt == 0) {
                                        echo"Nihil";
                                    } else {
                                        
                                        ?>
                                    
                                    <?php
                                        echo ucwords(strtolower(terbilang($nilaipembayaranspt) . " Rupiah"));
                                        //ucwords(strtolower(terbilang($totalpajak) . " Rupiah"));
                                        
                                    }
                                    ?>
                                    
                                    <?php //$data_pemda->s_norekbank?>
                                </td>
                            </tr>
                            <tr>
                                
                                <td style="height: 20px; text-align: center;" class="border_atas border_bawah border_kanan border_kiri" align="center" width="120">
                                     Rp. <?php echo number_format($nilaipembayaranspt, 2, ',', '.'); //  $totalpajak?>     
                                </td>
                                <td> &nbsp;&nbsp;&nbsp;</td>
                                <td>
                                     &nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td> &nbsp;&nbsp;&nbsp;</td>
                                <td>
                                     &nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                     &nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                        </table>
                        
                    </td>
                    
                </tr>
                <tr>
                    <td class="border_kanan font_tujuh" style="text-align: center;">
                        <?= $data_pemda->s_namaibukotakabkot ?>, tgl ........................
                        <br>
                        WAJIB PAJAK / PENYETOR
                        <br><br><br><br><br><br>
                        <?= strtoupper($row['t_namawppembeli']) ?>
                    </td>
                    <td width="27%" class="border_kanan" style="text-align: center; font-size: 6pt">
                        MENGETAHUI :
                        <br>
                        PPAT/NOTARIS/KEPALA KANTOR LELANG/<br>
                        PEJABAT LELANG/KEPALA KANTOR LELANG<br>
                        PERTANAHAN KABUPATEN/KOTA *)
                        <br><br><br><br><br>
                        <?= strtoupper($row['s_namanotaris']) ?>
                    </td>
                    <td width="27%" class="border_kanan font_tujuh" style="text-align: center;">
                        DITERIMA OLEH :
                        <br>
                        TEMPAT PEMBAYARAN BPHTB
                        <br>
                        Tanggal : 
                        <b>
                            <?php
                            if ($row['t_tanggalpembayaran'] != null) {
                                echo date('d-m-Y', strtotime($row['t_tanggalpembayaran']))
                                ?>
                                <?php
                            } else {
                                echo "";
                            }
                            ?>
                        </b>
                        <br><br><br><br><br>
                        <?php
                            if($row['t_idpenerimasetoran'] == 3){
                                if($row['t_nilaipembayaranspt'] == 0){
                                    echo '';
                                }else{
                                    echo 'BANK JATENG';
                                }    
                            }else{
                                echo strtoupper($row['namapenerimasetoran']);
                            }    
                        ?>
                    </td>
                    <td width="24%" class="font_tujuh" style="text-align: center;">
                        telah diverifikasi : 
                        <b>
                            <?php
                            if ($row['t_tglverifikasispt'] != null) {
                                echo date('d-m-Y', strtotime($row['t_tglverifikasispt']))
                                ?>
                                <?php
                            } else {
                                echo "";
                            }
                            ?>
                        </b>
                        <br>
                        <?= strtoupper($data_pemda->s_namainstansi) ?>
                        <br><br><br><br><br>
                        <?php //strtoupper($row['s_namapejabat']) ?>
                        <?= strtoupper($data_mengetahui->s_namapejabat); ?>
                    </td>
                </tr>
                <tr>
                    <td class="border_bawah border_kanan border_atas font_lima" style="text-align: center; border-spacing: 10px">
                        Nama Lengkap dan tanda tangan
                    </td>
                    <td class="border_bawah border_kanan border_atas font_lima" style="text-align: center;">
                        Nama Lengkap, Stempel dan tanda tangan
                    </td>
                    <td class="border_bawah border_kanan border_atas font_lima" style="text-align: center;">
                        Nama Lengkap, Stempel dan tanda tangan
                    </td>
                    <td class="border_bawah font_lima border_atas" style="text-align: center;">
                        Nama Lengkap, Stempel dan tanda tangan
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table width="100%" style="border-spacing: 0">
                            <tr>
                                <td class="font_lima border_kanan" style="text-align: center; width: 80px;">
                                    Hanya diisi oleh <br>petugas <?= $data_pemda->s_namasingkatinstansi ?>
                                </td>
                                <td>
                                    <table width="100%" style="border-spacing: 0; margin: 10px">
                                        <tr>
                                            <td width="80">
                                                Nomor Dokumen
                                            </td>
                                            <td width="5">
                                                :
                                            </td>
                                            <td style="height: 8px; text-align: center;" class="border_atas border_bawah border_kiri" width="12">
                                                <?php
                                                $tgl = explode('-', $row['t_tglprosesspt']);
                                                $tahun = $tgl[0];
                                                $bulan = $tgl[1];
                                                $hari = $tgl[2];
                                                ?>
                                                <?= $hari[0] ?>
                                            </td>
                                            <td style="text-align: center;" class="border_atas border_bawah border_kiri border_kanan" width="12">
                                                <?= $hari[1] ?>
                                            </td>
                                            <td width="5">&nbsp;
                                            </td>
                                            <td style="text-align: center;" class="border_atas border_bawah border_kiri" width="12">
                                                <?= $bulan[0] ?>
                                            </td>
                                            <td style="text-align: center;" class="border_atas border_bawah border_kiri border_kanan" width="12">
                                                <?= $bulan[1] ?>
                                            </td>
                                            <td width="5">
                                                &nbsp;
                                            </td>
                                            <td style="text-align: center;" class="border_atas border_bawah border_kiri" width="12">
                                                <?= $tahun[0] ?>
                                            </td>
                                            <td style="text-align: center;" class="border_atas border_bawah border_kiri" width="12">
                                                <?= $tahun[1] ?>
                                            </td>
                                            <td style="text-align: center;" class="border_atas border_bawah border_kiri" width="12">
                                                <?= $tahun[2] ?>
                                            </td>
                                            <td style="text-align: center;" class="border_atas border_bawah border_kiri border_kanan" width="12"> 
                                                <?= $tahun[3] ?>
                                            </td>
                                            <td width="12">&nbsp;
                                            </td>
                                            <?php
                                            $nosspd = str_pad($row['t_kohirketetapanspt'], 7, '0', STR_PAD_LEFT);
                                            ?>
                                            <td style="text-align: center;" class="border_atas border_bawah border_kiri" width="12">
                                                <?= $nosspd[0] ?>
                                            </td>
                                            <td style="text-align: center;" class="border_atas border_bawah border_kiri" width="12">
                                                <?= $nosspd[1] ?>
                                            </td>
                                            <td style="text-align: center;" class="border_atas border_bawah border_kiri" width="12">
                                                <?= $nosspd[2] ?>
                                            </td>
                                            <td style="text-align: center;" class="border_atas border_bawah border_kiri border_kanan" width="12">
                                                <?= $nosspd[3] ?>
                                            </td>
                                            <td width="12">&nbsp;
                                            </td>
                                            <td class="border_atas border_bawah border_kiri" width="12">
                                                <?= $nosspd[4] ?>
                                            </td>
                                            <td class="border_atas border_bawah border_kiri" width="12">
                                                <?= $nosspd[5] ?>
                                            </td>
                                            <td class="border_atas border_bawah border_kiri border_kanan" width="12">
                                                <?= $nosspd[6] ?>
                                            </td>
                                            <td colspan="5">&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="22">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                NOP PBB Baru
                                            </td>
                                            <td width="5">
                                                :
                                            </td>
                                            <td style="height: 8px;" class="border_bawah border_kiri border_atas">&nbsp;
                                            </td>
                                            <td class="border_bawah border_kiri border_kanan border_atas">&nbsp;
                                            </td>
                                            <td>&nbsp;
                                            </td>
                                            <td class="border_bawah border_kiri border_atas">&nbsp;
                                            </td>
                                            <td class="border_bawah border_kiri border_kanan border_atas">&nbsp;
                                            </td>
                                            <td>&nbsp;
                                            </td>
                                            <td class="border_bawah border_kiri border_atas">&nbsp;
                                            </td>
                                            <td class="border_bawah border_kiri border_atas">&nbsp;
                                            </td>
                                            <td class="border_bawah border_kiri border_atas">&nbsp;
                                            </td>
                                            <td class="border_kanan border_kiri ">&nbsp;
                                            </td>
                                            <td class="border_bawah border_atas">&nbsp;
                                            </td>
                                            <td class="border_bawah border_kiri border_atas">&nbsp;
                                            </td>
                                            <td class="border_bawah border_kiri border_atas">&nbsp;
                                            </td>
                                            <td class="border_kiri">&nbsp;
                                            </td>
                                            <td class="border_bawah border_kiri border_kanan border_atas">&nbsp;
                                            </td>
                                            <td class="border_bawah border_atas">&nbsp;
                                            </td>
                                            <td class="border_bawah border_kiri border_atas">&nbsp;
                                            </td>
                                            <td class="border_kiri">&nbsp;
                                            </td>
                                            <td class="border_bawah border_kiri border_kanan border_atas">&nbsp;
                                            </td>
                                            <td class="border_atas border_bawah">&nbsp;
                                            </td>
                                            <td class="border_atas border_bawah border_kiri" >&nbsp;
                                            </td>
                                            <td class="border_atas border_bawah border_kiri border_kanan" >&nbsp;
                                            </td>
                                            <td>&nbsp;
                                            </td>
                                            <td class="border_atas border_bawah border_kiri border_kanan">&nbsp;
                                            </td>
                                            
                                        </tr>
                                        
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <?php
    }
}
?>
