<html>
    <head>
        <style>
            /*            @page { margin: 180px 50px; }
                        #header { position: fixed; left: 0px; top: -150px; right: 0px; height: 50px; background-color: white; text-align: center; }
                        #header img { position: absolute;
                                      float:left;
            
                        }*/
            #footer { position: fixed; left: 0px; bottom: -180px; right: 0px; height: 50px; background-color: white; }
            #footer .page:after { content: counter(page, upper-roman); }

            .border_atas {
                border-top: 1px black solid;
            }

            .border_kiri {
                border-left: 1px black solid;
            }

            .border_kanan {
                border-right: 1px black solid;
            }

            .border_bawah {
                border-bottom: 1px black solid;
            }

            .font_besar {
                font-size: 12pt;
            }

            .font_kecil {
                font-size: 10pt;
            }

            .font_lima {
                font-size: 7pt;
            }

            .font_tujuh {
                font-size: 7pt;
            }  

            .font_delapan {
                font-size: 8pt;
            }    

            .font_sembilan {
                font-size: 9pt;
            }    


            /*@page {
                margin-top: 1.5em;  
                margin-left: 3.8em;          
            }*/

        </style>
    <body>
        <div id="footer">
            <p class="page" align="right"> </p>
        </div>
        <div id="content" style="margin-top:0px">
            <table>
                <tr>
                    <td style="width: 330px">
                        <img style="float:left;" width="50" title="LOGO <?= $ar_pemda->s_namakabkot; ?>" align="left" src="http://<?= $_SERVER['HTTP_HOST']; ?>/<?= $this->basePath(); ?>/<?= $ar_pemda->s_logo ?>"/>
                    </td>
                    <td style="text-align: center">
                        <center><b>PEMERINTAH <?= strtoupper($ar_pemda->s_namakabkot); ?>, <?= strtoupper($ar_pemda->s_namaprov);?></b></center></br>
                        <center><b><?= strtoupper($ar_pemda->s_namainstansi); ?> (<?= strtoupper($ar_pemda->s_namasingkatinstansi); ?>)</b></center></br>
                        <center><b style="font-size: 12px"><?= strtoupper($ar_pemda->s_alamatinstansi); ?> Telp/Fax <?= $ar_pemda->s_notelinstansi?>, <?= $ar_pemda->s_namaibukotakabkot?> <?= $ar_pemda->s_kodepos?></b></center>
                    </td>
                </tr>
            </table>
            <table width="100%" style="border-spacing: 0" class="font_sembilan">
                <tr style="text-align: center;" class="font_delapan">
                    <td colspan="19">
                        <h2> DAFTAR DATA STATUS BERKAS </h2>
                    </td>
                </tr>
                <tr style="text-align: left;" class="font_sembilan">
                    <td colspan="19">
                        Tanggal Cetak &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <?= $tgl_cetak ?>
                    </td>
                </tr>
                <tr style="text-align: left;" class="font_sembilan">
                    <td colspan="19">
                        Tanggal Pendaftaran : <?= $tgl_verifikasi1 ?> s/d <?= $tgl_verifikasi2 ?>
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td rowspan="2" class="border_atas border_bawah border_kanan border_kiri">
                        <b>No.</b>
                    </td>

                    <td rowspan="1" colspan="4" class="border_atas border_bawah border_kanan">
                        <b>Informasi Wajib Pajak</b>
                    </td>
                    <td rowspan="1" colspan="2" class="border_atas border_bawah border_kanan">
                        <b>Syarat Pendaftaran</b>
                    </td>
                    <td rowspan="1" colspan="2" class="border_atas border_bawah border_kanan">
                        <b>Syarat Validasi</b>
                    </td>
                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        <b>Pembayaran</b>
                    </td>
                    <td rowspan="1" colspan="2" class="border_atas border_bawah border_kanan">
                        <b>Koreksi Luas BPN</b>
                    </td>
                    <td rowspan="1" colspan="2" class="border_atas border_bawah border_kanan">
                        <b>AJB
                    </td>
                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        <b> Dilaporkan Ke DISPENDA</b>
                    </td>
                    <td rowspan="1" colspan="2" class="border_atas border_bawah border_kanan">
                        <b>No Sertifikat</b>
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        <b>NIK</b>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        <b>Nama</b>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        <b>Alamat</b>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        <b>No Telp</b>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        <b>Belum Lengkap</b>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        <b>Sudah Lengkap</b>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        <b>Belum Lengkap</b>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        <b>Sudah Lengkap</b>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        <b>Luas SSPD</b>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        <b>Luas BPN</b>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        <b>No</b>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        <b>Tanggal</b>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        <b>No</b>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        <b>Tanggal</b>
                    </td>
                </tr>
                <?php
                $totalPembayaran = 0;
                $counter = 1;
                foreach ($this->data_Verifikasi as $k => $v) {
                    ?>
                    <tr style="text-align: center">
                        <td class="border_kiri border_bawah border_kanan border_atas">
                            <?= $counter ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas">
                            <?= $v['t_nikwppembeli'] ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas">
                            <?= $v['t_namawppembeli'] ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas" align="left">
                            <?= $v['t_alamatwppembeli'] ?> ,
                            Kel. <?= $v['t_kelurahanwppembeli'] ?> Kec. <?= $v['t_kecamatanwppembeli'] ?> Kab/kota <?= $v['t_kabkotawppembeli'] ?></br>
                        </td>
                        <td class="border_bawah border_kanan border_atas">
                            <?= $v['t_telponwppembeli'] ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas">
                            <?php
                            if ($v['ceksyarat'] == 1) {
                                $centang = 'V';
                                $tdk_centang = '-';
                                @$total_syarat_centang += 1;
                                @$total_syarat_tdk_centang += 0;
                            } else {
                                $centang = '-';
                                $tdk_centang = 'V';
                                @$total_syarat_centang += 0;
                                @$total_syarat_tdk_centang += 1;
                            }
                            ?>
                            <?= $tdk_centang; ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas">
                            <?= $centang; ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas">
                            <?php
                            if ($v['cekverifikasi'] == 1) {
                                $centang_verifikasi = 'V';
                                $tdk_centang_verifikasi = '-';

                                $jml_centang_verifikasi = 1;
                                $jml_tdk_centang_verifikasi = 0;

                                @$total_syarat_centang_verifikasi += $jml_centang_verifikasi;
                                @$total_syarat_tdk_centang_verifikasi += $jml_tdk_centang_verifikasi;
                            } elseif ($v['cekverifikasi'] == 2) {
                                $centang_verifikasi = '-';
                                $tdk_centang_verifikasi = 'V';

                                $jml_centang_verifikasi = 0;
                                $jml_tdk_centang_verifikasi = 1;

                                @$total_syarat_centang_verifikasi += $jml_centang_verifikasi;
                                @$total_syarat_tdk_centang_verifikasi += $jml_tdk_centang_verifikasi;
                            } elseif ($v['cekverifikasi'] == 3) {
                                $centang_verifikasi = '-';
                                $tdk_centang_verifikasi = '-';
                            }
                            ?>
                            <?= $tdk_centang_verifikasi; ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas">
                            <?= $centang_verifikasi; ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas">
                            <?php
                            if (!empty($v['t_tanggalpembayaran'])) {
                                $centang_pembayaran = 'v';

                                $jml_pembayaran = 1;

                                @$total_jml_pembayaran += $jml_pembayaran;
                            } else {
                                $centang_pembayaran = '-';

                                @$total_jml_pembayaran += 0;
                            }
                            ?>
                            <?= $centang_pembayaran; ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas" align="left">
                            <?php
                            if (!empty($v['t_luastanah'])) {
                                $luastanah = $v['t_luastanah'];
                            } else {
                                $luastanah = '-';
                            }

                            if (!empty($v['t_luasbangunan'])) {
                                $luasbangunan = $v['t_luasbangunan'];
                            } else {
                                $luasbangunan = '-';
                            }
                            ?>
                            Tanah : <?= $luastanah; ?><br>
                            Bangunan : <?= $luasbangunan; ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas" align="left">
                            <?php
                            if (!empty($v['t_luastanahbpn'])) {
                                $luastanahbpn = $v['t_luastanahbpn'];

                                @$total_jml_luas_bpn += 1;
                            } else {
                                $luastanahbpn = '-';

                                @$total_jml_luas_bpn += 0;
                            }

                            if (!empty($v['t_luasbangunanbpn'])) {
                                $luasbangunanbpn = $v['t_luasbangunanbpn'];
                            } else {
                                $luasbangunanbpn = '-';
                            }
                            ?>
                            Tanah : <?= $luastanahbpn; ?><br>
                            Bangunan : <?= $luasbangunanbpn; ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas">
                            <?php
                            if (!empty($v['t_noajbbaru'])) {
                                $noajb = $v['t_noajbbaru'];

                                @$total_jml_ajb += 1;
                            } else {
                                $noajb = '-';

                                @$total_jml_ajb += 0;
                            }
                            ?>
                            <?= $noajb; ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas">
                            <?php
                            if (!empty($v['t_tglajbbaru'])) {
                                $tglajb = $v['t_tglajbbaru'];
                            } else {
                                $tglajb = '-';
                            }
                            ?>
                            <?= $tglajb; ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas">
                            <?php
                            if (!empty($v['t_statuspelaporannotaris'])) {
                                $tgllapor = date('d/m/Y', strtotime($v['t_tglpelaporannotaris']));
                                @$total_jml_lapor += 1;
                            } else {
                                $tgllapor = '-';
                                @$total_jml_lapor += 0;
                            }
                            ?>
                            <?= $tgllapor; ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas">
                            <?php
                            if (!empty($v['t_nosertifikatbaru'])) {
                                $t_nosertifikatbaru = $v['t_nosertifikatbaru'];
                            } else {
                                $t_nosertifikatbaru = '-';
                            }
                            ?>
                            <?= $t_nosertifikatbaru; ?>
                        </td>
                        <td class="border_bawah border_kanan border_atas">
                            <?php
                            if (!empty($v['t_tglsertifikatbaru'])) {
                                $tglsertifikatbaru = date('d/m/Y', strtotime($v['t_tglsertifikatbaru']));
                                @$total_jml_sertifikatbaru += 1;
                            } else {
                                $tglsertifikatbaru = '-';
                                @$total_jml_sertifikatbaru += 0;
                            }
                            ?>
                            <?= $tglsertifikatbaru; ?>
                        </td>

                        <?php
                        $counter++;
                    }
                    ?>
                <tr>
                    <td rowspan="1" colspan="5" class="border_bawah border_kanan border_kiri" align="center">
                        Jumlah
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan" align="center">
                        <?= @$total_syarat_tdk_centang; ?>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan" align="center">
                        <?= @$total_syarat_centang; ?>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan" align="center">
                        <?= @$total_syarat_tdk_centang_verifikasi; ?>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan" align="center">
                        <?= @$total_syarat_centang_verifikasi; ?>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan" align="center">
                        <?= @$total_jml_pembayaran; ?>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan" align="center">

                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan" align="center">
                        <?= @$total_jml_luas_bpn; ?>
                    </td>
                    <td rowspan="1" colspan="2" class="border_bawah border_kanan" align="center">
                        <?= @$total_jml_ajb; ?>
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan" align="center">
                        <?= @$total_jml_lapor; ?>
                    </td>
                    <td rowspan="1" colspan="2" class="border_bawah border_kanan" align="center">
                        <?= @$total_jml_sertifikatbaru; ?>
                    </td>
                </tr>    
            </table>
        </div>
    </body>
</html>



