<style type="text/css">
    .kotak{
        border: 1px black solid;
        font-size: 13px;
    }
    .tengah {
        float: none;
        margin: 0 auto;
    }
    .radio_render{
        margin-top: -2.5px;
        margin-left: 17%;
    }
    .radio_render label {
        width: 75%;
        float: left;
    }
</style>
<?php
ini_set("max_execution_time", 500);

foreach ($this->data_sspd as $row) {
    $data_pemda = $this->data_pemda;
	$linklokal = $_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath(). "/";
	$gambar = "" . $linklokal . "/" . $data_pemda->s_logo;
    ?>
    <div style="page-break-after: always;width: 100%;" class="kotak">
        <table>
            <tr>
                <td width="100px">
                    <img width="50" title="LOGO <?= $data_pemda->s_namakabkot; ?>" align="left" src="<?= $gambar ?>"/>
                </td>
                <td>
                    <center>
                    <b style="font-size:14pt;">PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot)?></b>
                    <br>
                    <font style="font-size:15pt;"><?= strtoupper($data_pemda->s_namainstansi) ?></font>
                    <br>
                    <font style="font-size:10pt;">Alamat : <?= $data_pemda->s_alamatinstansi ?> <?= $data_pemda->s_kodepos ?></font>
                    <br>
                    <font style="font-size:10pt;">Telp <?= $data_pemda->s_notelinstansi ?></font>
                    </center>
                </td>
            </tr>
        </table>
        <hr>
        <center><b style="font-size: 15px">FORMULIR PERMOHONAN PENELITIAN SSPD-BPHTB</b></center>
        <hr>
        <table width="100%" style="border-spacing: 0px;" style="font-size: 12px">
            <tr>
                <td width="150px">
                    Lampiran
                </td>
                <td>
                    : 1 (satu) set
                </td>   
            </tr>
            <tr>
                <td>
                    Hal
                </td>
                <td>
                    : Penyampaian SSPD BPHTB untuk diteliti 
                </td>   
            </tr>
        </table>
        <br>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td colspan="2">
                    <?= ucwords($data_pemda->s_namainstansi); ?> Pemerintah <?= ucwords($data_pemda->s_namakabkot); ?>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-size: 14px">
                    Yang bertanda tangan dibawah ini :
                </td>
            </tr>
            <tr>
                <td width="200px">
                    Nama Wajib Pajak
                </td>
                <td>
                    : <?= strtoupper($row['t_namawppembeli']) ?> 
                </td>   
            </tr>
            <tr>
                <td>
                    NPWP
                </td>
                <td>
                    : <?= $row['t_npwpwppembeli'] ?>
                </td>
            </tr>
            <tr>
                <td>
                    Alamat
                </td>
                <td>
                    : <?= strtoupper($row["t_alamatwppembeli"]) ?>
                </td>
            </tr>
        </table>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td colspan="2">
                    Bersama ini menyampaikan SSPD-BPHTB untuk diteliti atas perolehan hak atas tanah dan/atau bangunan sebagai berikut :
                </td>
            </tr>
            <tr>
                <td width="200px">
                    NOP
                </td>
                <td>
                    : <?= $row['t_nopbphtbsppt'] ?> 
                </td>   
            </tr>
            <tr>
                <td>
                    Alamat
                </td>
                <td>
                    : <?= strtoupper($row['t_alamatop']) ?>
                </td>
            </tr>
            <tr>
                <td>
                    Desa/Kelurahan
                </td>
                <td>
                    : <?= strtoupper($row["t_kelurahanop"]) ?>
                </td>
            </tr>
            <tr>
                <td>
                    Kabupaten/Kota
                </td>
                <td>
                    : <?= strtoupper($data_pemda->s_namakabkot) ?>
                </td>
            </tr>
        </table>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td colspan="2">
                    Terlampir dokumen sebagai berikut :
                </td>
            </tr>
            <tr>
                <td width="10px" style="margin-top: 0px">
                    (1)
                </td>
                <td style="width: 60%">
                    SSPD-BPHTB Asli
                </td>   
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (2)
                </td>
                <td>
                    Fotocopy Lunas PBB Tahun Berjalan
                </td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (3)
                </td>
                <td>
                    Fotocopy Identitas Wajib Pajak berupa KTP Penjual dan Pembeli
                </td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (4)
                </td>
                <td>
                    Surat Pernyataan
                </td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (5)
                </td>
                <td>
                    Fotocopy Kartu Keluarga (KK) untuk Transaksi Hibah, Hibah Wasiat atau Waris
                </td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (6)
                </td>
                <td>
                    Fotocopy ertifikat, SKT, SPT
                </td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (7)
                </td>
                <td>
                    Surat Kuasa Wajib Pajak
                </td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (8)
                </td>
                <td>
                    Fotocopy Identitas Kuasa Wajib Pajak
                </td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (9)
                </td>
                <td>
                    ...........................................
                </td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td colspan="2">
                    Keterangan &nbsp;&nbsp;&nbsp;&nbsp;: 
                </td>
            </tr>
            <tr>
                <td style="width: 60%">
                    v Centang Data yang tersedia
                </td>
                <td>
                    <?= ucwords($data_pemda->s_namaibukotakabkot); ?>, <?= date('d-m-Y', strtotime($tgl_cetak)) ?>
                </td>
            </tr>
            <tr>
                <td>
                    * Dalam Hal dikuasakan
                    <br><br><br>
                    <br><br>
                </td>
                <td>
                    Wajib pajak/Kuasa Wajib Pajak
                    <br><br><br>
                    <br>
                    (.......................................................)
                </td>
            </tr>
        </table> 
        <hr>
        <center>PENELITIAN</center>
        <hr>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td>
                    Setelah melakukan pemeriksaan dan penelaahan SSPD-BPHTB dan dokumen pendukung dari Wajib Pajak, dengan ini menyatakan :<br>
                    <table>
                        <tr>
                            <td>
                                -Data objek pajak yang tercantum dalam SSPD-BPHTB telah sesuai
                            </td>
                            <td class="kotak" style="width: 50px">
                                Ya
                            </td>
                            <td class="kotak" style="width: 50px">
                                Tidak
                            </td>
                        </tr>
                        <tr>
                            <td>
                                -Nilai BPHTB terhutang yang tercantum dalam SSPD-BPHTB telah sesuai
                            </td>
                            <td class="kotak" style="width: 50px">
                                Ya
                            </td>
                            <td class="kotak" style="width: 50px">
                                Tidak
                            </td>
                        </tr>
                        <tr>
                            <td>
                                -Dokumen pendukung perolehan hak atas tanah/dan bangunan telah lengkap
                            </td>
                            <td class="kotak" style="width: 50px">
                                Ya
                            </td>
                            <td class="kotak" style="width: 50px">
                                Tidak
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>
        <table width="100%">
            <tr>
                <td colspan="2">
                    Keterangan &nbsp;&nbsp;&nbsp;&nbsp;: 
                </td>
            </tr>
            <tr>
                <td style="width: 60%">
                    - Coret yang tidak perlu
                </td>
                <td>
                    <?= ucwords($data_pemda->s_namaibukotakabkot); ?>, <?= date('d-m-Y', strtotime($tgl_cetak)) ?>
                </td>
            </tr>
            <tr>
                <td>
                    <br><br><br>
                    <br><br>
                </td>
                <td>
                    Fungsi Pelayanan
                    <br><br><br>
                    <br><br>
                    (.......................................................)
                </td>
            </tr>
        </table> 
    </div>
    <?php
}
?>
