<?php

if ($cetak == 1) {

    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
//$mpdf = new mPDF();
    $mpdf = new mPDF('utf-8', 'Legal-L', 0, '', 10, 10, 5, 1, 1, 1, '');
    
    $html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}



</style>
</head>
<body>
<htmlpageheader name="MyHeader1">

</htmlpageheader>

<htmlpageheader name="MyHeader2">

</htmlpageheader>

<htmlpagefooter name="MyFooter1">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>

<htmlpagefooter name="MyFooter2">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>
';
    
$html .= '<div>';    
$nik = '';
    
} else {
    header("Content-type: application/vnd-ms-excel");

    header("Content-Disposition: attachment; filename=cetakdatapendaftaran.xls");
    
    $html = '';
    
    $nik = '\'';
    
}


if ($cetak == 1) {
	if($_SERVER['HTTP_HOST'] == 'ebphtb.tegalkab.go.id'){
		$linklokal = $_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath(). "/";
	}else{
		$linklokal = $_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath(). "/";
	}
}else{
    $linklokal = $_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath(). "/";
}
$gambar = "" . $linklokal . "/" . $ar_pemda->s_logo;

$html .= '


    <img src="'.$gambar . '" alt="" width="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
    
                   
<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
    <td colspan="10" style="padding-bottom: 10px; ">
        <center>
         <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
         <br>
         <font style="font-size:15pt;">' . strtoupper($ar_pemda->s_namainstansi) . '</font>
         <br>
         <font style="font-size:10pt;">Alamat : ' . $ar_pemda->s_alamatinstansi . '</font>
         <br>
         <font style="font-size:10pt;">Telp/Fax ' . $ar_pemda->s_notelinstansi . ', Kode Pos ' . $ar_pemda->s_kodepos . ' '.$ar_pemda->s_namaprov.'</font>
        </center>
    </td>
</tr>
<tr>
    <td colspan="10" style="border-bottom: 1px solid #000; border-top: 2px solid black;"></td>
</tr>
  <tr>
 
<td colspan="10"><center><br><br><br><br><h3>DAFTAR DATA PENDAFTARAN</h3></center></td>
</tr>
  <tr>
    <td width="6">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="644">&nbsp;</td>
  </tr>
</table>

Tanggal Cetak &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : ' . $tgl_cetak . ' <br>
Tanggal Pendaftaran : ' . $tgl_verifikasi1 . ' s/d ' . $tgl_verifikasi2 . '<br><br>

    <table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
    <thead>
        
        
        <tr >
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;">
                <center>No.</center>                      
            </th>

            <th rowspan="1" colspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Informasi Wajib Pajak</center>                    
            </th>
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Informasi Penjual</center>                      
            </th>
            <th rowspan="1" colspan="5" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Informasi Objek Pajak</center>                      
            </th>
        </tr>
        <tr>
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                <center><span>Nama</span> <br>NIK</center>                    
            </th>
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:150px; word-wrap: break-word; ">
                <center> <span>Alamat</span> <br> No Telp  </center>                  
            </th>
            
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:150px; word-wrap: break-word;">
                <center> <span>Nama</span> <br>  Alamat <br> No Telp  </center>                 
            </th>
           
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:150px; word-wrap: break-word;">
                <center><span>NOP/Tahun SPPT </span>  <br>   Nama SPPT <br>  Letak Tanah / Bangunan     </center>                
            </th>
            
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:100px; word-wrap: break-word;">
                <center>Jenis <br> Transaksi                    </center>     
            </th>
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:150px; word-wrap: break-word;">
                <center><span > Nama Notaris/PPATS   </span> <br> Tgl Pendaftaran    </center>                  
            </th>
            
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:150px; word-wrap: break-word;">
               <center> <span > Luas Tanah (Bumi)  </span>    <br>  Luas Bangunan   </center>                
            </th>
            
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:150px; word-wrap: break-word;">
               <center> Harga Transaksi / Nilai Pasar             </center>            
            </th>
        </tr>
    </thead>    
    <tbody>
        ';

$totalPembayaran = 0;
$counter = 1;
foreach ($this->data_Verifikasi as $k => $v) {
$t_nikwppembeli = $v['t_nikwppembeli'];

if (!empty($v['p_nilaitransaksispt'])) {
    $nilaitransaksispt = $v['p_nilaitransaksispt'];
} else {
    $nilaitransaksispt = $v["t_nilaitransaksispt"];
}

//$nikwppembeli = wordwrap($t_nikwppembeli,5,"<br>",true);


    $html .= '
            
            <tr>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    <center>' . $counter . '</center>                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                    <span >' . $v['t_namawppembeli'] . ' </span>                       
                        <br>
                    '.$nik.' '. $t_nikwppembeli . '                       
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top;">
                    
                    Kel. ' . $v['t_kelurahanwppembeli'] . ' Kec. ' . $v['t_kecamatanwppembeli'] . ' Kab/kota ' . $v['t_kabkotawppembeli'] . '                      
                        <br>
                    ' . $v['t_telponwppembeli'] . '                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top;">
                    <span >' . $v['t_namawppenjual'] . '</span> <br>                      
                    Kel. ' . $v['t_kelurahanwppenjual'] . ' <br> Kec.  ' . $v['t_kecamatanwppenjual'] . ' <br> Kab/kota ' . $v['t_kabkotawppenjual'] . '  <br>                     
                
                    ' . $v['t_telponwppenjual'] . '                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top;">
                    <span >' . $v['t_nopbphtbsppt'] . ' - ' . $v['t_thnsppt'] . ' </span>   <br>                    
                    ' . $v['t_namasppt'] . '    <br>                   
                    ' . $v['t_alamatop'] . '                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">
                   <center> ' . $v['s_namajenistransaksi'] . ' </center>                      
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top;">
                    <span >' . $v['s_namanotaris'] . ' </span>  <br>                     
                    ' . date('d/m/Y', strtotime($v['t_tglprosesspt'])) . '                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">
                    <center><span > ' . $v['t_luastanah'] . ' </span> <br>
                    ' . $v['t_luasbangunan'] . '      </center>                  
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; " align="right">
                    <span style="float:right;">' . number_format($nilaitransaksispt, 0, ',', '.') . ' </span>                       
                </td>
            </tr>        
            ';


    $counter++;
}

$html .= '</tbody></table>';

if ($cetak == 1) {

    $html .= '</div>';


    $html .= '</body></html>';



    $mpdf->WriteHTML($html);

    $mpdf->Output("cetakdatapendaftaran.pdf", "I");
} else {

    echo $html;
}
?>


