<div class="content-wrapper">
    <section class="content">
        <div class="box box-success" style="border: 1px solid #00a65a;">
            <div class="box-header with-border bg-green-gradient">
                <center>
                    <h3 class="box-title">NOTIFIKASI NO KOHIR : <?= $datasspd['t_kohirspt'] ?> PERIODE <?= $datasspd['t_periodespt'] ?></h3>
                </center>
                <?php
                if (!empty($pesan)) {
                    echo '<br><center><b id="pesan_error_atas" class="blink" style="font-size: 20px; color: #fff;">' . $pesan . '</b></center>';
                }

                if (($session['s_akses'] == 1) || ($session['s_akses'] == 1)) {
                    if (empty($datasspd['t_tanggalpembayaran'])) {
                        echo '<div class="col-sm-12 pull-right">         
            <p style="height: 10px;"><a style="float:right; margin-right: 5px;" href="' . $this->url('verifikasi_spt') . '/edit?t_idpembayaranspt=' . $datasspd['t_idpembayaranspt'] . '" class="btn btn-sm btn-warning"><i class="fa fa-fw fa-edit"></i>EDIT VERIFIKASI</a></p>
        </div>';
                    }
                }
                ?>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <form method="post" action="<?= $this->url() ?>/detailnotif?t_idspt=<?= $datasspd['t_idspt']; ?>" id="formtambah">
                            <div class="row col-md-12">
                                <ul class="timeline">
                                    <?php
                                    $datasemuapesanvalidasi = $this->MenuHelper()->datasemuapesanvaidasi($datasspd['t_idspt']);
                                    $clast_rek = '';
                                    foreach ($datasemuapesanvalidasi as $key => $datapesan) {
                                        if ($clast_rek <> $datapesan['t_waktukirim']) {
                                            echo '<li class="time-label">
                                                            <span class="bg-red">
                                                                ' . $datapesan['t_waktukirim'] . '
                                                            </span>
                                                        </li>';
                                            $clast_rek = $datapesan['t_waktukirim'];
                                        }

                                        if ($datasspd['t_idnotarisspt'] == $datapesan['t_dari']) {
                                            $warnabg = 'bg-aqua';
                                            echo '<li>
                                                        <i class="fa fa-comments ' . $warnabg . '"></i>
                                                        <div class="timeline-item">
                                                            <span class="time"><i class="fa fa-clock-o"></i> ' . date('H:i:s', strtotime($datapesan['t_waktukirim'])) . '</span>
                                                            <h3 class="timeline-header no-border"><b style="color: blue">' . $datapesan['s_namanotaris_dari'] . '</b> ' . $datapesan['t_isipesan'] . '</h3>
                                                        </div>
                                                    </li>';
                                        } else {
                                            $warnabg = 'bg-yellow';
                                            echo '<li>
                                                        <i class="fa fa-comments ' . $warnabg . '"></i>
                                                        <div class="timeline-item">
                                                            <span class="time"><i class="fa fa-clock-o"></i> ' . date('H:i:s', strtotime($datapesan['t_waktukirim'])) . '</span>
                                                            <h3 class="timeline-header no-border"><b style="color: blue">' . $datapesan['s_namapejabat_dari'] . '</b> ' . $datapesan['t_isipesan'] . '</h3>
                                                        </div>
                                                    </li>';
                                        }
                                    }

                                    $jmlpesan = count($datasemuapesanvalidasi);
                                    if ($jmlpesan > 0) {
                                        echo '<li>
                                                <i class="fa fa-clock-o bg-gray"></i>
                                            </li>';
                                    }
                                    ?>



                                </ul>

                                <div id="ObjekPemeriksaan" style="display: block;">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">&nbsp;</label>
                                            <div class="col-sm-6">
                                                <?php
                                                $cek_idsyarat = $this->MenuHelper()->CekIDpersyaratan($datasspd['t_idspt']);
                                                $datasyaratbelumlengkap = $this->MenuHelper()->persyaratantidaklengkap($datasspd['t_idjenistransaksi'], $cek_idsyarat['id_persyaratan']);

                                                $nosyarat = 1;
                                                $html = '';
                                                foreach ($datasyaratbelumlengkap as $key => $datasyarat) {
                                                    $html .= $nosyarat . '. ' . $datasyarat['s_namapersyaratan'] . '<br>';

                                                    $nosyarat++;
                                                }
                                                echo 'PERSYARATAN YANG BELUM LENGKAP :<br>';
                                                echo $html;
                                                ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">KETERANGAN</label>
                                            <div class="col-sm-6" style=" font-weight: bold; color: red;">
                                                <input name="t_idspt" id="t_idspt" value="<?= $datasspd['t_idspt'] ?>" type="hidden">
                                                <input name="t_iddetailsptbphtb" id="t_iddetailsptbphtb" value="<?= $datasspd['t_iddetailsptbphtb'] ?>" type="hidden">
                                                <input name="t_idpembayaranspt" id="t_idpembayaranspt" value="<?= $datasspd['t_idpembayaranspt'] ?>" type="hidden">
                                                <input name="idpsn" id="idpsn" type="hidden" value="<?= $idpsn; ?>">
                                                <?= $datasspd['t_keteranganvalidasi'] ?>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" style="font-size: 13px">KIRIM PESAN</label>
                                            <div class="col-sm-6">
                                                <textarea name="t_kirimpsnoperator" id="t_kirimpsnoperator" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="form-horizontal form-group col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="col-md-12" style="text-align: right">

                                                <input id="validasibutton" onclick="this.disabled = true;forms[0].submit();" value="KIRIM PESAN" class="btn nextBtn btn-info pull-right" type="submit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->

        <!--view data-->
        <?php echo $this->partial("viewdata_content.phtml") ?>
        <!--view data-->
    </section>
</div>
<div class="modal fade" id="loadingsimpanvalidasi" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="background:transparent;">
    <center><img style="background:transparent;" src='<?= $this->basePath(); ?>/public/tablebos/img/loading77.gif'></center>
</div>
<script>
    $('#validasibutton').click(function() {
        jQuery('#loadingsimpanvalidasi').modal('show');
        $('#loadingsimpanvalidasi').modal({
            backdrop: 'static',
            keyboard: false
        })

    });
</script> 