<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/tambah');
$frm->setAttribute('id', "formtambah");
$frm->prepare();
?>
<div class="content-wrapper">
    <section class="content">
        <!--<div class="row">
            <div class="col-xs-12">-->
        <div class="box box-success" style="border: 1px solid #00a65a;">
            <div class="box-header with-border bg-green-gradient">
                <center>
                    <h3 class="box-title">PENDAFTARAN SSPD BPHTB [EDIT]</h3>
                </center>

            </div><!-- /.box-header -->
            <p style="height: 10px;"><a style="float:right; margin-right: 5px;" href="<?= $this->url() ?>" class="btn btn-sm btn-danger"><i class="fa fa-fw fa-undo"></i>BATAL</a></p>
            <div class="box-body">
                <div>
                    <!-- class="row margin"-->
                    <div>
                        <!--class="col-md-12"-->

                        <div class="stepwizard col-md-12">
                            <div class="stepwizard-row setup-panel">
                                <div class="stepwizard-step">
                                    <ul class="easyWizardSteps" style="text-align: center;">
                                        <li><a href="#step-1" type="button" class="btn btn-facebook btn-circle">1</a>
                                            <p><b style="color: #fff">Informasi Wajib Pajak</b></p>
                                        </li>
                                        <li><a href="#step-2" type="button" class="btn btn-default btn-circle " disabled="disabled">2</a>
                                            <p><b style="color: #fff">History Pajak</b></p>
                                        </li>
                                        <li><a href="#step-3" type="button" class="btn btn-default btn-circle " disabled="disabled">3</a>
                                            <p><b style="color: #fff">Informasi Objek Pajak</b></p>
                                        </li>
                                        <li><a href="#step-4" type="button" class="btn btn-default btn-circle " disabled="disabled">4</a>
                                            <p><b style="color: #fff">Perhitungan BPHTB</b></p>
                                        </li>
                                        <li><a href="#step-5" type="button" class="btn btn-default btn-circle " disabled="disabled">5</a>
                                            <p><b style="color: #fff">Informasi Penjual</b></p>
                                        </li>
                                    </ul>
                                    <div class="progress center-block" style="margin-top: -20px;">
                                        <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 13%">
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="stepwizard-step">
                                    <a href="#step-1" type="button" class="btn btn-facebook btn-circle">1</a>
                                    <p><b style="color: #367FA9">Informasi Wajib Pajak</b></p>
                                </div>
                                <div class="stepwizard-step">
                                    <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                    <p><b style="color: #367FA9">History Pajak</b></p>
                                </div>
                                <div class="stepwizard-step">
                                    <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                    <p><b style="color: #367FA9">Informasi Objek Pajak</b></p>
                                </div>
                                <div class="stepwizard-step">
                                    <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                                    <p><b style="color: #367FA9">Perhitungan BPHTB</b></p>
                                </div>
                                <div class="stepwizard-step">
                                    <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
                                    <p><b style="color: #367FA9">Informasi Penjual</b></p>
                                </div>-->
                            </div>
                        </div>
                        <?= $this->form()->openTag($frm) ?>
                        <div class="row setup-content" id="step-1">
                            <div class="col-sm-12">
                                <div class="col-sm-12 hidden">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Jenis Pendaftaran</label>
                                        <div class="col-sm-3 hidden">
                                            <?= $this->formRow($frm->get('t_jenispendaftaran')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" id="keterangannya" style="display:<?= $jenispendaftaran ?>">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Alasan</label>
                                        <div class="col-sm-8">
                                            <?= $this->formRow($frm->get('t_keterangan')) ?>
                                        </div>
                                    </div>
                                </div>
                                <?php
                                if ($notaris == '1') {
                                    //echo $notaris; 
                                } else {
                                ?>
                                    <div class="col-sm-12" style="<?= $show_hide_combo_notaris ?>">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Notaris/PPAT</label>
                                            <div class="col-sm-3">
                                                <?= $this->formRow($frm->get('t_idnotarisspt')) ?>
                                            </div>
                                        </div>
                                    </div>
                                <?php

                                }
                                ?>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Tanggal Pendaftaran</label>
                                        <div class="col-sm-3">
                                            <?= $this->formInput($frm->get('t_idspt')) ?>
                                            <?= $this->formInput($frm->get('t_iddetailsptbphtb')) ?>
                                            <?= $this->formInput($frm->get('t_kohirspt')) ?>
                                            <?= $this->formInput($frm->get('t_tglprosesspt')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">NIK</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_nikwppembeli')) ?>
                                        </div>

                                        <input name="t_periodespt" id="t_periodespt" value="" type="hidden">
                                        <input name="t_periodesptsekarang" id="t_periodesptsekarang" value="<?= date('Y'); ?>" type="hidden">

                                        <!--</div>
                                        <div class="form-group">-->
                                        <label class="col-sm-2 control-label">NPWP</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_npwpwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nama WP</label>
                                        <div class="col-sm-6">
                                            <?= $this->formRow($frm->get('t_namawppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Alamat</label>
                                        <div class="col-sm-6">
                                            <?= $this->formRow($frm->get('t_alamatwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">RT</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_rtwppembeli')) ?>
                                        </div>
                                        <!--</div>
                                        <div class="form-group">-->
                                        <label class="col-sm-2 control-label">RW</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_rwwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kelurahan/Desa</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kelurahanwppembeli')) ?>
                                        </div>
                                        <!--</div>
                                        <div class="form-group">-->
                                        <label class="col-sm-2 control-label">Kecamatan</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kecamatanwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kab./Kota</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kabkotawppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kode Pos</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kodeposwppembeli')) ?>
                                        </div>
                                        <label for="inputType" class="col-md-2">No. Telp.</label>
                                        <div class="col-md-2">
                                            <?= $this->formRow($frm->get('t_telponwppembeli')) ?>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <button class="btn btn-success nextBtn pull-right" type="button"><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            /*.paijo:nth-child(2n+3) {background: #CCC}*/
                            .tablecoyscroll {
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: 1px solid #bbb;
                                overflow-x: auto;
                                display: block;
                            }

                            .tablecoy td,
                            th {
                                border-top: 1px solid #ddd;
                                padding: 4px 8px;
                            }

                            .tablecoy tbody tr:nth-child(even) td {
                                background-color: #eee;
                            }
                        </style>
                        <div class="row setup-content" id="step-2">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group" id="historybphtb">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                                                <center>
                                                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-table"></i> History Transaksi BPHTB Wajib Pajak</h4>
                                                </center>
                                            </div>
                                            <!--<div class="panel panel-default">
                                                <div class="panel-heading">History Transaksi BPHTB Wajib Pajak</div>-->
                                            <div id="historydiv" class="tablecoyscroll">
                                                <center>
                                                    <table class='tablecoy' style="width: 100%;">
                                                        <tr>
                                                            <th>NOP</th>
                                                            <th>NPOP</th>
                                                            <th>NPOPTKP</th>
                                                            <th>NPOPKP</th>
                                                            <th>Tanggal Bayar</th>
                                                            <th>Jumlah Pembayaran</th>
                                                        </tr>
                                                        <?php
                                                        foreach ($datahistory as $row) {
                                                            if ($row['t_tanggalpembayaran'] != "") {
                                                                $tglpembayaran = date('d-m-Y', strtotime($row['t_tanggalpembayaran']));
                                                            } else {
                                                                $tglpembayaran = "";
                                                            }
                                                            $npopkp = $row['t_totalspt'] * 100 / 5;
                                                            $npop = $npopkp + $row['t_potonganspt'];
                                                        ?>
                                                            <tr>
                                                                <td><?= $row['t_nopbphtbsppt'] ?>-<?= $row['t_thnsppt'] ?></td>
                                                                <td><?= number_format($npop, 0, ',', '.') ?></td>
                                                                <td><?= number_format($row['t_potonganspt'], 0, ',', '.') ?></td>
                                                                <td><?= number_format($npopkp, 0, ',', '.') ?></td>
                                                                <td><?= $tglpembayaran ?></td>
                                                                <td><?= number_format($row['t_nilaipembayaranspt'], 0, ',', '.') ?></td>
                                                            </tr>
                                                        <?php
                                                        }
                                                        ?>
                                                    </table>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-12" style="text-align: right">
                                        <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                        <button class="btn btn-success nextBtn pull-right" type="button"><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row setup-content" id="step-3">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Jenis Transaksi</label>
                                        <div class="col-sm-5">
                                            <?= $this->formRow($frm->get('t_idjenistransaksi')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div id="persyaratannya">
                                            <label class="col-sm-2 control-label">&nbsp;</label>
                                            <div class="radio_render">
                                                <div class="col-sm-5">
                                                    <?= $this->formMultiCheckbox($frm->get('t_persyaratan')) ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--                                                        <div id="centang_terbukti">
                                                                                            <div class="form-horizontal form-group col-md-12">
                                                                                                <label for="inputType" class="col-md-2">Bukti Keabsahan</label>
                                                                                                <div class="col-md-4">
<?php  ?>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-horizontal form-group col-md-12">
                                                                                                <label for="inputType" class="col-md-2"></label>
                                                                                                <div class="col-md-4">
<?php  ?>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-horizontal form-group col-md-12">
                                                                                                <div class="col-md-12">
                                                                                                    <div class="form-group row">
                                                                                                        <label for="inputKey" class="col-md-2 control-label" style="text-align: left;">Penerima Waris</label>
                                                                                                        <div class="col-md-3">
                                                                                                            <input class="form-control" type="text" name="t_namapenerimawaris[0]">
                                                                                                        </div>
                                                                                                        <label for="inputValue" class="col-md-1 control-label">NIK</label>
                                                                                                        <div class="col-md-2">
                                                                                                            <input class="form-control" type="text" name="t_nikpenerimawaris[0]" onkeypress="return numbersonly(this, event)" maxlength="16">
                                                                                                        </div>
                                                                                                        <label for="inputValue" class="col-md-1 control-label">Alamat</label>
                                                                                                        <div class="col-md-3">
                                                                                                            <input class="form-control" type="text" name="t_alamatpenerimawaris[0]">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                <?php
                                //                                                            $startRow = 1;
                                ?>
                                                                                            <input type="hidden" id="idk" value="<?php  ?>">
                                                                                            <div id="kolomTambahPenerima"></div>
                                                                                            <div class="form-horizontal form-group col-md-12">
                                                                                                <div class="col-md-12">
                                                                                                    <div class="form-group row">
                                                                                                        <label for="inputKey" class="col-md-2 control-label" style="text-align: left;"></label>
                                                                                                        <div class="col-md-3">
                                                                                                            <span class="btn btn-sm btn-success" id="tambahPenerima">Tambah Penerima</span>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>-->
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Program PTSL</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_ptsl')); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Jenis Pengurangan Tarif</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_idpengurangan')); ?>
                                            <?= $this->formRow($frm->get('t_persenpengurangan')); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">NOP/Tahun SPPT</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_nopbphtbsppt')) ?>
                                        </div>
                                        <!--</div>
                                        <div class="form-group">-->
                                        <div class="col-sm-1">
                                            <?= $this->formRow($frm->get('t_thnsppt')) ?>
                                        </div>

                                        <button class="btn btn-sm btn-flat btn-info btn-sm" type="button" onclick="datanop();"><i class="fa fa-fw fa-refresh"></i> Proses</button>
                                        <?php $gambar = "http://" . $_SERVER['HTTP_HOST'] . "" . $this->basePath() . "/public/tablebos/img/loader.gif"; ?>
                                        <div id="myDiv" style="display:none; text-align: center;">
                                            <img id="myImage" src="<?= $gambar; ?>">
                                        </div>
                                        <!--</div>
                                        <div class="form-group">-->

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nama SPPT</label>
                                        <div class="col-sm-4">
                                            <?= $this->formRow($frm->get('t_namasppt')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Letak Tanah/Bangunan</label>
                                        <div class="col-sm-4">
                                            <?= $this->formRow($frm->get('t_alamatop')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">RT</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_rtop')) ?>
                                        </div>
                                        <!--</div>
                                        <div class="form-group">-->
                                        <label class="col-sm-2 control-label">RW</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_rwop')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kelurahan/Desa</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kelurahanop')) ?>
                                        </div>
                                        <!--</div>
                                        <div class="form-group">-->
                                        <label class="col-sm-2 control-label">Kecamatan</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kecamatanop')) ?>
                                        </div>
                                        <!--</div>
                                        <div class="form-group">-->
                                        <label class="col-sm-1 control-label"><span style="font-size: 12px">Kab./Kota</span></label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_kabupatenop')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Luas Tanah (Bumi)</label>
                                        <div class="col-sm-2">
                                            <?php
                                            $luas_t = $frm->get('t_luastanah')->getValue();
                                            ?>
                                            <?= $this->formRow($frm->get('t_luastanah')) ?>
                                            <?= $this->formRow($frm->get('t_luastanah_sismiop')) ?>
                                            <?= $this->formRow($frm->get('t_luasbangunan_sismiop')) ?>
                                            <?= $this->formRow($frm->get('t_njoptanah_sismiop')) ?>
                                            <?= $this->formRow($frm->get('t_njopbangunan_sismiop')) ?>

                                            <?= $this->formRow($frm->get('t_idtarifbphtb')->setValue($idtarifbphtb)) ?>
                                        </div>
                                        <!--</div>
                                        <div class="form-group">-->
                                        <label class="col-sm-2 control-label" style="font-size: 12px">Nilai Pasar/NJOP (m2)</label>
                                        <div class="col-sm-2">
                                            <?php
                                            $njop_t = $frm->get('t_njoptanah')->getValue();
                                            $totalnjop_t = $frm->get('t_totalnjoptanah')->getValue();
                                            ?>
                                            <?= $this->formRow($frm->get('t_njoptanah')->setValue(number_format($njop_t, 0, ',', '.'))) ?>
                                        </div>
                                        <!--</div>
                                        <div class="form-group">-->
                                        <label class="col-sm-1 control-label">Total</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_totalnjoptanah')->setValue(number_format($totalnjop_t, 0, ',', '.'))) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Luas Bangunan</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_luasbangunan')) ?>
                                        </div>
                                        <!--</div>
                                        <div class="form-group">-->
                                        <label class="col-sm-2 control-label" style="font-size: 13px">Nilai Pasar/NJOP (m2)</label>
                                        <div class="col-sm-2">
                                            <?php
                                            $njop_b = $frm->get('t_njopbangunan')->getValue();
                                            $totalnjop_b = $frm->get('t_totalnjopbangunan')->getValue();
                                            ?>
                                            <?= $this->formRow($frm->get('t_njopbangunan')->setValue(number_format($njop_b, 0, ',', '.'))) ?>
                                        </div>
                                        <!--</div>
                                        <div class="form-group">-->
                                        <label class="col-sm-1 control-label">Total</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_totalnjopbangunan')->setValue(number_format($totalnjop_b, 0, ',', '.'))) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-9 control-label" style="text-align: right;">NJOP PBB</label>
                                        <div class="col-sm-3">
                                            <?php
                                            $njop_pbb = $frm->get('t_grandtotalnjop')->getValue();
                                            ?>
                                            <?= $this->formRow($frm->get('t_grandtotalnjop')->setValue(number_format($njop_pbb, 0, ',', '.'))) ?>
                                        </div>
                                    </div>
                                </div>
                                <?php
                                $totaphb = number_format($t_grandtotalnjop_aphb, 0, ',', '.');
                                $jenistransaksi = $frm->get('t_idjenistransaksi')->getValue();
                                if (($jenistransaksi == 18)) {
                                    echo ' 
                                                        <div class="col-sm-12" id="pembagian_aphb_1">
                                                            <div id="pembagian_aphb_2">
                                                                <label  class="col-sm-9 control-label" id="pembagian_aphb_3" style="text-align: right;">Pembagian APHB</label>
                                                                <div class="col-sm-3" id="pembagian_aphb_4">

                                                                    <input style="text-align:right; width: 50px;" name="t_tarif_pembagian_aphb_kali" id="t_tarif_pembagian_aphb_kali" onkeyup="hitungBphtb();this.value = unformatCurrency(this.value);" onchange="hitungBphtb();this.value = unformatCurrency(this.value);" onblur="hitungBphtb();this.value = unformatCurrency(this.value);" onfocus="hitungBphtb();this.value = unformatCurrency(this.value)" value="" onkeypress="hitungBphtb();return numbersonly(this, event)" type="text">
                                                                       /
                                                                    <input style="text-align:right; width: 50px;" name="t_tarif_pembagian_aphb_bagi" id="t_tarif_pembagian_aphb_bagi" onkeyup="hitungBphtb();this.value = unformatCurrency(this.value);" onchange="hitungBphtb();this.value = unformatCurrency(this.value);" onblur="hitungBphtb();this.value = unformatCurrency(this.value);" onfocus="hitungBphtb();this.value = unformatCurrency(this.value)" value="" onkeypress="hitungBphtb();return numbersonly(this, event)" type="text">

                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="col-sm-12" id="pembagian_aphb_5">
                                                            <div class="form-group" id="pembagian_aphb_6">
                                                                <label class="col-sm-9 control-label" id="pembagian_aphb_7" style="text-align: right;">NJOP PBB APHB</label>
                                                                <div class="col-sm-3" id="pembagian_aphb_8">
                                                                    <input name="t_grandtotalnjop_aphb" id="t_grandtotalnjop_aphb" class="form-control" readonly="readonly" style="text-align:right" value="" type="text">

                                                                </div>
                                                            </div>
                                                        </div> 
                                                ';
                                } else {
                                    //if(($notaris == '3') || ($notaris == '2')) {
                                    echo ' 
                                                        <div class="col-sm-12" id="pembagian_aphb_1">
                                                            <div id="pembagian_aphb_2">
                                                                <label  class="col-sm-9 control-label" id="pembagian_aphb_3" style="text-align: right;">Pembagian APHB</label>
                                                                <div class="col-sm-3" id="pembagian_aphb_4">

                                                                    <input style="text-align:right; width: 50px;" name="t_tarif_pembagian_aphb_kali" id="t_tarif_pembagian_aphb_kali" onkeyup="hitungBphtb();this.value = unformatCurrency(this.value);" onchange="hitungBphtb();this.value = unformatCurrency(this.value);" onblur="hitungBphtb();this.value = unformatCurrency(this.value);" onfocus="hitungBphtb();this.value = unformatCurrency(this.value)" value="" onkeypress="hitungBphtb();return numbersonly(this, event)" type="text">
                                                                       /
                                                                    <input style="text-align:right; width: 50px;" name="t_tarif_pembagian_aphb_bagi" id="t_tarif_pembagian_aphb_bagi" onkeyup="hitungBphtb();this.value = unformatCurrency(this.value);" onchange="hitungBphtb();this.value = unformatCurrency(this.value);" onblur="hitungBphtb();this.value = unformatCurrency(this.value);" onfocus="hitungBphtb();this.value = unformatCurrency(this.value)" value="" onkeypress="hitungBphtb();return numbersonly(this, event)" type="text">

                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="col-sm-12" id="pembagian_aphb_5">
                                                            <div class="form-group" id="pembagian_aphb_6">
                                                                <label class="col-sm-9 control-label" id="pembagian_aphb_7" style="text-align: right;">NJOP PBB APHB</label>
                                                                <div class="col-sm-3" id="pembagian_aphb_8">
                                                                    <input name="t_grandtotalnjop_aphb" id="t_grandtotalnjop_aphb" class="form-control" readonly="readonly" style="text-align:right" value="" type="text">

                                                                </div>
                                                            </div>
                                                        </div> 
                                                                ';
                                    //}else{
                                    //}
                                }
                                ?>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-9 control-label" style="text-align: right;">Harga Transaksi / Nilai Pasar</label>
                                        <div class="col-sm-3">
                                            <?php
                                            $nilai_transaksi = $frm->get('t_nilaitransaksispt')->getValue();
                                            ?>
                                            <?= $this->formRow($frm->get('t_nilaitransaksispt')->setValue(number_format($nilai_transaksi, 0, ',', '.'))) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kepemilikan</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_idjenishaktanah')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Jenis Dok. Tanah</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_idjenisdoktanah')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">No. Dokumen Tanah</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_nosertifikathaktanah')) ?>
                                        </div>
                                        <!--</div>
                                        <div class="form-group">-->
                                        <label class="col-sm-2 control-label">Tanggal Dokumen</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_tglajb')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12" style="text-align: right">
                                            <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                            <button class="btn btn-success nextBtn pull-right" type="button"><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row setup-content" id="step-4">
                            <div class="col-md-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">NPOP</label>
                                        <div class="col-sm-3">
                                            <?php
                                            $terhutang = $frm->get('t_totalspt')->getValue();
                                            $tarif = $frm->get('t_persenbphtb')->getValue();

                                            $npoptkp = $frm->get('t_potonganspt')->getValue();
                                            $njoppbbnya = str_replace('.', '', $frm->get('t_grandtotalnjop')->getValue());
                                            $nilai_transaksisptnya = $nilai_transaksi;
                                            if (($t_tarif_pembagian_aphb_kali == null) || ($t_tarif_pembagian_aphb_kali == '') || ($t_tarif_pembagian_aphb_kali == 0) || ($t_tarif_pembagian_aphb_bagi == null) || ($t_tarif_pembagian_aphb_bagi == '') || ($t_tarif_pembagian_aphb_bagi == 0)) {

                                                if ($njoppbbnya > $nilai_transaksisptnya) {
                                                    $npop = $njoppbbnya;
                                                } else {
                                                    $npop = $nilai_transaksisptnya;
                                                }
                                            } else {
                                                if ($t_grandtotalnjop_aphb > $nilai_transaksisptnya) {
                                                    $npop = $t_grandtotalnjop_aphb;
                                                } else {
                                                    $npop = $nilai_transaksisptnya;
                                                }
                                            }


                                            $npopkpnya = $npop - $npoptkp;
                                            ?>
                                            <?= $this->formRow($frm->get('t_npopspt')->setValue(number_format($npop, 0, ',', '.'))) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">NPOPTKP</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_potonganspt')->setValue(number_format($npoptkp, 0, ',', '.'))) ?>
                                        </div>
                                        <div class="col-sm-4" id="ket_npoptkpdiv">
                                            <?php
                                            if ($npoptkp == 0) {
                                                $ket = 'Tidak Dapat NPOPTKP';
                                            } else {
                                                $ket = 'Dapat NPOPTKP';
                                            }
                                            ?>
                                            <input type="text" class="form-control" name="ket_npoptkp" id="ket_npoptkp" value="<?= $ket ?>" style="font-weight:bold;font-size:25px;color:#18F518;background-color:black;text-align:center;" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">NPOPKP</label>
                                        <?php
                                        if ($npopkpnya <= 0) {
                                            $nilai_npopkpnya = 0;
                                        } else {
                                            $nilai_npopkpnya = $npopkpnya;
                                        }
                                        ?>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_npopkpspt')->setValue(number_format($nilai_npopkpnya, 0, ',', '.'))) ?>
                                        </div>
                                        <label class="col-sm-2 control-label">Tarif (%)</label>
                                        <div class="col-sm-1">
                                            <?= $this->formRow($frm->get('t_persenbphtb')->setValue($tarifbphtbsekarang)) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" id="potongan_waris_hibah1">
                                    <div class="form-group" id="potongan_waris_hibah2">
                                        <label class="col-sm-3 control-label" id="potongan_waris_hibah3">Potongan (%)</label>
                                        <div class="col-sm-3" id="potongan_waris_hibah4">
                                            <input name="t_potongan_waris_hibahwasiat" id="t_potongan_waris_hibahwasiat" class="form-control" readonly="readonly" style="text-align:right" value="" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">BPHTB yang harus dibayar</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_totalspt')->setValue(number_format($terhutang, 0, ',', '.'))) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12" style="text-align: right">
                                            <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                            <button class="btn btn-success nextBtn pull-right" type="button"><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row setup-content" id="step-5">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">NIK</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_nikwppenjual')) ?>
                                    </div>
                                    <!--</div>
                                    <div class="form-group">-->
                                    <label class="col-sm-1 control-label">NPWP</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_npwpwppenjual')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nama Penjual</label>
                                    <div class="col-sm-6">
                                        <?= $this->formRow($frm->get('t_namawppenjual')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Alamat</label>
                                    <div class="col-sm-6">
                                        <?= str_replace("\n", "", $this->formRow($frm->get('t_alamatwppenjual'))) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">RT/RW</label>
                                    <div class="col-sm-1">
                                        <?= $this->formRow($frm->get('t_rtwppenjual')) ?>
                                    </div>
                                    <div class="col-sm-1">
                                        <?= $this->formRow($frm->get('t_rwwppenjual')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Kelurahan/Desa</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_kelurahanwppenjual')) ?>
                                    </div>
                                    <label class="col-sm-2 control-label">Kecamatan</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_kecamatanwppenjual')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Kab./Kota</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_kabkotawppenjual')) ?>
                                    </div>
                                    <label class="col-sm-2 control-label">Kode Pos</label>
                                    <div class="col-sm-2">
                                        <?= $this->formRow($frm->get('t_kodeposwppenjual')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal form-group col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="inputType" class="col-md-2">No. Telpon</label>
                                        <div class="col-md-2">
                                            <?= $this->formRow($frm->get('t_telponwppenjual')) ?>
                                        </div>
                                        <div class="col-md-8" style="text-align: right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-12" style="text-align: right">
                                        <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                        <input type="submit" id="pendaftaranbutton" value="Update Permohonan" class="btn nextBtn btn-info pull-right">
                                        <!-- onclick="this.disabled = true;forms[0].submit();" -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?= $this->form()->closeTag($frm) ?>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
        <!--</div><!-- /.col -->
        <!--</div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<div class="modal fade" id="loadingsimpanvalidasi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="background:transparent;">
    <!--data-backdrop="static" data-keyboard="false" -->
    <center><img style="background:transparent;" src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'></center>
</div>

<style>
    .easyWizardSteps {
        list-style: none;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-bottom: 0px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        background: #00c0ef;
        /*#00a65a; ijo #00acd6; biru tua*/
    }

    .easyWizardSteps li.current {
        color: #38464A;
        background: #fff;

    }

    .easyWizardSteps li {
        /*font-size: 18px;*/
        font-family: "Open Sans";
        display: inline-block;
        padding: 10px 20px;
        color: #eee;
        /*border-right: 1px solid rgba(0,0,0,0.1);*/
        margin-right: 0px;


    }

    /*.easyWizardSteps li.current a {
        border: 2px solid #68C39F;
        color: #68C39F;
    }*/

    .easyWizardSteps li a {
        font-size: 15px;
        /*padding: 2px 9px;
        border-radius: 50%;
        margin-top: -5px;
        color: #eee;
        font-weight: 700;
        margin-right: 5px;
        border: 2px solid #eee;*/
    }

    /*
     .radio_render{
 
     }
 
     .radio_render label {
         width: 75%;
         float: left;
     }
 
     .radio_render label input {
         margin-top: -2.5px;
         margin-left: 25%;
     }
 
     
     .stepwizard-step p {
         margin-top: 10px;
         margin-bottom: 40px;
     }
     .stepwizard-row {
         display: table-row;
     }
     .stepwizard {
         display: table;
         width: 95%;
         position: relative;
     }
     .stepwizard-step button[disabled] {
         opacity: 1 !important;
         filter: alpha(opacity=100) !important;
     }
     .stepwizard-row:before {
         top: 22px;
         bottom: 0;
         position: absolute;
         content: " ";
         width: 100%;
         height: 2px;
         
         background-color: blue;
         z-order: 0;
     }
     .stepwizard-step {
         display: table-cell;
         text-align: center;
         position: relative;
     }
     .btn-circle {
         width: 45px;
         height: 45px;
         text-align: center;
         padding: 10px 0;
         font-size: 14px;
         line-height: 1.428571429;
         border-radius: 22.5px;
     }
     .form-group {
         margin: 0px;
     }
     .setup-content{
         margin-top: 100px;
     }*/
</style>

<?php if ($notaris == '1') {
?> <script type="text/javascript">
        document.getElementById("t_njoptanah").readOnly = true;
        document.getElementById("t_njopbangunan").readOnly = true;
    </script>
<?php

} else {
}
?>

<script type="text/javascript">
    hitungBphtb();
    $('#pendaftaranbutton').click(function() {
        var myForm = document.getElementById('formtambah');
        myForm.onsubmit = function() {
            var allInputs = myForm.getElementsByTagName('input');
            var input, i;

            for (i = 0; input = allInputs[i]; i++) {
                if (input.getAttribute('name') && !input.value) {

                } else {
                    jQuery('#loadingsimpanvalidasi').modal('show');
                }
            }
        };

    });

    $('#t_nikwppenjual, #t_namawppenjual, #t_alamatwppenjual, #t_rtwppenjual, #t_rwwppenjual, #t_kelurahanwppenjual, #t_kecamatanwppenjual, #t_kabkotawppenjual').keyup(function() {
        if ($(this).val().length != 0) {
            $('#pendaftaranbutton').attr('disabled', false);
        } else {
            $('#pendaftaranbutton').attr('disabled', true);
        }
    })

    jQuery("[data-mask]").inputmask();

    //AGAR TIDAK BERMSALAH PADA LEWAT TAHUN
    //    jQuery("#t_tglprosesspt").datepicker({
    //        format: 'dd-mm-yyyy'
    //    });


    $("#t_tglprosesspt").attr("readonly", true);

    jQuery("#t_tglajb").datepicker({
        format: 'dd-mm-yyyy',
    });

    function next(a) {
        jQuery('#tabs a[href=#' + a + ']').tab('show');
    }

    $(document).ready(function() {
        $("#tambahPenerima").click(function() {
            var id = document.getElementById("idk").value;
            $("#kolomTambahPenerima").append(
                '<div class="form-horizontal form-group col-md-12">' +
                '<div class="col-md-12">' +
                '<div class="form-group row">' +
                '<label for="inputKey" class="col-md-2 control-label" style="text-align: left;"></label>' +
                '<div class="col-md-3">' +
                '<input class="form-control" type="text" name="t_namapenerimawaris[' + id + ']">' +
                '</div>' +
                '<label for="inputValue" class="col-md-1 control-label"></label>' +
                '<div class="col-md-2">' +
                '<input class="form-control" type="text" name="t_nikpenerimawaris[' + id + ']" onkeypress="return numbersonly(this, event)" maxlength="16">' +
                '</div>' +
                '<label for="inputValue" class="col-md-1 control-label"></label>' +
                '<div class="col-md-3">' +
                '<input class="form-control" type="text" name="t_alamatpenerimawaris[' + id + ']">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>'
            );
            id = (id - 1) + 2;
            document.getElementById("idk").value = id;
        });
    });

    //    $("#historybphtb").hide();

    <?php if ($data != 1) {
    ?>
        $("#t_ketwaris").hide();
        $("#centang_terbukti").hide();
    <?php
    }
    ?>

    function myFunction() {
        $("#t_ketwaris").show();
        if ($('#ket_npoptkp').val() == 'Tidak Dapat NPOPTKP') {
            $('#t_potonganspt').val(0);
        } else {
            var npoptkp = '300.000.000';
            $('#t_potonganspt').val(npoptkp);
            var npop = unformatCurrency($('#t_npopspt').val());
            var npoptkp = unformatCurrency($('#t_potonganspt').val());
            var npopkp = (npop * 1) - (npoptkp * 1);
            if ((npopkp * 1) < 0) {
                $('#t_npopkpspt').val(0);
                $('#t_totalspt').val(0);
            } else {
                $('#t_npopkpspt').val(currencyFormatDE((npopkp * 1)));
                var totalspt = (npopkp * 1) * 5 / 100;
                $('#t_totalspt').val(currencyFormatDE((totalspt * 1)));
            }
        }
    }

    function myFunction1() {
        $("#t_ketwaris").hide();
        if ($('#ket_npoptkp').val() == 'Tidak Dapat NPOPTKP') {
            $('#t_potonganspt').val(0);
        } else {
            var npoptkp = '300.000.000';
            $('#t_potonganspt').val(npoptkp);
            var npop = unformatCurrency($('#t_npopspt').val());
            var npoptkp = unformatCurrency($('#t_potonganspt').val());
            var npopkp = (npop * 1) - (npoptkp * 1);
            if ((npopkp * 1) < 0) {
                $('#t_npopkpspt').val(0);
                $('#t_totalspt').val(0);
            } else {
                $('#t_npopkpspt').val(currencyFormatDE((npopkp * 1)));
                var totalspt = (npopkp * 1) * 5 / 100;
                $('#t_totalspt').val(currencyFormatDE((totalspt * 1)));
            }
        }
    }



    function historybphtb() {
        // CARI NIK APABILA SUDAH DIINPUT DG JUMLAH LENGKAP
        if (countNIK('#t_nikwppembeli') == 16) {

            $.post('<?= $this->url() ?>/historybphtb', {
                t_nikwppembeli: $('#t_nikwppembeli').val(),
                t_tglprosesspt: $('#t_tglprosesspt').val()
            }, function(data) {
                var aa = JSON.parse(data);

                if ((aa == '') || (aa == null)) {

                } else {
                    //Data WP
                    $("#historydiv").html(aa.raw_return);
                    if (aa.t_namawppembeli != undefined) {
                        $('#t_namawppembeli').val(aa.t_namawppembeli);
                        $('#t_npwpwppembeli').val(aa.t_npwpwppembeli);
                        $('#t_alamatwppembeli').val(aa.t_alamatwppembeli);
                        $('#t_rtwppembeli').val(aa.t_rtwppembeli);
                        $('#t_rwwppembeli').val(aa.t_rwwppembeli);
                        $('#t_kelurahanwppembeli').val(aa.t_kelurahanwppembeli);
                        $('#t_kecamatanwppembeli').val(aa.t_kecamatanwppembeli);
                        $('#t_kabkotawppembeli').val(aa.t_kabkotawppembeli);
                        $('#t_kodeposwppembeli').val(aa.t_kodeposwppembeli);
                        $('#t_telponwppembeli').val(aa.t_telponwppembeli);
                        $('#jumlahpembayaran').val(aa.t_nilaipembayaranspt);
                        //$('#t_potonganspt').val('0');
                    }

                    var periodesekarang = $('#t_periodesptsekarang').val();

                    /* if ((aa.t_nikwppembeli != null) && (aa.t_periodespt == periodesekarang)) {
                    //if (aa.t_nikwppembeli != null) {
                    $("#historybphtb").show();
                    //$('#ket_npoptkp').val('Dapat NPOPTKP');
                    $('#ket_npoptkp').val('Tidak Dapat NPOPTKP');
                    hitungBphtb();
                    } else {
                    $("#historybphtb").hide();
                    $('#t_potonganspt').val('');
                    $('#ket_npoptkp').val('Dapat NPOPTKP');
                    hitungBphtb();
                    } */
                    hitungBphtb();
                }
            });
        }
    }


    $("#t_nikwppenjual").on("keyup", function() {
        // CARI JIKA DIGIT VALID
        if (countNIK('#t_nikwppenjual') == 16) {

            $.post('<?= $this->url() ?>/historybphtb', {
                t_nikwppenjual: $('#t_nikwppenjual').val(),
                t_tglprosesspt: $('#t_tglprosesspt').val()
            }, function(data) {
                var aa = JSON.parse(data);

                if ((aa == '') || (aa == null)) {

                } else {
                    //DATA WP PELEPAS HAK
                    if (aa.t_namawppenjual != undefined) {
                        $("#t_namawppenjual").val(aa.t_namawppenjual);
                        $("#t_alamatwppenjual").val(aa.t_alamatwppenjual);
                        $("#t_rtwppenjual").val(aa.t_rtwppenjual);
                        $("#t_rwwppenjual").val(aa.t_rwwppenjual);
                        $("#t_kelurahanwppenjual").val(aa.t_kelurahanwppenjual);
                        $("#t_kecamatanwppenjual").val(aa.t_kecamatanwppenjual);
                        $("#t_kabkotawppenjual").val(aa.t_kabkotawppenjual);
                        $("#t_kodeposwppenjual").val(aa.t_kodeposwppenjual);
                        $("#t_npwpwppenjual").val(aa.t_npwpwppenjual);
                        $("#t_telponwppenjual").val(aa.t_telponwppenjual);
                    }
                }
            });
        }
    });

    function countNIK(a) {
        var nik_cari = $(a).val();
        var nik_cari_replace = nik_cari.replace("_", "");
        var nik_cari_count = nik_cari_replace.length;

        return nik_cari_count;
    }

    function showimg() {
        document.getElementById("myDiv").style.display = "block";
    }

    function hideimg() {
        document.getElementById("myDiv").style.display = "none";
    }

    function datanop() {
        showimg();
        $.post('<?= $this->url() ?>/datanop', {
            t_nopbphtbsppt: $('#t_nopbphtbsppt').val(),
            t_thnsppt: $('#t_thnsppt').val()
        }, function(data) {
            var aa = JSON.parse(data);
            //Data Objek Pajak
            if ((aa == '') || (aa == null)) {
                $('#t_namasppt').val('');
                $('#t_alamatop').val('');
                $('#t_rtop').val('');
                $('#t_rwop').val('');
                $('#t_kelurahanop').val('');
                $('#t_kecamatanop').val('');
                $('#t_luastanah').val(0 * 1);

                $('#t_luastanah_sismiop').val(0 * 1);
                $('#t_luasbangunan_sismiop').val(0 * 1);
                $('#t_njoptanah_sismiop').val(0 * 1000);
                $('#t_njopbangunan_sismiop').val(0 * 1000);

                $('#t_njoptanah').val(0 * 1000);
                $('#t_totalnjoptanah').val(0 * 1);
                $('#t_luasbangunan').val(0 * 1);
                $('#t_njopbangunan').val(0 * 1000);
                $('#t_totalnjopbangunan').val(0 * 1);
                $('#t_grandtotalnjop').val(0 * 1);
                //Data Penjual
                $('#t_namawppenjual').val('');
                $('#t_alamatwppenjual').val('');
                $('#t_rtwppenjual').val('');
                $('#t_rwwppenjual').val('');
                $('#t_kelurahanwppenjual').val('');
                $('#t_kabkotawppenjual').val('');
                $('#t_kodeposwppenjual').val('');
                hideimg();
                TentukanNPOP();
                hitungBphtb();
            } else {

                var totNjopBng = (aa.NJOP_BNG_SPPT == 0) ? 0 : aa.NJOP_BNG_SPPT / aa.LUAS_BNG_SPPT;

                $('#t_namasppt').val(aa.NM_WP_SPPT);
                $('#t_alamatop').val(aa.JALAN_OP);
                $('#t_rtop').val(aa.RT_OP);
                $('#t_rwop').val(aa.RW_OP);
                $('#t_kelurahanop').val(aa.NM_KELURAHAN);
                $('#t_kecamatanop').val(aa.NM_KECAMATAN);

                // $('#t_luastanah_sismiop').val(aa.LUAS_BUMI_SPPT);
                // $('#t_luasbangunan_sismiop').val(aa.LUAS_BNG_SPPT * 1);
                // $('#t_njoptanah_sismiop').val(aa.NILAI_PER_M2_TANAH * 1000);
                // $('#t_njopbangunan_sismiop').val(aa.NILAI_PER_M2_BNG * 1000);

                $('#t_luastanah_sismiop').val(aa.LUAS_BUMI_SPPT * 1);
                $('#t_luasbangunan_sismiop').val(aa.LUAS_BNG_SPPT * 1);
                $('#t_njoptanah_sismiop').val(aa.NJOP_BUMI_SPPT / aa.LUAS_BUMI_SPPT);
                $('#t_njopbangunan_sismiop').val(aa.NJOP_BNG_SPPT / aa.LUAS_BNG_SPPT);

                $('#t_luastanah').val(aa.LUAS_BUMI_SPPT);
                $('#t_njoptanah').val(currencyFormatDE(aa.NJOP_BUMI_SPPT / aa.LUAS_BUMI_SPPT));
                $('#t_totalnjoptanah').val(currencyFormatDE(aa.NJOP_BUMI_SPPT * 1));
                $('#t_luasbangunan').val(aa.LUAS_BNG_SPPT);
                $('#t_njopbangunan').val(currencyFormatDE(totNjopBng));
                $('#t_totalnjopbangunan').val(currencyFormatDE(aa.NJOP_BNG_SPPT * 1));
                $('#t_grandtotalnjop').val(currencyFormatDE(aa.NJOP_SPPT * 1)); //Data Penjual
                $('#t_namawppenjual').val(aa.NM_WP_SPPT);
                $('#t_alamatwppenjual').val("Jl. " + aa.JLN_WP_SPPT + " Blok " + aa.BLOK_KAV_NO_WP_SPPT + " Rt. " + aa.RT_WP_SPPT + " Rw. " + aa.RW_WP_SPPT);
                $('#t_kelurahanwppenjual').val(aa.KELURAHAN_WP_SPPT);
                $('#t_kabkotawppenjual').val(aa.KOTA_WP_SPPT);
                $('#t_kodeposwppenjual').val(aa.KD_POS_WP_SPPT);

                hideimg();
                TentukanNPOP();
                hitungBphtb();
                cektunggakanpbb();

            }
        });
    }

    function hitungnjop() {
        $.post('<?= $this->url() ?>/hitungnjop', {
            t_luastanah: $('#t_luastanah').val(),
            t_njoptanah: $('#t_njoptanah').val(),
            t_luasbangunan: $('#t_luasbangunan').val(),
            t_njopbangunan: $('#t_njopbangunan').val(),
            t_idjenistransaksi: $('#t_idjenistransaksi').val()
        }, function(data) {
            var aa = JSON.parse(data);
            $("#t_totalnjoptanah").val(currencyFormatDE(aa.t_totalnjoptanah * 1));
            $('#t_totalnjopbangunan').val(currencyFormatDE(aa.t_totalnjopbangunan * 1));
            $('#t_grandtotalnjop').val(currencyFormatDE(aa.t_grandtotalnjop * 1));
            //            $('#t_nilaitransaksispt').val(currencyFormatDE(aa.t_nilaitransaksispt * 1));
        });
        hitungBphtb();
    }

    function TentukanNPOP() {
        var NjopPbb = unformatCurrency($("#t_grandtotalnjop").val());
        var NilaiTransaksi = unformatCurrency($("#t_nilaitransaksispt").val());
        if ((NjopPbb * 1) > (NilaiTransaksi * 1)) {
            $("#t_npopspt").val(formatCurrency(NjopPbb));
            hitungBphtb();
        } else {
            $("#t_npopspt").val(formatCurrency(NilaiTransaksi));
            hitungBphtb();
        }

    }

    function hitungBphtb() {
        $.post('<?= $this->url() ?>/hitungBphtb', {
            t_nilaitransaksispt: $('#t_nilaitransaksispt').val(),
            t_grandtotalnjop: $('#t_grandtotalnjop').val(),
            t_idjenistransaksi: $('#t_idjenistransaksi').val(),
            t_terbukti: $('#t_terbukti').val(),
            t_tglajb: $('#t_tglajb').val(),
            t_potonganspt: $('#t_potonganspt').val(),
            t_npopspt: $('#t_npopspt').val(),
            t_persenbphtb: $('#t_persenbphtb').val(),
            //t_tarif_pembagian_kali: $('#t_tarif_pembagian_kali').val(), t_tarif_pembagian_bagi: $('#t_tarif_pembagian_bagi').val(),
            t_tarif_pembagian_aphb_kali: $('#t_tarif_pembagian_aphb_kali').val(),
            t_tarif_pembagian_aphb_bagi: $('#t_tarif_pembagian_aphb_bagi').val(),
            t_luastanah: $('#t_luastanah').val(),
            t_njoptanah: $('#t_njoptanah').val(),
            t_luasbangunan: $('#t_luasbangunan').val(),
            t_njopbangunan: $('#t_njopbangunan').val(),
            t_nikwppembeli: $('#t_nikwppembeli').val(),
            t_tglprosesspt: $('#t_tglprosesspt').val(),
            t_idspt: $('#t_idspt').val(),
            t_idpengurangan: $('#t_idpengurangan').val(),
        }, function(data) {
            var aa = JSON.parse(data);
            if ((aa == '') || (aa == null)) {

            } else {

                $("#t_totalnjoptanah").val(currencyFormatDE(aa.t_totalnjoptanah * 1));
                $('#t_totalnjopbangunan').val(currencyFormatDE(aa.t_totalnjopbangunan * 1));
                $('#t_grandtotalnjop').val(currencyFormatDE(aa.t_grandtotalnjop * 1));
                $('#t_grandtotalnjop_aphb').val(currencyFormatDE(aa.t_grandtotalnjop_aphb * 1));

                $("#t_npopspt").val(currencyFormatDE(aa.t_npopspt * 1));
                $('#t_potonganspt').val(currencyFormatDE(aa.t_potonganspt * 1));
                $("#t_npopkpspt").val(currencyFormatDE(aa.t_npopkpspt * 1));
                $('#t_totalspt').val(currencyFormatDE(aa.t_totalspt * 1));
                $('#ket_npoptkp').val(aa.ket_npoptkp);
                $('#t_potongan_waris_hibahwasiat').val(aa.t_potongan_waris_hibahwasiat);
                $('#t_persenpengurangan').val(aa.t_persenpengurangan);
            }
        });
    }

    function TampilPersyaratan() {
        $.post('<?= $this->url() ?>/TampilPersyaratan', {
            t_idjenistransaksi: $('#t_idjenistransaksi').val()
        }, function(data) {
            var aa = JSON.parse(data);
            var jns_transaksi = $('#t_idjenistransaksi').val();
            if ((jns_transaksi * 1) == 4 || (jns_transaksi * 1) == 5) {
                $("#centang_terbukti").show();
            } else {
                $("#centang_terbukti").hide();
                $("#t_terbukti").val(0);
            }
            $("#persyaratannya").html(aa.raw_return);
        });

        var jns_transaksi = $('#t_idjenistransaksi').val();



        if ((jns_transaksi * 1) == 18) {
            $("#pembagian_aphb_1").show();
            $("#pembagian_aphb_2").show();
            $("#pembagian_aphb_3").show();
            $("#pembagian_aphb_4").show();
            $("#pembagian_aphb_5").show();
            $("#pembagian_aphb_6").show();
            $("#pembagian_aphb_7").show();
            $("#pembagian_aphb_8").show();
            $("#t_tarif_pembagian_aphb_kali").show();
            $("#t_tarif_pembagian_aphb_bagi").show();
            $("#t_grandtotalnjop_aphb").show();

        } else {
            $("#pembagian_aphb_1").hide();
            $("#pembagian_aphb_2").hide();
            $("#pembagian_aphb_3").hide();
            $("#pembagian_aphb_4").hide();
            $("#pembagian_aphb_5").hide();
            $("#pembagian_aphb_6").hide();
            $("#pembagian_aphb_7").hide();
            $("#pembagian_aphb_8").hide();

            $("#t_tarif_pembagian_aphb_kali").hide();
            $("#t_tarif_pembagian_aphb_bagi").hide();
            $("#t_grandtotalnjop_aphb").hide();
            $('#t_tarif_pembagian_aphb_kali').val('');
            $('#t_tarif_pembagian_aphb_bagi').val('');
            $("#t_grandtotalnjop_aphb").val('');
        }

        if (((jns_transaksi * 1) == 4) || ((jns_transaksi * 1) == 5)) {
            $("#potongan_waris_hibah1").show();
            $("#potongan_waris_hibah2").show();
            $("#potongan_waris_hibah3").show();
            $("#potongan_waris_hibah4").show();

            $("#t_potongan_waris_hibahwasiat").show();
        } else {
            $("#potongan_waris_hibah1").hide();
            $("#potongan_waris_hibah2").hide();
            $("#potongan_waris_hibah3").hide();
            $("#potongan_waris_hibah4").hide();

            $("#t_potongan_waris_hibahwasiat").hide();
            $("#t_potongan_waris_hibahwasiat").val('');
        }

        hitungBphtb();
    }


    var jns_transaksi = $('#t_idjenistransaksi').val();


    if ((jns_transaksi * 1) == 18) {
        $("#pembagian_aphb_1").show();
        $("#pembagian_aphb_2").show();
        $("#pembagian_aphb_3").show();
        $("#pembagian_aphb_4").show();
        $("#pembagian_aphb_5").show();
        $("#pembagian_aphb_6").show();
        $("#pembagian_aphb_7").show();
        $("#pembagian_aphb_8").show();
        $("#t_tarif_pembagian_aphb_kali").show();
        $("#t_tarif_pembagian_aphb_bagi").show();
        $("#t_grandtotalnjop_aphb").show();
        $('#t_tarif_pembagian_aphb_kali').val(<?= $t_tarif_pembagian_aphb_kali; ?>);
        $('#t_tarif_pembagian_aphb_bagi').val(<?= $t_tarif_pembagian_aphb_bagi; ?>);

        var totaphtb = "<?= $totaphb; ?>";

        $("#t_grandtotalnjop_aphb").val(totaphtb);

    } else {
        $("#pembagian_aphb_1").hide();
        $("#pembagian_aphb_2").hide();
        $("#pembagian_aphb_3").hide();
        $("#pembagian_aphb_4").hide();
        $("#pembagian_aphb_5").hide();
        $("#pembagian_aphb_6").hide();
        $("#pembagian_aphb_7").hide();
        $("#pembagian_aphb_8").hide();
        $("#t_tarif_pembagian_aphb_kali").hide();
        $("#t_tarif_pembagian_aphb_bagi").hide();
        $("#t_grandtotalnjop_aphb").hide();
    }

    if (((jns_transaksi * 1) == 4) || ((jns_transaksi * 1) == 5)) {
        $("#potongan_waris_hibah1").show();
        $("#potongan_waris_hibah2").show();
        $("#potongan_waris_hibah3").show();
        $("#potongan_waris_hibah4").show();

        $("#t_potongan_waris_hibahwasiat").show();
        $("#t_potongan_waris_hibahwasiat").val(<?= $t_potongan_waris_hibahwasiat; ?>);
    } else {
        $("#potongan_waris_hibah1").hide();
        $("#potongan_waris_hibah2").hide();
        $("#potongan_waris_hibah3").hide();
        $("#potongan_waris_hibah4").hide();

        $("#t_potongan_waris_hibahwasiat").hide();
        $("#t_potongan_waris_hibahwasiat").val('');
    }


    //    =============================================
    //    Form Wizard

    $(document).ready(function() {
        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn'),
            allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function(e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-facebook').addClass('btn-default');
                $item.addClass('btn-facebook');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }

            // tambahi dewe loading e coy
            var nextStepWizard = $(this).text();

            if (nextStepWizard == 1)
                $('.stepwizard-step .progress-bar').animate({
                    width: '20%'
                }, 0);
            if (nextStepWizard == 2)
                $('.stepwizard-step .progress-bar').animate({
                    width: '40%'
                }, 0);
            if (nextStepWizard == 3)
                $('.stepwizard-step .progress-bar').animate({
                    width: '60%'
                }, 0);
            if (nextStepWizard == 4)
                $('.stepwizard-step .progress-bar').animate({
                    width: '80%'
                }, 0);
            if (nextStepWizard == 5)
                $('.stepwizard-step .progress-bar').animate({
                    width: '100%'
                }, 0);
            // end tambahi dewe  

        });

        allPrevBtn.click(function() {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

            prevStepWizard.trigger('click');
        });

        allNextBtn.click(function() {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url'],textarea, select"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-facebook').trigger('click');
    });

    //  centang semua
    function modify_boxes(total_boxes) {
        if (document.forms[0].CheckAll.checked) {
            to_be_checked = true;
        } else {
            to_be_checked = false;
        }
        for (i = 0; i < total_boxes; i++) {
            if (to_be_checked) {
                document.forms[0].t_persyaratan[i].checked = true;
            } else {

                document.forms[0].t_persyaratan[i].checked = false;
            }
        }
    }

    function TampilKeterangan() {
        var selectedPackage = document.getElementById("t_jenispendaftaran").value;
        $('#detailNOPGabungan').removeClass('hidden');
        $('#btnAddNOP').removeClass('hidden');
        $('#btnProsesNOP').addClass('hidden');
        $('#pendaftaran_umum_div').removeClass('hidden');
        if (selectedPackage == '2' || selectedPackage == '3') {
            document.getElementById('keterangannya').style.display = "block";
            $('#detailNOPGabungan').addClass('hidden');
            $('#btnProsesNOP').removeClass('hidden');
            $('#btnAddNOP').addClass('hidden');
            $('#pendaftaran_umum_div').removeClass('hidden');
        } else if (selectedPackage == '4') {
            getNOP();
            $('#pendaftaran_umum_div').addClass('hidden');
            $('#btnProsesNOP').addClass('hidden');
            $('#btnAddNOP').removeClass('hidden');
            $('#detailNOPGabungan').removeClass('hidden');
            document.getElementById('keterangannya').style.display = "none";
        } else {
            document.getElementById('keterangannya').style.display = "none";
            $('#pendaftaran_umum_div').removeClass('hidden');
            $('#detailNOPGabungan').addClass('hidden');
            $('#btnProsesNOP').removeClass('hidden');
            $('#btnAddNOP').addClass('hidden');
        }
    }

    function cektunggakanpbb() {
        $.post('<?= $this->url('verifikasi_spt') ?>/cektunggakanpbb', {
            t_nopbphtbsppt: $('#t_nopbphtbsppt').val(),
            t_thnsppt: $("#t_thnsppt").val(),
        }, function(data) {
            var aa = JSON.parse(data);
            if (aa.PBB_YG_HARUS_DIBAYAR_SPPT != '') {
                jQuery('#ModalTunggakanPBB').modal('show');
                $('#datatunggakan').html(aa.datatunggakan);
            }
        });
    }
</script>
<!-- Modal Tunggakan PBB -->
<div class="modal fade" id="ModalTunggakanPBB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Peringatan</h4>
            </div>
            <div class="modal-body" id="dialog_pendataan" title="Daftar Pendataan">
                <div id="datatunggakan"></div>
            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-primary" onclick="tutupmodaltunggakan()">Tutup</b  utton>-->
            </div>
        </div>
    </div>
</div>