<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">PENDAFTARAN SSPD BPHTB</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row margin">
                            <div class="col-sm-12">
                                <div class="row">
                                    <a href="<?= $this->url('pendataan_sspd') ?>/tambah" class="btn bg-purple btn-sm margin">Tambah</a>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-success btn-sm" onclick="openCetakPenelitian()">Cetak Permohonan Penelitian</a> 
                                        <a href="#" class="btn btn-success btn-sm" onclick="openCetakBukti()">Cetak Bukti Penerimaan Surat/Berkas</a> 
                                        <a href="<?= $this->url('pendataan_sspd') ?>/formcetakdatastatusberkas" class="btn btn-success btn-sm" >Cetak Daftar Status Berkas</a> 
                                        <a href="<?= $this->url('pendataan_sspd') ?>/formcetakdatapendaftaran" class="btn btn-success btn-sm margin" >Cetak Daftar Pendaftaran</a>   
                                    </div>
                                </div>
                                <div class="row">
                                    <div style=" overflow: auto;">
                                        <div class="col-lg-12 col-sm12">
                                            <table class="table table-hover table-bordered">
                                                <thead style="font-size: 12px">
                                                    <tr class="bg-blue">  
                                                        <th class="text-center" style="width: 5%">
                                                            No. Daftar
                                                        </th>           
                                                        <th class="text-center" style="width: 5%">
                                                            Tahun Pajak
                                                        </th>     
                                                        <th class="text-center" style="width: 7%">
                                                            Tgl Proses
                                                        </th>     
                                                        <th class="text-center">
                                                            Nama WP
                                                        </th>     
                                                        <th class="text-center">
                                                            Jumlah Pajak
                                                        </th>     
                                                        <th class="text-center" style="width: 10%">
                                                            Jenis Transaksi
                                                        </th>     
                                                        <th class="text-center" style="width: 7%">
                                                            Pendaftaran
                                                        </th>     
                                                        <th class="text-center" style="width: 7%">
                                                            Validasi
                                                        </th>     
                                                        <th class="text-center" style="width: 7%">
                                                            Pembayaran
                                                        </th>     
                                                        <th class="text-center" style="width: 5%">
                                                            Cetak SSPD
                                                        </th>           
                                                        <th class="text-center" style="width: 17%">
                                                            Lihat/Edit/Hapus
                                                        </th>   
                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <td>
                                                        <input type="text" id="t_kohirspt" name="t_kohirspt" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_periodespt" name="t_periodespt" class="form-control" onkeyup="calldatagrid()" onchange="calldatagrid()" onblur="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_tglprosesspt" name="t_tglprosesspt" class="form-control" onkeyup="calldatagrid()" onchange="calldatagrid()" onblur="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_namawppembeli" name="t_namawppembeli" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_totalspt" name="t_totalspt" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="s_namajenistransaksi" name="s_namajenistransaksi" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <select class="form-control" id="t_statusbayarspt" onchange="calldatagrid()">
                                                            <option value="">Pilih</option>
                                                            <option value="TRUE">Sudah Dibayar</option>
                                                            <option value="FALSE">Belum Dibayar</option>
                                                        </select>
                                                    </td>
                                                    <td></td><td></td>
                                                </tr>
                                                <tbody id="body_grid">
                                                </tbody>
                                                <tfoot>              
                                                    <tr>
                                                        <td colspan="12" class="text-center">
                                                            <div class="row">
                                                                <div class="col-sm-4 text-left">Jumlah Baris Ditampilkan: <input type="text" id="rows" style="width: 20%" class="text-center" value="10"></div>
                                                                <div class="col-sm-3">
                                                                    <a href="#" onclick="calldatagrid(1);
                                                                            return false;">
                                                                        <span class="glyphicon glyphicon-step-backward" aria-hidden="true">
                                                                        </span>
                                                                    </a>
                                                                    <input type="text" id="page" value="1" style="width: 20%" class="text-center">
                                                                    <a href="#" onclick="calldatagrid(2);
                                                                            return false;">
                                                                        <span class="glyphicon glyphicon-step-forward" aria-hidden="true">
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <div class="col-sm-5 text-right">
                                                                    <p>Jumlah Data <span id="total_data"></span>&nbsp;Jumlah Halaman <span id="total_halaman"></span></p>                                    
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<div class="modal fade" id="cetakbuktipenerimaan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CETAK BUKTI PENERIMAAN SURAT/BERKAS</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td style="width:150px">
                            Tahun Pajak
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="periode_spt_bukti" value="<?= date('Y') ?>">
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tanggal Cetak
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="tgl_cetak_bukti" id="tgl_cetak_bukti" value="<?= date('d-m-Y') ?>">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nomor Pendaftaran
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="no_spt_bukti1">
                                </div>
                                <!--<div class="col-sm-1">S/d</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="no_spt_bukti2">
                                </div>-->
                            </div>
                        </td>
                    </tr>
                </table>
                <div align="right">
                    <button class="btn btn-success" onclick="cetakbuktipenerimaan();">Cetak</button> <button class="btn btn-success" onclick="tutupbukti()">Tutup</button>
                </div>                
            </div>            
        </div>
    </div>
</div>

<div class="modal fade" id="myModalPenelitian" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CETAK PERMOHONAN PENELITIAN</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td style="width:50%">
                            Tahun Pajak
                        </td>
                        <td>
                            <input type="text" class="form-control" id="periode_spt_penelitian" value="<?= date('Y') ?>">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tanggal Cetak
                        </td>
                        <td>
                            <input type="text" class="form-control" id="tgl_cetak_penelitian" value="<?= date('d-m-Y') ?>">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nomor Pendaftaran
                        </td>
                        <td>
                            <input type="text" id="no_spt_penelitian" class="form-control">
                        </td>
                    </tr>
                </table>
                <div align="right">
                    <button class="btn btn-success" onclick="cetakpermohonanpenelitian();">Cetak</button> <button class="btn btn-success" onclick="tutupCetakPenelitian()">Tutup</button>
                </div>                
            </div>            
        </div>
    </div>
</div>

<div class="modal fade" id="cetakansspd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CETAK SSPD</h4>
            </div>
            <div class="modal-body">
                <table>
                    
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="hidden" id="no_spt1_sspd" class="form-control" >
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mengetahui : 
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    &nbsp;&nbsp;<select id="mengetahuilengkapsspd" class="selectpicker" data-live-search="true">
                                        <?php foreach ($this->data_mengetahuilengkap_sspd as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <? } ?>
                                    </select>
                                </div>
                            </div> 
                        </td>
                    </tr>
                </table>
                <div align="right">
                    <button class="btn btn-success" onclick="cetakbuktilengkap1_sspd();">Cetak</button> <button class="btn btn-success" onclick="tutupsspd()">Tutup</button>
                </div>                
            </div>            
        </div>
    </div>
</div>

<script type="text/javascript">

//  =====================================================
//  Tabel Pendaftaran
    $(function () {
        calldatagrid();
    });

    $("#t_periodespt").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#t_tglprosesspt").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function hapus(a) {
        var tanya = confirm("Hapus data ini?")
        if (tanya) {
            $.post('<?= $this->url() ?>/hapus/' + a);
            calldatagrid();
        }
        calldatagrid();
    }
    
    function hapusall(a) {
        var tanya = confirm("Hapus semua data ini? (data pendaftaran, validasi, pembayaran akan dihapus)")
        if (tanya) {
            $.post('<?= $this->url() ?>/hapusall/' + a);
            calldatagrid();
        }
        calldatagrid();
    }

    function calldatagrid(direction) {
        if ($("#t_kohirspt").val().length == 0)
            par1 = undefined;
        else
            par1 = $("#t_kohirspt").val()
        if ($("#t_periodespt").val().length == 0)
            par2 = undefined;
        else
            par2 = $("#t_periodespt").val()
        if ($("#t_tglprosesspt").val().length == 0)
            par3 = undefined;
        else
            par3 = $("#t_tglprosesspt").val()
        if ($("#t_namawppembeli").val().length == 0)
            par4 = undefined;
        else
            par4 = $("#t_namawppembeli").val()
        if ($("#t_totalspt").val().length == 0)
            par5 = undefined;
        else
            par5 = $("#t_totalspt").val()
        if ($("#s_namajenistransaksi").val().length == 0)
            par6 = undefined;
        else
            par6 = $("#s_namajenistransaksi").val()
        if ($("#t_statusbayarspt").val().length == 0)
            par7 = undefined;
        else
            par7 = $("#t_statusbayarspt").val()
        datagrid($("#page").val(), $("#rows").val(), direction, par1, par2, par3, par4, par5, par6, par7);
    }

    function datagrid(page, row, direction, par1, par2, par3, par4, par5, par6, par7) {
        $.get('<?= $this->url() ?>/dataGrid/' + page + '/' + row + '/' + direction + '/' + par1 + '/' + par2 + '/' + par3 + '/' + par4 + '/' + par5 + '/' + par6 + '/' + par7, function (data) {
            var aa = JSON.parse(data)
            $("#body_grid").html(aa.grid);
            $("#rows").val(aa.rows);
            $("#page").val(aa.page);
            $("#total_data").html(": " + aa.count);
            $("#total_halaman").html(": " + aa.total_halaman);
        });
    }
//  =====================================================


//  =====================================================
//  Cetak Bukti Penerimaan Surat/Berkas
    $("#periode_spt_bukti").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetak_bukti").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function openCetakBukti() {
        jQuery('#cetakbuktipenerimaan').modal('show');
    }

    function tutupbukti() {
        jQuery('#cetakbuktipenerimaan').modal('hide');
        jQuery("#no_spt_bukti1,#no_spt_bukti2").val('');
    }

    function tutup2() {
        jQuery('#myModal2').modal('hide');
        jQuery("#kb_no_spt1,#kb_no_spt2").val('');
    }
    
    function openCetakSSPD(a) {
        jQuery('#cetakansspd').modal('show');
        jQuery("#no_spt1_sspd").val(a);
    }
    
    function tutupsspd() {
        jQuery('#cetakansspd').modal('hide');
        //jQuery("#no_spt1_sspd,#mengetahuilengkapsspd").val('');
    }

    function cetakbuktipenerimaan() {
        window.open('<?= $this->url() ?>/cetakbuktipenerimaan?no_spt1=' + $("#no_spt_bukti1").val() + "&periode_spt=" + $("#periode_spt_bukti").val() + "&t_objekspt=1" + "&tgl_cetak=" + $("#tgl_cetak_bukti").val()) //+ "&no_spt2=" + $("#no_spt_bukti2").val() 
    }
    
    function cetakbuktilengkap1_sspd() {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetaksspdbphtb?&action=cetaksspd&t_idspt=' + $("#no_spt1_sspd").val() + "&mengetahuibphtbsspd=" + $("#mengetahuilengkapsspd").val())
    }
//  =====================================================



//  =====================================================
//  Cetak Permohonan Penelitian
    function openCetakPenelitian() {
        jQuery('#myModalPenelitian').modal('show');
    }

    function tutupCetakPenelitian() {
        jQuery('#myModalPenelitian').modal('hide');
    }

    $("#periode_spt_penelitian").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetak_penelitian").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function cetakpermohonanpenelitian() {
        window.open('<?= $this->url() ?>/cetakpermohonanpenelitian?periode_spt_penelitian=' + $("#periode_spt_penelitian").val() + "&tgl_cetak_penelitian=" + $("#tgl_cetak_penelitian").val() + "&no_spt_penelitian=" + $("#no_spt_penelitian").val())
    }
//    ===================================================

</script>