<link rel="stylesheet" href="<?= $this->basePath(); ?>/public/uploadmen/internet/css/blueimp-gallery.min.css">

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <u style="font-size: 14px; color: blue"><strong>Informasi Pihak Kedua(Penerima Hak)</strong></u>
                                        <div class="pull-right">
                                            <?php if (@$role_id == 6) { ?>

                                            <?php } else {
                                            ?>
                                                <a href="<?= $this->url() ?>" class="btn btn-primary btn-flat btn-sm">Kembali</a>
                                            <?php } ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Tgl Pendaftaran
                                    </div>
                                    <div class="col-sm-3">
                                        : <?= $datasspd['t_tglprosesspt'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NIK
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_nikwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        NPWP
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_npwpwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Nama
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_namawppembeli'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Alamat
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_alamatwppembeli'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        RT/RW
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_rtwppembeli'] ?> / <?= $datasspd['t_rwwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kelurahan / Desa
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kelurahanwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kecamatan
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kecamatanwppembeli'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Kabupaten / Kota
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kabkotawppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kode Pos
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kodeposwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        No Telp
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_telponwppembeli'] ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <u style="font-size: 14px; color: blue"><strong>Informasi Pihak Pertama(Pelepas Hak)</strong></u>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NIK
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_nikwppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        NPWP
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_npwpwppenjual'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Nama
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_namawppenjual'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Alamat
                                    </div>
                                    <div class="col-sm-9">
                                        : <?= $datasspd['t_alamatwppenjual'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        RT/RW
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_rtwppenjual'] ?> / <?= $datasspd['t_rwwppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kelurahan / Desa
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kelurahanwppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kecamatan
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kecamatanwppenjual'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Kabupaten / Kota
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kabkotawppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kode Pos
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kodeposwppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        No Telp
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_telponwppenjual'] ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <u style="font-size: 14px; color: blue"><strong>INFORMASI OBJEK PAJAK</strong></u>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NOP / Thn SPPT
                                    </div>
                                    <div class="col-sm-6" style="font-size: 12px">
                                        : <?= $datasspd['t_nopbphtbsppt'] ?> / <?= $datasspd['t_thnsppt'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Nama SPPT
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_namasppt'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Letak
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_alamatop'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        RT/RW
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_rtop'] ?> / <?= $datasspd['t_rwop'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Kelurahan/Desa
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kelurahanop'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kecamatan
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kecamatanop'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kabupaten/Kota
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kabkotawppembeli'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Jenis Transaksi
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['s_namajenistransaksi'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Jenis Dokumen
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['s_namadoktanah'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        No. Dok Tanah
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_nosertifikathaktanah'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Tgl AJB Lama
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_tglajb'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kepemilikan
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['s_namahaktanah'] ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <u style="font-size: 14px; color: blue"><strong>INFORMASI TRANSAKSI</strong></u>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Luas Tanah/Bumi
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_luastanah'])) {
                                            $luastanah = str_ireplace('.', '', $datasspd['p_luastanah']) / 100;
                                        } else {
                                            $luastanah = str_ireplace('.', '', $datasspd['t_luastanah']) / 100;
                                        }
                                        ?>
                                        : <?= $luastanah; ?> m<sup>2</sup>
                                    </div>
                                    <div class="col-sm-2">
                                        NJOP/m<sup>2</sup> Tanah/Bumi
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_njoptanah'])) {
                                            $njoptanah = $datasspd['p_njoptanah'];
                                        } else {
                                            $njoptanah = $datasspd['t_njoptanah'];
                                        }
                                        ?>
                                        : <?= number_format($njoptanah, 0, ',', '.'); ?>
                                    </div>
                                    <div class="col-sm-2">
                                        NJOP Tanah/Bumi
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_totalnjoptanah'])) {
                                            $totalnjoptanah = $datasspd['p_totalnjoptanah'];
                                        } else {
                                            $totalnjoptanah = $datasspd['t_totalnjoptanah'];
                                        }
                                        ?>
                                        : <?= number_format($totalnjoptanah, 0, ',', '.') ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Luas Bangunan
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_luasbangunan'])) {
                                            $luasbangunan = str_ireplace('.', '', $datasspd['p_luasbangunan']) / 100;
                                        } else {
                                            $luasbangunan = str_ireplace('.', '', $datasspd['t_luasbangunan']) / 100;
                                        }
                                        ?>
                                        : <?= $luasbangunan ?> m<sup>2</sup>

                                    </div>
                                    <div class="col-sm-2">
                                        NJOP/m<sup>2</sup> Bangunan
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_njopbangunan'])) {
                                            $njopbangunan = $datasspd['p_njopbangunan'];
                                        } else {
                                            $njopbangunan = $datasspd["t_njopbangunan"];
                                        }
                                        ?>
                                        : <?= number_format($njopbangunan, 0, ',', '.') ?>
                                    </div>
                                    <div class="col-sm-2">
                                        NJOP Bangunan
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_totalnjopbangunan'])) {
                                            $totalnjopbangunan = $datasspd['p_totalnjopbangunan'];
                                        } else {
                                            $totalnjopbangunan = $datasspd["t_totalnjopbangunan"];
                                        }
                                        ?>
                                        : <?= number_format($totalnjopbangunan, 0, ',', '.') ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NJOP PBB
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_grandtotalnjop'])) {
                                            $grandnjop = $datasspd['p_grandtotalnjop'];
                                        } else {
                                            $grandnjop = $datasspd["t_grandtotalnjop"];
                                        }
                                        ?>
                                        : <?= number_format($grandnjop, 0, ',', '.') ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Harga Transaksi
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_nilaitransaksispt'])) {
                                            $nilaitransaksispt = $datasspd['p_nilaitransaksispt'];
                                        } else {
                                            $nilaitransaksispt = $datasspd["t_nilaitransaksispt"];
                                        }
                                        ?>
                                        : <?= number_format($nilaitransaksispt, 0, ',', '.') ?>
                                    </div>
                                </div>
                                <?php
                                $aphb_kali = $datasspd['t_tarif_pembagian_aphb_kali'];
                                $aphb_bagi = $datasspd['t_tarif_pembagian_aphb_bagi'];

                                if (($aphb_kali == null) || ($aphb_kali == '') || ($aphb_kali == 0) || ($aphb_bagi == null) || ($aphb_bagi == '') || ($aphb_bagi == 0)) {
                                    $ket_aphb = '';
                                } else {
                                    if (!empty($datasspd['p_grandtotalnjop_aphb'])) {
                                        $grandnjop_aphb = $datasspd['p_grandtotalnjop_aphb'];
                                    } else {
                                        $grandnjop_aphb = $datasspd["t_grandtotalnjop_aphb"];
                                    }

                                    $ket_aphb = ' 
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">
                                            Pembagian APHB
                                        </div>
                                        <div class="col-sm-2">
                                            : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' . $aphb_kali . '/' . $aphb_bagi . '
                                        </div>

                                    </div>        
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">
                                            NJOP PBB APHB
                                        </div>
                                        <div class="col-sm-2">
                                            : ' . number_format($grandnjop_aphb, 0, ',', '.') . '
                                        </div>

                                    </div>';
                                }
                                ?>
                                <?= $ket_aphb; ?>
                                <?php
                                if (($aphb_kali == null) || ($aphb_kali == '') || ($aphb_kali == 0) || ($aphb_bagi == null) || ($aphb_bagi == '') || ($aphb_bagi == 0)) {

                                    if ($grandnjop > $nilaitransaksispt) {
                                        $npop = $grandnjop;
                                    } else {
                                        $npop = $nilaitransaksispt;
                                    }
                                } else {
                                    if ($grandnjop_aphb > $nilaitransaksispt) {
                                        $npop = $grandnjop_aphb;
                                    } else {
                                        $npop = $nilaitransaksispt;
                                    }
                                }

                                /* if ($datasspd['t_grandtotalnjop'] > $datasspd['t_nilaitransaksispt']) {
                                  $npop = $datasspd['t_grandtotalnjop'];
                                  } else {
                                  $npop = $datasspd['t_nilaitransaksispt'];
                                  } */

                                if (($datasspd['t_idjenistransaksi'] == 4) || ($datasspd['t_idjenistransaksi'] == 5)) {
                                    $potongan_waris_hibahwasiat = '<div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Potongan
                                    </div>
                                    <div class="col-sm-2">
                                        : <b style="color: blue; font-size: 17px;">' . $datasspd['t_potongan_waris_hibahwasiat'] . ' %</b>
                                    </div>
                                </div>';
                                    if (($datasspd['t_potongan_waris_hibahwasiat'] == null) || ($datasspd['t_potongan_waris_hibahwasiat'] == 0)) {
                                        $t_potongan_waris_hibahwasiat = 0;
                                        $hitung_potonganwaris = 1;
                                    } else {
                                        $t_potongan_waris_hibahwasiat = $datasspd['t_potongan_waris_hibahwasiat'];
                                        $hitung_potonganwaris = $t_potongan_waris_hibahwasiat / 100;
                                    }
                                } else {
                                    $potongan_waris_hibahwasiat = '';
                                    $hitung_potonganwaris = 1;
                                    $potongan_waris_hibahwasiat = '';
                                }

                                $npopkp = $npop - $datasspd['t_potonganspt'];
                                if ($npopkp > 0) {
                                    $npopkp = $npopkp;
                                } else {
                                    $npopkp = 0;
                                }

                                // Untuk Perhitungan Pajak BPHTB
                                if ($npopkp == 0) {
                                    $totalpajak = 0;
                                } else {
                                    $totalpajak = ceil($npopkp * $datasspd['t_persenbphtb'] / 100 * $hitung_potonganwaris);
                                }
                                ?>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NPOP
                                    </div>
                                    <div class="col-sm-10">
                                        : <?= number_format($npop, 0, ',', '.') ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NPOPTKP
                                    </div>
                                    <div class="col-sm-2">
                                        : <u><?= number_format($datasspd['t_potonganspt'], 0, ',', '.') ?>&nbsp;&nbsp;&nbsp;&nbsp;-</u>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NPOPTKP
                                    </div>
                                    <div class="col-sm-10">
                                        : <?= number_format($npopkp, 0, ',', '.') ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Tarif (%)
                                    </div>
                                    <div class="col-sm-10">
                                        : <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?= $datasspd['t_persenbphtb']; ?>%&nbsp;&nbsp;&nbsp;&nbsp;x</u>
                                    </div>
                                </div>
                                <?= $potongan_waris_hibahwasiat ?>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Pajak Terhutang
                                    </div>
                                    <div class="col-sm-2">
                                        : <b style="color: red; font-size: 17px;"><?= number_format($totalpajak, 0, ',', '.') ?></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-success" style="border: 1px solid #00a65a;">
            <div class="box-header with-border bg-green-gradient">
                <center>
                    <h3 class="box-title">UPLOAD FILE PERSYARATAN SSPD BPHTB</h3>
                </center>
            </div><!-- /.box-header -->
            <div class="box-body">
                <form method="post" action="<?= $this->url() ?>/uploadsyaratpost" id="formtambah">
                    <div class="row margin">
                        <div class="col-md-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div id="persyaratannya">
                                        <div class="radio_render">

                                            <?php $jmlsyarat = count($combosyarat); ?>
                                            <input name="hdnLine" type="hidden" value="<?= $jmlsyarat; ?>">

                                            <input name="idjenistransaksi" type="hidden" value="<?= $datasspd['t_idjenistransaksi']; ?>">
                                            <input name="t_iddetailsptbphtb" type="hidden" value="<?= $datasspd['t_iddetailsptbphtb']; ?>">

                                            <input name="foldertahun" type="hidden" value="<?= $datasspd['t_periodespt']; ?>">
                                            <input name="foldertransaksi" type="hidden" value="<?= str_replace(' ', '', strtolower($datasspd['s_namajenistransaksi'])); ?>">
                                            <input name="folderidspt" type="hidden" value="<?= $datasspd['t_idspt']; ?>">
                                            <input name="folderiddetailspt" type="hidden" value="<?= $datasspd['t_iddetailsptbphtb']; ?>">

                                            <?php
                                            $no = 1;
                                            $namasyarat = '';
                                            $nomer = 1;
                                            foreach ($combosyarat as $v) {

                                                if ($namasyarat <> $v['s_namapersyaratan']) {

                                                    if ($namasyarat <> '') {
                                                    }


                                                    echo $no . ". " . $v['s_namapersyaratan'] . "<br>";
                                                    echo ' &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="' . $this->url() . '/uploadjenisyarat?t_idspt=' . $datasspd['t_idspt'] . '&syarat=' . $v['s_idpersyaratan'] . '" class="btn bg-purple btn-sm btn-flat">
                                                        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Upload File
                                                    </a><br>';

                                                    $namasyarat = $v['s_namapersyaratan'];
                                                    $clast_rek_name = $v['s_namapersyaratan'];
                                                    //$no = 1;
                                                    $no++;
                                                    $nomer = 1;
                                                }


                                                //echo '<input type="hidden" name="id_detailspt' . $no . '" value="' . $no . '"><input type="hidden" name="keterangan_file' . $no . '" value="' . $v['s_namapersyaratan'] . '"><br><b style="margin-left:100px; background:#F39C12;">' . $v['nama_file'] . '</b><br><input type="hidden" name="id_syarat' . $no . '" value="' . $v['s_idpersyaratan'] . '"><input type="file" name="fileUpload' . $no . '" ><br>';
                                                /*echo ' &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="'.$this->url().'/uploadjenisyarat?t_idspt='.$datasspd['t_idspt'].'&syarat='.$v['s_idpersyaratan'].'" class="btn bg-purple btn-sm btn-flat">
                                                        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Upload File
                                                    </a><br>';*/
                                                //echo $no . ". <br>";
                                                /*echo '<div class="preview" data-ng-switch-when="true">
                                               <a data-ng-href="'.$v['letak_file'].''.$v['nama_file'].'" title="'.$v['nama_file'].'" download="'.$v['nama_file'].'" data-gallery><img data-ng-src="'.$v['letak_file'].'thumbnail/'.$v['nama_file'].'" alt="">'.$v['nama_file'].'</a>
                                            </div>
                                            <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>';*/
                                                //echo $v['letak_file']." <br>";
                                                /*            echo '
            <table class="table table-striped files" >
            <tbody><tr data-ng-repeat="file in queue" data-ng-class="" class="ng-scope">
                <!--<td data-ng-switch="" data-on="!!file.thumbnailUrl">
                    <div class="preview ng-scope" data-ng-switch-when="true">
                        <a data-ng-href="http://localhost/kabupaten_tegal/bphtbslawi/'.$v['letak_file'].''.$v['nama_file'].'" title="'.$v['nama_file'].'" download="'.$v['nama_file'].'" data-gallery="" href="http://localhost/kabupaten_tegal/bphtbslawi/'.$v['letak_file'].''.$v['nama_file'].'"><img data-ng-src="http://localhost/kabupaten_tegal/bphtbslawi/'.$v['letak_file'].'thumbnail/'.$v['nama_file'].'" alt="" src="http://localhost/kabupaten_tegal/bphtbslawi/public/upload/filetransaksi/2016/waris/13053/26/thumbnail/'.$v['nama_file'].'"></a>
                    </div>
                    
                </td>-->
                <td>
                    <p class="name" data-ng-switch="" data-on="!!file.url">
                        <span data-ng-switch-when="true" data-ng-switch="" data-on="!!file.thumbnailUrl" class="ng-scope">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-switch-when="true" data-ng-href="http://localhost/kabupaten_tegal/bphtbslawi/'.$v['letak_file'].''.$v['nama_file'].'" title="'.$v['nama_file'].'" download="'.$v['nama_file'].'" data-gallery="" class="ng-binding ng-scope" href="http://localhost/kabupaten_tegal/bphtbslawi/'.$v['letak_file'].''.$v['nama_file'].'">'.$v['nama_file'].'</a><!-- end ngSwitchWhen: -->
                            
                        </span>
                    </p>
                    <strong data-ng-show="file.error" class="error text-danger ng-binding ng-hide"></strong>
                </td>
                
                
            </tr><!-- end ngRepeat: file in queue -->
        </tbody></table>'; */
                                                if (!empty($v['nama_file'])) {
                                                    //                         echo '<a style="display:none;" data-ng-href="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . '' . $v['nama_file'] . '" title="' . $v['nama_file'] . '" download="' . $v['nama_file'] . '" data-gallery="" href="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . '' . $v['nama_file'] . '"><img data-ng-src="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . 'thumbnail/' . $v['nama_file'] . '" alt="" src="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . 'thumbnail/' . $v['nama_file'] . '"></a>';
                                                    //                         echo '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-switch-when="true" data-ng-href="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . '' . $v['nama_file'] . '" title="' . $v['nama_file'] . '" download="' . $v['nama_file'] . '" data-gallery="" class="ng-binding ng-scope" href="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . '' . $v['nama_file'] . '">' . $nomer . '. ' . $v['nama_file'] . '</a><!-- end ngSwitchWhen: -->
                                                    // <br>';
                                                    $extension = pathinfo($v['nama_file'], PATHINFO_EXTENSION);
                                                    if ($extension == "pdf") {
                                                        echo '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . '' . $v['nama_file'] . '" title="' . $v['nama_file'] . '">' . $nomer . '. ' . $v['nama_file'] . '</a>';
                                                    } else {
                                                        echo '<a style="display:none;" data-ng-href="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . '' . $v['nama_file'] . '" title="' . $v['nama_file'] . '" download="' . $v['nama_file'] . '" data-gallery="" href="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . '' . $v['nama_file'] . '"><img data-ng-src="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . 'thumbnail/' . $v['nama_file'] . '" alt="" src="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . 'thumbnail/' . $v['nama_file'] . '"></a>';
                                                        echo '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-switch-when="true" data-ng-href="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . '' . $v['nama_file'] . '" title="' . $v['nama_file'] . '" download="' . $v['nama_file'] . '" data-gallery="" class="ng-binding ng-scope" href="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . '' . $v['nama_file'] . '">' . $nomer . '. ' . $v['nama_file'] . '</a><!-- end ngSwitchWhen: -->';
                                                    }
                                                    // echo '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" onclick="hapusFileSyarat(' . $v["id_filesyarat"] . ')" class="btn btn-sm btn-danger">Hapus</button>';
                                                    echo '<br>';
                                                }
                                                $nomer++;
                                            }
                                            ?>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="form-horizontal form-group col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-12" style="text-align: right">

                                            <input id="validasibutton" onclick="this.disabled = true;forms[0].submit();" value="UPLOAD" class="btn nextBtn btn-info pull-right" type="submit">
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<script src="<?= $this->basePath(); ?>/public/uploadmen/internet/js/jquery.blueimp-gallery.min.js"></script>