<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="col-md-12">
                            <h3 class="box-title">IMPORT DATA NIK</h3>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <form method="post" enctype="multipart/form-data" action="" name="frmCSVImport">
                            <div class="form-group col-md-6">
                                <label for="exampleInputFile">File Upload</label>
                                <input type="file" name="file" class="form-control" id="exampleInputFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary" id="simpannik">Submit</button>
                            </div>
                        </form>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper --> 

<div class="modal fade" id="loadingsimpanvalidasi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="background:transparent;">
    <!--data-backdrop="static" data-keyboard="false" -->
    <center><img style="background:transparent;" src='<?= $this->basePath(); ?>/public/tablebos/img/loading77.gif'></center>
</div>

<script>
    $('#simpannik').click(function() {
        jQuery('#loadingsimpanvalidasi').modal('show');
    });
</script>