<link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<style>
    .datepicker {
        z-index: 1051 !important;
    }
</style>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="col-md-12">
                            <h3 class="box-title">SETTING DATA NIK</h3>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <a href="<?= $this->url('setting_nik') . '/formtambah' ?>" class="btn btn-danger pull-left">Import Data (CSV)</a>
                        </div>
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                        <table id="example" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                            <thead>
                                <tr class="bg-blue" style="font-size:10pt; font: bold;">
                                    <th width="20">
                                        <center>NO</center>
                                    </th>
                                    <th>
                                        <center>NIK</center>
                                    </th>
                                    <th>
                                        <center>NAMA</center>
                                    </th>
                                    <th>
                                        <center>ALAMAT</center>
                                    </th>
                                    <th>
                                        <center>Perintah</center>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<script type="text/javascript" language="javascript">
    var dTable;

    $(document).ready(function() {
        dTable = $('#example').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            //"responsive": true,
            "sAjaxSource": "<?= $this->url('setting_nik') ?>/dataGrid", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 10,
            "aLengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "aaSorting": [
                [0, "asc"]
            ],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            //"scrollY":        "400px",
            "scrollX": true,
            //"scrollCollapse": true,

            //"aoColumns": [
            // { sWidth: '5%' },
            // { sWidth: '5%' },
            // { sWidth: '5%' },
            // { sWidth: '5%' },
            // { sWidth: '20%' },
            // { sWidth: '20%' },
            // { sWidth: '10%' }
            // ],

            "oLanguage": {
                "sEmptyTable": "No incompleted albums found!", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "<center>Tidak ada data</center>",
                "sEmptyTable": "<center>Tidak ada data</center>",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "Tidak ada data",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": ">>",
                    "sPrevious": "<<"
                } //pagination
            },
            //"language": {
            //    "processing": "Pencarian..."
            //},


            "columnDefs": [{
                    "orderable": false,
                    "targets": 0,
                    "searchable": false
                },
                {
                    "orderable": true,
                    "targets": 1,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 2,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 3,
                    "searchable": true
                },
                {
                    "orderable": false,
                    "targets": 4,
                    "searchable": false
                },
            ]
        });

        $('th', dTable.table().footer()).each(function() {
            $("#tgl_daftar_cari").datepicker({
                format: 'dd-mm-yyyy',
                language: 'id'
            });
            var title = $('th').eq($(this).index()).text();
            //$(this).html('<input type="text" placeholder="Search ' + title + '" />');
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nik') {
                $(this).html('<input type="text" placeholder="nik" class="pencariantable" />');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nama') {
                $(this).html('<input type="text" placeholder="nama" class="pencariantable" />');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'alamat') {
                $(this).html('<input type="text" placeholder="alamat" class="pencariantable" />');
            } else {
                $(this).html('<input type="text" placeholder="Cari ' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />'); //style="width:100px;"
            }


        });

        // Apply the search
        dTable.columns().eq(0).each(function(colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        dTable.columns().eq(0).each(function(colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');

        /*$(document).ready(function() {
            var table = $('#example').dataTable();

            // Perform a filter
            table.fnFilter('Win');
            table.fnFilter('Trident', 0);

            // Remove all filtering
            dTable.fnFilterClear();
        } );*/

        function fnResetAllFilters() {
            // Apply blank string
            //dTable.columns().eq( 0 ).each( function ( colIdx ) {
            //        $( 'input', dTable.column( colIdx ).footer() ).val(''); //clear column visible text
            //        dTable.columns(colIdx).search( '', true ); //clear dataTable column search filters
            //    }
            //)
            //sdTable.search( '', true ).draw(); //clears global search filter then finally draw the table, all done..

            //var dTable = $('#example').dataTable();
            //dTable.fnFilterClear();

            dTable.columns().eq(0).each(function(colIdx) {
                $('select', dTable.column(colIdx).footer()).val('', function() {
                    dTable
                        .column(colIdx)
                        .search('', true)
                        .draw();
                });
            });
        }

    });

    function hapus(a) {
        if (confirm("Anda yakin akan menghapus data ini?")) {
            $.ajax({
                type: "POST",
                url: "<?= $this->url() ?>/hapus/" + a,
                success: function() {
                    $('#example').DataTable().ajax.reload();
                }
            });
        }

    }
</script> 