<?php
$frm = $this->frm;
$frm->setAttribute('action',$this->url().'/tambah');
$frm->setAttribute('id', "formtambah");
$frm->prepare();
?>
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><span style="font-size: 8pt">Navigasi Setting</span></h3></div>
        <div class="panel-body">
            <?= $this->sidemenu ?>
        </div>        
    </div>    
</div>
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><span style="font-size: 10pt">Setting Kelurahan</span></h3></div>
        <div class="panel-body">
            <fieldset>
                <legend>KELURAHAN</legend>                    
                <div>
                    <?= $this->form()->openTag($frm) ?>
                    <?= $this->formRow($frm->get('s_idkecamatan')) ?>  
                    <?= $this->formHidden($frm->get('s_idkelurahan')) ?>  
                    <?= $this->formRow($frm->get('s_kodekelurahan')) ?>
                    <?= $this->formRow($frm->get('s_namakelurahan')) ?>                                        
                    <div align="right">
                        <?= $this->formInput($frm->get('simpan')) ?> <a href="<?= $this->url('setting_kelurahan_bphtb') ?>" class="btn btn-success">Kembali</a>
                    </div>
                    <?= $this->form()->closeTag($frm) ?>
                </div>
            </fieldset>
        </div>        
    </div>    
</div>

<script type="text/javascript">
    $.validate();
    
    function combokecamatan() {
        var selct = document.getElementById('s_idkecamatan').value;
        var nalt = document.getElementById('combokec');

        if (selct == 0)
        {
            nalt.innerHTML = "<font color='red'> Pilih Nama Kecamatan</font>";
            document.getElementById('s_idkecamatan').focus();
            return false;
        }
        else {
            nalt.innerHTML = "<span class='icon-check'></span>";
            return true;
        }
    }

    function kodekelurahan() {
        var kodekecam = document.getElementById('s_kodekelurahan').value;
        var nalt = document.getElementById('kodekel');
        if (kodekecam != "") {
            nalt.innerHTML = "<span class='icon-check'></span>";
            return true;
        } else {
            nalt.innerHTML = "<font color='red'> Kolom Harus Diisi</font>";
            document.getElementById('s_kodekelurahan').focus();
            return false;
        }
    }

    function namakelurahan() {
        var alphaExp = /^[ a-zA-Z]+$/;
        var namakecam = document.getElementById('s_namakelurahan').value;
        var nalt = document.getElementById('namakel');
        if (namakecam != "") {
            if (!namakecam.match(alphaExp)) {
                nalt.innerHTML = "<font color='red'> Isi dengan Huruf</font>";
                document.getElementById('s_namakelurahan').focus();
                document.getElementById('s_namakelurahan').value = "";
                return false;
            } else {
                nalt.innerHTML = "<span class='icon-check'></span>";
                return true;
            }
        } else {
            nalt.innerHTML = "<font color='red'> Kolom Harus Diisi</font>";
            document.getElementById('s_namakelurahan').focus();
            return false;
        }
    }

    function validasiform() {
        if (combokecamatan()) {
            if (kodekelurahan()) {
                if (namakelurahan()) {
                    document.forms['formtambah'].submit();
                } else {
                    alert('Kolom Nama Kelurahan Belum Diisi');
                    return false;
                }
            } else {
                alert('Kolom Kode Kelurahan Belum Diisi');
                return false;
            }
        } else {
            alert('Kolom Nama Kecamatan Belum Diisi');
            return false;
        }
    }

</script>