<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/tambah');
$frm->setAttribute('id', "formtambah");
$frm->prepare();
?>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">SETTING NOTARIS</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row margin">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title"><span style="font-size: 10pt">Setting Notaris</span></h3></div>
                                    <div class="panel-body">
                                        <fieldset>
                                            <legend>NOTARIS</legend>                    
                                            <div>
                                                <?= $this->form()->openTag($frm) ?>
                                                <?= $this->formRow($frm->get('s_idnotaris')) ?>  
                                                <?= $this->formRow($frm->get('s_namanotaris')) ?>                         
                                                <?= $this->formRow($frm->get('s_alamatnotaris')) ?>                         
                                                <?= $this->formRow($frm->get('s_kodenotaris')) ?>                                                                 
                                                <?= $this->formRow($frm->get('s_sknotaris')) ?>                         
                                                <?php // $this->formRow($frm->get('s_tgl1notaris')) ?>
                                                <?php // $this->formRow($frm->get('s_tgl2notaris')) ?>
                                                <?= $this->formRow($frm->get('s_statusnotaris')) ?>
                                                <br/>
                                                <div align="right">
                                                    <?= $this->formInput($frm->get('simpan')) ?> <a href="<?= $this->url('setting_notaris_bphtb') ?>" class="btn btn-success">Kembali</a>
                                                </div>
                                                <?= $this->form()->closeTag($frm) ?>
                                            </div>
                                        </fieldset>
                                    </div>        
                                </div>    
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<!--<script type="text/javascript">
    jQuery("#s_tgl1notaris").datepicker({
        format: 'dd-mm-yyyy'
    });
    jQuery("#s_tgl2notaris").datepicker({
        format: 'dd-mm-yyyy'
    });
</script>-->