<div class="content-wrapper">
    <section class="content">
        
                <div class="box box-success" style="border: 1px solid #00a65a;">
                    <div class="box-header with-border bg-green-gradient">
                        <center><h3 class="box-title">INFORMASI OBJEK PAJAK</h3></center>
                    </div><!-- /.box-header -->
                        
                    <div class="box-body">
                        <div class="row margin">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-group col-md-12">
                                        <label for="inputKey" class="col-md-2 control-label" style="text-align: left;">NOP/Tahun SPPT</label>
                                        <div class="col-md-3">
                                            <?= $this->formRow($frm->get('t_nopbphtbspptinfoop')) ?>
                                        </div>
                                        <div class="col-md-1">
                                            <?= $this->formRow($frm->get('t_thnspptinfoop')) ?>
                                        </div>
                                        <div class="col-md-1">
                                            <!--<button class="btn btn-success" onclick="informasiop();">CEK</button>-->
                                            <button class="btn btn-success" onclick="LoadData();">CEK</button>
                                        </div>
                                        
                                        <?php
                                        if($cekpencentak == 2){
                                            echo '<div class="col-md-5">
                                            Pencetak
                                            <select id="Pencetak" class="selectpicker" data-live-search="true">';
                                               foreach ($this->Pencetak as $k => $v) { 
                                                    echo '<option value="'.$v['s_idpejabat'].'">'.$v['s_namapejabat'].' - '.$v['s_jabatanpejabat'].'</option>';
                                               } 
                                            echo '    
                                                </select>
                                                <button class="btn btn-success" onclick="cetaktunggakanpbb();">Cetak</button>
                                            </div>';
                                            
                                        }else{
                                            echo '<button class="btn btn-success" onclick="cetaktunggakanpbb();">Cetak</button>';
                                        }
                                        ?>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div id="historydiv">
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<script type="text/javascript">

    // file ajax.js
    var recReq = getXmlHttpRequestObject();
    var _documentid = 'historydiv';

    //-- membentuk instant XMLHttpRequest ---
    function getXmlHttpRequestObject() {
        if (window.XMLHttpRequest) {
            return new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            return new ActiveXObject("Microsoft.XMLHTTP");
        } else {
            alert('Status: Cound not create XmlHttpRequest Object. Consider upgrading your browser.');
        }
    }

    function LoadData() {
        document.getElementById(_documentid).innerHTML = '<br><br><center><img src="<?= $this->basePath(); ?>/public/tablebos/img/loader.gif"><center>';
        if (recReq.readyState == 4 || recReq.readyState == 0) {
            var nopcari = document.getElementById("t_nopbphtbspptinfoop").value;
            var tahuncari = document.getElementById("t_thnspptinfoop").value;

            recReq.open("GET", '<?= $this->url() ?>/cariinformasiop?tahun='+ tahuncari +'&nop=' + nopcari, true);
            recReq.onreadystatechange = function () {
                if (recReq.readyState == 4 && recReq.status == 200) {
                    document.getElementById(_documentid).innerHTML = recReq.responseText;
                }
            }
            recReq.send(null);
        }
    }
</script>


<script type="text/javascript">

    jQuery("[data-mask]").inputmask();

    $("#t_thnspptinfoop").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    function informasiop() {
        if ($("#t_nopbphtbspptinfoop").val() == '' || $("#t_thnspptinfoop").val() == '') {
            alert("Tolong Isi NOP & Tahun SPPT");
        } else {
            $.post('<?= $this->url() ?>/cariinformasiop', {t_nopbphtbspptinfoop: $('#t_nopbphtbspptinfoop').val(), t_thnspptinfoop: $('#t_thnspptinfoop').val()}, function (data) {
                var aa = JSON.parse(data);
                //Informasi OP
                $("#historydiv").html(aa.infoop);
            });
        }
    }

    function cetaktunggakanpbb() {
        if ($("#t_nopbphtbspptinfoop").val() == '' || $("#t_thnspptinfoop").val() == '') {
            alert("Tolong Isi NOP & Tahun SPPT");
        } else {
            window.open('<?= $this->url() ?>/cetaktunggakanpbb?t_nopbphtbspptinfoop=' + $("#t_nopbphtbspptinfoop").val() + "&t_thnspptinfoop=" + $("#t_thnspptinfoop").val() + "&Pencetak=" + $("#Pencetak").val());
        }
    }
</script>