<table width="100%" style="border-spacing: 0" class="font_sembilan">
    <tr style="text-align: center;">
        <td colspan="6">
            <strong>NILAI HARIAN PEROLEHAN HAK ATAS TANAH DAN BANGUNAN (BPHTB)</strong>
            <br>
            <?php
            /*$tanggal_bayar = explode('-', $tgl_cetak);
            $tahun = $tanggal_bayar[2];
            $bulan = $tanggal_bayar[1];
            $tanggal = $tanggal_bayar[0];*/
            ?>
            
            <br>
        </td>
    </tr>
    <tr style="text-align: left;">
        <td colspan="6">
            Tanggal Proses : <?= $tgl_cetak ?>
        </td>
    </tr>
    <tr style="text-align: center">
        <td class="border_atas border_bawah border_kanan border_kiri" width="20">
            No.
        </td>
        <td class="border_atas border_bawah border_kanan">
            Nama PPAT/PPATS
        </td>
        <td class="border_atas border_bawah border_kanan">
            Nama Jenis Transaksi
        </td>
        <td class="border_atas border_bawah border_kanan">
            Nilai Transaksi
        </td>
        <td class="border_atas border_bawah border_kanan">
            Nilai SSPD BPHTH
        </td>
        <td class="border_atas border_bawah border_kanan">
            Ket
        </td>
    </tr>
    <?php
    $totalPembayaran = 0;
    $counter = 1;
    foreach ($this->data_lapharian as $k => $v) {
        ?>
        <tr>
            <td style="text-align: center" class="border_bawah border_kanan border_kiri">
                <?= $counter ?>
            </td>
            <td class="border_bawah border_kanan">
                <?= $v['s_namanotaris']?>
            </td>
            <td class="border_bawah border_kanan">
                <?= $v['s_namajenistransaksi']; ?>
            </td>
            
            <td style="text-align: right" class="border_bawah border_kanan">
                <?= number_format($v['t_nilaitransaksispt'], 0, ',', '.'); ?>
            </td>
            <td style="text-align: right" class="border_bawah border_kanan">
                <?= number_format($v['t_nilaipembayaranspt'], 0, ',', '.'); ?>
            </td>
            <td class="border_bawah border_kanan">
            </td>
        </tr>
        <?php
        $counter++;
        $totalPembayaran += $v['t_nilaipembayaranspt'];
    }
    ?>
        <tr>
            <td style="text-align: center" class="border_bawah border_kanan border_kiri" colspan="4">
                JUMLAH
            </td>
           
            <td style="text-align: right" class="border_bawah border_kanan">
                <?= number_format($totalPembayaran, 0, ',', '.'); ?>
            </td>
            <td class="border_bawah border_kanan">
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center; padding-top: 30px;">
                Mengetahui,
                <br>
                <?= $data_mengetahui->s_jabatanpejabat?>
                <br><br><br><br>
                <u><?= $data_mengetahui->s_namapejabat?></u>
                <br>
                NIP. <?= $data_mengetahui->s_nippejabat?>
            </td>
            <td colspan="3" style="text-align: center; padding-top: 30px;">
                <?= $data_pemda->s_namakabkot?>, <?= $tgl_cetakan_harian;?>
                <br>
                <?= $data_pejabat->s_jabatanpejabat?>
                <br><br><br><br>
                <u><?= $data_pejabat->s_namapejabat?></u>
                <br>
                NIP. <?= $data_pejabat->s_nippejabat?>
            </td>
        </tr>
</table>

<style type="text/css">

    .border_atas {
        border-top: 1px black solid;
    }

    .border_kiri {
        border-left: 1px black solid;
    }

    .border_kanan {
        border-right: 1px black solid;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }

    .font_besar {
        font-size: 12pt;
    }

    .font_kecil {
        font-size: 10pt;
    }

    .font_lima {
        font-size: 7pt;
    }

    .font_tujuh {
        font-size: 7pt;
    }  

    .font_delapan {
        font-size: 8pt;
    }    

    .font_sembilan {
        font-size: 9pt;
    }    


    @page {
        margin-top: 1.5em;  
        margin-left: 3.8em;          
    }
</style>