<?php
function bulan($bln){
    $bulan = $bln;
    Switch ($bulan){
     case 1 : $bulan="Januari";
     Break;
     case 2 : $bulan="Februari";
     Break;
     case 3 : $bulan="Maret";
     Break;
     case 4 : $bulan="April";
     Break;
     case 5 : $bulan="Mei";
     Break;
     case 6 : $bulan="Juni";
     Break;
     case 7 : $bulan="Juli";
     Break;
     case 8 : $bulan="Agustus";
     Break;
     case 9 : $bulan="September";
     Break;
     case 10 : $bulan="Oktober";
     Break;
     case 11 : $bulan="November";
     Break;
     case 12 : $bulan="Desember";
     Break;
     }
    return $bulan;
}

function bulan2($bln){
    $bulan = $bln;
    Switch ($bulan){
     case 1 : $bulan="januari";
     Break;
     case 2 : $bulan="pebruari";
     Break;
     case 3 : $bulan="maret";
     Break;
     case 4 : $bulan="april";
     Break;
     case 5 : $bulan="mei";
     Break;
     case 6 : $bulan="juni";
     Break;
     case 7 : $bulan="juli";
     Break;
     case 8 : $bulan="agustus";
     Break;
     case 9 : $bulan="september";
     Break;
     case 10 : $bulan="oktober";
     Break;
     case 11 : $bulan="nopember";
     Break;
     case 12 : $bulan="desember";
     Break;
     }
    return $bulan;
}

for ($i = 1; $i <= 12; $i++ ) {
  if (in_array($i, $limit_bln)) {
		$bln[$i] = '<th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;padding: 0 1em 0 1em;">
                  <center>'.bulan($i).'</center>                      
							</th>';
		$isi_bln[$i] = '<td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
											
												' .number_format($v['maret'], 2, ',', '.'). '                        
										</td>';
	} else {
		$bln[$i] = '';
		$isi_bln[$i] = '';
  } 
}

// $tanggal_bayar = explode('-', $tgl_cetak);
// $tahun = $tanggal_bayar[2];
// $bulan = $tanggal_bayar[1];
// $tanggal = $tanggal_bayar[0];


//echo 'Tanggal '. $tanggal.' '.bulan($bulan).' '.$tahun.' S/d '. $tanggal2.' '.bulan($bulan2).' '.$tahun2;

if (($cetak == 1) || ($cetak == 3)) {

    if($cetak == 1){
        $formatkertas = 'Legal';
    }else{
        $formatkertas = 'Legal-L';
    }
    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
    $mpdf = new mPDF('utf-8', ''.$formatkertas.'', 0, '', 10, 10, 5, 1, 1, 1, '');
    // $mpdf = new mPDF('utf-8', ''.$formatkertas.'', 0, '', 10, 10, 5, 1, 1, 1, '');
    $html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}



</style>
</head>
<body>
<htmlpageheader name="MyHeader1">

</htmlpageheader>

<htmlpageheader name="MyHeader2">

</htmlpageheader>

<htmlpagefooter name="MyFooter1">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>

<htmlpagefooter name="MyFooter2">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>
';
    
$html .= '<div>';    
$nik = '';
    
} else {
    header("Content-type: application/vnd-ms-excel");

    header("Content-Disposition: attachment; filename=cetaklaprealisasibphtb.xls");
    
    $html = '';
    
    $nik = '\'';
    
}

if (($cetak == 1) || ($cetak == 2)) {
$html .= '


   <!-- <img src="http://' . $_SERVER['HTTP_HOST'] . '/' . $this->basePath() . '/' . $ar_pemda->s_logo . '" alt="" width="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
    -->
                   
<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
    <td colspan="5" style="padding-bottom: 10px; ">
        <center>
         <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
         <br>
         <font style="font-size:15pt;">' . strtoupper($ar_pemda->s_namainstansi) . '</font>
         <br>
         <font style="font-size:10pt;">Alamat : ' . $ar_pemda->s_alamatinstansi . '</font>
         <br>
         <font style="font-size:10pt;">Telp/Fax ' . $ar_pemda->s_notelinstansi . ', Kode Pos ' . $ar_pemda->s_kodepos . ' '.$ar_pemda->s_namaprov.'</font>
        </center>
    </td>
</tr>
<tr>
    <td colspan="5" style="border-bottom: 1px solid #000; border-top: 2px solid black;"></td></tr>
  <tr>
    <td colspan="5"><center><br><br><h3>LAPORAN REALISASI BPHTB</h3></center></td></tr>
<tr>
<td colspan="5"><center>TAHUN '.$periode_spt.'<br>PERIODE ' . bulan($bulan1) .' s/d '. bulan($bulan2) . '</center></td>
</tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>


    <table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
    <thead>
        <tr >
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;">
                <center>No.</center>                      
            </th>

            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Jenis Transaksi</center>                    
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>S/D PERIODE LALU</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>PERIODE INI</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>S/D PERIODE INI</center>                      
            </th>
            
        </tr>
        
    </thead>    
    <tbody>
        ';
} else {
	$sampai_dengan = ($bulan1 != $bulan2) ? ' s/d '. bulan($bulan2)  : '';
	$html .= '
				<!-- <img src="http://' . $_SERVER['HTTP_HOST'] . '/' . $this->basePath() . '/' . $ar_pemda->s_logo . '" alt="" width="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
					-->
												
			<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
			<tr>
					<td colspan="5" style="padding-bottom: 10px; ">
							<center>
							<b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
							<br>
							<font style="font-size:15pt;">' . strtoupper($ar_pemda->s_namainstansi) . '</font>
							<br>
							<font style="font-size:10pt;">Alamat : ' . $ar_pemda->s_alamatinstansi . '</font>
							<br>
							<font style="font-size:10pt;">Telp/Fax ' . $ar_pemda->s_notelinstansi . ', Kode Pos ' . $ar_pemda->s_kodepos . ' '.$ar_pemda->s_namaprov.'</font>
							</center>
					</td>
			</tr>
			<tr>
					<td colspan="5" style="border-bottom: 1px solid #000; border-top: 2px solid black;"></td></tr>
				<tr>
					<td colspan="5"><center><br><br><h3>LAPORAN REALISASI BPHTB</h3></center></td></tr>
			<tr>
			<td colspan="5"><center>TAHUN '.$periode_spt.'<br>PERIODE ' . bulan($bulan1) . $sampai_dengan .'</center></td>
			</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
				
				<table align="center" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
					<thead>
							<tr >
									<th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;">
											<center>No.</center>                      
									</th>

									<th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;padding: 0 1em 0 1em;">
											<center>Jenis Transaksi</center>                    
									</th>
									'. $bln[1].$bln[2].$bln[3].$bln[4].$bln[5].$bln[6].$bln[7].$bln[8].$bln[9].$bln[10].$bln[11].$bln[12].'
									
							</tr>
							
					</thead>    
					<tbody>
				';
}

$sdblnlalu = 0;
$blnini = 0;
$sdblnini = 0;
$counter = 1;
foreach ($this->data_Realisasi as $k => $v) {
		if(($cetak == 1) || ($cetak == 2)) {
			$html .= '
							
							<tr>
									<td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
											<center>' . $counter . '</center>                        
									</td>
									<td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; width:300px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
											
											'.$v['s_namajenistransaksi']. '                       
									</td>
									<td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
											
											' .number_format($v['real_sd_bln_lalu'], 2, ',', '.'). '                        
									</td>
									<td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
											
											' . number_format($v['real_bln_ini'], 2, ',', '.'). '                        
									</td>
									<td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">                 
											' . number_format($v['real_sd_bln_ini'], 2, ',', '.'). '                   
																						
									</td>
									
									
							</tr>        
							';
				$sdblnlalu += $v['real_sd_bln_lalu'];
				$blnini += $v['real_bln_ini'];
				$sdblnini += $v['real_sd_bln_ini'];
				$counter++;
		} else { //FORMAT 2

			for ($i = 1; $i <= 12; $i++ ) {
				if (in_array($i, $limit_bln)) {
					$nm_bulan = bulan2($i);
					$isi_bln[$i] = '<td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
														
															' .number_format($v[$nm_bulan], 2, ',', '.'). '                        
													</td>';
				} else {
					$isi_bln[$i] = '';
				} 
			}

			$html .= '
							
							<tr>
									<td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
											<center>' . $counter . '</center>                        
									</td>
									<td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; width:250px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
											
											'.$v['s_namajenistransaksi']. '                       
									</td>
									'.$isi_bln[1].$isi_bln[2].$isi_bln[3].$isi_bln[4].$isi_bln[5].$isi_bln[6].$isi_bln[7].$isi_bln[8].$isi_bln[9].$isi_bln[10].$isi_bln[11].$isi_bln[12].'
									
									
							</tr>        
							';
				$jml_bln[1] += $v['januari'];
				$jml_bln[2] += $v['pebruari'];
				$jml_bln[3] += $v['maret'];
				$jml_bln[4] += $v['april'];
				$jml_bln[5] += $v['mei'];
				$jml_bln[6] += $v['juni'];
				$jml_bln[7] += $v['juli'];
				$jml_bln[8] += $v['agustus'];
				$jml_bln[9] += $v['september'];
				$jml_bln[10] += $v['oktober'];
				$jml_bln[11] += $v['nopember'];
				$jml_bln[12] += $v['desember'];
				$counter++;
		}
    //$totalPembayaran += $v['t_nilaipembayaranspt'];
}

if(($cetak == 1) || ($cetak == 2)) {
	$html .= '<tr>
					<td colspan="2" style="border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">
							<center><b>JUMLAH TOTAL</b><center>
					</td>
					<td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
							Rp. '.number_format($sdblnlalu, 2, ',', '.').'
					</td>
					<td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
							Rp. '.number_format($blnini, 2, ',', '.').'
					</td>
					<td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
							Rp. '.number_format($sdblnini, 2, ',', '.').'
					</td>
			</tr>
			<tr>';
} else {
	for ($i = 1; $i <= 12; $i++ ) {
		if (in_array($i, $limit_bln)) {
			$echo_bln[$i] = '<td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
												Rp. '.number_format($jml_bln[$i], 2, ',', '.').'
										</td>';
		} else {
			$echo_bln[$i] = '';
		} 
	}

	$html .= '<tr>
					<td colspan="2" style="border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">
							<center><b>JUMLAH TOTAL</b><center>
					</td>
					'.$echo_bln[1].$echo_bln[2].$echo_bln[3].$echo_bln[4].$echo_bln[5].$echo_bln[6].$echo_bln[7].$echo_bln[8].$echo_bln[9].$echo_bln[10].$echo_bln[11].$echo_bln[12].'
			</tr>
			<tr>';
}

$html .= '</tbody></table>';

$tanggal_pencetakan = explode('-', $tgl_cetakan_realisasi);
$tahun_cetak = $tanggal_pencetakan[2];
$bulan_cetak = $tanggal_pencetakan[1];
$tanggal_cetak = $tanggal_pencetakan[0];

if(($cetak == 1) || ($cetak == 2)) {
	$html .= '<table width="100%">
							<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						
						</tr>
						<tr>
							<td colspan="2" style="text-align: center; padding-top: 30px;">
									Mengetahui,
									<br>
									'.$data_mengetahui->s_jabatanpejabat.'
									<br><br><br><br>
									<u>&nbsp;&nbsp;&nbsp;&nbsp;'.$data_mengetahui->s_namapejabat.'&nbsp;&nbsp;&nbsp;&nbsp;</u>
									<br>
									NIP. '.$data_mengetahui->s_nippejabat.'
							</td>
							<td colspan="3" style="text-align: center; padding-top: 30px;">
							'.$ar_pemda->s_namaibukotakabkot.', '.$tanggal_cetak.' '.bulan($bulan_cetak).' '.$tahun_cetak.'
									<br>
									'.$data_pejabat->s_jabatanpejabat.'
									<br><br><br><br>
									<ins>&nbsp;&nbsp;&nbsp;&nbsp;'.$data_pejabat->s_namapejabat.'&nbsp;&nbsp;&nbsp;&nbsp;</ins>
									<br>
									NIP. '.$data_pejabat->s_nippejabat.'
							</td>
						</tr>
					</table>';
} else {
	$html .= '<table width="100%">
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>

							</tr>
							<tr>
								<td colspan="2" style="text-align: center; padding-top: 30px;">
										Mengetahui,
										<br>
										'.$data_mengetahui->s_jabatanpejabat.'
										<br><br><br><br>
										<u>&nbsp;&nbsp;&nbsp;&nbsp;'.$data_mengetahui->s_namapejabat.'&nbsp;&nbsp;&nbsp;&nbsp;</u>
										<br>
										NIP. '.$data_mengetahui->s_nippejabat.'
								</td>
								<td colspan="3" style="text-align: center; padding-top: 30px;">
								'.$ar_pemda->s_namaibukotakabkot.', '.$tanggal_cetak.' '.bulan($bulan_cetak).' '.$tahun_cetak.'
										<br>
										'.$data_pejabat->s_jabatanpejabat.'
										<br><br><br><br>
										<ins>&nbsp;&nbsp;&nbsp;&nbsp;'.$data_pejabat->s_namapejabat.'&nbsp;&nbsp;&nbsp;&nbsp;</ins>
										<br>
										NIP. '.$data_pejabat->s_nippejabat.'
								</td>
							</tr>
						</table>';
}

if(($cetak == 1) || ($cetak == 3)) {

    $html .= '</div>';


    $html .= '</body></html>';



    $mpdf->WriteHTML($html);

    $mpdf->Output("cetaklaprealisasibphtb.pdf", "I");
} else {

    echo $html;
}
?>


