<?php

use Zend\Debug\Debug;

ini_set("max_execution_time", 5000);
ini_set('memory_limit', '-1');
function bulan($bln)
{
    $bulan = $bln;
    switch ($bulan) {
        case 1:
            $bulan = "Januari";
            break;
        case 2:
            $bulan = "Februari";
            break;
        case 3:
            $bulan = "Maret";
            break;
        case 4:
            $bulan = "April";
            break;
        case 5:
            $bulan = "Mei";
            break;
        case 6:
            $bulan = "Juni";
            break;
        case 7:
            $bulan = "Juli";
            break;
        case 8:
            $bulan = "Agustus";
            break;
        case 9:
            $bulan = "September";
            break;
        case 10:
            $bulan = "Oktober";
            break;
        case 11:
            $bulan = "November";
            break;
        case 12:
            $bulan = "Desember";
            break;
    }
    return $bulan;
}

$tanggal_bayar = explode('-', $tgl_cetakbphtb1);
$tahun = $tanggal_bayar[2];
$bulan = $tanggal_bayar[1];
$tanggal = $tanggal_bayar[0];

$tanggal_bayar2 = explode('-', $tgl_cetakbphtb2);
$tahun2 = $tanggal_bayar2[2];
$bulan2 = $tanggal_bayar2[1];
$tanggal2 = $tanggal_bayar2[0];


//echo 'Tanggal '. $tanggal.' '.bulan($bulan).' '.$tahun.' S/d '. $tanggal2.' '.bulan($bulan2).' '.$tahun2;

if ($cetak == 1) {

    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
    //$mpdf = new mPDF();
    $mpdf = new mPDF('utf-8', 'SRA1-L', 0, '', 10, 10, 5, 1, 1, 1, '');

    $html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}



</style>
</head>
<body>

';
    // <htmlpageheader name="MyHeader1">

    // </htmlpageheader>

    // <htmlpageheader name="MyHeader2">

    // </htmlpageheader>

    // <htmlpagefooter name="MyFooter1">
    // <table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    //     color: #000000; font-weight: bold; font-style: italic;"><tr>
    //     <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    //     <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    //     <td width="33%" style="text-align: right; "></td>
    //     </tr></table>
    // </htmlpagefooter>

    // <htmlpagefooter name="MyFooter2">
    // <table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    //     color: #000000; font-weight: bold; font-style: italic;"><tr>
    //     <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    //     <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    //     <td width="33%" style="text-align: right; "></td>
    //     </tr></table>
    // </htmlpagefooter>

    $html .= '<div>';
    $nik = '';
} else {
    header("Content-type: application/vnd-ms-excel");

    header("Content-Disposition: attachment; filename=cetaklapbphtb.xls");

    $html = '';
}


$html .= '
<table width="100%" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
    <td colspan="19" style=" ">
        <center>
         <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
         <br>
         <font style="font-size:12pt;">' . strtoupper($ar_pemda->s_namainstansi) . '</font>
         <br>
         <font style="font-size:10pt;">Alamat : ' . $ar_pemda->s_alamatinstansi . '</font>
         <font style="font-size:10pt;">Telp/Fax ' . $ar_pemda->s_notelinstansi . ', Kode Pos ' . $ar_pemda->s_kodepos . ' ' . $ar_pemda->s_namaprov . '</font>
        </center>
    </td>
</tr>
<tr>
    <td colspan="19" style="border-bottom: 1px solid #000; border-top: 2px solid black;"></td>
</tr>
<tr>
    <td colspan="19"><center><h3>LAPORAN BEA PEROLEHAN HAK ATAS TANAH DAN BANGUNAN (BPHTB) Kabupaten Gunung Mas Tahun ' . date('Y', strtotime($tgl_cetakbphtb1)) . '</h3> </center></td></tr>
</table>

<table style="border-spacing: 0; font-size:9pt; table-layout: fixed;padding: top 3px;" cellpadding="5">
    <thead>
        <tr >
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;">
                <center>No.</center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nomor Dokumen</center>                    
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Letak Tanah dan Bangunan</center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Status Hak atas Tanah</center>                      
            </th>
            <th colspan="3" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Pihak yang Mengalihkan</center>                      
            </th>
            <th colspan="4" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Pihak yang Memperoleh Hak</center>                      
            </th>
            <th colspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Luas m2</center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NJOP Bumi</center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NJOP Bangunan </center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NJOP sebagai dasar Pengenaan PBB </center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>M2 </center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nilai Jual Beli </center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nilai Pembayaran BPHTB </center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Tanggal Verifikasi </center>                      
            </th>
        </tr>
        
        <tr>
        <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nama </center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Alamat </center>                      
            </th>
        
        <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NPWP </center>                      
            </th>
        <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nama </center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Alamat </center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nik </center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NPWP </center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Tanah </center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Bangunan </center>                      
            </th>
        </tr>   
    </thead>    
    <tbody>';

foreach ($this->data_lapBphtb as $k => $v) {
    $no = $k + 1;
    $npwppenjual = '-';
    if ($v['t_npwppenjual'] != '__.___.___._-___.___' && !empty($v['t_npwppenjual'])) {
        $npwppenjual = $v['t_npwppenjual'];
    }
    $npwppembeli = '-';
    if ($v['t_npwppembeli'] != '__.___.___._-___.___' && !empty($v['t_npwppembeli'])) {
        $npwppembeli = $v['t_npwppembeli'];
    }
    $tgl = explode('-', $v['t_tglprosesspt']);

    $tahun = $tgl[0];
    $bulan = $tgl[1];
    $hari = $tgl[2];
    $nosspd = str_pad($v['t_kohirketetapanspt'], 7, '0', STR_PAD_LEFT);
    $no_dokumen = $hari[0] .
        $hari[1] . '.' .
        $bulan[0] .
        $bulan[1] . '.' .
        $tahun[0] .
        $tahun[1] .
        $tahun[2] .
        $tahun[3] . '.' .
        $nosspd[0] .
        $nosspd[1] .
        $nosspd[2] .
        $nosspd[3] . '.' .
        $nosspd[4] .
        $nosspd[5] .
        $nosspd[6];
    // Debug::dump($no_dokumen);
    // exit;
    $html .= '
    <tr>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $no . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $no_dokumen . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['t_alamatop'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['s_namajenistransaksi'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['t_namawppenjual'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['t_alamatwppenjual'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $npwppenjual . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['t_namawppembeli'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['t_alamatwppembeli'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['t_nikwppembeli'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $npwppembeli . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['t_luastanah'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['t_luasbangunan'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['t_njoptanah'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['t_njopbangunan'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['t_grandtotalnjop'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['t_luastanah'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['t_nilaitransaksispt'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . $v['t_nilaipembayaranspt'] . '</td>
    <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;">' . date('d-m-Y', strtotime($v['t_tglverifikasispt'])) . '</td>
    </tr>
    
';
}

$html .= '</tbody></table>';

$tanggal_pencetakan = explode('-', $tgl_cetakan);
$tahun_cetak = $tanggal_pencetakan[2];
$bulan_cetak = $tanggal_pencetakan[1];
$tanggal_cetak = $tanggal_pencetakan[0];

$html .= '<table width="100%">
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="14" width="80%" style="text-align: center; padding-top: 30px;">
                
            </td>
            <td colspan="3" style="text-align: center; padding-top: 30px;">
            ' . $ar_pemda->s_namaibukotakabkot . ', ' . $tanggal_cetak . ' ' . bulan($bulan_cetak) . ' ' . $tahun_cetak . '
                <br>
                ' . $data_mengetahui->s_jabatanpejabat . '
                <br><br><br><br>
                <ins>&nbsp;&nbsp;&nbsp;&nbsp;' . $data_mengetahui->s_namapejabat . '&nbsp;&nbsp;&nbsp;&nbsp;</ins>
                <br>
                NIP. ' . $data_mengetahui->s_nippejabat . '
            </td>
        </tr>
        </table>';

if ($cetak == 1) {

    $html .= '</div>';


    $html .= '</body></html>';



    $mpdf->WriteHTML($html);

    $mpdf->Output("cetaklapbphtb.pdf", "I");
} else {

    echo $html;
}
