<?php
function bulan($bln){
    $bulan = $bln;
    Switch ($bulan){
     case 1 : $bulan="Januari";
     Break;
     case 2 : $bulan="Februari";
     Break;
     case 3 : $bulan="Maret";
     Break;
     case 4 : $bulan="April";
     Break;
     case 5 : $bulan="Mei";
     Break;
     case 6 : $bulan="Juni";
     Break;
     case 7 : $bulan="Juli";
     Break;
     case 8 : $bulan="Agustus";
     Break;
     case 9 : $bulan="September";
     Break;
     case 10 : $bulan="Oktober";
     Break;
     case 11 : $bulan="November";
     Break;
     case 12 : $bulan="Desember";
     Break;
     }
    return $bulan;
}

$tanggal_bayar = explode('-', $tgl_cetakbphtb1);
$tahun = $tanggal_bayar[2];
$bulan = $tanggal_bayar[1];
$tanggal = $tanggal_bayar[0];

$tanggal_bayar2 = explode('-', $tgl_cetakbphtb2);
$tahun2 = $tanggal_bayar2[2];
$bulan2 = $tanggal_bayar2[1];
$tanggal2 = $tanggal_bayar2[0];


//echo 'Tanggal '. $tanggal.' '.bulan($bulan).' '.$tahun.' S/d '. $tanggal2.' '.bulan($bulan2).' '.$tahun2;

if(($cetak == 1) || ($cetak == 3) || ($cetak == 5) || ($cetak == 7)) {
    
    if(($cetak == 1) || ($cetak == 5) || ($cetak == 7) ){
        $formatkertas = 'Legal';
    }else{
        $formatkertas = 'Legal-L';
    }

    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
    $mpdf = new mPDF('utf-8', ''.$formatkertas.'', 0, '', 10, 10, 5, 1, 1, 1, '');
    
    
    $html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}



</style>
</head>
<body>
<htmlpageheader name="MyHeader1">

</htmlpageheader>

<htmlpageheader name="MyHeader2">

</htmlpageheader>

<htmlpagefooter name="MyFooter1">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>

<htmlpagefooter name="MyFooter2">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>
';
    
$html .= '<div>';    
$nik = '';
   
} else {
    header("Content-type: application/vnd-ms-excel");

    header("Content-Disposition: attachment; filename=cetaklapbulanan.xls");
    
    $html = '';
    
    $nik = '\'';
    
}

if(($cetak == 1) || ($cetak == 2) || ($cetak == 5) || ($cetak == 6) || ($cetak == 7) || ($cetak == 8)) {

$html .= '


   <!-- <img src="http://' . $_SERVER['HTTP_HOST'] . '/' . $this->basePath() . '/' . $ar_pemda->s_logo . '" alt="" width="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
    -->
                   
<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
    <td colspan="8" style="padding-bottom: 10px; ">
        <center>
         <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
         <br>
         <font style="font-size:15pt;">' . strtoupper($ar_pemda->s_namainstansi) . '</font>
         <br>
         <font style="font-size:10pt;">Alamat : ' . $ar_pemda->s_alamatinstansi . '</font>
         <br>
         <font style="font-size:10pt;">Telp/Fax ' . $ar_pemda->s_notelinstansi . ', Kode Pos ' . $ar_pemda->s_kodepos . ' '.$ar_pemda->s_namaprov.'</font>
        </center>
    </td>
</tr>
<tr>
    <td colspan="8" style="border-bottom: 1px solid #000; border-top: 2px solid black;"></td>
</tr>
<tr>
    <td colspan="8"><center><br><br><h3>LAPORAN BEA PEROLEHAN HAK ATAS TANAH DAN BANGUNAN (BPHTB)</h3></center></td></tr>
<tr>
<td colspan="8"><center>TANGGAL ' . $tanggal.' '.bulan($bulan).' '.$tahun.' S/d '. $tanggal2.' '.bulan($bulan2).' '.$tahun2 . '</center></td>
</tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>


    <table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
    <thead>
        <tr >
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;">
                <center>No.</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>No Daftar</center>                    
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Tanggal Setor</center>                    
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nama PPAT/PPATS</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nama Wajib Pajak</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nama Jenis Transaksi</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nilai Transaksi</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nilai SSPD<br>BPHTB</center>                      
            </th>
        </tr>
        
    </thead>    
    <tbody>
        ';
} else { // model 2
    $html .= '


   <!-- <img src="http://' . $_SERVER['HTTP_HOST'] . '/' . $this->basePath() . '/' . $ar_pemda->s_logo . '" alt="" width="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
    -->
                   
<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
    <td colspan="11" style="padding-bottom: 10px; ">
        <center>
         <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
         <br>
         <font style="font-size:15pt;">' . strtoupper($ar_pemda->s_namainstansi) . '</font>
         <br>
         <font style="font-size:10pt;">Alamat : ' . $ar_pemda->s_alamatinstansi . '</font>
         <br>
         <font>Telp/Fax ' . $ar_pemda->s_notelinstansi . ', Kode Pos ' . $ar_pemda->s_kodepos . ' '.$ar_pemda->s_namaprov.'</font>
        </center>
    </td>
</tr>
<tr>
    <td colspan="11" style="border-bottom: 1px solid #000; border-top: 2px solid black;"></td></tr>
<tr>
  <tr>
    <td colspan="11"><center><br><br><h3>DATA PAJAK BEA PEROLEHAN HAK ATAS TANAH DAN BANGUNAN (BPHTB)</h3></center></td></tr>
<tr>
<td colspan="11"><center>PERIODE : '.$tahun.'<br>TANGGAL ' . $tanggal.' '.bulan($bulan).' '.$tahun.' S/d '. $tanggal2.' '.bulan($bulan2).' '.$tahun2 . '</center></td>
</tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>


    <table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
    <thead>
        <tr >
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;">
                <center>No.</center>                      
            </th>

            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nama Pihak yang<br>Menerima Pengalihan</center>                    
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Alamat Pihak yang<br>Menerima pengalihan</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NIK</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Alamat Objek</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NOP</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NPOP</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Luas Tanah <br>dan Bangunan</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Tanggal<br>Transaksi</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nilai BPHTB</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Keterangan</center>                      
            </th>
        </tr>
        
    </thead>    
    <tbody>
        ';
}

$totalnilaitransaksi = 0;
$totalPembayaran = 0;
$counter = 1;

$clast_rek = '';
$totalSetoran_sub = 0;
$totalsub_nilaitransaksi = 0;

foreach ($this->data_lapBphtb as $k => $v) {
    
$tanggal_proses = explode('-', $v['t_tanggalpembayaran']);
$tahun = $tanggal_proses[0];
$bulan = $tanggal_proses[1];
$tanggal = $tanggal_proses[2];

if (!empty($v['p_nilaitransaksispt'])) {
    $nilaitransaksispt = $v['p_nilaitransaksispt'];
} else {
    $nilaitransaksispt = $v["t_nilaitransaksispt"];
}

if (!empty($v['p_grandtotalnjop'])) {
    $grandnjop = $v['p_grandtotalnjop'];
} else {
    $grandnjop = $v["t_grandtotalnjop"];  
}

$aphb_kali = $v['t_tarif_pembagian_aphb_kali'];
$aphb_bagi = $v['t_tarif_pembagian_aphb_bagi'];

if(($cetak == 1) || ($cetak ==2)){
    if ($clast_rek <> $v['t_tanggalpembayaran']) {
                
                if ($clast_rek <> '') {
                    
                    $html .= '<tr>
                            <td colspan="6" align="right" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"><b>JUMLAH '.strtoupper($clast_rek_name).'</b></td>
                                <td align="right" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">'.number_format($totalsub_nilaitransaksi, 2, ',', '.').'</td>  
                            <td align="right" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">'.number_format($totalSetoran_sub, 2, ',', '.').'</td>           
                        </tr>';

                    $totalsub_nilaitransaksi = 0;
                    $totalSetoran_sub = 0;
                }
                
                
                $html .= '<tr>
                    <td colspan="8" align="left" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"><b>Tanggal Setor : '.$tanggal . "-" . $bulan . "-" . $tahun. '</b></td>
                           
                </tr>';
                
                $clast_rek = $v['t_tanggalpembayaran'];
                $clast_rek_name = $tanggal . "-" . $bulan . "-" . $tahun;
                //$counter = 1;
    }       
}

//======================== cetak berdasar notaris
if(($cetak == 5) || ($cetak ==6)){
    if ($clast_rek <> $v['s_idnotaris']) {
                
                if ($clast_rek <> '') {
                    
                    $html .= '<tr>
                            <td colspan="6" align="right" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"><b>JUMLAH '.strtoupper($clast_rek_name).'</b></td>
                                <td align="right" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">'.number_format($totalsub_nilaitransaksi, 2, ',', '.').'</td>  
                            <td align="right" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">'.number_format($totalSetoran_sub, 2, ',', '.').'</td>           
                        </tr>';
                    $totalsub_nilaitransaksi = 0;
                    $totalSetoran_sub = 0;
                }
                
                
                $html .= '<tr>
                    <td colspan="8" align="left" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"><b>Nama Notaris/PPAT : '.$v['s_namanotaris']. '</b></td>
                           
                </tr>';
                
                $clast_rek = $v['s_idnotaris'];
                $clast_rek_name = $v['s_namanotaris'];
                $counter = 1;
    }
}

//======================== cetak berdasar notaris
if(($cetak == 7) || ($cetak ==8)){
    if ($clast_rek <> $v['t_idjenistransaksi']) {
                
                if ($clast_rek <> '') {
                    
                    $html .= '<tr>
                            <td colspan="6" align="right" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"><b>JUMLAH '.strtoupper($clast_rek_name).'</b></td>
                                <td align="right" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">'.number_format($totalsub_nilaitransaksi, 2, ',', '.').'</td>  
                            <td align="right" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">'.number_format($totalSetoran_sub, 2, ',', '.').'</td>           
                        </tr>';
                    $totalsub_nilaitransaksi = 0;
                    $totalSetoran_sub = 0;
                }
                
                
                $html .= '<tr>
                    <td colspan="8" align="left" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"><b>Jenis Transaksi : '.$v['s_namajenistransaksi']. '</b></td>
                           
                </tr>';
                
                $clast_rek = $v['t_idjenistransaksi'];
                $clast_rek_name = $v['s_namajenistransaksi'];
                $counter = 1;
    }
}


if(($cetak == 1) || ($cetak == 2) || ($cetak == 5) || ($cetak == 6) || ($cetak == 7) || ($cetak == 8)){
    
     
    
    $html .= '
            
            <tr>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    <center>' . $counter . '</center>                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' .$v['t_kohirspt']. '                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                    
                    '.$tanggal . "-" . $bulan . "-" . $tahun. '                       
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' .$v['s_namanotaris']. '                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' .$v['t_namawppembeli']. '                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['s_namajenistransaksi'] . '                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">                 
                    ' . number_format($nilaitransaksispt, 2, ',', '.') . '                   
                                          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    '.number_format($v['t_nilaipembayaranspt'], 2, ',', '.').'                 
                                          
                </td>
                
            </tr>        
            '; //$v['t_nilaitransaksispt']
    
}else{ //model 2
    
    /*if($v['t_grandtotalnjop'] > $v['t_nilaitransaksispt']){
        $NPOP = $v['t_grandtotalnjop'];
    }else{
        $NPOP = $v['t_nilaitransaksispt'];
    }*/
    
    
    if(($aphb_kali == null) || ($aphb_kali == '') || ($aphb_kali == 0) || ($aphb_bagi == null) || ($aphb_bagi == '') || ($aphb_bagi == 0)){

        if ($grandnjop  > $nilaitransaksispt) {
            $npop = $grandnjop;
        } else {
            $npop = $nilaitransaksispt;
        }
    }else{
        if ($grandnjop_aphb  > $nilaitransaksispt) {
            $npop = $grandnjop_aphb;
        } else {
            $npop = $nilaitransaksispt;
        }

    }   
    
    $html .= '
            
            <tr>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    <center>' . $counter . '</center>                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                    
                    '.$v['t_namawppembeli']. '                       
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    '.$v['t_kecamatanwppembeli'].'<br>'.$v['t_kelurahanwppembeli'].'<br>  ' .$v['t_alamatwppembeli']. ' RT '.$v['t_rtwppembeli'].' RW '.$v['t_rwwppembeli'].'                       
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['t_nikwppembeli'] . '                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" >                 
                    ' .$v['t_kecamatanop']. '<br> '.$v['t_kelurahanop'].'<br> '.$v['t_alamatop'].' RT '.$v['t_rtop'].' RW '.$v['t_rwop'].'                
                                          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['t_nopbphtbsppt'] . '                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    '.number_format($npop, 2, ',', '.').'                 
                                          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['t_luastanah'] . ' <br> ' . $v['t_luasbangunan'] . '                          
                </td>
               
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    '.$tanggal . "-" . $bulan . "-" . $tahun. '                     
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    '.number_format($v['t_nilaipembayaranspt'], 2, ',', '.').'                 
                                          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                                
                                          
                </td>
                
            </tr>        
            ';
}
    $totalsub_nilaitransaksi += $nilaitransaksispt; //$v['t_nilaitransaksispt'];
    $totalSetoran_sub += $v['t_nilaipembayaranspt'];
    $totalnilaitransaksi += $nilaitransaksispt; //$v['t_nilaitransaksispt'];
    $totalPembayaran += $v['t_nilaipembayaranspt'];
    $counter++;
}



if(($cetak == 1) || ($cetak == 2) || ($cetak == 5) || ($cetak == 6) || ($cetak == 7) || ($cetak == 8)){
    
    if ($clast_rek <> '') {
        $html .= '<tr>
                        <td colspan="6" align="right" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"><b>JUMLAH '.strtoupper($clast_rek_name).'</b></td>
                        <td align="right" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">'.number_format($totalsub_nilaitransaksi, 2, ',', '.').'</td>  
                        <td align="right" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">'.number_format($totalSetoran_sub, 2, ',', '.').'</td>           
                    </tr>';
        $totalsub_nilaitransaksi = 0;
        $totalSetoran_sub = 0;
    }    
    
$html .= '<tr>
        <td colspan="6" style="border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">
            <center><b>JUMLAH TOTAL</b><center>
        </td>
        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
            Rp. '.number_format($totalnilaitransaksi, 2, ',', '.').'
        </td>
        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
            Rp. '.number_format($totalPembayaran, 2, ',', '.').'
        </td>
    </tr>
    ';

}else{ //model 2
    
    $html .= '<tr>
        <td colspan="9" style="border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;" align="right">
            <b>JUMLAH BULAN INI</b>
        </td>
        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
            Rp. '.number_format($periodeini, 2, ',', '.').'
        </td>
        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
            &nbsp;
        </td>
    </tr>
    ';
    $html .= '<tr>
        <td colspan="9" style="border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;" align="right">
            <b>JUMLAH BULAN LALU</b>
        </td>
        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
            Rp. '.number_format($periodesebelum, 2, ',', '.').'
        </td>
        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
            &nbsp;
        </td>
    </tr>
    ';
    $totalperiode = $periodeini + $periodesebelum;
    $html .= '<tr>
        <td colspan="9" style="border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;" align="right">
            <b>JUMLAH SAMPAI DENGAN BULAN INI</b>
        </td>
        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
            Rp. '.number_format($totalperiode, 2, ',', '.').'
        </td>
        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
            &nbsp;
        </td>
    </tr>
    ';
}

$html .= '</tbody></table>';




$tanggal_pencetakan = explode('-', $tgl_cetakan);
$tahun_cetak = $tanggal_pencetakan[2];
$bulan_cetak = $tanggal_pencetakan[1];
$tanggal_cetak = $tanggal_pencetakan[0];

if(($cetak == 1) || ($cetak == 2) || ($cetak == 5) || ($cetak == 6) || ($cetak == 7) || ($cetak == 8)){
    

$html .= '<table width="100%">
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="4" style="text-align: center; padding-top: 30px;">
                
            </td>
            <td colspan="4" style="text-align: center; padding-top: 30px;">
                '.$ar_pemda->s_namaibukotakabkot.', '.$tanggal_cetak.' '.bulan($bulan_cetak).' '.$tahun_cetak.'
                <br>
                '.$data_mengetahui->s_jabatanpejabat.'
                <br><br><br><br>
                <u>&nbsp;&nbsp;&nbsp;&nbsp;'.$data_mengetahui->s_namapejabat.'&nbsp;&nbsp;&nbsp;&nbsp;</u>
                <br>
                NIP. '.$data_mengetahui->s_nippejabat.'
            </td>
        </tr>
        </table>';

}else{
    
$html .= '<table width="100%">
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="5" style="text-align: center; padding-top: 30px;">
                
          </td>
            <td colspan="3" style="text-align: right; padding-top: 30px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'.$ar_pemda->s_namaibukotakabkot.', '.$tanggal_cetak.' '.bulan($bulan_cetak).' '.$tahun_cetak.'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'.$data_mengetahui->s_jabatanpejabat.'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br><br><br><br>
                <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'.$data_mengetahui->s_namapejabat.'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                <br>
                NIP. '.$data_mengetahui->s_nippejabat.'
            </td>
        </tr>
        </table>';
}

if(($cetak == 1) || ($cetak == 3) || ($cetak == 5) || ($cetak == 7)) {

    $html .= '</div>';


    $html .= '</body></html>';



    $mpdf->WriteHTML($html);

    $mpdf->Output("cetaklapbulanan.pdf", "I");
} else {

    echo $html;
}
?>


