
<style type="text/css">

    .border_atas {
        border-top: 1px black solid;
    }

    .border_kiri {
        border-left: 1px black solid;
    }

    .border_kanan {
        border-right: 1px black solid;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }

    .font_besar {
        font-size: 12pt;
    }

    .font_kecil {
        font-size: 10pt;
    }

    .font_lima {
        font-size: 7pt;
    }

    .font_tujuh {
        font-size: 7pt;
    }  

    .font_delapan {
        font-size: 8pt;
    }    

    .font_sembilan {
        font-size: 9pt;
    }    


    @page {
        margin-top: 1.5em;  
        margin-left: 3.8em;          
    }
</style>
<?php

// FUNGSI BULAN DALAM BAHASA INDONESIA
function bulan($bln) {
    $bulan = $bln;
    Switch ($bulan) {
        case 1 : $bulan = "Januari";
            Break;
        case 2 : $bulan = "Februari";
            Break;
        case 3 : $bulan = "Maret";
            Break;
        case 4 : $bulan = "April";
            Break;
        case 5 : $bulan = "Mei";
            Break;
        case 6 : $bulan = "Juni";
            Break;
        case 7 : $bulan = "Juli";
            Break;
        case 8 : $bulan = "Agustus";
            Break;
        case 9 : $bulan = "September";
            Break;
        case 10 : $bulan = "Oktober";
            Break;
        case 11 : $bulan = "November";
            Break;
        case 12 : $bulan = "Desember";
            Break;
    }
    return $bulan;
}
?>


<table width="100%" style="border-spacing: 0" class="font_sembilan">
    <tr style="text-align: center;">
        <td colspan="8">
            <strong>LAPORAN BEA PEROLEHAN HAK ATAS TANAH DAN BANGUNAN (BPHTB)</strong>
            <br>
            <?php
            $tanggal_bayar = explode('-', $tgl_cetakbphtb1);
            $tahun = $tanggal_bayar[2];
            $bulan = $tanggal_bayar[1];
            $tanggal = $tanggal_bayar[0];

            $tanggal_bayar2 = explode('-', $tgl_cetakbphtb2);
            $tahun2 = $tanggal_bayar2[2];
            $bulan2 = $tanggal_bayar2[1];
            $tanggal2 = $tanggal_bayar2[0];

            echo 'Tanggal ' . $tanggal . ' ' . bulan($bulan) . ' ' . $tahun . ' S/d ' . $tanggal2 . ' ' . bulan($bulan2) . ' ' . $tahun2;
            ?>

            <br>
        </td>
    </tr>
    <tr style="text-align: left;">
        <td colspan="8">
            &nbsp;
        </td>
    </tr>
    <tr style="text-align: center">
        <td class="border_atas border_bawah border_kanan border_kiri" width="20">
            No.
        </td>
        <td class="border_atas border_bawah border_kanan" width="65">
            Tanggal Setor
        </td>
        <td class="border_atas border_bawah border_kanan">
            Nama PPAT/PPATS
        </td>
        <td class="border_atas border_bawah border_kanan">
            Keterangan
        </td>
        <td class="border_atas border_bawah border_kanan">
            Nama Jenis Transaksi
        </td>
        <!--<td class="border_atas border_bawah border_kanan">
            Jumlah Transaksi
        </td>-->
        <td class="border_atas border_bawah border_kanan">
            Nilai Transaksi
        </td>
        <td class="border_atas border_bawah border_kanan">
            Nilai SSPD BPHTH
        </td>

    </tr>
    <?php
    $totalPembayaran = 0;
    $counter = 1;

    $clast_rek = '';
    $clast_rek_kel = '';
    $totalSetoran_sub = 0;
    $totalSetoran_sub_kel = 0;
    foreach ($this->data_lapBphtb as $k => $v) {

        if ($clast_rek_kel <> $v['s_kodekelurahan']) {
            if ($clast_rek_kel <> '') {
                echo '<tr>';
                echo " 
                                       <td colspan='6' class='border_bawah border_kanan border_kiri' align='right'>Jumlah se-kelurahan " . strtoupper($clast_rek_name_kel) . "</td>
                                        <td class='border_bawah border_kanan ' align='right'>" . number_format($totalSetoran_sub_kel, 0, ',', '.') . "</td>

                                ";
                echo '</tr>';
                $totalSetoran_sub_kel = 0;
            }
            if ($clast_rek <> $v['s_kodekecamatan']) {
                if ($clast_rek <> '') {
                    echo '<tr>';
                    echo " 
                               <td colspan='6' class='border_bawah border_kanan border_kiri' align='center'>Jumlah se-kecamatan " . strtoupper($clast_rek_name) . "</td>
                                <td class='border_bawah border_kanan ' align='right'>" . number_format($totalSetoran_sub, 0, ',', '.') . "</td>
                                 
                        ";
                    echo '</tr>';
                    $totalSetoran_sub = 0;
                }
                echo "<tr>";
                echo "<td colspan='7' class='border_bawah border_kanan border_kiri'>Kecamatan : <b> " . $v['s_namakecamatan'] . "</td>";

                echo "</tr>";
                $clast_rek = $v['s_kodekecamatan'];
                $clast_rek_name = $v['s_namakecamatan'];
                $counter = 1;
            }



            echo "<tr>";
            echo "<td class='border_bawah border_kiri'>&nbsp;</td>";
            echo "<td colspan='6' class='border_bawah border_kanan'>Kelurahan : <b> " . $v['s_namakelurahan'] . "</td>";

            echo "</tr>";
            $clast_rek_kel = $v['s_kodekelurahan'];
            $clast_rek_name_kel = $v['s_namakelurahan'];
            $counter = 1;
        }
        ?>        
        <tr>
            <td style="text-align: center" class="border_bawah border_kanan border_kiri" >
        <?= $counter ?>
            </td>
            <td style="text-align: center" class="border_bawah border_kanan">
                <?php
                $tanggal_proses = explode('-', $v['t_tanggalpembayaran']);
                $tahun = $tanggal_proses[0];
                $bulan = $tanggal_proses[1];
                $tanggal = $tanggal_proses[2];
                ?>
                <?= $tanggal . "-" . $bulan . "-" . $tahun ?>
            </td>
            <td class="border_bawah border_kanan">
                <?= $v['s_namanotaris']; ?>
            </td>
            <td class="border_bawah border_kanan">
                NOP : <?= $v['t_nopbphtbsppt']; ?><br>

            </td>
            <td class="border_bawah border_kanan">
    <?= $v['s_namajenistransaksi']; ?>
            </td>

            <td style="text-align: right" class="border_bawah border_kanan">
                <?= number_format($v['t_nilaitransaksispt'], 0, ',', '.'); ?>
            </td>
            <td style="text-align: right" class="border_bawah border_kanan">
                <?= number_format($v['t_nilaipembayaranspt'], 0, ',', '.'); ?>
            </td>
            <!--<td style="text-align: right" class="border_bawah border_kanan">
                <?= number_format($v['t_totalspt'], 0, ',', '.'); ?>
            </td>-->

        </tr>
            <?php
            $totalSetoran_sub += $v['t_nilaipembayaranspt'];
            $totalSetoran_sub_kel += $v['t_nilaipembayaranspt'];
            $counter++;
            $totalPembayaran += $v['t_nilaipembayaranspt'];
        }


        if ($clast_rek_kel <> '') {
            echo '<tr>';
            echo " 
                                   <td colspan='6' class='border_bawah border_kanan border_kiri' align='right'>Jumlah se-kelurahan " . strtoupper($clast_rek_name_kel) . "</td>
                                     <td class='border_bawah border_kanan ' align='right'>" . number_format($totalSetoran_sub_kel, 0, ',', '.') . "</td>

                            ";
            echo '</tr>';

            $totalSetoran_sub_kel = 0;
        }

        if ($clast_rek <> '') {



            echo '<tr>';
            echo " 
                               <td colspan='6' class='border_bawah border_kanan border_kiri' align='center'>Jumlah se-kecamatan " . strtoupper($clast_rek_name) . "</td>
                                 <td class='border_bawah border_kanan ' align='right'>" . number_format($totalSetoran_sub, 0, ',', '.') . "</td>
                                
                        ";
            echo '</tr>';

            $totalSetoran_sub = 0;
        }
        ?>
    <tr>
        <td style="text-align: center" class="border_bawah border_kanan border_kiri" colspan="6">
            JUMLAH
        </td>

        <td style="text-align: right" class="border_bawah border_kanan">
<?= number_format($totalPembayaran, 0, ',', '.'); ?>
        </td>

        
    </tr>
    <tr>
        <td colspan="4" style="text-align: center; padding-top: 30px;">
        </td>
        <td colspan="4" style="text-align: center; padding-top: 30px;">
<?= $data_pemda->s_namakabkot ?>, <?= $tgl_cetakan; ?>
            <br>
<?= strtoupper($data_mengetahui->s_jabatanpejabat) ?>
            <br><br><br><br>
    <u><?= $data_mengetahui->s_namapejabat ?></u>
    <br>
    NIP. <?= $data_mengetahui->s_nippejabat ?>
    </td>
    </tr>
</table>
