<?php
    $bulan = array(
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember" 
    );
?>
<div class="content-wrapper">
    <section class="content">

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default" style="border: 1px solid #0073b7;">
                    <div class="modal-header" style="background-color: #0073b7; color: #fff;">

                        <center>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> LAPORAN BULANAN BPHTB</h4>
                        </center>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">

                                <label for="inputKey" class="col-md-3"><b>Tanggal Proses <span style="float:right;">:</span></b></label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="tgl_cetakbphtb1" value="<?= date('d-m-Y') ?>" style="width: 100px; display: inherit;">

                                </div>
                                <label for="inputValue" class="col-md-1">S/d</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="tgl_cetakbphtb2" value="<?= date('d-m-Y') ?>" style="width: 100px; display: inherit;">

                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Notaris <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <select name="idnotaris" id="idnotaris" class="selectpicker" data-live-search="true">
                                        <option value="">-- Pilih Notaris --</option>
                                        <?php foreach ($this->data_notaris as $k => $v) { ?>
                                            <option value="<?= $v['s_iduser'] ?>"><?= $v['s_namanotaris'] ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Mengetahui <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <select id="mengetahuibphtb" class="selectpicker" data-live-search="true">
                                        <?php foreach ($this->data_mengetahuibphtb as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Nilai Nihil <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <select id="nihiltampil" class="selectpicker" data-live-search="true">
                                        <option value="1">Tampilkan</option>
                                        <option value="2">Tidak Di Tampilkan</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="tgl_cetakan" value="<?= date('d-m-Y') ?>" style="width: 100px;">

                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-6"><b>Cetak Berdasar Tanggal Setor <span style="float:right;">:</span></b></label>
                                <div class="col-md-6">
                                    <button class="btn btn-success" onclick="cetakLapBphtb1pdf();"><i class="fa fa-print"></i> PDF </button>&nbsp;
                                    <button class="btn btn-success" onclick="cetakLapBphtb1xls();"><i class="fa fa-print"></i> EXCEL</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-6"><b>Cetak Berdasar Notaris <span style="float:right;">:</span></b></label>
                                <div class="col-md-6">
                                    <button class="btn btn-success" onclick="cetakLapBphtb3pdf();"><i class="fa fa-print"></i> PDF </button>&nbsp;
                                    <button class="btn btn-success" onclick="cetakLapBphtb3xls();"><i class="fa fa-print"></i> EXCEL</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-6"><b>Cetak Berdasar Jenis Transaksi <span style="float:right;">:</span></b></label>
                                <div class="col-md-6">
                                    <button class="btn btn-success" onclick="cetakLapBphtb4pdf();"><i class="fa fa-print"></i> PDF </button>&nbsp;
                                    <button class="btn btn-success" onclick="cetakLapBphtb4xls();"><i class="fa fa-print"></i> EXCEL</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-6"><b>Cetak Beda Format <span style="float:right;">:</span></b></label>
                                <div class="col-md-6">
                                    <button class="btn btn-primary" onclick="cetakLapBphtb2pdf();"><i class="fa fa-print"></i> PDF</button>&nbsp;
                                    <button class="btn btn-primary" onclick="cetakLapBphtb2xls();"><i class="fa fa-print"></i> EXCEL</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default" style="border: 1px solid #00c0ef;">
                    <div class="modal-header" style="background-color: #00c0ef; color: #fff;">

                        <center>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> LAPORAN HARIAN BPHTB</h4>
                        </center>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Tanggal Proses <span style="float:right;">:</span></b></label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="tgl_cetaklapharian" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Notaris <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <select name="idnotaris_harian" id="idnotaris_harian" class="selectpicker" data-live-search="true">
                                        <option value="">-- Pilih Notaris --</option>
                                        <?php foreach ($this->data_notaris_harian as $k => $v) { ?>
                                            <option value="<?= $v['s_iduser'] ?>"><?= $v['s_namanotaris'] ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Pejabat <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <select id="pejabat" class="selectpicker" data-live-search="true">
                                        <?php foreach ($this->data_pejabat as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Mengetahui <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <select id="mengetahui" class="selectpicker" data-live-search="true">
                                        <?php foreach ($this->data_mengetahui as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="tgl_cetakan_harian" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-info" onclick="cetakLapHarianpdf();"><i class="fa fa-print"></i> CETAK PDF </button>
                            <button class="btn btn-info" onclick="cetakLapHarianxls();"><i class="fa fa-print"></i> CETAK EXCEL </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default" style="border: 1px solid #f39c12;">
                    <div class="modal-header" style="background-color: #f39c12; color: #fff;">

                        <center>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> LAPORAN REALISASI BPHTB</h4>
                        </center>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputKey" class="col-md-3"><b>Tahun <span style="float:right;">:</span></b></label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="periode_sptrealisasi" value="<?= date('Y') ?>" style="width: 100px;">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">

                                <label for="inputKey" class="col-md-3"><b>Bulan <span style="float:right;">:</span></b></label>
                                <div class="col-md-3">
                                    <select id="bln_realisasi1" name="bln_realisasi1" class="form-control">
                                        <?php foreach ($bulan as $key => $v) {?>
                                            <option value="<?= $key+1 ?>"><?= $v ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <label for="inputValue" class="col-md-1">s/d</label>
                                <div class="col-md-3">
                                    <select id="bln_realisasi2" name="bln_realisasi2" class="form-control">
                                        <?php foreach ($bulan as $key => $v) {?>
                                            <option value="<?= $key+1 ?>"><?= $v ?></option>
                                        <?php } ?>
                                    </select>
                                </div>

                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Pejabat <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <select id="pejabatrealisasi" class="selectpicker" data-live-search="true">
                                        <?php foreach ($this->data_pejabatrealisasi as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Mengetahui <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <select id="mengetahuirealisasi" class="selectpicker" data-live-search="true">
                                        <?php foreach ($this->data_mengetahuirealisasi as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="tgl_cetakan_realisasi" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-warning" onclick="cetakRealisasiBphtbpdf();"><i class="fa fa-print"></i> CETAK PDF </button>
                            <button class="btn btn-warning" onclick="cetakRealisasiBphtbxls();"><i class="fa fa-print"></i> CETAK EXCEL </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default" style="border: 1px solid #00a65a;">
                    <div class="modal-header" style="background-color: #00a65a; color: #fff;">

                        <center>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> LAPORAN PER DESA BPHTB</h4>
                        </center>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="inputKey" class="col-md-3"><b>Tanggal Proses <span style="float:right;">:</span></b></label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="tgl_cetakbphtb_perdesa" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                        </div>
                                        <label for="inputValue" class="col-md-1">S/d</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="tgl_cetakbphtb2_perdesa" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Kecamatan <span style="float:right;">:</span></b></label>
                                <div class="col-md-6">
                                    <select id="kecamatan_perdesa" class="selectpicker" data-live-search="true">
                                        <option value="">-- Pilih Kecamatan --</option>
                                        <?php foreach ($this->data_kecamatan as $k => $v) { ?>
                                            <option value="<?= $v['s_kodekecamatan'] ?>"><?= $v['s_kodekecamatan'] ?> - <?= $v['s_namakecamatan'] ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Notaris <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <select name="idnotaris" id="idnotaris_perdesa" class="selectpicker" data-live-search="true">
                                        <option value="">-- Pilih Notaris --</option>
                                        <?php foreach ($this->data_notaris_perdesa as $k => $v) { ?>
                                            <option value="<?= $v['s_iduser'] ?>"><?= $v['s_namanotaris'] ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Mengetahui <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <select id="mengetahui_perdesa" class="selectpicker" data-live-search="true">
                                        <?php foreach ($this->data_mengetahuirealisasi_perdesa as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="tgl_cetakan_perdesa" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-6"><b>Cetak Nilai Nihil Tampil <span style="float:right;">:</span></b></label>
                                <div class="col-md-6">
                                    <button class="btn btn-success" onclick="cetakRealisasiBphtb_perdesapdf();"><i class="fa fa-print"></i> PDF </button>&nbsp;
                                    <button class="btn btn-success" onclick="cetakRealisasiBphtb_perdesaxls();"><i class="fa fa-print"></i> EXCEL</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-6"><b>Cetak Nilai Nihil Tidak Tampil <span style="float:right;">:</span></b></label>
                                <div class="col-md-6">
                                    <button class="btn btn-success" onclick="cetakRealisasiBphtb_perdesa1pdf();"><i class="fa fa-print"></i> PDF </button>&nbsp;
                                    <button class="btn btn-success" onclick="cetakRealisasiBphtb_perdesa1xls();"><i class="fa fa-print"></i> EXCEL</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>




    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<script type="text/javascript">
    $("#periode_sptrealisasi").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    $("#periode_skpdkb").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetakverifikasi").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_verifikasi1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_verifikasi2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetaklapharian").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakbphtb1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakbphtb2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakrealisasi").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_realisasi1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_realisasi2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakskpdkb").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_cetakan").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_cetakan_harian").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_cetakan_realisasi").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });


    jQuery("#tgl_cetakbphtb_perdesa").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakbphtb2_perdesa").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });


    jQuery("#tgl_cetakwajar1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakwajar2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_pertahun").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    $("#periode_pertahun").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    function pilihSkpdkbBphtb(a) {
        $.post('<?= $this->url() ?>/pilihSkpdkbBphtb', {
            t_idspt: a
        }, function(data) {
            var aa = JSON.parse(data);
            $('#no_sspdbphtb1').val(aa.t_kohirspt);
            jQuery('#ModalSkpdkb1').modal('hide');
        });
    }

    function pilihSkpdkbBphtb2(a) {
        $.post('<?= $this->url() ?>/pilihSkpdkbBphtb2', {
            t_idspt: a
        }, function(data) {
            var aa = JSON.parse(data);
            $('#no_sspdbphtb2').val(aa.t_kohirspt);
            jQuery('#ModalSkpdkb2').modal('hide');
        });
    }

    function cetakLapHarianpdf() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapharian?tgl_cetak=' + $("#tgl_cetaklapharian").val() + "&pejabat=" + $("#pejabat").val() + "&mengetahui=" + $("#mengetahui").val() + "&idnotaris_harian=" + $("#idnotaris_harian").val() + "&tgl_cetakan_harian=" + $("#tgl_cetakan_harian").val() + "&cetak=1");
    }

    function cetakLapHarianxls() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapharian?tgl_cetak=' + $("#tgl_cetaklapharian").val() + "&pejabat=" + $("#pejabat").val() + "&mengetahui=" + $("#mengetahui").val() + "&idnotaris_harian=" + $("#idnotaris_harian").val() + "&tgl_cetakan_harian=" + $("#tgl_cetakan_harian").val() + "&cetak=2");
    }

    function cetakLapBphtb1pdf() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtb?tgl_cetakbphtb1=' + $("#tgl_cetakbphtb1").val() + "&tgl_cetakbphtb2=" + $("#tgl_cetakbphtb2").val() + "&mengetahuibphtb=" + $("#mengetahuibphtb").val() + "&idnotaris=" + $("#idnotaris").val() + "&tgl_cetakan=" + $("#tgl_cetakan").val() + "&cetak=1&nihiltampil=" + $("#nihiltampil").val());
    }

    function cetakLapBphtb1xls() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtb?tgl_cetakbphtb1=' + $("#tgl_cetakbphtb1").val() + "&tgl_cetakbphtb2=" + $("#tgl_cetakbphtb2").val() + "&mengetahuibphtb=" + $("#mengetahuibphtb").val() + "&idnotaris=" + $("#idnotaris").val() + "&tgl_cetakan=" + $("#tgl_cetakan").val() + "&cetak=2&nihiltampil=" + $("#nihiltampil").val());
    }

    function cetakLapBphtb3pdf() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtb?tgl_cetakbphtb1=' + $("#tgl_cetakbphtb1").val() + "&tgl_cetakbphtb2=" + $("#tgl_cetakbphtb2").val() + "&mengetahuibphtb=" + $("#mengetahuibphtb").val() + "&idnotaris=" + $("#idnotaris").val() + "&tgl_cetakan=" + $("#tgl_cetakan").val() + "&cetak=5&nihiltampil=" + $("#nihiltampil").val());
    }

    function cetakLapBphtb3xls() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtb?tgl_cetakbphtb1=' + $("#tgl_cetakbphtb1").val() + "&tgl_cetakbphtb2=" + $("#tgl_cetakbphtb2").val() + "&mengetahuibphtb=" + $("#mengetahuibphtb").val() + "&idnotaris=" + $("#idnotaris").val() + "&tgl_cetakan=" + $("#tgl_cetakan").val() + "&cetak=6&nihiltampil=" + $("#nihiltampil").val());
    }

    function cetakLapBphtb4pdf() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtb?tgl_cetakbphtb1=' + $("#tgl_cetakbphtb1").val() + "&tgl_cetakbphtb2=" + $("#tgl_cetakbphtb2").val() + "&mengetahuibphtb=" + $("#mengetahuibphtb").val() + "&idnotaris=" + $("#idnotaris").val() + "&tgl_cetakan=" + $("#tgl_cetakan").val() + "&cetak=7&nihiltampil=" + $("#nihiltampil").val());
    }

    function cetakLapBphtb4xls() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtb?tgl_cetakbphtb1=' + $("#tgl_cetakbphtb1").val() + "&tgl_cetakbphtb2=" + $("#tgl_cetakbphtb2").val() + "&mengetahuibphtb=" + $("#mengetahuibphtb").val() + "&idnotaris=" + $("#idnotaris").val() + "&tgl_cetakan=" + $("#tgl_cetakan").val() + "&cetak=8&nihiltampil=" + $("#nihiltampil").val());
    }

    function cetakLapBphtb2pdf() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtb?tgl_cetakbphtb1=' + $("#tgl_cetakbphtb1").val() + "&tgl_cetakbphtb2=" + $("#tgl_cetakbphtb2").val() + "&mengetahuibphtb=" + $("#mengetahuibphtb").val() + "&idnotaris=" + $("#idnotaris").val() + "&tgl_cetakan=" + $("#tgl_cetakan").val() + "&cetak=3&nihiltampil=" + $("#nihiltampil").val());
    }

    function cetakLapBphtb2xls() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtb?tgl_cetakbphtb1=' + $("#tgl_cetakbphtb1").val() + "&tgl_cetakbphtb2=" + $("#tgl_cetakbphtb2").val() + "&mengetahuibphtb=" + $("#mengetahuibphtb").val() + "&idnotaris=" + $("#idnotaris").val() + "&tgl_cetakan=" + $("#tgl_cetakan").val() + "&cetak=4&nihiltampil=" + $("#nihiltampil").val());
    }

    function cetakRealisasiBphtbpdf() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetakrealisasibphtb?periode_sptrealisasi=' + $("#periode_sptrealisasi").val() + "&bln_realisasi1=" + $("#bln_realisasi1").val() + "&bln_realisasi2=" + $("#bln_realisasi2").val() + "&tgl_cetakrealisasi=" + $("#tgl_cetakrealisasi").val() + "&pejabat=" + $("#pejabatrealisasi").val() + "&mengetahui=" + $("#mengetahuirealisasi").val() + "&tgl_cetakan_realisasi=" + $("#tgl_cetakan_realisasi").val() + "&cetak=1");
    }

    function cetakRealisasiBphtbxls() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetakrealisasibphtb?periode_sptrealisasi=' + $("#periode_sptrealisasi").val() + "&bln_realisasi1=" + $("#bln_realisasi1").val() + "&bln_realisasi2=" + $("#bln_realisasi2").val() + "&tgl_cetakrealisasi=" + $("#tgl_cetakrealisasi").val() + "&pejabat=" + $("#pejabatrealisasi").val() + "&mengetahui=" + $("#mengetahuirealisasi").val() + "&tgl_cetakan_realisasi=" + $("#tgl_cetakan_realisasi").val() + "&cetak=2");
    }

    function cetakSkpdkb() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetakskpdkb?periode_skpdkb=' + $("#periode_skpdkb").val() + "&tgl_cetakskpdkb=" + $("#tgl_cetakskpdkb").val() + "&pejabatskpdkb=" + $("#pejabatskpdkb").val() + "&no_sspdbphtb1=" + $("#no_sspdbphtb1").val() + "&no_sspdbphtb2=" + $("#no_sspdbphtb2").val());
    }

    function cetakRealisasiBphtb_perdesapdf() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtbperdesa?tgl_cetakbphtb_perdesa=' + $("#tgl_cetakbphtb_perdesa").val() + "&tgl_cetakbphtb2_perdesa=" + $("#tgl_cetakbphtb2_perdesa").val() + "&mengetahui_perdesa=" + $("#mengetahui_perdesa").val() + "&pejabat_perdesa=" + $("#pejabat_perdesa").val() + "&idnotaris_perdesa=" + $("#idnotaris_perdesa").val() + "&tgl_cetakan_perdesa=" + $("#tgl_cetakan_perdesa").val() + "&kecamatan_perdesa=" + $("#kecamatan_perdesa").val() + "&cetak=1&nihil=1");
    }

    function cetakRealisasiBphtb_perdesaxls() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtbperdesa?tgl_cetakbphtb_perdesa=' + $("#tgl_cetakbphtb_perdesa").val() + "&tgl_cetakbphtb2_perdesa=" + $("#tgl_cetakbphtb2_perdesa").val() + "&mengetahui_perdesa=" + $("#mengetahui_perdesa").val() + "&pejabat_perdesa=" + $("#pejabat_perdesa").val() + "&idnotaris_perdesa=" + $("#idnotaris_perdesa").val() + "&tgl_cetakan_perdesa=" + $("#tgl_cetakan_perdesa").val() + "&kecamatan_perdesa=" + $("#kecamatan_perdesa").val() + "&cetak=2&nihil=1");
    }

    function cetakRealisasiBphtb_perdesa1pdf() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtbperdesa?tgl_cetakbphtb_perdesa=' + $("#tgl_cetakbphtb_perdesa").val() + "&tgl_cetakbphtb2_perdesa=" + $("#tgl_cetakbphtb2_perdesa").val() + "&mengetahui_perdesa=" + $("#mengetahui_perdesa").val() + "&pejabat_perdesa=" + $("#pejabat_perdesa").val() + "&idnotaris_perdesa=" + $("#idnotaris_perdesa").val() + "&tgl_cetakan_perdesa=" + $("#tgl_cetakan_perdesa").val() + "&kecamatan_perdesa=" + $("#kecamatan_perdesa").val() + "&cetak=1&nihil=2");
    }

    function cetakRealisasiBphtb_perdesa1xls() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtbperdesa?tgl_cetakbphtb_perdesa=' + $("#tgl_cetakbphtb_perdesa").val() + "&tgl_cetakbphtb2_perdesa=" + $("#tgl_cetakbphtb2_perdesa").val() + "&mengetahui_perdesa=" + $("#mengetahui_perdesa").val() + "&pejabat_perdesa=" + $("#pejabat_perdesa").val() + "&idnotaris_perdesa=" + $("#idnotaris_perdesa").val() + "&tgl_cetakan_perdesa=" + $("#tgl_cetakan_perdesa").val() + "&kecamatan_perdesa=" + $("#kecamatan_perdesa").val() + "&cetak=2&nihil=2");
    }

    function cetakLapBphtb_wajarpdf() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtbwajar?tgl_cetakwajar1=' + $("#tgl_cetakwajar1").val() + "&tgl_cetakwajar2=" + $("#tgl_cetakwajar2").val() + "&mengetahuibphtb_wajar=" + $("#mengetahuibphtb_wajar").val() + "&idnotaris_wajar=" + $("#idnotaris_wajar").val() + "&tgl_cetakan_wajar=" + $("#tgl_cetakan_wajar").val() + "&cetak=1");
    }

    function cetakLapBphtb_wajarxls() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtbwajar?tgl_cetakwajar1=' + $("#tgl_cetakwajar1").val() + "&tgl_cetakwajar2=" + $("#tgl_cetakwajar2").val() + "&mengetahuibphtb_wajar=" + $("#mengetahuibphtb_wajar").val() + "&idnotaris_wajar=" + $("#idnotaris_wajar").val() + "&tgl_cetakan_wajar=" + $("#tgl_cetakan_wajar").val() + "&cetak=2");
    }

    function cetakRealisasipertahunpdf() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetakrealisasipertahun?periode_pertahun=' + $("#periode_pertahun").val() + "&tgl_pertahun=" + $("#tgl_pertahun").val() + "&pejabatpertahun=" + $("#pejabatpertahun").val() + "&mengetahuipertahun=" + $("#mengetahuipertahun").val() + "&cetak=1");
    }

    function cetakRealisasipertahunxls() {
        window.open('<?= $this->url("cetak_laporan") ?>/cetakrealisasipertahun?periode_pertahun=' + $("#periode_pertahun").val() + "&tgl_pertahun=" + $("#tgl_pertahun").val() + "&pejabatpertahun=" + $("#pejabatpertahun").val() + "&mengetahuipertahun=" + $("#mengetahuipertahun").val() + "&cetak=2");
    }
</script>