<link href="<?= $this->basePath();?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<style>
    .datepicker {
        z-index:1051 !important;
    }
</style> 
<div class="content-wrapper">
    <section class="content">
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            <div class="box-header with-border bg-blue-gradient">

                <center><h3 class="box-title">Verifikasi E-Signature BPHTB</h3></center>
                <div class="pull-right">&nbsp;</div>
            </div>
            <div class="box-body">
                <table id="example"  cellpadding="0" cellspacing="0" border="0" class="display" width="100%" >
                    <thead>
                    <tr class="bg-blue" style="font-size:10pt; font: bold;">
                    <th width="20"><center>No</center></th>
                    <th width="20"><center>No Daftar</center></th>
                    <th width="20"><center>No Validasi</center></th>
                    <th width="70"><center>Jenis<br>Transaksi</center></th>
                    <th width="40"><center>Tgl<br>Validasi</center></th>
                    <th width="120"><center>Nama<br>Wajib Pajak</center></th>
                    <th width="80"><center>Jml<br>Bayar</center></th>
                    <th width="50"><center>Kode<br>Bayar</center></th>
                    <th width="30"><center>Pembayaran</center></th>
                    <th width="50"><center>Status<br>Esignature</center></th>
                    <th><center>Perintah</center></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><center>Perintah</center></th>
                    </tfoot>
                </table>

            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="myModalVerifikasiESignature" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="box box-danger box-solid">
        <div class="box-header">
            <h3 class="box-title" style="text-align: center;"><i class="fa fa-fw fa-print"></i> Verifikasi E-Signature</h3>
        </div>
        <div class="box-body">
            <div class="col-sm-12">
                <div class="form-horizontal form-group col-md-12">
                    <label for="inputType" class="col-md-4"><b>Masukkan Passphrase <span style="float:right;">:</span></b></label>
                    <div class="col-md-4">
                        <input type="hidden" id="t_idspt"  class="form-control">
                        <input type="text" id="passphrase"  class="form-control">
                    </div>
                </div>
                <div class="form-horizontal form-group col-md-12">
                    <label for="inputType" class="col-md-3"></label>
                    <div class="col-md-8" id="response_messages"></div>
                </div>
            </div> 
            <div class="col-sm-3">
                <button class="btn btn-success" onclick="prosestandatangan();" id="proses_esignature"><i class="fa fa-fw fa-refresh"></i> Proses Tandatangan</button>
            </div>
            <div class="col-sm-6" id="div_cetak_sspd" style="display: none; ">
                <button class="btn btn-info" id="btn_cetak_sspd1"><i class="fa fa-fw fa-print"></i> Cetak SSPD LQ</button>
                <button class="btn btn-info" id="btn_cetak_sspd2"><i class="fa fa-fw fa-print"></i> Cetak SSPD</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-danger" onclick="tutupVerifikasiESignature()"><i class="fa fa-fw fa-minus-circle"></i> Batal</button>
            </div>
        </div>
        <div class="overlay" style="display:none;" id="div_overlay_prosesttd">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" >

    var dTable;
    // #Example adalah id pada table
    $(document).ready(function () {
        dTable = $('#example').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            //"responsive": true,
            "sAjaxSource": "<?= $this->url() ?>/dataGrid", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 10,
            "aLengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
            "aaSorting": [[0, "asc"]],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            //"scrollY":        "400px",
            "scrollX":        true,
            //"scrollCollapse": true,

            "oLanguage": {
                "sEmptyTable": "No incompleted albums found!", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "<center>Tidak ada data</center>",
                "sEmptyTable": "<center>Tidak ada data</center>",
                        "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "Tidak ada data",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",        
                "oPaginate": {"sFirst": "First", "sLast": "Last", "sNext": ">>", "sPrevious": "<<"} //pagination
            },
            
            "columnDefs": [
                {"orderable": false, "targets": 0, "searchable": false},
                {"orderable": true, "targets": 1, "searchable": true},
                {"orderable": true, "targets": 2, "searchable": true},
                {"orderable": true, "targets": 3, "searchable": true},
                {"orderable": true, "targets": 4, "searchable": true},
                {"orderable": true, "targets": 5, "searchable": true},
                {"orderable": true, "targets": 6, "searchable": true},
                {"orderable": true, "targets": 7, "searchable": true},
                {"orderable": true, "targets": 8, "searchable": true},
                {"orderable": true, "targets": 9, "searchable": true},
                {"orderable": false, "targets": 10, "searchable": false}
            ]
        });
        
        //=========================== buat pencarian dibawah aktif
        $('th', dTable.table().footer()).each(function () {
            $("#tgl_daftar_cari").datepicker({
                format: 'dd-mm-yyyy',
                language: 'id'
            });

            $("#tahun_cari").datepicker({
                format: 'yyyy',
                viewMode: "years",
                minViewMode: "years"
            });
            var title = $('th').eq($(this).index()).text();
            //$(this).html('<input type="text" placeholder="Search ' + title + '" />');
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            }else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nodaftar') {
                $(this).html('<center><input type="text" placeholder="No" class="pencariantable" style="width:60px;text-size:8pt;" /></center>');
            }else if (title.trim().replace(/\s+/, "").toLowerCase() == 'novalidasi') {
                $(this).html('<center><input type="text" placeholder="No" class="pencariantable" style="width:60px;text-size:8pt;" /></center>');
            }else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tahun') {
                $(this).html('<center><input type="text" id="tahun_cari" placeholder="Tahun" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            }else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tglvalidasi') {
                $(this).html('<center><input type="text" placeholder="tgl validasi" id="tgl_daftar_cari" class="pencariantable" style="width:85px;text-size:8pt;" /></center>');
            }else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namawajibpajak') {
                $(this).html('<center><input type="text" placeholder="nama" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            }else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jmlbayar') {
                $(this).html('<center><input type="text" placeholder="jml" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            }else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jenistransaksi') {
                $(this).html('<select class="pencariantable" style="width:100px;text-size:8pt;"><option value="">-- Pilih --</option><?php
foreach ($datajenistransaksi as $row) {
echo '<option value="' . $row->s_idjenistransaksi . '">' . $row->s_namajenistransaksi . '</option>';
}
?></select>');
                //$(this).html('<center><input type="text" placeholder="jenis" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'statusesignature') {
                $(this).html('<center><select class="pencariantable" style="width:70px;text-size:8pt;">'+
                '<option value="1">Belum</option>'+
                '<option value="2">Sudah</option>'+
                '<option value="3">Semua</option>'+
                '</select></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'pembayaran') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'kodebayar') {
                $(this).html('<center><input type="text" placeholder="kode" class="pencariantable" style="width:70px;text-size:8pt;" /></center>');
            }else if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                $(this).html('');
            }else {
                $(this).html('<input type="text" placeholder="Cari ' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />'); //style="width:100px;"
            }
            
            
        });

        // Apply the search
        dTable.columns().eq(0).each(function (colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function () {
                dTable
                        .column(colIdx)
                        .search(this.value)
                        .draw();
            });
            
        });
        
        dTable.columns().eq(0).each(function (colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function () {
                dTable
                        .column(colIdx)
                        .search(this.value)
                        .draw();
            });
            
        });
        
        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');
        //=========================== end buat pencarian dibawah aktif

        $('#example').removeClass('display').addClass('table table-striped table-bordered');
        

        // Untuk Pencarian, di kolom paling bawah
        /*dTable.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                that.search(this.value).draw();
            });
            $('select', this.footer()).on('keyup change', function () {
                that.search(this.value).draw();
            });
        });*/
    });





</script>



<script type="text/javascript">

    jQuery("#tgl_cetakan").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_setor1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_setor2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

	function prosestandatangan(){
        $("#div_overlay_prosesttd").css('display', 'block');
		$.post('<?= $this->url() ?>/prosestandatangan', {
			t_idspt: $("#t_idspt").val(),
			passphrase: $("#passphrase").val()
		}, function (data) {
            var aa = JSON.parse(data);
            $('#response_messages').html(aa.response_messages);
            $("#passphrase").val('');
            if(aa.code == '1'){
                $('#div_cetak_sspd').css('display', 'block');
                $('#proses_esignature').css('display', 'none');
            }else{
                $('#div_cetak_sspd').css('display', 'none');
            }
            $('#btn_cetak_sspd1').attr('onclick', 'cetaksspd_esignature(' + aa.kodebayar + ', 1)');
            $('#btn_cetak_sspd2').attr('onclick', 'cetaksspd_esignature(' + aa.kodebayar + ', 2)');
            dTable.ajax.reload();
            $("#div_overlay_prosesttd").css('display', 'none');
        });
	}

    function openVerifikasiESignature(a) {
        $("#div_overlay_prosesttd").css('display', 'none');
        jQuery('#myModalVerifikasiESignature').modal('show');
		$('#response_messages').html('');
        $("#passphrase").val('');
        $("#t_idspt").val(a);
        $('#div_cetak_sspd').css('display', 'none');
        $('#proses_esignature').css('display', 'block');
    }
    function tutupVerifikasiESignature() {
        jQuery('#myModalVerifikasiESignature').modal('hide');
    }

    function cetaksspd_esignature(a, b) {
        var file_path = '<?= $this->basePath()?>/public/sspd_signed/cetaksppd_'+ a + '_' + b + '_signed.pdf';
        var a = document.createElement('A');
        a.href = file_path;
        a.download = file_path.substr(file_path.lastIndexOf('/') + 1);
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        $('#div_cetak_sspd').css('display', 'none');
        jQuery('#myModalVerifikasiESignature').modal('hide');
    }
</script>
