<?php
function bulan($bln){
    $bulan = $bln;
    Switch ($bulan){
     case 1 : $bulan="Januari";
     Break;
     case 2 : $bulan="Februari";
     Break;
     case 3 : $bulan="Maret";
     Break;
     case 4 : $bulan="April";
     Break;
     case 5 : $bulan="Mei";
     Break;
     case 6 : $bulan="Juni";
     Break;
     case 7 : $bulan="Juli";
     Break;
     case 8 : $bulan="Agustus";
     Break;
     case 9 : $bulan="September";
     Break;
     case 10 : $bulan="Oktober";
     Break;
     case 11 : $bulan="November";
     Break;
     case 12 : $bulan="Desember";
     Break;
     }
    return $bulan;
}

$tanggal_bayar = explode('-', $tgl_setor1);
$tahun = $tanggal_bayar[2];
$bulan = $tanggal_bayar[1];
$tanggal = $tanggal_bayar[0];

$tanggal_bayar2 = explode('-', $tgl_setor2);
$tahun2 = $tanggal_bayar2[2];
$bulan2 = $tanggal_bayar2[1];
$tanggal2 = $tanggal_bayar2[0];

//echo 'Tanggal '. $tanggal.' '.bulan($bulan).' '.$tahun.' S/d '. $tanggal2.' '.bulan($bulan2).' '.$tahun2;

if ($cetak == 1) {

    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
//$mpdf = new mPDF();
    $mpdf = new mPDF('utf-8', 'Legal', 0, '', 10, 10, 5, 1, 1, 1, '');
    
    $html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}



</style>
</head>
<body>
<htmlpageheader name="MyHeader1">

</htmlpageheader>

<htmlpageheader name="MyHeader2">

</htmlpageheader>

<htmlpagefooter name="MyFooter1">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>

<htmlpagefooter name="MyFooter2">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>
';
    
$html .= '<div>';    
$nik = '';
$imglogo = '<img src="http://' . $_SERVER['HTTP_HOST'] . '/' . $this->basePath() . '/' . $ar_pemda->s_logo . '" alt="" width="60" height="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
    
              ';
    
} else {
    header("Content-type: application/vnd-ms-excel");

    header("Content-Disposition: attachment; filename=cetakdatapendaftaran.xls");
    
    $html = '';
    
    $nik = '\'';
    
    $imglogo = '';
}


$html .= '


    '.$imglogo.'     
<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
    <td colspan="6">
        <center>
         <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . ', ' . strtoupper($ar_pemda->s_namaprov) . '</b>
         <br>
         <b style="font-size:11pt;">' . strtoupper($ar_pemda->s_namainstansi) . ' (' . strtoupper($ar_pemda->s_namasingkatinstansi) . ')</b>
         <br>
         <b style="font-size:10pt;">' . strtoupper($ar_pemda->s_alamatinstansi) . ' Telp/Fax ' . $ar_pemda->s_notelinstansi . ', Kode Pos ' . $ar_pemda->s_kodepos . '</b>
        </center>
    </td>
</tr>
<tr >
    <td colspan="6" style="border-bottom: 1px solid #000;">&nbsp;</td></tr>
<tr>
  <tr>
    <td colspan="6"><center><br><br><h3>DAFTAR DATA PEMBAYARAN</h3></center></td></tr>
<tr>
<td colspan="6"><center>TANGGAL PEMBAYARAN ' . $tanggal.' '.bulan($bulan).' '.$tahun . ' s/d ' . $tanggal2.' '.bulan($bulan2).' '.$tahun2 . '</center></td>
</tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>


    <table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" align="center">
    <thead>
        <tr >
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:30px;">
                <center>No.</center>                      
            </th>

            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;width: 125px;">
                <center>Nomor Dokumen</center>                    
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;width:100px;">
                <center>Tgl. Setoran</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Uraian</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Penyetor</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Jumlah Setoran</center>                      
            </th>
        </tr>
        
    </thead>    
    <tbody>
        ';

$totalPembayaran = 0;
$counter = 1;
foreach ($this->data_pencatatanSetoran as $k => $v) {
$t_nikwppembeli = $v['t_nikwppembeli'];


//$nikwppembeli = wordwrap($t_nikwppembeli,5,"<br>",true);
$tanggal_bayar = explode('-', $v['t_tanggalpembayaran']);
$tahun = $tanggal_bayar[0];
$bulan = $tanggal_bayar[1];
$tanggal = $tanggal_bayar[2];

    $html .= '
            
            <tr>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    <center>' . $counter . '</center>                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;padding-left:5px;">
                    
                    '.$tanggal . "." . $bulan . "." . $tahun . "." . str_pad($v['t_kohirspt'], 7, '0', STR_PAD_LEFT) . '                       
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    <center>' .date('d-m-Y', strtotime($v['t_tanggalpembayaran'])). '</center>            
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;padding: 0px 5px 0px 5px;">
                    
                    ' . $v['s_namajenistransaksi'] . '                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;padding: 0px 5px 0px 5px;">                 
                    ' . strtoupper($v['t_namawppembeli']) . '               
                                          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;padding: 0px 5px 0px 0px;" align="right">
                                     
                    ' . number_format($v['t_nilaipembayaranspt'], 2, ',', '.') . '                        
                </td>
                
            </tr>        
            ';
    $totalPembayaran += $v['t_nilaipembayaranspt'];
    $counter++;
}

$html .= '<tr>
        <td colspan="5" style="border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">
            <center><b>JUMLAH TOTAL</b><center>
        </td>
        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; padding-right: 5px;" align="right">
            Rp. '.number_format($totalPembayaran, 2, ',', '.').'
        </td>
    </tr>
    <tr>';

$html .= '</tbody></table>';

$tanggal_pencetakan = explode('-', $tgl_cetakan);
$tahun_cetak = $tanggal_pencetakan[2];
$bulan_cetak = $tanggal_pencetakan[1];
$tanggal_cetak = $tanggal_pencetakan[0];

$html .= '<table width="100%">
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" style="text-align: center; padding-top: 30px;">
                Mengetahui,
                <br>
                '.$data_mengetahui->s_jabatanpejabat.'
                <br><br><br><br>
                <u>&nbsp;&nbsp;&nbsp;&nbsp;'.$data_mengetahui->s_namapejabat.'&nbsp;&nbsp;&nbsp;&nbsp;</u>
                <br>
                NIP. '.$data_mengetahui->s_nippejabat.'
            </td>
            <td colspan="3" style="text-align: center; padding-top: 30px;">
                '.$ar_pemda->s_namaibukotakabkot.', '.$tanggal_cetak.' '.bulan($bulan_cetak).' '.$tahun_cetak.'
                <br>
                '.$data_pejabat->s_jabatanpejabat.'
                <br><br><br><br>
                <ins>&nbsp;&nbsp;&nbsp;&nbsp;'.$data_pejabat->s_namapejabat.'&nbsp;&nbsp;&nbsp;&nbsp;</ins>
                <br>
                NIP. '.$data_pejabat->s_nippejabat.'
            </td>
        </tr>
        </table>';

if ($cetak == 1) {

    $html .= '</div>';


    $html .= '</body></html>';



    $mpdf->WriteHTML($html);

    $mpdf->Output("cetakdatapendaftaran.pdf", "I");
} else {

    echo $html;
}
?>


