<html><head>
        <style>
            @page { margin: 100px 50px; }
            .border_atas {
                border-top: 1px black solid;
            }

            .border_kiri {
                border-left: 1px black solid;
            }

            .border_kanan {
                border-right: 1px black solid;
            }

            .border_bawah {
                border-bottom: 1px black solid;
            }

            .font_besar {
                font-size: 12pt;
            }

            .font_kecil {
                font-size: 10pt;
            }

            .font_lima {
                font-size: 7pt;
            }

            .font_tujuh {
                font-size: 7pt;
            }  

            .font_delapan {
                font-size: 8pt;
            }    

            .font_sembilan {
                font-size: 9pt;
            }    


            /*@page {
                margin-top: 1.5em;  
                margin-left: 3.8em;          
            }*/

        </style>
    </head><body>
        <div id="content" style="margin-top:-60px">
            <table width="100%" style="border-spacing: 0" class="font_sembilan">
                <tr style="text-align: center;" class="font_sembilan">
                    <td colspan="19">
                        <h2>DAFTAR HASIL INPUT BPN</h2>
                    </td>
                </tr>
                <tr style="text-align: left;" class="font_sembilan">
                    <td colspan="19">
                    </td>
                </tr>
                <tr style="text-align: left;" class="font_sembilan">
                    <td colspan="19">
                        Tanggal Input : <?= $tgl_hasilbpn1 ?> s/d <?= $tgl_hasilbpn2 ?>
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td rowspan="2" class="border_atas border_bawah border_kanan border_kiri">
                        No.
                    </td>
                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        No Akta
                    </td>
                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        Tanggal Akta
                    </td>
                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        Nama PPAT
                    </td>
                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        NOP
                    </td>
                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        NTPD
                    </td>
                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        Jenis Hak
                    </td>
                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        Nomor Induk Bidang
                    </td>
                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        Wajib Pajak
                    </td>
                    <td rowspan="1" colspan="2" class="border_atas border_bawah border_kanan">
                        Koordinat
                    </td>
                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        Luas Tanah
                    </td>
                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        Kelurahan OP
                    </td>
                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        Kecamatan OP
                    </td>

                </tr>
                <tr style="text-align: center">
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        X
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Y
                    </td>
                </tr>

                <?php
                $totalPembayaran = 0;
                $counter = 1;
                foreach ($this->data_hasilbpn as $k => $v) {
                    ?>
                    <tr style="text-align: center">
                        <td class="border_kiri border_bawah border_kanan">
                            <?= $counter ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['nomor_akta'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['tgl_akta'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= strtoupper($v['nama_ppat']) ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['nop'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['ntpd'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['jenis_hak'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['nomor_induk_bidang'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= strtoupper($v['nama_wp']) ?><br>
                            nik: <?= $v['nik'] ?><br>
                            npwp: <?= $v['npwp'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['koordinat_x'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['koordinat_y'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['luastanah_op'] ?> m<sup>2</sup>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['kelurahan_op'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['kecamatan_op'] ?>
                        </td>
                    </tr>
                    <?php
                    $counter++;
                }
                ?>
            </table>
                <!--<p style="page-break-before: always;">the second page</p>-->
        </div>
    </body></html>