<!-- <link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css"> -->
<style>
    .datepicker {
        z-index: 1051 !important;
    }
</style>
<?php
$bpn = $this->data_bpn;
?>
<div class="content-wrapper">
    <section class="content">
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            <div class="box-header with-border bg-blue-gradient">

                <center>
                    <h3 class="box-title">Ganti Password BPN</h3>
                </center>

            </div><!-- /.box-header -->

            <div class="box-body">
                <form class="form-horizontal">
                    <div style="padding-left: 15px; padding-right: 20px;">

                        <div class="form-group">
                            <label class="control-label col-sm-2">Username</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="username" id="username" value="<?= $bpn['username']; ?>" readonly />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Password Lama</label>
                            <div class="col-md-3">
                                <input type="password" class="form-control col-md-3" name="password_lama" id="password_lama" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Password Baru</label>
                            <div class="col-md-3">
                                <input type="password" class="form-control col-sm-3" name="password_baru" id="password_baru" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2">
                                <button class="btn btn-success" id="updateBtn">Update</button>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </section>
</div>


<script type="text/javascript">
    $('#updateBtn').click((e) => {
        e.preventDefault();
        updatePass();
    })

    function updatePass() {
        var pass_lama = $('#password_lama').val();
        var pass_baru = $('#password_baru').val();

        $.post('<?= $this->url() ?>/updatePassBpn', {
            pass_lama: pass_lama,
            pass_baru: pass_baru
        }).then(function(data) {
            var a = JSON.parse(data);
            if (a.result === true) {
                alert("Sukses ganti Password!");
                location.reload();
            } 
            else {
                alert("Password lama salah!");
            }
        });
    }
</script>