<link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<style>
    .datepicker {
        z-index: 1051 !important;
    }
</style>
<div class="content-wrapper">
    <section class="content">
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            <div class="box-header with-border bg-blue-gradient">

                <center>
                    <h3 class="box-title">DATA BPN</h3>
                </center>
                <div class="pull-right">
                    <a href="#" class="btn btn-success " onclick="openCetakDaftarInputBpn()"><i class="fa fa-print"></i> Cetak Daftar Input BPN</a>
                </div>

            </div><!-- /.box-header -->

            <div class="box-body">
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control text-center" id="tgl_transaksi_bpn" value="<?= date('d-m-Y') ?>" readonly />
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-success" onclick="sinkronisasi();">Sinkronisasi</button>
                    </div>
                    <div class="col-sm-7"></div>
                </div>

                <br />
                <br />

                <table id="example" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                    <thead>
                        <tr class="bg-blue" style="font-size:10pt; font: bold;">
                            <th width="20">
                                <center>No</center>
                            </th>
                            <th width="20">
                                <center>Aksi</center>
                            </th>
                            <th width="20">
                                <center>Tanggal Proses</center>
                            </th>
                            <th width="20">
                                <center>Nomor Akta</center>
                            </th>
                            <th width="30">
                                <center>Nama PPAT</center>
                            </th>
                            <th width="20">
                                <center>NOP</center>
                            </th>
                            <th width="20">
                                <center>Jenis Hak</center>
                            </th>
                            <th width="120">
                                <center>Nama<br>Wajib Pajak</center>
                            </th>
                            <th width="80">
                                <center>Kelurahan OP</center>
                            </th>
                            <th width="80">
                                <center>Kecamatan OP</center>
                            </th>
                            <th width="80">
                                <center>Kota OP</center>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <th></th>
                        <th></th>
                        <th id="tanggalproses"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tfoot>
                </table>

            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="cetakHasilBpn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-default">

            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK DAFTAR INPUT BPN</h4>
                </center>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-3"><b>Tanggal Proses <span style="float:right;">:</span></b></label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="tgl_hasilbpn1" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                </div>
                                <label for="inputValue" class="col-md-1">S/d</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="tgl_hasilbpn2" value="<?= date('d-m-Y') ?>">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <div style="float:left;">
                        <button class="btn btn-success" onclick="cetakHasilBpn();"><i class="fa fa-fw fa-file-pdf-o"></i> Cetak PDF</button>
                        <!--<button class="btn btn-success" onclick="cetakPencatatanSetoranxls();"><i class="fa fa-fw fa-file-excel-o"></i> Cetak Excel</button>-->
                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupCetakDaftarInputBpn()">Tutup</button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detileDataBPN" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-default">

            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-info"></i> DETILE DATA BPN</h4>
                </center>
            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-2"><b>Nomor Akta <span style="float:right;">:</span></b></label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="no_akta" readonly>
                                </div>
                                <label for="inputValue" class="col-md-2">Tgl Akta</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="tgl_akta" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-2"><b>Nama PPAT <span style="float:right;">:</span></b></label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="nama_ppat" readonly>
                                </div>
                                <label for="inputValue" class="col-md-2">NOP</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="nop" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-2"><b>NTPD <span style="float:right;">:</span></b></label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="ntpd" readonly>
                                </div>
                                <label for="inputValue" class="col-md-2">No Induk Bidang</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="nib" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-2"><b>Koordinat X <span style="float:right;">:</span></b></label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="koordinat_x" readonly>
                                </div>
                                <label for="inputValue" class="col-md-2">Koordinat Y</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="koordinat_y" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-2"><b>NIK <span style="float:right;">:</span></b></label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="nik" readonly>
                                </div>
                                <label for="inputValue" class="col-md-2">NPWP</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="npwp" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-2"><b>Nama WP <span style="float:right;">:</span></b></label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="nama_wp" readonly>
                                </div>
                                <label for="inputValue" class="col-md-2">Kelurahan OP</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="kelurahan_op" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-2"><b>Kecamatan OP <span style="float:right;">:</span></b></label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="kecamatan_op" readonly>
                                </div>
                                <label for="inputValue" class="col-md-2">Kab/Kota OP</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="kab_kota_op" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-2"><b>Luas Tanah <span style="float:right;">:</span></b></label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="luas_tanah" readonly>
                                </div>
                                <label for="inputValue" class="col-md-2">Jenis Hak</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="jenis_hak" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <div style="float:left;">


                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupDetileInfoBPN()">Tutup</button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">
    var dTable;
    // #Example adalah id pada table
    $(document).ready(function() {
        dTable = $('#example').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            //"responsive": true,
            "sAjaxSource": "<?= $this->url() ?>/dataGrid", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 10,
            "aLengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "aaSorting": [
                [0, "asc"]
            ],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            //"scrollY":        "400px",
            "scrollX": true,
            //"scrollCollapse": true,

            "oLanguage": {
                "sEmptyTable": "No incompleted albums found!", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "<center>Tidak ada data</center>",
                "sEmptyTable": "<center>Tidak ada data</center>",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "Tidak ada data",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": "Selanjutnya",
                    "sPrevious": "Sebelumnya"
                } //pagination
            },

            "columnDefs": [{
                    "orderable": false,
                    "targets": 0,
                    "searchable": false
                },
                {
                    "orderable": false,
                    "targets": 1,
                    "searchable": false
                },
                {
                    "orderable": true,
                    "targets": 2,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 3,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 4,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 5,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 6,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 7,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 8,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 9,
                    "searchable": true
                },
                {
                    "orderable": false,
                    "targets": 10,
                    "searchable": false
                }
            ]
        });

        $('th', dTable.table().footer()).each(function() {
            $("#tgl_daftar_cari").datepicker({
                format: 'dd-mm-yyyy',
                language: 'id'
            });

            $("#tahun_cari").datepicker({
                format: 'yyyy',
                viewMode: "years",
                minViewMode: "years"
            });
            var title = $('th').eq($(this).index()).text();
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');

            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                $(this).html('');
            } else {
                $(this).html('<input type="text" placeholder="Cari ' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />'); //style="width:100px;"
            }


        });

        // Apply the search
        dTable.columns().eq(0).each(function(colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        dTable.columns().eq(0).each(function(colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');

        $('#example').removeClass('display').addClass('table table-striped table-bordered');

    });
</script>



<script type="text/javascript">
    $('input.pencariantable[placeholder="Cari tanggalproses"]').datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_hasilbpn1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_hasilbpn2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_transaksi_bpn").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    $('#tgl_transaksi_bpn').on('change', () => {
        var tgl = $('#tgl_transaksi_bpn').val();
        $('input.pencariantable[placeholder="Cari tanggalproses"]').val(tgl).keyup();
    });

    function openCetakDaftarInputBpn() {
        jQuery('#cetakHasilBpn').modal('show');
    }

    function tutupCetakDaftarInputBpn() {
        jQuery('#cetakHasilBpn').modal('hide');
    }

    function openDetile(a) {
        $.post('<?= $this->url() ?>/getDetileData', {
            bpn_id: a
        }, (data) => {
            var dt = JSON.parse(data);

            $('#no_akta').val(dt.nomor_akta);
            $('#tgl_akta').val(dt.tgl_akta);
            $('#nama_ppat').val(dt.nama_ppat);
            $('#nop').val(dt.nop);
            $('#ntpd').val(dt.ntpd);
            $('#nib').val(dt.nomor_induk_bidang);
            $('#koordinat_x').val(dt.koordinat_x);
            $('#koordinat_y').val(dt.koordinat_y);
            $('#nik').val(dt.nik);
            $('#npwp').val(dt.npwp);
            $('#nama_wp').val(dt.nama_wp);
            $('#kelurahan_op').val(dt.kelurahan_op);
            $('#kecamatan_op').val(dt.kecamatan_op);
            $('#kab_kota_op').val(dt.kab_kota_op);
            $('#luas_tanah').val(dt.luastanah_op + " m2");
            $('#jenis_hak').val(dt.jenis_hak);

            $('#detileDataBPN').modal('show');
        });
    }

    function tutupDetileInfoBPN() {
        $('#detileDataBPN').modal('hide');
    }

    function cetakHasilBpn() {
        window.open('<?= $this->url() ?>/cetakhasilbpn?tgl_hasilbpn1=' + $("#tgl_hasilbpn1").val() + "&tgl_hasilbpn2=" + $("#tgl_hasilbpn2").val());
    }

    function sinkronisasi() {
        var tgl = $('#tgl_transaksi_bpn').val();

        $.post('<?= $this->url() ?>/sinkronisasi', {
            tgl: tgl
        }).then(function(data) {

            $('input.pencariantable[placeholder="Cari tanggalproses"]').val(tgl).keyup();
        });


    }
</script>