<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">MENU BPN</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row margin">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-success btn-sm margin" onclick="openCetakDaftarInputBpn()">Cetak Daftar Input BPN</a> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div style=" overflow: auto;">
                                        <div class="col-lg-12 col-sm12">
                                            <table class="table table-hover table-bordered">
                                                <thead style="font-size: 12px">
                                                    <tr class="bg-blue">  
                                                        <th class="text-center" style="width: 7%">
                                                            No. Daftar
                                                        </th>           
                                                        <th class="text-center" style="width: 7%">
                                                            Tahun Bayar
                                                        </th>     
                                                        <th class="text-center" style="width: 10%">
                                                            Tgl Daftar
                                                        </th>     
                                                        <th class="text-center">
                                                            Nama WP
                                                        </th>         
                                                        <th class="text-center">
                                                            Validasi
                                                        </th>      
                                                        <th class="text-center">
                                                            Pembayaran
                                                        </th>     
                                                        <th class="text-center" colspan="2">
                                                            Luas Tanah / Bangunan
                                                        </th>     
                                                        <th class="text-center" colspan="2">
                                                            Koreksi Luas Tanah / Bangunan
                                                        </th>           
                                                        <th class="text-center">
                                                            No Sertifikat Baru
                                                        </th>            
                                                        <th class="text-center">
                                                            Cek Detail
                                                        </th> 
                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <td>
                                                        <input type="text" id="t_kohirspt" name="t_kohirspt" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_periodepembayaran" name="t_periodepembayaran" class="form-control" onkeyup="calldatagrid()" onchange="calldatagrid()" onblur="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_tglprosesspt" name="t_tglprosesspt" class="form-control" onkeyup="calldatagrid()" onchange="calldatagrid()" onblur="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_namawppembeli" name="t_namawppembeli" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_tglverifikasispt" name="t_tglverifikasispt" class="form-control" onkeyup="calldatagrid()" onchange="calldatagrid()" onblur="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_tanggalpembayaran" name="t_tanggalpembayaran" class="form-control" onkeyup="calldatagrid()" onchange="calldatagrid()" onblur="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_luastanah" name="t_luastanah" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_luasbangunan" name="t_luasbangunan" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_luastanahbpn" name="t_luastanahbpn" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_luasbangunanbpn" name="t_luasbangunanbpn" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_nosertifikatbaru" name="t_nosertifikatbaru" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                <tbody id="body_grid">
                                                </tbody>
                                                <tfoot>              
                                                    <tr>
                                                        <td colspan="12" class="text-center">
                                                            <div class="row">
                                                                <div class="col-sm-4 text-left">Jumlah Baris Ditampilkan: <input type="text" id="rows" style="width: 20%" class="text-center" value="10"></div>
                                                                <div class="col-sm-3">
                                                                    <a href="#" onclick="calldatagrid(1);
                                                                            return false;"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>

                                                                    <input type="text" id="page" value="1" style="width: 20%" class="text-center">

                                                                    <a href="#" onclick="calldatagrid(2);
                                                                            return false;"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                                                                </div>
                                                                <div class="col-sm-5 text-right">
                                                                    <p>Jumlah Data <span id="total_data"></span>&nbsp;Jumlah Halaman <span id="total_halaman"></span></p>                                    
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<div class="modal fade" id="cetakHasilBpn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CETAK DAFTAR INPUT BPN</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td style="width: 20%">
                            Tanggal Cetak
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="tgl_hasilbpn1" value="<?= date('d-m-Y') ?>">
                                </div>
                                <div class="col-sm-1">S/d</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="tgl_hasilbpn2" value="<?= date('d-m-Y') ?>">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div align="right">
                    <button class="btn btn-success" onclick="cetakHasilBpn();">Cetak</button> <button class="btn btn-success" onclick="tutupCetakDaftarInputBpn()">Tutup</button>
                </div>                
            </div>            
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        calldatagrid();
    });

    $("#t_periodepembayaran").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#t_tglprosesspt").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#t_tglverifikasispt").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#t_tanggalpembayaran").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function calldatagrid(direction) {
        if ($("#t_kohirspt").val().length == 0)
            par1 = undefined;
        else
            par1 = $("#t_kohirspt").val()
        if ($("#t_periodepembayaran").val().length == 0)
            par2 = undefined;
        else
            par2 = $("#t_periodepembayaran").val()
        if ($("#t_tglprosesspt").val().length == 0)
            par3 = undefined;
        else
            par3 = $("#t_tglprosesspt").val()
        if ($("#t_namawppembeli").val().length == 0)
            par4 = undefined;
        else
            par4 = $("#t_namawppembeli").val()
        if ($("#t_tglverifikasispt").val().length == 0)
            par5 = undefined;
        else
            par5 = $("#t_tglverifikasispt").val()
        if ($("#t_tanggalpembayaran").val().length == 0)
            par6 = undefined;
        else
            par6 = $("#t_tanggalpembayaran").val()
        if ($("#t_luastanah").val().length == 0)
            par7 = undefined;
        else
            par7 = $("#t_luastanah").val()
        if ($("#t_luasbangunan").val().length == 0)
            par8 = undefined;
        else
            par8 = $("#t_luasbangunan").val()
        if ($("#t_luastanahbpn").val().length == 0)
            par9 = undefined;
        else
            par9 = $("#t_luastanahbpn").val()
        if ($("#t_luasbangunanbpn").val().length == 0)
            par10 = undefined;
        else
            par10 = $("#t_luasbangunanbpn").val()
        if ($("#t_nosertifikatbaru").val().length == 0)
            par11 = undefined;
        else
            par11 = $("#t_nosertifikatbaru").val()
        datagrid($("#page").val(), $("#rows").val(), direction, par1, par2, par3, par4, par5, par6, par7, par8, par9, par10, par11);
    }

    function datagrid(page, row, direction, par1, par2, par3, par4, par5, par6, par7, par8, par9, par10, par11) {
        $.get('<?= $this->url() ?>/dataGrid/' + page + '/' + row + '/' + direction + '/' + par1 + '/' + par2 + '/' + par3 + '/' + par4 + '/' + par5 + '/' + par6 + '/' + par7 + '/' + par8 + '/' + par9 + '/' + par10 + '/' + par11, function (data) {
            var aa = JSON.parse(data)
            $("#body_grid").html(aa.grid);
            $("#rows").val(aa.rows);
            $("#page").val(aa.page);
            $("#total_data").html(": " + aa.count);
            $("#total_halaman").html(": " + aa.total_halaman);
        });
    }

//  =======================================================
//  Cetak Daftar Input BPN
    jQuery("#tgl_hasilbpn1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_hasilbpn2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function openCetakDaftarInputBpn() {
        jQuery('#cetakHasilBpn').modal('show');
    }

    function tutupCetakDaftarInputBpn() {
        jQuery('#cetakHasilBpn').modal('hide');
    }

    function cetakHasilBpn() {
        window.open('<?= $this->url() ?>/cetakhasilbpn?tgl_hasilbpn1=' + $("#tgl_hasilbpn1").val() + "&tgl_hasilbpn2=" + $("#tgl_hasilbpn2").val());
    }

//  ========================================================


</script>
