<link href="<?= $this->basePath(); ?>/public/leaflet/leaflet.css" media="screen" rel="stylesheet" type="text/css">
<script src="<?= $this->basePath(); ?>/public/leaflet/leaflet.js"></script>
<style>
    .datepicker {
        z-index: 1051 !important;
    }
</style>
<?php
$bpn = $this->data_bpn;
?>
<div class="content-wrapper">
    <section class="content">
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            <div class="box-header with-border bg-blue-gradient">

                <center>
                    <h3 class="box-title">Lokasi Objek Pajak</h3>
                </center>

            </div><!-- /.box-header -->

            <div class="box-body">
                <div style="padding-left: 20px; padding-right: 20px;">
                    <div class="row" style="padding-left: 15px;">
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="tglProses" id="tglProses">
                        </div>
                        <button id="loadData" class="btn btn-primary btn-sm" onclick="loadDataBpn()">Proses</button>
                        <span id="ketJmlTransaksi" style="padding-left: 5px;"></span>
                    </div>
                    <div id="mycanvas" style="padding-top: 10px;"></div>
                </div>
            </div>
        </div>
    </section>
</div>


<script type="text/javascript">
    $(document).ready(() => {
        loadPeta();
    });

    $('#tglProses').datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function loadDataBpn() {
        var tgl_proses = document.getElementById('tglProses').value;
        $.post('<?= $this->url() ?>/loadDataBPN', {
            tgl_proses: tgl_proses
        }).then((res) => {
            loadPeta(res);
        });
    }

    function loadPeta(a) {
        document.getElementById('mycanvas').innerHTML = "<div id='peta' class='col-sm-12' style='height: 400px;'></div>";

        var mapOpt = {
            center: [-1.1279739, 113.8429728],
            zoom: 11
        }
        var peta = new L.map('peta', mapOpt);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw'
        }).addTo(peta);

        if (a !== undefined) {
            var data = JSON.parse(a);
            $('#ketJmlTransaksi').html(data.length + " Transaksi");

            for (let i = 0; i < data.length; i++) {
                if (data[i]['koordinat_y'] != null && data[i]['koordinat_x'] != null) {

                    var ket =
                        "<b>Nomor Akta: </b>" + data[i]['nomor_akta'] +
                        "<br> <b>NOP: </b>" + data[i]['nop'] +
                        "<br> <b>PPAT: </b>" + data[i]['nama_ppat'] +
                        "<br> <b>Nama WP: </b>" + data[i]['nama_wp'] +
                        "<br> <b>Jenis Hak: </b>" + data[i]['jenis_hak'] +
                        "<br> <b>Des/Kel: </b>" + data[i]['kelurahan_op'] +
                        "<br> <b>Kecamatan: </b>" + data[i]['kecamatan_op'] +
                        "<br> <b>Luas Tanah: </b>" + data[i]['luastanah_op'] + " m<sup>2</sup>";

                    marker = new L.marker([data[i]['koordinat_y'], data[i]['koordinat_x']])
                        .bindPopup(ket)
                        .addTo(peta);
                }
            }

        }
    }
</script>