<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">SETTING NOTIF EMAIL</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row margin">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title"><span style="font-size: 10pt">Setting Notifikasi</span></h3></div>
                                    <div class="panel-body">
                                        <fieldset>
                                            <!--<legend>Status</legend>-->    
                                            <form method="post">
                                            <div class="form-group col-md-12">
                                                <label class="control-label col-md-2">Status</label>
                                                <div class="col-md-4">
                                                    <select class="form-control" name="s_status" id="s_status">
                                                    <!--<option value="">Silahkan Pilih</option>-->
                                                    <option value="1" <?= $data->s_status == 1 ? 'selected' : ''; ?>>Aktif</option>
                                                    <option value="2" <?= $data->s_status == 2 ? 'selected' : ''; ?>>Tidak Aktif</option>
                                                </select>
                                                </div>
                                              </div>
                                            <table width="100%">
                                                <tr>
                                                    <td align="right">
                                                        <input type="submit" value="Simpan" class="btn btn-success" />
                                                    </td>
                                                </tr>
                                            </table>
                                                </form>
                                        </fieldset>
                                    </div>        
                                </div>    
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
