<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">SETTING TARIF NPOPTKP</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row margin">
                            <div class="col-sm-12">
                                <a href="<?= $this->url() ?>/tambah" class="btn bg-purple btn-sm margin">Tambah</a>
                                <div style=" overflow: auto;">
                                    <div class="col-lg-12 col-sm12">
                                        <table class="table table-hover table-bordered">
                                            <thead style="font-size: 12px">
                                                <tr class="bg-blue">  
                                                    <th class="text-center" style="width: 10%">
                                                        Kode Jenis Transaksi
                                                    </th>           
                                                    <th class="text-center">
                                                        Nama Jenis Transaksi
                                                    </th> 
                                                    <th class="text-center" style="width: 15%">
                                                        Tarif NPOTKP
                                                    </th> 
<!--                                                    <th class="text-center" style="width: 10%">
                                                        Tarif NPOTKP Tambahan
                                                    </th>  -->
                                                    <th class="text-center" style="width: 8%">
                                                        Tahun
                                                    </th> 
                                                    <!--<th class="text-center" style="width: 8%">
                                                        Tahun AJB Berakhir
                                                    </th>       -->
                                                    <th class="text-center" style="width: 15%">
                                                        Edit/Hapus
                                                    </th>       
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <input type="text" id="s_kodejenistransaksi" name="s_kodejenistransaksi" class="form-control" onkeyup="calldatagrid()">
                                                </td>
                                                <td>
                                                    <input type="text" id="s_namajenistransaksi" name="s_namajenistransaksi" class="form-control" onkeyup="calldatagrid()">
                                                </td>
                                                <td>
                                                    <input type="text" id="s_tarifnpotkp" name="s_tarifnpotkp" class="form-control" onkeyup="calldatagrid()">
                                                </td>
<!--                                                <td>
                                                    <input type="text" id="s_tarifnpotkptambahan" name="s_tarifnpotkptambahan" class="form-control" onkeyup="calldatagrid()">
                                                </td>-->
                                                <td>
                                                    <input type="text" id="s_tarifnpotkptahunajb1" name="s_tarifnpotkptahunajb1" class="form-control" onkeyup="calldatagrid()" onchange="calldatagrid()" onblur="calldatagrid()">
                                                </td>
                                                <!--<td>
                                                    <input type="text" id="s_tarifnpotkptahunajb2" name="s_tarifnpotkptahunajb2" class="form-control" onkeyup="calldatagrid()" onchange="calldatagrid()" onblur="calldatagrid()">
                                                </td>-->
                                                <td>
                                                </td>
                                            </tr>
                                            <tbody id="body_grid">
                                            </tbody>
                                            <tfoot>              
                                                <tr>
                                                    <td colspan="12" class="text-center">
                                                        <div class="row">
                                                            <div class="col-sm-4 text-left">Jumlah Baris Ditampilkan: <input type="text" id="rows" style="width: 20%" class="text-center" value="10"></div>
                                                            <div class="col-sm-3">
                                                                <a href="#" onclick="calldatagrid(1);
                                                                        return false;"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>

                                                                <input type="text" id="page" value="1" style="width: 20%" class="text-center">

                                                                <a href="#" onclick="calldatagrid(2);
                                                                        return false;"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                                                            </div>
                                                            <div class="col-sm-5 text-right">
                                                                <p>Jumlah Data <span id="total_data"></span>&nbsp;Jumlah Halaman <span id="total_halaman"></span></p>                                    
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->                
<script type="text/javascript">
    $(function () {
        calldatagrid();
    });

    $("#s_tarifnpotkptahunajb1").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    $("#s_tarifnpotkptahunajb2").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    function hapus(a) {
        var tanya = confirm("Hapus data ini?")
        if (tanya) {
            $.post('<?= $this->url() ?>/hapus/' + a);
            calldatagrid();
        }
        calldatagrid();
    }

    function calldatagrid(direction) {
        if ($("#s_kodejenistransaksi").val().length == 0)
            par1 = undefined;
        else
            par1 = $("#s_kodejenistransaksi").val()
        if ($("#s_namajenistransaksi").val().length == 0)
            par2 = undefined;
        else
            par2 = $("#s_namajenistransaksi").val()
        if ($("#s_tarifnpotkp").val().length == 0)
            par3 = undefined;
        else
            par3 = $("#s_tarifnpotkp").val()
//        if ($("#s_tarifnpotkptambahan").val().length == 0)
//            par4 = undefined;
//        else
//            par4 = $("#s_tarifnpotkptambahan").val()
        if ($("#s_tarifnpotkptahunajb1").val().length == 0)
            par5 = undefined;
        else
            par5 = $("#s_tarifnpotkptahunajb1").val()
//        if ($("#s_tarifnpotkptahunajb2").val().length == 0)
//            par6 = undefined;
//        else
//            par6 = $("#s_tarifnpotkptahunajb2").val()
        datagrid($("#page").val(), $("#rows").val(), direction, par1, par2, par3, par5);
    }

    function datagrid(page, row, direction, par1, par2, par3, par5) {
        $.get('<?= $this->url() ?>/dataGrid/' + page + '/' + row + '/' + direction + '/' + par1 + '/' + par2 + '/' + par3  + '/' + par5, function (data) {
            var aa = JSON.parse(data)
            $("#body_grid").html(aa.grid);
            $("#rows").val(aa.rows);
            $("#page").val(aa.page);
            $("#total_data").html(": " + aa.count);
            $("#total_halaman").html(": " + aa.total_halaman);
        });
    }
</script>
