

<?php
	if($this->nilai == 3){
	echo $this->content; 
	}else{
echo $this->doctype();
?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('E-BPHTB '.strtoupper($data_pemda->s_namakabkot).'')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/'.$data_pemda->s_logo))
                ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')
                ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/plugins/daterangepicker/daterangepicker-bs3.css')
                ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/plugins/datepicker/datepicker3.css')
                ->prependStylesheet($this->basePath() . '/public/css/bootstrap-select.css')
                ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/plugins/jvectormap/jquery-jvectormap-1.2.2.css')
                ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/plugins/morris/morris.css')
                ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/plugins/iCheck/flat/blue.css')
                ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/dist/css/skins/_all-skins.min.css')
                ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/dist/css/AdminLTE.css')
                ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/ionicons.min.css')
                ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/font-awesome.min.css')
//                ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/bootstrap/css/bootstrap.min.css')
                ->prependStylesheet($this->basePath() . '/public/formwizard/bootstrap.css')
                ->prependStylesheet($this->basePath() . '/public/fleximen/css/flexigrid.pack.css')
                ->prependStylesheet($this->basePath() . '/public/fleximen/css/excite-bike/jquery-ui-1.8.21.custom.css')
                
                ->prependStylesheet($this->basePath() . '/public/tablebos/assets/media/css/dataTables.responsive.css')
                ->prependStylesheet($this->basePath() . '/public/tablebos/assets/media/css/dataTables.bootstrap.css');
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()
//                ->prependFile($this->basePath() . '/public/ckeditor/ckeditor.js')
                ->prependFile($this->basePath() . '/public/js/bootstrap-select.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/input-mask/jquery.inputmask.extensions.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/input-mask/jquery.inputmask.date.extensions.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/input-mask/jquery.inputmask.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/dist/js/demo.js')
//                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/dist/js/pages/dashboard.js')
                //tambahi iki tabelbos
                ->prependFile($this->basePath() . '/public/tablebos/assets/media/js/common.js')
                ->prependFile($this->basePath() . '/public/tablebos/assets/media/js/dataTables.bootstrap.js')
                ->prependFile($this->basePath() . '/public/tablebos/assets/media/js/dataTables.responsive.js')
                ->prependFile($this->basePath() . '/public/tablebos/assets/media/js/jquery.dataTables.js')
                //===== end tabelbos
                
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/dist/js/app.min.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/fastclick/fastclick.min.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/slimScroll/jquery.slimscroll.min.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/datepicker/bootstrap-datepicker.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/daterangepicker/daterangepicker.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/moment.min.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/knob/jquery.knob.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/sparkline/jquery.sparkline.min.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/morris/morris.min.js')
                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/raphael-min.js')
//                ->prependFile($this->basePath() . '/public/js/jquery.bootstrap.wizard.js')
                ->prependFile($this->basePath() . '/public/js/bootstrap.min.js')
                ->prependFile($this->basePath() . '/public/fleximen/js/flexigrid.pack.js')
                ->prependFile($this->basePath() . '/public/fleximen/js/jquery-1.7.2.min.js')
//                ->prependFile($this->basePath() . '/public/xcharts/jquery-2.1.0.min.js')
                ->prependFile($this->basePath() . '/public/ui/js/jquery-ui-1.10.3.custom.min.js')
                ->prependFile($this->basePath() . '/public/js/jquery.min.js')
                
                
//                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/jQuery/jQuery-2.1.4.min.js')
                ->prependFile($this->basePath() . '/public/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/public/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ?>
        <?php
        if ($this->nilai == null) {
            $classbody = 'hold-transition skin-blue sidebar-mini';
	    //$classbody = 'hold-transition skin-blue layout-top-nav';
        } elseif ($this->nilai == 1) {
            $classbody = 'hold-transition login-page';
        }
        ?>
        <!--<script type="text/javascript"> jQuery.noConflict()</script>-->
        <!--<script type="text/javascript" src="<?php /* $this->basePath() . '/public/locales/bootstrap-datepicker.id.min.js'; */ ?>"></script>--> 
    </head>
    <body id="bodynya" class="<?= $classbody ?>"> 
        <!--<div class="loader"></div>-->
        <?php if ($this->nilai == null) {
            ?>
            <div id="wrapper" class="wrapper">
                <?= $this->partial('menu.phtml'); ?>
                <?= $this->partial('side_menu.phtml'); ?>
                <?= $this->content; ?>
                <?= $this->partial('footer.phtml'); ?>  
            </div>       
            <?php
        } elseif ($this->nilai == 1) {
            ?> 
            <?= $this->content; ?>
        <?php }
        ?>
    </body>
</html>

<?php } ?>

<?php $gambar = "http://" . $_SERVER['HTTP_HOST'] . "/" . $this->basePath() . "/public/upload/loading1.gif"; 

if($this->nilai == 3){
    
}elseif ($this->nilai == 1) {
    
    
}else{
    

?>
<style>
    /*.loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url(<?= $gambar ?>) 50% 50% no-repeat rgb(249,249,249);
    }*/
</style>

<script type="text/javascript" src="<?= $this->basePath() . '/public/tablebos/js/drop.js'; ?>"></script>

<script type="text/javascript">


	/*$function(){
		$("#bodynya").addClass("sidebar-mini");
		$("#bodynya").removeClass("layout-top-nav");
	}*/	

    /*jQuery(window).load(function () {
        $(".loader").fadeOut("slow");
    });*/

    jQuery('body').on('keydown', 'input, select, textarea', function (e) {
        var self = $(this)
                , form = self.parents('form:eq(0)')
                , focusable
                , next
                ;
        if (e.keyCode == 13) {
            focusable = form.find('input,a,select,button,textarea').filter(':visible');
            next = focusable.eq(focusable.index(this) + 1);
            if (next.length) {
                next.focus();
            } else {
                form.submit();
            }
            return false;
        }
    });
    jQuery(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    function unformatCurrency(num)
    {
        if (num != "" || num != "undefined")
            num = num.replace(/\$|\,00/g, '').replace(/\$|\./g, '');
        if (num == 0)
            num = '';
        return num;
    }
    function unformatNumber(num)
    {
        if (num != "" || num != "undefined")
            num = num.replace(/\$|\.00/g, '').replace(/\$|\./g, '');
        if (num == 0)
            num = '';
        return num;
    }

    function formatCurrency(num)
    {
        if (num != "" || num != "undefined")
        {
//                    num = num.replace(/\$|\,00/g, '').replace(/\$|\./g, '');
            num = num.replace(/\$|\,00/g, '').replace(/\$|\./g, '');
            sign = (num == (num = Math.abs(num)));
            num = Math.floor(num * 100 + 0.50000000001);
            cents = num % 100;
            num = Math.floor(num / 100).toString();
            if (cents < 10)
                cents = "0" + cents;
            for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3); i++)
                num = num.substring(0, num.length - (4 * i + 3)) + '.' + num.substring(num.length - (4 * i + 3));
            return (((sign) ? '' : '-') + num);
//                    return (((sign) ? '' : '-') + num + ',' + cents);
            /*			}*/
        }
    }

    //Membuat Format Mata Uang
    function currencyFormatDE(num) {
        return num
                .toFixed(0) // always two decimal digits
                .replace(".", ",") // replace decimal point character with ,
                .replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") // use . as a separator
    }

    function numbersonly(myfield, e, dec)
    {
        var key;
        var keychar;

        if (window.event)
            key = window.event.keyCode;
        else if (e)
            key = e.which;
        else
            return true;
        keychar = String.fromCharCode(key);
// control keys
        if ((key == null) || (key == 0) || (key == 8) ||
                (key == 9) || (key == 13) || (key == 27))
            return true;

// numbers
        else if ((("0123456789").indexOf(keychar) > -1))
            return true;

// decimal point jump
        else if (dec && (keychar == "."))
        {
            myfield.form.elements[dec].focus();
            return false;
        }
        else
            return false;
    }

</script>

<?php
}
?>