<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <u style="font-size: 14px; color: blue"><strong>Informasi Pihak Kedua(Penerima Hak)</strong></u>
                                        <div class="pull-right">
                                            <?php if (@$role_id == 6) { ?>

                                            <?php } else {
                                                ?>
                                                <a href="<?= $this->url() ?>" class="btn btn-primary btn-flat btn-sm">Kembali</a>
                                            <?php } ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Tgl Pendaftaran 
                                    </div>
                                    <div class="col-sm-3">
                                        : <?= $datasspd['t_tglprosesspt'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NIK 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_nikwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        NPWP 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_npwpwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Nama 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_namawppembeli'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Alamat 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_alamatwppembeli'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        RT/RW 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_rtwppembeli'] ?> / <?= $datasspd['t_rwwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kelurahan / Desa  
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kelurahanwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kecamatan 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kecamatanwppembeli'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Kabupaten / Kota 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kabkotawppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kode Pos 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kodeposwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        No Telp 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_telponwppembeli'] ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <u style="font-size: 14px; color: blue"><strong>Informasi Pihak Pertama(Pelepas Hak)</strong></u>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NIK 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_nikwppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        NPWP 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_npwpwppenjual'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Nama 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_namawppenjual'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Alamat 
                                    </div>
                                    <div class="col-sm-9">
                                        : <?= $datasspd['t_alamatwppenjual'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        RT/RW 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_rtwppenjual'] ?> / <?= $datasspd['t_rwwppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kelurahan / Desa 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kelurahanwppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kecamatan 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kecamatanwppenjual'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Kabupaten / Kota
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kabkotawppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kode Pos 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kodeposwppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        No Telp 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_telponwppenjual'] ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <u style="font-size: 14px; color: blue"><strong>INFORMASI OBJEK PAJAK</strong></u>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NOP / Thn SPPT 
                                    </div>
                                    <div class="col-sm-6" style="font-size: 12px">
                                        : <?= $datasspd['t_nopbphtbsppt'] ?> / <?= $datasspd['t_thnsppt'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Nama SPPT 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_namasppt'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Letak 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_alamatop'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        RT/RW 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_rtop'] ?> / <?= $datasspd['t_rwop'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Kelurahan/Desa 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kelurahanop'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kecamatan 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kecamatanop'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kabupaten/Kota 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kabkotawppembeli'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Jenis Transaksi 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['s_namajenistransaksi'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Jenis Dokumen 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['s_namadoktanah'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        No. Dok Tanah 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_nosertifikathaktanah'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Tgl AJB Lama 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_tglajb'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kepemilikan 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['s_namahaktanah'] ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <u style="font-size: 14px; color: blue"><strong>INFORMASI TRANSAKSI</strong></u>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Luas Tanah/Bumi
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_luastanah'])) {
                                            $luastanah = str_ireplace('.', '', $datasspd['p_luastanah']) / 100;
                                        } else {
                                            $luastanah = str_ireplace('.', '', $datasspd['t_luastanah']) / 100;
                                        }
                                        ?>
                                        : <?= $luastanah; ?> m<sup>2</sup>
                                    </div>
                                    <div class="col-sm-2">
                                        NJOP/m<sup>2</sup> Tanah/Bumi
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_njoptanah'])) {
                                            $njoptanah = $datasspd['p_njoptanah'];
                                        } else {
                                            $njoptanah = $datasspd['t_njoptanah'];
                                        }
                                        ?>
                                        : <?= number_format($njoptanah, 0, ',', '.'); ?>
                                    </div>
                                    <div class="col-sm-2">
                                        NJOP Tanah/Bumi
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_totalnjoptanah'])) {
                                            $totalnjoptanah = $datasspd['p_totalnjoptanah'];
                                        } else {
                                            $totalnjoptanah = $datasspd['t_totalnjoptanah'];
                                        }
                                        ?>
                                        : <?= number_format($totalnjoptanah, 0, ',', '.') ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Luas Bangunan
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_luasbangunan'])) {
                                            $luasbangunan = str_ireplace('.', '', $datasspd['p_luasbangunan']) / 100;
                                        } else {
                                            $luasbangunan = str_ireplace('.', '', $datasspd['t_luasbangunan']) / 100;
                                        }
                                        ?>
                                        : <?= $luasbangunan ?> m<sup>2</sup> 

                                    </div>
                                    <div class="col-sm-2">
                                        NJOP/m<sup>2</sup> Bangunan
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_njopbangunan'])) {
                                            $njopbangunan = $datasspd['p_njopbangunan'];
                                        } else {
                                            $njopbangunan = $datasspd["t_njopbangunan"];
                                        }
                                        ?>
                                        : <?= number_format($njopbangunan, 0, ',', '.') ?>
                                    </div>
                                    <div class="col-sm-2">
                                        NJOP Bangunan
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_totalnjopbangunan'])) {
                                            $totalnjopbangunan = $datasspd['p_totalnjopbangunan'];
                                        } else {
                                            $totalnjopbangunan = $datasspd["t_totalnjopbangunan"];
                                        }
                                        ?>
                                        : <?= number_format($totalnjopbangunan, 0, ',', '.') ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NJOP PBB
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_grandtotalnjop'])) {
                                            $grandnjop = $datasspd['p_grandtotalnjop'];
                                        } else {
                                            $grandnjop = $datasspd["t_grandtotalnjop"];
                                        }
                                        ?>
                                        : <?= number_format($grandnjop, 0, ',', '.') ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Harga Transaksi
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_nilaitransaksispt'])) {
                                            $nilaitransaksispt = $datasspd['p_nilaitransaksispt'];
                                        } else {
                                            $nilaitransaksispt = $datasspd["t_nilaitransaksispt"];
                                        }
                                        ?>
                                        : <?= number_format($nilaitransaksispt, 0, ',', '.') ?>
                                    </div>
                                </div>
                                <?php
                                $aphb_kali = $datasspd['t_tarif_pembagian_aphb_kali'];
                                $aphb_bagi = $datasspd['t_tarif_pembagian_aphb_bagi'];

                                if (($aphb_kali == null) || ($aphb_kali == '') || ($aphb_kali == 0) || ($aphb_bagi == null) || ($aphb_bagi == '') || ($aphb_bagi == 0)) {
                                    $ket_aphb = '';
                                } else {
                                    if (!empty($datasspd['p_grandtotalnjop_aphb'])) {
                                        $grandnjop_aphb = $datasspd['p_grandtotalnjop_aphb'];
                                    } else {
                                        $grandnjop_aphb = $datasspd["t_grandtotalnjop_aphb"];
                                    }

                                    $ket_aphb = ' 
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">
                                            Pembagian APHB
                                        </div>
                                        <div class="col-sm-2">
                                            : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' . $aphb_kali . '/' . $aphb_bagi . '
                                        </div>

                                    </div>        
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">
                                            NJOP PBB APHB
                                        </div>
                                        <div class="col-sm-2">
                                            : ' . number_format($grandnjop_aphb, 0, ',', '.') . '
                                        </div>

                                    </div>';
                                }
                                ?>
                                <?= $ket_aphb; ?>
                                <?php
                                if (($aphb_kali == null) || ($aphb_kali == '') || ($aphb_kali == 0) || ($aphb_bagi == null) || ($aphb_bagi == '') || ($aphb_bagi == 0)) {

                                    if ($grandnjop > $nilaitransaksispt) {
                                        $npop = $grandnjop;
                                    } else {
                                        $npop = $nilaitransaksispt;
                                    }
                                } else {
                                    if ($grandnjop_aphb > $nilaitransaksispt) {
                                        $npop = $grandnjop_aphb;
                                    } else {
                                        $npop = $nilaitransaksispt;
                                    }
                                }

                                /* if ($datasspd['t_grandtotalnjop'] > $datasspd['t_nilaitransaksispt']) {
                                  $npop = $datasspd['t_grandtotalnjop'];
                                  } else {
                                  $npop = $datasspd['t_nilaitransaksispt'];
                                  } */
                                $npopkp = $npop - $datasspd['t_potonganspt'];
                                if ($npopkp > 0) {
                                    $npopkp = $npopkp;
                                } else {
                                    $npopkp = 0;
                                }

                                // Untuk Perhitungan Pajak BPHTB
                                if ($npopkp == 0) {
                                    $totalpajak = 0;
                                } else {
                                    $totalpajak = $npopkp * $datasspd['t_persenbphtb'] / 100;
                                }
                                ?>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NPOP
                                    </div>
                                    <div class="col-sm-10">
                                        : <?= number_format($npop, 0, ',', '.') ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NPOPTKP
                                    </div>
                                    <div class="col-sm-2">
                                        : <u><?= number_format($datasspd['t_potonganspt'], 0, ',', '.') ?>&nbsp;&nbsp;&nbsp;&nbsp;-</u>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NPOPTKP
                                    </div>
                                    <div class="col-sm-10">
                                        : <?= number_format($npopkp, 0, ',', '.') ?> 
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Tarif (%)
                                    </div>
                                    <div class="col-sm-10">
                                        : <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?= $datasspd['t_persenbphtb']; ?>%&nbsp;&nbsp;&nbsp;&nbsp;x</u>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Pajak Terhutang
                                    </div>
                                    <div class="col-sm-2">
                                        : <b style="color: red; font-size: 17px;"><?= number_format($totalpajak, 0, ',', '.') ?></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-success" style="border: 1px solid #00a65a;">
            <div class="box-header with-border bg-green-gradient">
                <center><h3 class="box-title">INPUT PENGURANGAN BPHTB</h3></center>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row margin">
                    <div class="col-md-12">
                        <form method="post" action="<?= $this->url() ?>/tambah" id="formtambah">  
                            <div class="row"> 
                                <div id="ObjekPemeriksaan" style="display: block;">             
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Luas Tanah (Bumi)</label>
                                            <div class="col-sm-2">
                                                <input name="t_idspt" id="t_idspt" value="<?= $datasspd['t_idspt'] ?>" type="hidden">
                                                <input name="t_iddetailsptbphtb" id="t_iddetailsptbphtb" value="<?= $datasspd['t_iddetailsptbphtb'] ?>" type="hidden">
                                                <input name="t_luastanah" id="t_luastanah" class="form-control" onkeyup="hitungnjop();this.value = formatCurrency(this.value);" onchange="hitungnjop();this.value = formatCurrency(this.value);" onblur="hitungnjop();this.value = formatCurrency(this.value);" onfocus="this.value = unformatCurrency(this.value)" value="<?= number_format($datasspd['t_luastanah'], 0, ',', '.') ?>" onkeypress="return numbersonly(this, event)" type="text" readonly="true">
                                            </div>
                                            <label class="col-sm-2 control-label" style="font-size: 13px">Nilai Pasar/NJOP (m2)</label>
                                            <div class="col-sm-2">
                                                <input name="t_njoptanah" id="t_njoptanah" class="form-control" onkeyup="hitungnjop();this.value = formatCurrency(this.value);" onchange="hitungnjop();this.value = formatCurrency(this.value);" onblur="hitungnjop();this.value = formatCurrency(this.value);" onfocus="this.value = unformatCurrency(this.value)" style="text-align:right" value="<?= number_format($datasspd['t_njoptanah'], 0, ',', '.') ?>" onkeypress="return numbersonly(this, event)" type="text" readonly="true"> 
                                            </div>
                                            <label class="col-sm-1 control-label">Total</label>
                                            <div class="col-sm-3">
                                                <input name="t_totalnjoptanah" id="t_totalnjoptanah" class="form-control" readonly="readonly" style="text-align:right" value="<?= number_format($datasspd['t_totalnjoptanah'], 0, ',', '.') ?>" type="text">                                                
                                            </div>
                                        </div>
                                    </div>                 
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Luas Bangunan</label>
                                            <div class="col-sm-2">
                                                <input name="t_luasbangunan" id="t_luasbangunan" class="form-control" onkeyup="hitungnjop();this.value = formatCurrency(this.value);" onchange="hitungnjop();this.value = formatCurrency(this.value);" onblur="hitungnjop();this.value = formatCurrency(this.value);" onfocus="this.value = unformatCurrency(this.value)" value="<?= number_format($datasspd['t_luasbangunan'], 0, ',', '.') ?>" onkeypress="return numbersonly(this, event)" type="text" readonly="true">
                                            </div>
                                            <label class="col-sm-2 control-label" style="font-size: 13px">Nilai Pasar/NJOP (m2)</label>
                                            <div class="col-sm-2">
                                                <input name="t_njopbangunan" id="t_njopbangunan" class="form-control" onkeyup="hitungnjop();this.value = formatCurrency(this.value);" onchange="hitungnjop();this.value = formatCurrency(this.value);" onblur="hitungnjop();this.value = formatCurrency(this.value);" onfocus="this.value = unformatCurrency(this.value)" style="text-align:right" value="<?= number_format($datasspd['t_njopbangunan'], 0, ',', '.') ?>" onkeypress="return numbersonly(this, event)" type="text" readonly="true">                                                
                                            </div>
                                            <label class="col-sm-1 control-label">Total</label>
                                            <div class="col-sm-3">
                                                <input name="t_totalnjopbangunan" id="t_totalnjopbangunan" class="form-control" readonly="readonly" style="text-align:right" value="<?= number_format($datasspd['t_totalnjopbangunan'], 0, ',', '.') ?>" type="text">
                                            </div>
                                        </div>
                                    </div>                 
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-9 control-label" style="text-align: right;">NJOP PBB</label>
                                            <div class="col-sm-3">
                                                <input name="t_grandtotalnjop" id="t_grandtotalnjop" class="form-control" readonly="readonly" style="text-align:right" value="<?= number_format($datasspd['t_grandtotalnjop'], 0, ',', '.') ?>" type="text">
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-9 control-label" style="text-align: right;">Harga Transaksi / Nilai Pasar</label>
                                            <div class="col-sm-3">
                                                <input name="t_nilaitransaksispt" id="t_nilaitransaksispt" class="form-control" style="text-align:right" onkeyup="hitungnjop();this.value = formatCurrency(this.value);" onchange="hitungnjop();this.value = formatCurrency(this.value);" onblur="hitungnjop();this.value = formatCurrency(this.value);" onfocus="this.value = unformatCurrency(this.value)" value="<?= number_format($datasspd['t_nilaitransaksispt'], 0, ',', '.') ?>" onkeypress="return numbersonly(this, event)" type="text" readonly="true">
                                            </div>
                                        </div>
                                    </div>      
                                    <?php
                                    if ($datasspd['t_nilaitransaksispt'] > $datasspd['t_grandtotalnjop']) {
                                        $npop = $datasspd['t_nilaitransaksispt'];
                                    } else {
                                        $npop = $datasspd['t_grandtotalnjop'];
                                    }
                                    ?>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">NPOP</label>
                                            <div class="col-sm-3">
                                                <input name="t_npop" id="t_npop" class="form-control" readonly="readonly" style="text-align:right" value="<?= number_format($npop, 0, ',', '.') ?>" type="text">
                                            </div>
                                        </div>
                                    </div>                 
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">NPOPTKP</label>
                                            <div class="col-sm-3">
                                                <input name="t_potonganspt" id="t_potonganspt" class="form-control" readonly="readonly" style="text-align:right" value="<?= number_format($datasspd['t_potonganspt'], 0, ',', '.') ?>" type="text">
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">NPOPKP</label>
                                            <div class="col-sm-3">
                                                <input name="t_npopkp" id="t_npopkp" class="form-control" readonly="readonly" style="text-align:right" value="<?= number_format($npopkp, 0, ',', '.') ?>" type="text">                                                
                                            </div>
                                            <label class="col-sm-1 control-label">Tarif(%)</label>
                                            <div class="col-sm-1">
                                                <input name="t_persenbphtb" id="t_persenbphtb" class="form-control" readonly="readonly" value="<?= number_format($datasspd['t_persenbphtb'], 0, ',', '.') ?>" type="text">                                                
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" style="color: red">BPHTB TERHUTANG</label>
                                            <div class="col-sm-3">
                                                <input name="t_totalspt" id="t_totalspt" class="form-control" readonly="readonly" style="text-align:right" value="<?= number_format($datasspd['t_totalspt'], 0, ',', '.') ?>" type="text">
                                            </div>
                                        </div>
                                    </div>
                                   <!-- <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" style="color: red">Pengurangan (%)</label>
                                            <div class="col-sm-3">
                                                <select class="form-control" name="t_persenpengurangan" id="t_persenpengurangan" onchange="hitungpengurangan()">
                                                    <option value="">Silahkan Pilih</option>
                                                    <option value="5">5%</option>
                                                    <option value="10">10%</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                               
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" style="color: red">Pengurangan (Rp.)</label>
                                            <div class="col-sm-3">
                                                <input name="t_pengurangan" id="t_pengurangan" class="form-control" style="text-align:right" type="text" onblur="hitungpengurangan()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" style="color: red">Total Pajak</label>
                                            <div class="col-sm-3">
                                                <input name="t_totalpajak" id="t_totalpajak" class="form-control" style="text-align:right" type="text" readonly="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" style="color: red">No S.K.</label>
                                            <div class="col-sm-4">
                                                <input name="t_nosk" id="t_nosk" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" style="color: red">Keterangan</label>
                                            <div class="col-sm-4">
                                                <textarea class="form-control" name="t_keterangan" id="t_keterangan"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" style="color: red">Approve</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="t_approve_pengurangan">
                                                    <option value="">Silahkan Pilih</option>
                                                    <option value="1">Setuju</option>
                                                    <option value="2">Tidak Setuju</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal form-group col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="col-md-12" style="text-align: right">
                                                <input id="penguranganbutton" onclick="this.disabled = true;forms[0].submit();" value="PROSES PENGURANGAN" class="btn nextBtn btn-info pull-right" type="submit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="loadingsimpanvalidasi" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="background:transparent;">
    <center><img style="background:transparent;" src='<?= $this->basePath(); ?>/public/tablebos/img/loading77.gif'></center>
</div>
<script type="text/javascript">
    $('#penguranganbutton').click(function () {
        jQuery('#loadingsimpanvalidasi').modal('show');
        $('#loadingsimpanvalidasi').modal({
            backdrop: 'static',
            keyboard: false
        })
    });

    function hitungpengurangan() {
        $.post('<?= $this->url() ?>/hitungpengurangan', {
            t_totalspt: $('#t_totalspt').val(), t_pengurangan: $('#t_pengurangan').val()
        }, function (data) {
            var aa = JSON.parse(data);
            $("#t_pengurangan").val(aa.t_pengurangan);
            $('#t_totalpajak').val(aa.t_totalpajak);
        });
    }
</script>    