<link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <div style="float:right; margin-right: 2px; margin-top: -5px;"><button onClick="showModals()" class="btn btn-primary">Tambah Data</button></div>

                        <center><h3 class="box-title">SETTING TARIF BPHTB</h3></center>
                    </div><!-- /.box-header -->
                    <div class="box-body">




                        <div class="col-md-12">
                            <!--<button onClick="showModals()" class="btn btn-primary">Tambah Data</button>
                            <hr>-->

                            <table id="example"  cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                                <thead>
                                    <tr class="bg-blue">

                                        <th width="15">No</th>
                                        <th>Tarif (%)</th>
                                        <th>Dasar Hukum</th>
                                        <th>Tahun</th>
                                        <th>Status</th>
                                        <th>Perintah</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>

                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                </tfoot>
                            </table>
                        </div>



                        <!-- Modal Popup -->
                        <div class="modal fade" id="myModals" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel"></h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="alert alert-danger" role="alert" id="removeWarning">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            Anda yakin ingin menghapus Tarif ini
                                        </div>
                                        <br> 
                                        <form class="form-horizontal" id="formUser">
                                            <input type="hidden" class="form-control" id="id" name="id">
                                            <input type="hidden" class="form-control" id="type" name="type">

                                            <div class="form-group">
                                                <label for="s_tarifbphtb" class="col-sm-2 control-label">Tarif (%)</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="s_tarifbphtb" name="s_tarifbphtb" >
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="s_dasarhukumtarifbphtb" class="col-sm-2 control-label">Dasar Hukum</label>
                                                <div class="col-sm-10">
                                                    <textarea type="text" class="form-control" id="s_dasarhukumtarifbphtb" name="s_dasarhukumtarifbphtb" ></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="s_tanggaltarifbphtb" class="col-sm-2 control-label">Tahun</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="s_tanggaltarifbphtb" name="s_tanggaltarifbphtb" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="s_statustarifbphtb" class="col-sm-2 control-label">Status</label>
                                                <div class="col-sm-10">
                                                    <select id="s_statustarifbphtb" name="s_statustarifbphtb" class="selectpicker" data-live-search="true"> <!---->
                                                        <!--<option value="">--Pilih--</option>-->
                                                        <option value="1" > Tidak Aktif </option>
                                                        <option value="2" > Aktif </option>
                                                        
                                                        
                                                    </select>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="button" type="button" onClick="submitUser()" class="btn btn-primary" data-dismiss="modal">SIMPAN</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
</div>

<script>



    //Tampilkan Modal 
    function showModals(id)
    {
        waitingDialog.show();
        clearModals();


        // Untuk Eksekusi Data Yang Ingin di Edit atau Di Hapus 
        if (id)
        {
            $.ajax({
                type: "POST",
                url: "<?= $this->url() ?>/crud",
                dataType: 'json',
                data: {id: id, type: "get"},
                success: function (res) {
                    waitingDialog.hide();
                    setModalData(res);
                }

            });


        }
        // Untuk Tambahkan Data
        else
        {


            //jQuery('#myModals').modal('show');
            $("#myModals").modal("show");
            $("#myModalLabel").html("Tambah Data Tarif BPHTB");
            $("#type").val("new");
            waitingDialog.hide();



        }
document.getElementById('button').innerHTML = "Simpan";
        $(".nav-md").removeAttr("style");
        $(".nav-md").removeAttr("padding-right")
    }

    //Data Yang Ingin Di Tampilkan Pada Modal Ketika Di Edit 
    function setModalData(data)
    {

        var test = data.s_statustarifbphtb;
        if (test != '' && parseInt(test)) {
             if (test == 2 && parseInt(test)) {
                 document.getElementById('s_statustarifbphtb').selectedIndex = test;
                $('select[name=s_statustarifbphtb]').val(test);
                $('.selectpicker').selectpicker('refresh');
                $('.selectpicker').selectpicker('refresh').attr("disabled", "true");
            }else{    
                document.getElementById('s_statustarifbphtb').selectedIndex = test;
                $('select[name=s_statustarifbphtb]').val(test);
                $('.selectpicker').selectpicker('refresh');
                
            }
        }    

        $("#myModalLabel").html("Edit " + data.s_tarifbphtb);
        $("#id").val(data.s_idtarifbphtb);
        $("#type").val("edit");

        $("#s_tarifbphtb").val(data.s_tarifbphtb);
        $("#s_dasarhukumtarifbphtb").val(data.s_dasarhukumtarifbphtb);
        
        //Loading the variable
        var tanggaltarif = data.s_tanggaltarifbphtb;
        var tahuntarif = tanggaltarif.substr(0, 4);

       

        
        $("#s_tanggaltarifbphtb").val(tahuntarif);//hasilsplit[0]

        $("#myModals").modal("show");

        $(".nav-md").removeAttr("style");
        $(".nav-md").removeAttr("padding-right")
        
        document.getElementById('button').innerHTML = "UBAH";
    }

    //Submit Untuk Eksekusi Tambah/Edit/Hapus Data 
    function submitUser()
    {
        var formData = $("#formUser").serialize();
        waitingDialog.show();
        $.ajax({
            type: "POST",
            url: "<?= $this->url() ?>/crud",
            dataType: 'json',
            data: formData,
            success: function (data) {

                dTable.ajax.reload(); // Untuk Reload Tables secara otomatis

                waitingDialog.hide();

                alert(data.ok);
            }
        });





        $(".nav-md").removeAttr("style");
        $(".nav-md").removeAttr("padding-right")
    }

    //Hapus Data
    function deleteUser(id)
    {
        clearModals();
        $.ajax({
            type: "POST",
            url: "<?= $this->url() ?>/crud",
            dataType: 'json',
            data: {id: id, type: "get"},
            success: function (data) {
                $("#removeWarning").show();
                $("#myModalLabel").html("Hapus Tarif BPHTB");
                $("#id").val(data.s_idtarifbphtb);
                $("#type").val("delete");
                $("#s_tarifbphtb").val(data.s_tarifbphtb).attr("disabled", "true");
                $("#s_dasarhukumtarifbphtb").val(data.s_tarifbphtb).attr("disabled", "true");
                $("#s_tanggaltarifbphtb").val(data.s_tanggaltarifbphtb).attr("disabled", "true");
                
                var test = data.s_statustarifbphtb;
                if (test != '' && parseInt(test)) {
                    document.getElementById('s_statustarifbphtb').selectedIndex = test;
                    $('select[name=s_statustarifbphtb]').val(test);
                    $('.selectpicker').selectpicker('refresh').attr("disabled", "true");
                }else{
                    $('.selectpicker').selectpicker('refresh').attr("disabled", "true");
                }    
                

                $("#myModals").modal("show");
                document.getElementById('button').innerHTML = "HAPUS";
                waitingDialog.hide();


            }
        });

        $(".nav-md").removeAttr("style");
        $(".nav-md").removeAttr("padding-right")
    }

    //Clear Modal atau menutup modal supaya tidak terjadi duplikat modal
    function clearModals()
    {
        $("#removeWarning").hide();
        $("#id").val("").removeAttr("disabled");
        $("#s_tarifbphtb").val("").removeAttr("disabled");
        $("#s_dasarhukumtarifbphtb").val("").removeAttr("disabled");
        $("#s_tanggaltarifbphtb").val("").removeAttr("disabled");
        $("#s_statustarifbphtb").val("").removeAttr("disabled");
        //$("#s_statustarifbphtb").empty().removeAttr("disabled");
        $("#type").val("");


        $(".nav-md").removeAttr("style");
        $(".nav-md").removeAttr("padding-right")
    }

</script>


<script type="text/javascript" language="javascript" >

    var dTable;
    // #Example adalah id pada table
    $(document).ready(function () {
        dTable = $('#example').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            //"responsive": true,
            "sAjaxSource": "<?= $this->url() ?>/dataGrid", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 10,
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "aaSorting": [[0, "asc"]],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": true,
            "scrollX": true,
            //"aoColumns": [
            //{ sWidth: '3%' },
            //{ sWidth: '80%' }
            // ],
            "oLanguage": {
                "sEmptyTable": "No incompleted albums found!", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "Tidak ditemukan - maaf",
                "sEmptyTable": "Data Tidak ditemukan - maaf",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "Tidak ada data",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",     
                "oPaginate": {"sFirst": "First", "sLast": "Last", "sNext": "Selanjutnya", "sPrevious": "Sebelumnya"} //pagination
            },
            //"language": {
            //    "processing": "Pencarian..."
            //},


            "columnDefs": [
                {"orderable": false, "targets": 0, "searchable": false},
                {"orderable": true, "targets": 1, "searchable": true},
                {"orderable": true, "targets": 2, "searchable": true},
                {"orderable": true, "targets": 3, "searchable": true},
                {"orderable": true, "targets": 4, "searchable": true},
                {"orderable": false, "targets": 5, "searchable": false}
            ]
        });
        
        //dTable.columns.adjust();
        
        $('th', dTable.table().footer()).each(function () {
        $("#tgl_daftar_cari").datepicker({
          format: 'dd-mm-yyyy',
          language: 'id'
        });
            var title = $('th').eq($(this).index()).text();
            //$(this).html('<input type="text" placeholder="Search ' + title + '" />');
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tarif(%)') {
                $(this).html('<center><input type="text" placeholder="Tarif" class="pencariantable" style="width:50px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'dasarhukum') {
                $(this).html('<center><input type="text" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tahun') {
                $(this).html('<center><input type="text" class="pencariantable" style="width:70px;text-size:8pt;" /></center>'); 
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'status') {
                $(this).html('<center><select class="pencariantable" style="width:75px;text-size:8pt;"><option value="">--Pilih--</option><option value="2">Aktif</option><option value="1">Tidak Aktif</option></select></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                $(this).html('');
            } else {
                $(this).html('<input type="text" placeholder="Cari ' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />'); //style="width:100px;"
            }
            
            
        });

        // Apply the search
        dTable.columns().eq(0).each(function (colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function () {
                dTable
                        .column(colIdx)
                        .search(this.value)
                        .draw();
            });
            
        });
        
        dTable.columns().eq(0).each(function (colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function () {
                dTable
                        .column(colIdx)
                        .search(this.value)
                        .draw();
            });
            
        });
        
        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');

        $('#example').removeClass('display').addClass('table table-striped table-bordered');
        

        // Untuk Pencarian, di kolom paling bawah
        dTable.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                that.search(this.value).draw();
            });
        });
        
        
    });


    function hapus(a) {
        var tanya = confirm("Hapus data ini?")
        if (tanya) {
            $.post('<?= $this->url() ?>/hapus/' + a);
            //calldatagrid();
        }
        //calldatagrid();
    }


</script>


