<style type="text/css">
    .kotak{
        border: 1px black solid;
    }
    .tengah {
        float: none;
        margin: 0 auto;
    }
    .radio_render{
        margin-top: -2.5px;
        margin-left: 17%;
    }
    .radio_render label {
        width: 75%;
        float: left;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }
</style>
<?php
ini_set("max_execution_time", 500);
foreach ($this->data_sspd as $row) {
    $data_pemda = $this->data_pemda;
    ?>
    <div style="page-break-after: always;width: 100%;">
        <table>
            <tr>
                <td width="100px">
                    <img width="50" title="LOGO <?= $data_pemda->s_namakabkot; ?>" align="left" src="http://<?= $_SERVER['HTTP_HOST']; ?>/<?= $this->basePath(); ?>/<?= $data_pemda->s_logo ?>"/>
                </td>
                <td style="text-align: center">
                    <b>PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot); ?>, <?= strtoupper($data_pemda->s_namaprov); ?></b><br>
                    <b><?= strtoupper($data_pemda->s_namainstansi); ?> (<?= strtoupper($data_pemda->s_namasingkatinstansi); ?>)</b><br>
                    <b style="font-size: 12px"><?= strtoupper($data_pemda->s_alamatinstansi); ?> Telp/Fax <?= $data_pemda->s_notelinstansi ?>, <?= $data_pemda->s_namaibukotakabkot ?> <?= $data_pemda->s_kodepos ?></b>
                </td>
            </tr>
        </table>
        <hr>
        <table width="100%" style="border-spacing: 0px;" style="font-size: 12px">
            <tr>
                <td width="100px">
                    Lembar
                </td>
                <td>
                    : Penelitian / Verifikasi Lapangan
                </td>   
            </tr>
            <br>
            </tr>
        </table>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td colspan="3" style="font-size: 14px">
                    Kami yang bertanda tangan dibawah ini :
                </td>
            </tr>
            <tr>
                <td width="10px">
                    1.
                </td>
                <td width="200px" style="font-size: 14px">
                    Nama
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui1->s_namapejabat) ? strtoupper($data_mengetahui1->s_namapejabat) : null; ?> 
                </td>   
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    NIP
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui1->s_nippejabat) ? $data_mengetahui1->s_nippejabat : null; ?> 
                </td>
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    Jabatan
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui1->s_jabatanpejabat) ? strtoupper($data_mengetahui1->s_jabatanpejabat) : null; ?> 
                </td>
            </tr>
            <tr>
                <td width="10px">
                    2.
                </td>
                <td width="200px" style="font-size: 14px">
                    Nama
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui2->s_namapejabat) ? strtoupper($data_mengetahui2->s_namapejabat) : null; ?>
                </td>   
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    NIP
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui2->s_nippejabat) ? $data_mengetahui2->s_nippejabat : null; ?>
                </td>
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    Jabatan
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui2->s_jabatanpejabat) ? strtoupper($data_mengetahui2->s_jabatanpejabat) : null; ?>
                </td>
            </tr>
            <tr>
                <td width="10px">
                    3.
                </td>
                <td width="200px" style="font-size: 14px">
                    Nama
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui3->s_namapejabat) ? strtoupper($data_mengetahui3->s_namapejabat) : null; ?>
                </td>   
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    NIP
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui3->s_nippejabat) ? $data_mengetahui3->s_nippejabat : null; ?>
                </td>
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    Jabatan
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui3->s_jabatanpejabat) ? strtoupper($data_mengetahui3->s_jabatanpejabat) : null; ?> 
                </td>
            </tr>
            <tr>
                <td width="10px">
                    4.
                </td>
                <td width="200px" style="font-size: 14px">
                    Nama
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui4->s_namapejabat) ? strtoupper($data_mengetahui4->s_namapejabat) : null; ?>
                </td>   
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    NIP
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui4->s_nippejabat) ? $data_mengetahui4->s_nippejabat : null; ?>
                </td>
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    Jabatan
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui4->s_jabatanpejabat) ? strtoupper($data_mengetahui4->s_jabatanpejabat) : null; ?>
                </td>
            </tr>
        </table>
        <br>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td colspan="2" style="font-size: 14px">
            <u>Telah melakukan Penelitian / Verifikasi atas pemohonan Wajib Pajak BPHTB :</u>
            </td>
            </tr>
            <tr>
                <td width="210px" style="font-size: 14px">
                    1. Nama
                </td>
                <td style="font-size: 14px">
                    : <?= $row['t_namawppembeli'] ?> 
                </td>   
            </tr>
            <tr>
                <td style="font-size: 14px">
                    2. Alamat
                </td>
                <td style="font-size: 14px">
                    : <?= strtoupper($row['t_alamatwppembeli']) . " " . strtoupper($row["t_kelurahanwppembeli"]) . " " . strtoupper($row['t_kecamatanwppembeli']) ?>
                </td>
            </tr>
            <tr>
                <td style="font-size: 14px">
                    3. Tgl Permohonan
                </td>
                <td style="font-size: 14px">
                    : <?= date('d-m-Y', strtotime($row['t_tglprosesspt'])) ?>
                </td>
            </tr>
        </table>
        <br>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td colspan="2" style="font-size: 14px">
            <u>Atas Objek Tanah / Bangunan yang beralamat :</u>
            </td>
            </tr>
            <tr>
                <td width="210px" style="margin-top: 0px">
                    1. Jalan
                </td>
                <td style="font-size: 14px">
                    : <?= $row['t_alamatop'] ?>
                </td>   
            </tr>
            <tr>
                <td>
                    2. RT/ RW
                </td>
                <td style="font-size: 14px">
                    : <?= $row['t_rtop'] . "/" . $row['t_rwop'] ?>
                </td>
            </tr>
            <tr>
                <td>
                    3. Kel / Kec
                </td>
                <td style="font-size: 14px">
                    : <?= $row['t_kelurahanop'] . " / " . $row['t_kecamatanop'] ?>
                </td>
            </tr>
            <tr>
                <td>
                    4. Luas Tanah
                </td>
                <td style="font-size: 14px">
                    : <?= $row['t_luastanah'] ?>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    5. Luas Bangunan yang terdiri dari :
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. Lantai I
                </td>
                <td style="font-size: 14px">

                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. Lantai II
                </td>
                <td style="font-size: 14px">

                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. Lantai III
                </td>
                <td style="font-size: 14px">

                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d. Lantai IV
                </td>
                <td style="font-size: 14px">

                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e. dst
                </td>
                <td style="font-size: 14px">

                </td>
            </tr>
        </table>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td style="font-size: 14px">
            <u>Perkiraan Nilai Transaksi :</u>
            </td>
            </tr>
            <tr>
                <td style="font-size: 14px">
                    1. Transaksi yang dimohon oleh pemohon &nbsp;&nbsp;Rp.
                </td> 
            </tr>
            <tr>
                <td style="font-size: 14px">
                    2. Berdasarkan data dan informasi lapangan, dapat disimpulkan perkiraan harga transaksi atas :
                </td>
            </tr>
        </table>
        <table width="100%" style="border-spacing: 0px;">
            <tr style="font-size: 14px">
                <td style="width: 10%">
                    &nbsp;&nbsp;&nbsp;&nbsp;a. Bumi
                </td> 
                <td style="width: 3%">
                    Rp. 
                </td>
                <td style="width: 5%">
                    <?= number_format($row['p_njoptanah'], 0, ',', '.') ?>
                </td>
                <td style="width: 3%">
                    /m<sup>2</sup> x
                </td> 
                <td style="width: 5%">
                    <?= number_format($row['p_luastanah'], 0, ',', '.') ?>
                </td>
                <td style="width: 25%">
                    m<sup>2</sup> = Rp. <?= number_format($row['p_totalnjoptanah'], 0, ',', '.') ?>
                </td> 
            </tr>
            <tr style="font-size: 14px">
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;b. Bangunan Lt. I
                </td> 
                <td>
                    Rp. 
                </td>
                <td>
                    <?= number_format($row['p_njopbangunan'], 0, ',', '.') ?>
                </td>
                <td>
                    /m<sup>2</sup> x
                </td> 
                <td>
                    <?= number_format($row['p_luasbangunan'], 0, ',', '.') ?>
                </td>
                <td>
                    m<sup>2</sup> = Rp. <?= number_format($row['p_totalnjopbangunan'], 0, ',', '.') ?>
                </td> 
            </tr>
            <tr style="font-size: 14px">
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;c. Bangunan Lt. II
                </td> 
                <td class="border_bawah">
                    Rp. 
                </td>
                <td class="border_bawah">
                </td>
                <td class="border_bawah">
                    /m<sup>2</sup> x
                </td> 
                <td class="border_bawah">
                </td>
                <td class="border_bawah">
                    m<sup>2</sup> = Rp.
                </td> 
            </tr>
            <tr style="font-size: 14px">
                <td colspan="5"></td> 
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rp. <?= number_format($row['p_grandtotalnjop'], 0, ',', '.') ?>
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td colspan="5">
                    &nbsp;&nbsp;&nbsp;&nbsp;d. Taksiran Nilai Transaksi
                </td> 
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rp. <?= number_format($row['p_nilaitransaksispt'], 0, ',', '.') ?>
                </td>
            </tr>
        </table>
        <br><br><br><br><br><br><br><br>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td colspan="3" style="font-size: 14px">
                    Demikian hasil Penelitian / Verifikasi lapangan yang dapat kami sampaikan, untuk dipergunakan sebagaimana mestinya
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td>

                </td>
                <td colspan="2">
                    <?= $data_pemda->s_namaibukotakabkot . ", " . $tgl_cetak ?>
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td>
                    <?= isset($data_mengetahui5->s_jabatanpejabat) ? $data_mengetahui5->s_jabatanpejabat : null ?>
                </td>
                <td>
            <u>Petugas Peneliti/Verifikator : </u>
            </td>
            <td>

            </td>
            </tr>
            <tr style="font-size: 14px">
                <td>

                </td>
                <td>
                    1. <?= isset($data_mengetahui1->s_namapejabat) ? $data_mengetahui1->s_namapejabat : null ?>
                </td>
                <td>
                    1.
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td colspan="3">
                    <br>
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td>
                    <?= isset($data_mengetahui5->s_namapejabat) ? $data_mengetahui5->s_namapejabat : null ?>
                </td>
                <td>
                    2. <?= isset($data_mengetahui2->s_namapejabat) ? $data_mengetahui2->s_namapejabat : null ?>
                </td>
                <td>
                    2.
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td colspan="3">
                    NIP. <?= isset($data_mengetahui5->s_nippejabat) ? $data_mengetahui5->s_nippejabat : null ?>
                    <br>
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td>
                </td>
                <td>
                    3. <?= isset($data_mengetahui3->s_namapejabat) ? $data_mengetahui3->s_namapejabat : null ?>
                </td>
                <td>
                    3.
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td>
                    Mengetahui
                    <br>
                    <?= isset($data_mengetahui6->s_jabatanpejabat) ? $data_mengetahui6->s_jabatanpejabat : null ?><br><br><br>
                    <?= isset($data_mengetahui6->s_namapejabat) ? $data_mengetahui6->s_namapejabat : null ?><br>
                    NIP. <?= isset($data_mengetahui6->s_nippejabat) ? $data_mengetahui6->s_nippejabat : null ?>
                </td>
                <td style="padding-top: -40px">
                    4. <?= isset($data_mengetahui4->s_namapejabat) ? $data_mengetahui4->s_namapejabat : null ?>
                </td>
                <td style="padding-top: -40px">
                    4.
                </td>
            </tr>
        </table>
        <br><br><br><br>
        <table width="100%" style="border-spacing: 0px;">
            <tr style="font-size: 14px">
                <td colspan="2">
                    Catatan Sekretaris :
                    <hr>
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td style="width: 5%" class="kotak"></td>
                <td>
                    Hasil Verifikasi BPHTB untuk diproses SSPD BPHTB 
                </td>   
            </tr>
            <tr>
                <td class="kotak"></td>
                <td style="font-size: 14px">
                    Belum dapat diproses
                </td>
            </tr>
        </table>
        <br><br><br><br>
        Catatan Kepala Dinas :
        <hr>
    </div>
    <?php
}
?>
