<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">VALIDASI SSPD BPHTB</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row margin">
                            <div class="col-sm-12">
                                <div class="row">
                                    <a href="<?= $this->url('verifikasi_spt') ?>/tambah" class="btn bg-purple btn-sm margin">Proses Validasi</a>
                                    <div class="pull-right">          
                                        <a href="#" class="btn btn-success btn-sm margin" onclick="openCetak2()">Cetak Kode Bayar</a> 
                                        <a href="#" class="btn btn-success btn-sm" onclick="openCetakDaftarVerifikasi()">Cetak Daftar Validasi</a>  
                                    </div>
                                </div>
                                <div class="row">
                                    <div style=" overflow: auto;">
                                        <div class="col-lg-12 col-sm12">
                                            <table class="table table-hover table-bordered">
                                                <thead style="font-size: 12px">
                                                    <tr class="bg-blue">  
                                                        <th class="text-center" style="width: 5%">
                                                            No. Daftar
                                                        </th>           
                                                        <th class="text-center" style="width: 5%">
                                                            Tahun Pajak
                                                        </th>     
                                                        <th class="text-center" style="width: 10%">
                                                            Tgl Validasi
                                                        </th>     
                                                        <th class="text-center">
                                                            Nama WP
                                                        </th>     
                                                        <th class="text-center">
                                                            Jenis Transaksi
                                                        </th>     
                                                        <th class="text-center" style="width: 7%">
                                                            Validasi
                                                        </th>     
                                                        <th class="text-center" style="width: 7%">
                                                            Kode Bayar
                                                        </th>     
                                                        <th class="text-center" style="width: 7%">
                                                            Pembayaran
                                                        </th>     
                                                        <th class="text-center" style="width: 18%">
                                                            Cetak
                                                        </th>           
                                                        <th class="text-center" style="width: 12%">
                                                            Lihat/Edit/Batal
                                                        </th>  
                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <td>
                                                        <input type="text" id="t_kohirspt" name="t_kohirspt" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_periodespt" name="t_periodespt" class="form-control" onkeyup="calldatagrid()" onchange="calldatagrid()" onblur="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_tglverifikasispt" name="t_tglverifikasispt" class="form-control" onkeyup="calldatagrid()" onchange="calldatagrid()" onblur="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_namawppembeli" name="t_namawppembeli" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <input type="text" id="s_namajenistransaksi" name="s_namajenistransaksi" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td>
<!--                                                        <select class="form-control">
                                                            <option value="">Pilih</option>
                                                        </select>-->
                                                    </td>
                                                    <td>
                                                        <input type="text" id="t_kodebayarbanksppt" name="t_kodebayarbanksppt" class="form-control" onkeyup="calldatagrid()">
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="t_statusbayarspt" onchange="calldatagrid()">
                                                            <option value="">Pilih</option>
                                                            <option value="TRUE">Sudah Dibayar</option>
                                                            <option value="FALSE">Belum Dibayar</option>
                                                        </select>
                                                    </td>
                                                    <td></td><td></td>
                                                </tr>
                                                <tbody id="body_grid">
                                                </tbody>
                                                <tfoot>              
                                                    <tr>
                                                        <td colspan="10" class="text-center">
                                                            <div class="row">
                                                                <div class="col-sm-4 text-left">Jumlah Baris Ditampilkan: <input type="text" id="rows" style="width: 20%" class="text-center" value="10"></div>
                                                                <div class="col-sm-3">
                                                                    <a href="#" onclick="calldatagrid(1);
                                                                            return false;"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>

                                                                    <input type="text" id="page" value="1" style="width: 20%" class="text-center">

                                                                    <a href="#" onclick="calldatagrid(2);
                                                                            return false;"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                                                                </div>
                                                                <div class="col-sm-5 text-right">
                                                                    <p>Jumlah Data <span id="total_data"></span>&nbsp;Jumlah Halaman <span id="total_halaman"></span></p>                                    
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CETAK KODE BAYAR</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td style="width:40%">
                            Tahun Pajak
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="text" id="kb_periode_spt" value="<?= date('Y') ?>" class="form-control">
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tanggal Cetak
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="text" id="kb_tgl_cetak" value="<?= date('d-m-Y') ?>" class="form-control">
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nomor Pendaftaran
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="text" id="kb_no_spt1" class="form-control">
                                </div>
                                <div class="col-md-1">S/d</div>
                                <div class="col-sm-4">
                                    <input type="text" id="kb_no_spt2" class="form-control">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <br>
                <div align="right">
                    <button class="btn btn-success" onclick="cetakkodebyr();">Cetak</button> <button class="btn btn-success" onclick="tutup2()">Tutup</button>
                </div>                
            </div>            
        </div>
    </div>
</div>

<div class="modal fade" id="cetakbuktilengkap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CETAK BUKTI LENGKAP</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td style="width:40%">
                            Tahun Pajak
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" id="periode_spt" value="<?= date('Y') ?>" class="form-control">
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tanggal Cetak
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" name="tgl_cetak" id="tgl_cetak" value="<?= date('d-m-Y') ?>" class="form-control">
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nomor Pendaftaran
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" id="no_spt1" class="form-control"  readonly>
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mengetahui 
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select id="mengetahuilengkap" class="selectpicker" data-live-search="true">
                                        <?php foreach ($this->data_mengetahuilengkap as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <? } ?>
                                    </select>
                                </div>
                            </div> 
                        </td>
                    </tr>
                </table>
                <div align="right">
                    <button class="btn btn-success" onclick="cetakbuktilengkap1();">Cetak</button> <button class="btn btn-success" onclick="tutup()">Tutup</button>
                </div>                
            </div>            
        </div>
    </div>
</div>

<div class="modal fade" id="cetakansspd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CETAK SSPD</h4>
            </div>
            <div class="modal-body">
                <table>
                    
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="hidden" id="no_spt1_sspd" class="form-control"  readonly>
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mengetahui : 
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    &nbsp;&nbsp;<select id="mengetahuilengkapsspd" class="selectpicker" data-live-search="true">
                                        <?php foreach ($this->data_mengetahuilengkap_sspd as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <? } ?>
                                    </select>
                                </div>
                            </div> 
                        </td>
                    </tr>
                </table>
                <div align="right">
                    <button class="btn btn-success" onclick="cetakbuktilengkap1_sspd();">Cetak</button> <button class="btn btn-success" onclick="tutupsspd()">Tutup</button>
                </div>                
            </div>            
        </div>
    </div>
</div>


<div class="modal fade" id="cetakbuktipenerimaan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CETAK MELENGKAPI BERKAS</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td style="width:40%">
                            Tahun Pajak
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" id="periode_spt_bukti" value="<?= date('Y') ?>" class="form-control">
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tanggal Cetak
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" name="tgl_cetak_bukti" id="tgl_cetak_bukti" value="<?= date('d-m-Y') ?>" class="form-control">
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            No. Pendaftaran
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" id="no_spt_bukti1" class="form-control"  readonly>
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mengetahui 
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select id="mengetahuibphtb" class="selectpicker" data-live-search="true">
                                        <?php foreach ($this->data_mengetahuibphtb as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <? } ?>
                                    </select>
                                </div>
                            </div> 
                        </td>
                    </tr>
                </table>
                <div align="right">
                    <button class="btn btn-success" onclick="cetakbuktipenerimaan();">Cetak</button> <button class="btn btn-success" onclick="tutupbukti()">Tutup</button>
                </div>                
            </div>            
        </div>
    </div>
</div>



<div class="modal fade" id="myModalDaftarValidasi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CETAK DAFTAR VALIDASI</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td style="width: 30%">
                            Tahun Pajak
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="periode_sptverifikasi" value="<?= date('Y') ?>">
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tanggal Cetak
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="tgl_cetakverifikasi" value="<?= date('d-m-Y') ?>">
                                </div>
                            </div>    
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tanggal Validasi
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="tgl_verifikasi1" value="<?= date('d-m-Y') ?>">
                                </div>
                                <div class="col-sm-1">S/d</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="tgl_verifikasi2" value="<?= date('d-m-Y') ?>">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <br>
                <div align="right">
                    <button class="btn btn-success" onclick="cetakDaftarValidasi();">Cetak</button> <button class="btn btn-success" onclick="tutupCetakDaftarVerifikasi()">Tutup</button>
                </div>                
            </div>            
        </div>
    </div>
</div>


<div class="modal fade" id="cetaksuratpenelitian" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CETAK SURAT PENELITIAN LAPANGAN</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td style="width:40%">
                            Tahun Pajak
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" id="periode_sptpenelitian" value="<?= date('Y') ?>" class="form-control">
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tanggal Cetak
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" id="tgl_cetakpenelitian" value="<?= date('d-m-Y') ?>" class="form-control">
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nomor Pendaftaran
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" id="no_sptpenelitian" class="form-control"  readonly>
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Pemeriksan Lap 
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select id="mengetahuipenelitian1" class="selectpicker" data-live-search="true">
                                        <option value="0">Silahkan Pilih</option>
                                        <?php foreach ($this->data_mengetahuipenelitian1 as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <? } ?>
                                    </select>
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select id="mengetahuipenelitian2" class="selectpicker" data-live-search="true">
                                        <option value="0">Silahkan Pilih</option>
                                        <?php foreach ($this->data_mengetahuipenelitian2 as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <? } ?>
                                    </select>
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select id="mengetahuipenelitian3" class="selectpicker" data-live-search="true">
                                        <option value="0">Silahkan Pilih</option>
                                        <?php foreach ($this->data_mengetahuipenelitian3 as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <? } ?>
                                    </select>
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select id="mengetahuipenelitian4" class="selectpicker" data-live-search="true">
                                        <option value="0">Silahkan Pilih</option>
                                        <?php foreach ($this->data_mengetahuipenelitian4 as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <? } ?>
                                    </select>
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mengetahui I
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select id="mengetahuipenelitian5" class="selectpicker" data-live-search="true">
                                        <option value="0">Silahkan Pilih</option>
                                        <?php foreach ($this->data_mengetahuipenelitian5 as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <? } ?>
                                    </select>
                                </div>
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mengetahui II
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select id="mengetahuipenelitian6" class="selectpicker" data-live-search="true">
                                        <option value="0">Silahkan Pilih</option>
                                        <?php foreach ($this->data_mengetahuipenelitian6 as $k => $v) { ?>
                                            <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                        <? } ?>
                                    </select>
                                </div>
                            </div> 
                        </td>
                    </tr>
                </table>
                <div align="right">
                    <button class="btn btn-success" onclick="cetaksuratpenelitian();">Cetak</button> <button class="btn btn-success" onclick="tutupCetakPenelitian()">Tutup</button>
                </div>                
            </div>            
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        calldatagrid();
    });

    $("#t_periodespt").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#t_tglverifikasispt").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function hapus(a) {
        var tanya = confirm("Hapus data ini?")
        if (tanya) {
            $.post('<?= $this->url() ?>/hapus/' + a);
            calldatagrid();
        }
        calldatagrid();
    }

    function calldatagrid(direction) {
        if ($("#t_kohirspt").val().length == 0)
            par1 = undefined;
        else
            par1 = $("#t_kohirspt").val()
        if ($("#t_periodespt").val().length == 0)
            par2 = undefined;
        else
            par2 = $("#t_periodespt").val()
        if ($("#t_tglverifikasispt").val().length == 0)
            par3 = undefined;
        else
            par3 = $("#t_tglverifikasispt").val()
        if ($("#t_namawppembeli").val().length == 0)
            par4 = undefined;
        else
            par4 = $("#t_namawppembeli").val()
        if ($("#s_namajenistransaksi").val().length == 0)
            par5 = undefined;
        else
            par5 = $("#s_namajenistransaksi").val()
        if ($("#t_kodebayarbanksppt").val().length == 0)
            par6 = undefined;
        else
            par6 = $("#t_kodebayarbanksppt").val()
        if ($("#t_statusbayarspt").val().length == 0)
            par7 = undefined;
        else
            par7 = $("#t_statusbayarspt").val()
        datagrid($("#page").val(), $("#rows").val(), direction, par1, par2, par3, par4, par5, par6, par7);
    }

    function datagrid(page, row, direction, par1, par2, par3, par4, par5, par6, par7) {
        $.get('<?= $this->url() ?>/dataGrid/' + page + '/' + row + '/' + direction + '/' + par1 + '/' + par2 + '/' + par3 + '/' + par4 + '/' + par5 + '/' + par6 + '/' + par7, function (data) {
            var aa = JSON.parse(data)
            $("#body_grid").html(aa.grid);
            $("#rows").val(aa.rows);
            $("#page").val(aa.page);
            $("#total_data").html(": " + aa.count);
            $("#total_halaman").html(": " + aa.total_halaman);
        });
    }

//  ======================================================
//  Cetak Kode Bayar

    jQuery("#kb_tgl_cetak").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    $("#kb_periode_spt").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    function openCetak2() {
        jQuery('#myModal2').modal('show');
    }

    function tutup2() {
        jQuery('#myModal2').modal('hide');
        jQuery("#kb_no_spt1,#kb_no_spt2").val('');
    }

    function cetakkodebyr() {
        window.open('<?= $this->url() ?>/cetakkodebayar?no_spt1=' + $("#kb_no_spt1").val() + "&no_spt2=" + $("#kb_no_spt2").val() + "&periode_spt=" + $("#kb_periode_spt").val() + "&t_objekspt=1" + "&tgl_cetak=" + $("#kb_tgl_cetak").val())
    }

//  ======================================================

//  ======================================================    
//  Cetak Bukti Lengkap
    $("#periode_spt").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetak").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function openCetak(a) {
        jQuery('#cetakbuktilengkap').modal('show');
        jQuery("#no_spt1").val(a);
    }
    
    function openCetakSSPD(a) {
        jQuery('#cetakansspd').modal('show');
        jQuery("#no_spt1_sspd").val(a);
    }
    
    function tutupsspd() {
        jQuery('#cetakansspd').modal('hide');
        jQuery("#no_spt1_sspd,#mengetahuilengkapsspd").val('');
    }

    function tutup() {
        jQuery('#cetakbuktilengkap').modal('hide');
        jQuery("#no_spt1").val('');
    }

    function cetakbuktilengkap1() {
        window.open('<?= $this->url() ?>/cetakbuktipenerimaanvalidasi?no_spt1=' + $("#no_spt1").val() + "&periode_spt=" + $("#periode_spt_bukti").val() + "&t_objekspt=1" + "&tgl_cetak=" + $("#tgl_cetak_bukti").val() + "&mengetahuibphtb=" + $("#mengetahuilengkap").val())
    }
    
    function cetakbuktilengkap1_sspd() {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetaksspdbphtb?&action=cetaksspd&t_idspt=' + $("#no_spt1_sspd").val() + "&mengetahuibphtbsspd=" + $("#mengetahuilengkapsspd").val())
    }
//  =======================================================


//  =======================================================
//  Cetak Melengkapi Berkas
    $("#periode_spt_bukti").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetak_bukti").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function openCetakBukti(a) {
        jQuery('#cetakbuktipenerimaan').modal('show');
        jQuery("#no_spt_bukti1").val(a);
    }

    function tutupbukti() {
        jQuery('#cetakbuktipenerimaan').modal('hide');
        jQuery("#no_spt_bukti1").val('');
    }

    function cetakbuktipenerimaan() {
        window.open('<?= $this->url() ?>/cetakbuktipenerimaanvalidasi?no_spt1=' + $("#no_spt_bukti1").val() + "&periode_spt=" + $("#periode_spt_bukti").val() + "&t_objekspt=1" + "&tgl_cetak=" + $("#tgl_cetak_bukti").val() + "&mengetahuibphtb=" + $("#mengetahuibphtb").val())
    }

//  =======================================================



//    =====================================================
//    Cetak Daftar Vallidasi

    function openCetakDaftarVerifikasi() {
        jQuery('#myModalDaftarValidasi').modal('show');
    }

    function tutupCetakDaftarVerifikasi() {
        jQuery('#myModalDaftarValidasi').modal('hide');
    }

    $("#periode_sptverifikasi").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetakverifikasi").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_verifikasi1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_verifikasi2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function cetakDaftarValidasi() {
        window.open('<?= $this->url() ?>/cetakdaftarverifikasi?periode_spt=' + $("#periode_spt").val() + "&tgl_cetak=" + $("#tgl_cetakverifikasi").val() + "&tgl_verifikasi1=" + $("#tgl_verifikasi1").val() + "&tgl_verifikasi2=" + $("#tgl_verifikasi2").val())
    }

//    =====================================================


//  ======================================================    
//  Cetak Surat Hasil Penelitian Lapangan
    $("#periode_sptpenelitian").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetakpenelitian").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function openCetakPenelitian(a) {
        jQuery('#cetaksuratpenelitian').modal('show');
        jQuery("#no_sptpenelitian").val(a);
    }

    function tutupCetakPenelitian() {
        jQuery('#cetaksuratpenelitian').modal('hide');
        jQuery("#no_sptpenelitian").val('');
    }

    function cetaksuratpenelitian() {
        window.open('<?= $this->url() ?>/cetaksuratpenelitian?no_sptpenelitian=' + $("#no_sptpenelitian").val() + "&periode_sptpenelitian=" + $("#periode_sptpenelitian").val() + "&tgl_cetakpenelitian=" + $("#tgl_cetakpenelitian").val() + "&mengetahuipenelitian1=" + $("#mengetahuipenelitian1").val() + "&mengetahuipenelitian2=" + $("#mengetahuipenelitian2").val() + "&mengetahuipenelitian3=" + $("#mengetahuipenelitian3").val() + "&mengetahuipenelitian4=" + $("#mengetahuipenelitian4").val() + "&mengetahuipenelitian5=" + $("#mengetahuipenelitian5").val() + "&mengetahuipenelitian6=" + $("#mengetahuipenelitian6").val())
    }
//  =======================================================

</script>
