<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <u style="font-size: 14px; color: blue"><strong>Informasi Pihak Kedua(Penerima Hak)</strong></u>
                                        <div class="pull-right">
                                            <?php if (@$role_id == 6) { ?>

                                            <?php } else {
                                                ?>
                                                <a href="<?= $this->url() ?>" class="btn btn-primary btn-flat btn-sm">Kembali</a>
                                            <?php } ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Tgl Pendaftaran 
                                    </div>
                                    <div class="col-sm-3">
                                        : <?= $datasspd['t_tglprosesspt'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NIK 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_nikwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        NPWP 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_npwpwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Nama 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_namawppembeli'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Alamat 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_alamatwppembeli'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        RT/RW 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_rtwppembeli'] ?> / <?= $datasspd['t_rwwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kelurahan / Desa  
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kelurahanwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kecamatan 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kecamatanwppembeli'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Kabupaten / Kota 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kabkotawppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kode Pos 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kodeposwppembeli'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        No Telp 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_telponwppembeli'] ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <u style="font-size: 14px; color: blue"><strong>Informasi Pihak Pertama(Pelepas Hak)</strong></u>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NIK 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_nikwppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        NPWP 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_npwpwppenjual'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Nama 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_namawppenjual'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Alamat 
                                    </div>
                                    <div class="col-sm-9">
                                        : <?= $datasspd['t_alamatwppenjual'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        RT/RW 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_rtwppenjual'] ?> / <?= $datasspd['t_rwwppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kelurahan / Desa 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kelurahanwppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kecamatan 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kecamatanwppenjual'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Kabupaten / Kota
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kabkotawppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kode Pos 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kodeposwppenjual'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        No Telp 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_telponwppenjual'] ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <u style="font-size: 14px; color: blue"><strong>INFORMASI OBJEK PAJAK</strong></u>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NOP / Thn SPPT 
                                    </div>
                                    <div class="col-sm-6" style="font-size: 12px">
                                        : <?= $datasspd['t_nopbphtbsppt'] ?> / <?= $datasspd['t_thnsppt'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Nama SPPT 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_namasppt'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Letak 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_alamatop'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        RT/RW 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_rtop'] ?> / <?= $datasspd['t_rwop'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Kelurahan/Desa 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kelurahanop'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kecamatan 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kecamatanop'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kabupaten/Kota 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_kabkotawppembeli'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Jenis Transaksi 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['s_namajenistransaksi'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Jenis Dokumen 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['s_namadoktanah'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        No. Dok Tanah 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_nosertifikathaktanah'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Tgl AJB Lama 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['t_tglajb'] ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Kepemilikan 
                                    </div>
                                    <div class="col-sm-2">
                                        : <?= $datasspd['s_namahaktanah'] ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <u style="font-size: 14px; color: blue"><strong>INFORMASI TRANSAKSI</strong></u>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Luas Tanah/Bumi
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_luastanah'])) {
                                            $luastanah = str_ireplace('.', '', $datasspd['p_luastanah']) / 100;
                                        } else {
                                            $luastanah = str_ireplace('.', '', $datasspd['t_luastanah']) / 100;
                                        }
                                        ?>
                                        : <?= $luastanah; ?> m<sup>2</sup>
                                    </div>
                                    <div class="col-sm-2">
                                        NJOP/m<sup>2</sup> Tanah/Bumi
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_njoptanah'])) {
                                            $njoptanah = $datasspd['p_njoptanah'];
                                        } else {
                                            $njoptanah = $datasspd['t_njoptanah'];
                                        }
                                        ?>
                                        : <?= number_format($njoptanah, 0, ',', '.'); ?>
                                    </div>
                                    <div class="col-sm-2">
                                        NJOP Tanah/Bumi
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_totalnjoptanah'])) {
                                            $totalnjoptanah = $datasspd['p_totalnjoptanah'];
                                        } else {
                                            $totalnjoptanah = $datasspd['t_totalnjoptanah'];
                                        }
                                        ?>
                                        : <?= number_format($totalnjoptanah, 0, ',', '.') ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Luas Bangunan
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_luasbangunan'])) {
                                            $luasbangunan = str_ireplace('.', '', $datasspd['p_luasbangunan']) / 100;
                                        } else {
                                            $luasbangunan = str_ireplace('.', '', $datasspd['t_luasbangunan']) / 100;
                                        }
                                        ?>
                                        : <?= $luasbangunan ?> m<sup>2</sup> 

                                    </div>
                                    <div class="col-sm-2">
                                        NJOP/m<sup>2</sup> Bangunan
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_njopbangunan'])) {
                                            $njopbangunan = $datasspd['p_njopbangunan'];
                                        } else {
                                            $njopbangunan = $datasspd["t_njopbangunan"];
                                        }
                                        ?>
                                        : <?= number_format($njopbangunan, 0, ',', '.') ?>
                                    </div>
                                    <div class="col-sm-2">
                                        NJOP Bangunan
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_totalnjopbangunan'])) {
                                            $totalnjopbangunan = $datasspd['p_totalnjopbangunan'];
                                        } else {
                                            $totalnjopbangunan = $datasspd["t_totalnjopbangunan"];
                                        }
                                        ?>
                                        : <?= number_format($totalnjopbangunan, 0, ',', '.') ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NJOP PBB
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_grandtotalnjop'])) {
                                            $grandnjop = $datasspd['p_grandtotalnjop'];
                                        } else {
                                            $grandnjop = $datasspd["t_grandtotalnjop"];
                                        }
                                        ?>
                                        : <?= number_format($grandnjop, 0, ',', '.') ?>
                                    </div>
                                    <div class="col-sm-2">
                                        Harga Transaksi
                                    </div>
                                    <div class="col-sm-2">
                                        <?php
                                        if (!empty($datasspd['p_nilaitransaksispt'])) {
                                            $nilaitransaksispt = $datasspd['p_nilaitransaksispt'];
                                        } else {
                                            $nilaitransaksispt = $datasspd["t_nilaitransaksispt"];
                                        }
                                        ?>
                                        : <?= number_format($nilaitransaksispt, 0, ',', '.') ?>
                                    </div>
                                </div>
                                <?php
                                $aphb_kali = $datasspd['t_tarif_pembagian_aphb_kali'];
                                $aphb_bagi = $datasspd['t_tarif_pembagian_aphb_bagi'];

                                if (($aphb_kali == null) || ($aphb_kali == '') || ($aphb_kali == 0) || ($aphb_bagi == null) || ($aphb_bagi == '') || ($aphb_bagi == 0)) {
                                    $ket_aphb = '';
                                } else {
                                    if (!empty($datasspd['p_grandtotalnjop_aphb'])) {
                                        $grandnjop_aphb = $datasspd['p_grandtotalnjop_aphb'];
                                    } else {
                                        $grandnjop_aphb = $datasspd["t_grandtotalnjop_aphb"];
                                    }

                                    $ket_aphb = ' 
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">
                                            Pembagian APHB
                                        </div>
                                        <div class="col-sm-2">
                                            : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' . $aphb_kali . '/' . $aphb_bagi . '
                                        </div>

                                    </div>        
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">
                                            NJOP PBB APHB
                                        </div>
                                        <div class="col-sm-2">
                                            : ' . number_format($grandnjop_aphb, 0, ',', '.') . '
                                        </div>

                                    </div>';
                                }
                                ?>
                                <?= $ket_aphb; ?>
                                <?php
                                if (($aphb_kali == null) || ($aphb_kali == '') || ($aphb_kali == 0) || ($aphb_bagi == null) || ($aphb_bagi == '') || ($aphb_bagi == 0)) {

                                    if ($grandnjop > $nilaitransaksispt) {
                                        $npop = $grandnjop;
                                    } else {
                                        $npop = $nilaitransaksispt;
                                    }
                                } else {
                                    if ($grandnjop_aphb > $nilaitransaksispt) {
                                        $npop = $grandnjop_aphb;
                                    } else {
                                        $npop = $nilaitransaksispt;
                                    }
                                }

                                /* if ($datasspd['t_grandtotalnjop'] > $datasspd['t_nilaitransaksispt']) {
                                  $npop = $datasspd['t_grandtotalnjop'];
                                  } else {
                                  $npop = $datasspd['t_nilaitransaksispt'];
                                  } */
                                $npopkp = $npop - $datasspd['t_potonganspt'];
                                if ($npopkp > 0) {
                                    $npopkp = $npopkp;
                                } else {
                                    $npopkp = 0;
                                }

                                // Untuk Perhitungan Pajak BPHTB
                                if ($npopkp == 0) {
                                    $totalpajak = 0;
                                } else {
                                    $totalpajak = $npopkp * $datasspd['t_persenbphtb'] / 100;
                                }
                                ?>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NPOP
                                    </div>
                                    <div class="col-sm-10">
                                        : <?= number_format($npop, 0, ',', '.') ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NPOPTKP
                                    </div>
                                    <div class="col-sm-2">
                                        : <u><?= number_format($datasspd['t_potonganspt'], 0, ',', '.') ?>&nbsp;&nbsp;&nbsp;&nbsp;-</u>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        NPOPTKP
                                    </div>
                                    <div class="col-sm-10">
                                        : <?= number_format($npopkp, 0, ',', '.') ?> 
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Tarif (%)
                                    </div>
                                    <div class="col-sm-10">
                                        : <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?= $datasspd['t_persenbphtb']; ?>%&nbsp;&nbsp;&nbsp;&nbsp;x</u>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Pajak Terhutang
                                    </div>
                                    <div class="col-sm-2">
                                        : <b style="color: red; font-size: 17px;"><?= number_format($totalpajak, 0, ',', '.') ?></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <div class="row">
        <div class=" col-md-6">
        <form method="post" action="<?= $this->url() ?>/validasikabid" id="formtambah">
        <input type="hidden" name="t_idspt" value="<?= $datasspd['t_idspt'] ?>" />
        <input id="validasibutton" value="PROSES VALIDASI" class="btn btn-info btn-block" type="submit">
        </form>
        </div>
        <div class=" col-md-6">
        <form method="post" action="<?= $this->url() ?>/validasikabid" id="formtolak">
        <input type="hidden" name="t_idspt" value="<?= $datasspd['t_idspt'] ?>" />
        <input type="hidden" name="tolak" value="1" />
        <input id="validasibutton" value="TIDAK SETUJU" class="btn btn-danger btn-block" type="submit">
        </form> 
        </div>
        </div>
    </section>
</div>


<div class="modal fade" id="loadingsimpanvalidasi" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="background:transparent;">
            <center><img style="background:transparent;" src='<?= $this->basePath(); ?>/public/tablebos/img/loading77.gif'></center>
</div>

<?php
if (!empty($datasspd['p_grandtotalnjop_aphb'])) {
    $datagrandnjop_aphb = $datasspd['p_grandtotalnjop_aphb'];
} else {
    $datagrandnjop_aphb = $datasspd["t_grandtotalnjop_aphb"];
}

?>

<script type="text/javascript">
    $('#validasibutton').click(function(){
        jQuery('#loadingsimpanvalidasi').modal('show');
        $('#loadingsimpanvalidasi').modal({
            backdrop: 'static',
            keyboard: false
        })
        
    });
    
    $(function () {
//        pilihPendataanSspdBphtb($('#t_idspt').val());
    }); 
    
    function pilihPendataanSspdBphtb(a) {
        //$.post('<?= $this->url('verifikasi_spt') ?>/pilihPendataanSspdBphtb', {t_idspt: a}, function (data) {
        //    var aa = JSON.parse(data);
            
            $('#p_luastanah').val(<?= $luastanah ?>);
            $('#p_njoptanah').val("<?= number_format($njoptanah, 0, ',', '.') ?>");
            $('#p_totalnjoptanah').val("<?= number_format($totalnjoptanah, 0, ',', '.') ?>");
            $('#p_luasbangunan').val(<?= $luasbangunan ?>);
            $('#p_njopbangunan').val("<?= number_format($njopbangunan, 0, ',', '.') ?>");
            $('#p_totalnjopbangunan').val("<?= number_format($totalnjopbangunan, 0, ',', '.') ?>");
            $('#p_grandtotalnjop').val("<?= number_format($grandnjop, 0, ',', '.') ?>");
            $('#p_nilaitransaksispt').val("<?= number_format($nilaitransaksispt, 0, ',', '.') ?>");
            $('#p_namajenistransaksi').val("<?= $datasspd['s_namajenistransaksi'] ?>");
            $('#p_namahaktanah').val("<?= $datasspd['s_namahaktanah'] ?>");
            $('#p_npop').val("<?= number_format($npop, 0, ',', '.') ?>");
            $('#p_potonganspt').val("<?= number_format($datasspd['t_potonganspt'], 0, ',', '.')?>");
            $('#p_npopkp').val("<?= number_format($npopkp, 0, ',', '.') ?>");
            $('#p_persenbphtb').val(<?= $datasspd['t_persenbphtb']; ?>);
            
            $('#p_t_tarif_pembagian_aphb_kali').val(<?= $aphb_kali ?>);
            $('#p_t_tarif_pembagian_aphb_bagi').val(<?= $aphb_bagi ?>);
            
            $('#p_t_potongan_waris_hibahwasiat').val(<?= $datasspd['t_potongan_waris_hibahwasiat'] ?>);
            
            $('#p_t_grandtotalnjop_aphb').val("<?= number_format($datagrandnjop_aphb, 0, ',', '.') ?>");
            $('#p_totalspt').val("<?= number_format($totalpajak, 0, ',', '.') ?>");
            //=============== tarif pembagian untuk APHB
       
        
        var t_tarif_pembagian_aphb_kali = $('#p_t_tarif_pembagian_aphb_kali').val();
        var t_tarif_pembagian_aphb_bagi = $('#p_t_tarif_pembagian_aphb_bagi').val();
            if ((t_tarif_pembagian_aphb_kali == "") || (t_tarif_pembagian_aphb_kali == null) || (t_tarif_pembagian_aphb_kali == 0) || (t_tarif_pembagian_aphb_bagi == "") || (t_tarif_pembagian_aphb_bagi == null) || (t_tarif_pembagian_aphb_bagi == 0)) {
                $('#p_t_tarif_pembagian_aphb_kali').val(0);
                $('#p_t_tarif_pembagian_aphb_bagi').val(0);
                $('#p_t_grandtotalnjop_aphb').val(0);
                
                $("#p_pembagian_aphb_1").hide();
                $("#p_pembagian_aphb_2").hide();
                $("#p_pembagian_aphb_3").hide();
                $("#p_pembagian_aphb_4").hide();
                $("#p_pembagian_aphb_5").hide();
                $("#p_pembagian_aphb_6").hide();
                $("#p_pembagian_aphb_7").hide();
                $("#p_pembagian_aphb_8").hide();
                $("#p_t_tarif_pembagian_aphb_kali").hide();
                $("#p_t_tarif_pembagian_aphb_bagi").hide();
                $("#p_t_grandtotalnjop_aphb").hide();
            }else{    
                $('#p_t_tarif_pembagian_aphb_kali').val(<?= $aphb_kali ?>);
                $('#p_t_tarif_pembagian_aphb_bagi').val(<?= $aphb_bagi ?>);
                $('#p_t_grandtotalnjop_aphb').val("<?= number_format($datagrandnjop_aphb, 0, ',', '.') ?>");
                
                $("#p_pembagian_aphb_1").show();
                $("#p_pembagian_aphb_2").show();
                $("#p_pembagian_aphb_3").show();
                $("#p_pembagian_aphb_4").show();
                $("#p_pembagian_aphb_5").show();
                $("#p_pembagian_aphb_6").show();
                $("#p_pembagian_aphb_7").show();
                $("#p_pembagian_aphb_8").show();
                $("#p_t_tarif_pembagian_aphb_kali").show();
                $("#p_t_tarif_pembagian_aphb_bagi").show();
                $("#p_t_grandtotalnjop_aphb").show();
            }
        //=============== end tarif pembagian untuk APHB
        $('#t_idjenistransaksi').val(<?= $datasspd['t_idjenistransaksi'] ?>);
            var t_idjenistransaksi = <?= $datasspd['t_idjenistransaksi'] ?>;
            if((t_idjenistransaksi == 4) || (t_idjenistransaksi == 5)){
                $("#p_potongan_waris_hibah1").show();
                $("#p_potongan_waris_hibah2").show();
                $("#p_potongan_waris_hibah3").show();
                $("#p_potongan_waris_hibah4").show();
                $('#p_t_potongan_waris_hibahwasiat').show(); 
                $('#p_t_potongan_waris_hibahwasiat').val($datasspd['t_potongan_waris_hibahwasiat']);
            }else{
                $("#p_potongan_waris_hibah1").hide();
                $("#p_potongan_waris_hibah2").hide();
                $("#p_potongan_waris_hibah3").hide();
                $("#p_potongan_waris_hibah4").hide();

                $("#p_t_potongan_waris_hibahwasiat").hide();
                $("#p_t_potongan_waris_hibahwasiat").val(0);
            }
           
       // });
    }

    function hitungnjop() {
        $.post('<?= $this->url() ?>/hitungnjop', {
            p_luastanah: $('#p_luastanah').val(), p_luasbangunan: $('#p_luasbangunan').val(), p_njoptanah: $('#p_njoptanah').val(),
            p_njopbangunan: $('#p_njopbangunan').val(), p_nilaitransaksispt: $('#p_nilaitransaksispt').val(), p_potonganspt: $('#p_potonganspt').val()
            , p_persenbphtb: $('#p_persenbphtb').val(),
            p_t_tarif_pembagian_aphb_kali: $('#p_t_tarif_pembagian_aphb_kali').val(),
            p_t_tarif_pembagian_aphb_bagi: $('#p_t_tarif_pembagian_aphb_bagi').val(), t_potongan_waris_hibahwasiat: $('#p_t_potongan_waris_hibahwasiat').val()
        }, function (data) {
            var aa = JSON.parse(data);
            
            $("#p_totalnjoptanah").val(currencyFormatDE(aa.p_totalnjoptanah * 1));
            $('#p_totalnjopbangunan').val(currencyFormatDE(aa.p_totalnjopbangunan * 1));
            $('#p_grandtotalnjop').val(currencyFormatDE(aa.p_grandtotalnjop * 1));
            $('#p_t_grandtotalnjop_aphb').val(currencyFormatDE(aa.p_t_grandtotalnjop_aphb * 1));
            $('#p_npop').val(currencyFormatDE(aa.p_npop * 1));
            $('#p_potonganspt').val(currencyFormatDE(aa.p_potonganspt * 1));
            $('#p_npopkp').val(currencyFormatDE(aa.p_npopkp * 1));
            $('#p_totalspt').val(currencyFormatDE(aa.p_totalspt * 1));
        });
    }
    
</script>    