<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">INFORMASI SSPD BPHTB</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row margin">
                            <div class="row" align="right">
                                <a href="<?= $this->url() ?>" class="btn btn-success margin">Kembali</a>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="panel panel-primary" style="word-wrap: break-word">
                                        <div class="panel-heading"><center><h3 class="panel-title"><span style="font-size:12pt">Informasi Wajib Pajak</span></h3></center></div>                        
                                        <table class="table">
                                            <tr>
                                                <td><span style="color: blue;"><b>Tgl Pendaftaran</b></span></td>
                                                <td> : <?= $datasspd->t_tglprosesspt ?> </td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>NIK</b></span></td>
                                                <td> : <?= $datasspd->t_nikwppembeli ?> </td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>NPWP</b></span></td>
                                                <td> : <?= $datasspd->t_npwpwppembeli ?> </td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Nama</b></span></td>
                                                <td> : <?= $datasspd->t_namawppembeli ?> </td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Alamat</b></span></td>
                                                <td> : <?= $datasspd->t_alamatwppembeli ?> </td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>RT/RW</b></span></td>
                                                <td> : <?= $datasspd->t_rtwppembeli ?> / <?= $datasspd->t_rwwppembeli ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Kelurahan / Desa</b></span></td>
                                                <td> : <?= $datasspd->t_kelurahanwppembeli ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Kecamatan</b></span></td>
                                                <td> : <?= $datasspd->t_kecamatanwppembeli ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Kabupaten / Kota</b></span></td>
                                                <td> : <?= $datasspd->t_kabkotawppembeli ?> </td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Kode Pos</b></span></td>
                                                <td> : <?= $datasspd->t_kodeposwppembeli ?> </td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>No Telp</b></span></td>
                                                <td> : <?= $datasspd->t_telponwppembeli ?> </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading"><center><h3 class="panel-title"><span style="font-size:12pt">Informasi Objek Pajak</span></h3></center></div>
                                        <table class="table">
                                            <tr>
                                                <td><span style="color: blue;"><b>NOP/Thn SPPT</b></span></td>
                                                <td> : <?= $datasspd->t_nopbphtbsppt ?><?= $datasspd->t_thnsppt ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Nama SPPT</b></span></td>
                                                <td> : <?= $datasspd->t_namasppt ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Letak</b></span></td>
                                                <td> : <?= $datasspd->t_alamatop ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>RT / RW</b></span></td>
                                                <td> : <?= $datasspd->t_rtop ?> / <?= $datasspd->t_rwop ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Kelurahan / Desa</b></span></td>
                                                <td> : <?= $datasspd->t_kelurahanop ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Kecamatan</b></span></td>
                                                <td> : <?= $datasspd->t_kecamatanop ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Kabupaten / Kota</b></span></td>
                                                <td> : <?= $datasspd->t_kabkotawppembeli ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Jenis Transaksi</b></span></td>
                                                <td> : <?= $datasspd->s_namajenistransaksi ?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>No Dok Tanah</b></span></td>
                                                <td> : <?= $datasspd->t_nosertifikathaktanah ?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Tgl AJB Lama</b></span></td>
                                                <td> : <?= $datasspd->t_tglajb ?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Kepemilikan</b></span></td>
                                                <td> : <?= $datasspd->s_namahaktanah ?>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading"><center><h3 class="panel-title"><span style="font-size:12pt">Informasi Penjual</span></h3></center></div>
                                        <table class="table">
                                            <tr>
                                                <td><span style="color: blue;"><b>Nama Penjual</b></span></td>
                                                <td> : <?= $datasspd->t_namawppenjual ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>NIK</b></span></td>
                                                <td> : <?= $datasspd->t_nikwppenjual ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>NPWP</b></span></td>
                                                <td> : <?= $datasspd->t_npwpwppenjual ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Alamat</b></span></td>
                                                <td> : <?= $datasspd->t_alamatwppenjual ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>RT/RW</b></span></td>
                                                <td> : <?= $datasspd->t_rtwppenjual ?> / <?= $datasspd->t_rwwppenjual ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Kelurahan/Desa</b></span></td>
                                                <td> : <?= $datasspd->t_kelurahanwppenjual ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Kecamatan</b></span></td>
                                                <td> : <?= $datasspd->t_kecamatanwppenjual ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Kab./Kota</b></span></td>
                                                <td> : <?= $datasspd->t_kabkotawppenjual ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>Kode Pos</b></span></td>
                                                <td> : <?= $datasspd->t_kodeposwppenjual ?></td>
                                            </tr>
                                            <tr>
                                                <td><span style="color: blue;"><b>No Telp</b></span></td>
                                                <td> : <?= $datasspd->t_telponwppenjual ?></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>